.undispatched {
    font-size: 2em;
}

.order_count {
    display: flex;
    flex-direction: row;
}

.name,
.count,
.toggle {
    margin: 0.5em;
}

.order_ids {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
}

.order_id {
    font-size: 0.5em;
    margin-right: 1em;
}

#urgent {
    color: red;
    font-weight: bold;
}

#priority {
    color: red;
}

.pagination_navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    text-align: center;
    align-items: center;
}

.filter {
    font-size: 0.75em;
    margin: 0.5em;
    padding: 0;
}

.pagination_navigation div {
    margin: 0.25em;
    padding: 0;
}

.pagination_navigation button {
    margin: 0;
    padding: 0;
}

.refund_images {
    display: flex;
    flex-direction: row;
}

.refund_image {
    padding: 0.5em;
    vertical-align: middle;
    text-align: center;
}

.refund_images.buttons {
    display: flex;
    flex-direction: row;
    margin: 0.2em;
}

.refund_image .image {
    height: 210px;
}

.refund_images_product {
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
}