.undispatched {
    font-size: 2em;
}

.order_count {
    display: flex;
    flex-direction: row;
}

.name,
.count,
.toggle {
    margin: 0.5em;
}

.order_ids {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
}

.order_id {
    font-size: 0.5em;
    margin-right: 1em;
}

#urgent {
    color: red;
    font-weight: bold;
}

#priority {
    color: red;
}

.refund_images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.refund_image {
    padding: 0.5em;
    vertical-align: middle;
    text-align: center;
}

.refund_images.buttons {
    display: flex;
    flex-direction: row;
    margin: 0.2em;
}

.refund_image .image {
    height: 210px;
}

.refund_images_product {
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
}

.refund {
    display: flex;
}

.refund_products {
    display: flex;
}

.refund_product {
    display: flex;
    padding: 1em;
    margin: 1em;
    border: 2px solid #555;
    border-radius: 1em;
}

.refund_details {
    min-width: 25%;
}