{% if result_count > result_limit %}
    <span class="text-danger fs-5">Showing first {{ result_limit }} products of {{ result_count }}</span>
{% else %}
    <span class="fs-5">Showing {{ result_count }} products</span>
{% endif %}

{% for supplier, products in suppliers.items %}
    <div class="result mt-5">
        <h4>{{ supplier.name }}</h4>
        <div class="row">
            <div class="col">
                <span class="me-3">Last Ordered:</span>
                <span class="me-3">
                    {% if supplier.last_ordered_from %}
                        {{ supplier.last_ordered_from }}
                    {% else %}
                        Never
                    {% endif %}
                </span>
                <a href="{% url "restock:update_supplier_last_order_date" supplier.id %}"
                   target="_blank"
                   class="btn btn-primary btn-sm">Update</a>
            </div>
            <div class="col">
                <textarea name="supplierComment"
                          id="suplier_comment_{{ supplier.id }}"
                          class="supplier_comment_input"
                          cols="30"
                          rows="1"
                          data-supplier_id="{{ supplier.id }}">{{ supplier.restock_comment }}</textarea>
                <span class="supplier_comment_status"
                      id="suppliier_comment_status_{{ supplier.id }}">
                    <i class="fa-solid fa-check"></i>
                </span>
            </div>
        </div>
        <table class="table table-hover table-sm mt-3">
            <thead class="table-primary">
                <tr>
                    <th colspan="2">Product</th>
                    <th>Purchase Price</th>
                    <th>Re-Order</th>
                    <th>Stock Level</th>
                    <th>Comment</th>
                    <th>Additional Suppliers</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>
                            <div>
                                <span class="font-monospace user-select-all text-muted fs-6 me-3">{{ product.sku }}</span>
                                {% if product.is_archived %}
                                    <span class="badge bg-secondary">Archived</span>
                                {% elif product.is_end_of_line %}
                                    <span class="badge bg-danger">End Of Line</span>
                                {% endif %}
                                {% if product.is_flammable %}<span class="badge bg-danger">Flammable</span>{% endif %}
                            </div>
                            <div class="user-select-all fs-5">{{ product.product_range.name }}</div>
                            <div class="fs-6">
                                <span class="me-2 font-monospace user-select-all">{{ product.supplier_sku }}</span>
                                {% for value in product.variation_values %}<span class="me-2">{{ value }}</span>{% endfor %}
                            </div>
                        </td>
                        <td>
                            <p class="font-monospace user-select-all">{{ product.barcode }}</p>
                        </td>
                        <td>
                            <input type="text"
                                   value="{{ product.purchase_price }}"
                                   size="6"
                                   class="purchase_price_input form-control"
                                   id="purchase_price_input_{{ product.id }}"
                                   data-product_id="{{ product.id }}"
                                   onclick="this.select()">
                            <p class="purchase_price_status"
                               id="purchase_price_status_{{ product.id }}">
                                <i class="fa-solid fa-check"></i>
                            </p>
                        </td>
                        <td>
                            <input type="text"
                                   value="0"
                                   size="2"
                                   class="order_count_input form-control {% if product.is_end_of_line %}border-danger{% endif %}"
                                   id="order_count_input_{{ product.id }}"
                                   data-product_id="{{ product.id }}"
                                   onclick="this.select()">
                            <p class="order_count_status" id="order_count_status_{{ product.id }}">
                                <i class="fa-solid fa-check"></i>
                            </p>
                        </td>
                        <td>
                            <div>{% include "inventory/update_stock.html" %}</div>
 
                        </td>
                        <td>
                            <textarea name="comment"
                                      id="comment_{{ product.id }}"
                                      class="comment_input"
                                      cols="30"
                                      rows="1"
                                      data-product_id="{{ product.id }}"></textarea>
                            <span class="comment_status" id="comment_status_{{ product.id }}">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <div>
                                <small>
                                    {% if product.fba_order_count > 0 %}
                                        <p>{{ product.fba_order_count }} Current FBA Order{{ product.fba_order_count|pluralize }}</p>
                                    {% endif %}
                                </small>
                            </div>
                        </td>
                        <td>
                            {% for supplier in product.additional_suppliers.all %}
                                <span class="badge bg-secondary">{{ supplier }}</span>
                            {% endfor %}
                        </td>
                        <td>
                            <div class="btn-group-vertical">
                                <button class="ordered_button btn btn-primary btn-sm mb-1"
                                        id="ordered_button_{{ product.id }}"
                                        data-product_id="{{ product.id }}">Mark Ordered</button>
                                <a href="{% url 'fba:create_order' product_id=product.id %}"
                                   class="btn btn-primary btn-sm">Create FBA Order</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endfor %}

{{ reorder_counts|json_script:"reorderCounts" }}
{{ comments|json_script:"reorderComments" }}
