{% for supplier, products in suppliers.items %}
    <div class="result mt-5">
        <h4>{{ supplier.name }}</h4>
        <table class="table table-hover table-sm mt-3">
            <thead class="table-primary">
                <tr>
                    <th colspan="2">Product</th>
                    <th>Purchase Price</th>
                    <th>Re-Order</th>
                    <th>Stock Level</th>
                    <th>Comment</th>
                    <th>Additional Suppliers</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>
                            <p class="font-monospace user-select-all text-muted fs-6">{{ product.sku }}</p>
                            <p class="user-select-all fs-5">{{ product.product_range.name }}</p>
                            <p class="fs-6">
                                {% for value in product.variation_values %}<span>{{ value }}</span>{% endfor %}
                            </p>
                        </td>
                        <td>
                            <p class="font-monospace user-select-all">{{ product.supplier_sku }}</p>
                            <p class="font-monospace user-select-all">{{ product.barcode }}</p>
                        </td>
                        <td>
                            <input type="text"
                                   value="{{ product.purchase_price }}"
                                   size="6"
                                   class="purchase_price_input form-control"
                                   id="purchase_price_input_{{ product.id }}"
                                   data-product_id="{{ product.id }}"
                                   onclick="this.select()">
                            <p class="purchase_price_status"
                               id="purchase_price_status_{{ product.id }}">
                                <i class="fa-solid fa-check"></i>
                            </p>
                        </td>
                        <td>
                            <input type="text"
                                   value="0"
                                   size="2"
                                   class="order_count_input form-control"
                                   id="order_count_input_{{ product.id }}"
                                   data-product_id="{{ product.id }}"
                                   onclick="this.select()">
                            <p class="order_count_status" id="order_count_status_{{ product.id }}">
                                <i class="fa-solid fa-check"></i>
                            </p>
                        </td>
                        <td>
                            {% if product_range.is_end_of_line or product.is_end_of_line %}
                                <span class="error">Stock levels are not available for EOL products</span>
                            {% else %}
                                {% include "inventory/update_stock.html" %}
                            {% endif %}
                        </td>
                        <td>
                            <textarea name="comment"
                                      id="comment_{{ product.id }}"
                                      class="comment_input"
                                      cols="30"
                                      rows="1"
                                      data-product_id="{{ product.id }}"></textarea>
                            <span class="comment_status" id="comment_status_{{ product.id }}">
                                <i class="fa-solid fa-check"></i>
                            </span>
                        </td>
                        <td>
                            {% for supplier in product.additional_suppliers.all %}
                                <span class="badge bg-secondary">{{ supplier }}</span>
                            {% endfor %}
                        </td>
                        <td>
                            <p>
                                <button class="ordered_button btn btn-primary btn-sm"
                                        id="ordered_button_{{ product.id }}"
                                        data-product_id="{{ product.id }}">Mark Ordered</button>
                            </p>
                            <p>
                                <a href="{% url 'fba:create_order' product_id=product.id %}"
                                   class="btn btn-primary btn-sm">Create FBA Order</a>
                            </p>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endfor %}

{{ reorder_counts|json_script:"reorderCounts" }}
{{ comments|json_script:"reorderComments" }}
