{% extends "restock/base.html" %}
{% load static %}

{% block additional_head %}
    {{ block.super }}
    <script src="{% static 'scripts/stock_manager.js' %}"></script>
{% endblock additional_head %}

{% block content %}
    <label for="product_search">Products</label>
    <textarea name="product_search" id="search_input" cols="60" rows="10"></textarea>
    <button id="search_button">Search</button>

    <div id="results"></div>
{% endblock content %}

{% block script %}

    <script>

        function getResults() {
            $.ajax({
                url: "{% url 'restock:restock_results' %}",
                type: "GET",
                data: {'product_search': $('#search_input').val()},
                success: function(response) {
                    $('#results').html(response);
                    reorderCounts = JSON.parse(document.getElementById('reorderCounts').textContent);
                    enablePurchasePrice();
                    enableOrderCount();
                    enableOrderedButton();
                    setReorderCount();
                    stock_level_widget_manager.get_stock_levels();
                }
            });
        }

        function setReorderCount() {
            $.each(reorderCounts, function(productId, count) {
                console.log([productId, count]);
                $("#order_count_input_" + productId).val(count);
            });
        }

        function enablePurchasePrice() {
            $('.purchase_price_input').change(function() {
                var productId = $(this).data('product_id');
                var updatedPrice = $(this).val();
                updatePurchasePrice(productId, updatedPrice);
            });
        }

        function enableOrderCount() {
            $('.order_count_input').change(function() {
                var productId = $(this).data('product_id');
                var updatedCount = $(this).val();
                updateOrderCount(productId, updatedCount);
            });
        }

        function enableOrderedButton() {
            $('.ordered_button').click(function() {
                var productId = $(this).data('product_id');
                updateOrderCount(productId, 0);
            });
        }

        function updatePurchasePrice(productId, updatedPrice) {
            var status = $('#purchase_price_status_' + productId);
            status.html('<i class="fa-solid fa-spinner fa-spin warning"></i>');
            $.ajax({
                url: "{% url 'restock:update_purchase_price' %}",
                type: "POST",
                data: {"product_id": productId, "updated_purchase_price": updatedPrice},
                success: function(response) {
                    $("#purchase_price_input_" + productId).val(response['purchase_price']);
                    status.html('<i class="fa-solid fa-spinner fa-spin warning"></i>');
                    status.html('<i class="fa-solid fa-square-check success"></i>');
                },
                error: function(response) {
                    status.html('<i class="fa-solid fa-triangle-exclamation error"></i>');
                }
            });
        }

        function updateOrderCount(productId, updatedCount) {
            var status = $('#order_count_status_' + productId);
            status.html('<i class="fa-solid fa-spinner fa-spin warning"></i>');
            $.ajax({
                url: "{% url 'restock:update_order_count' %}",
                type: "POST",
                data: {"product_id": productId, "updated_order_count": updatedCount},
                success: function(response) {
                    $("#order_count_input_" + productId).val(response['count'])
                    status.html('<i class="fa-solid fa-spinner fa-spin warning"></i>');
                    status.html('<i class="fa-solid fa-square-check success"></i>');
                },
                error: function(response) {
                    status.html('<i class="fa-solid fa-triangle-exclamation error"></i>');
                }
            });
        }

        $(document).ready(function(){
            $('#search_button').click(function() {
                getResults();
            });
        });
    
    </script>

{% endblock script %}
