{% for supplier, products in suppliers.items %}
    <h4>{{ supplier.name }}</h4>
    <table>
        <thead>
            <tr>
                <th colspan="2">Product</th>
                <th>Purchase Price</th>
                <th>Re-Order</th>
                <th>Stock Level</th>
                <th>Comment</th>
                <th>Additional Suppliers</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>
                        <div class="sku">{{ product.sku }}</div>
                        <div class="name">{{ product.product_range.name }}</div>
                        <div>
                            {% for value in product.variation_values %}<span>{{ value }}&nbsp;</span>{% endfor %}
                        </div>
                    </td>
                    <td>
                        <div class="sku">{{ product.supplier_sku }}</div>
                        <div class="sku">{{ product.barcode }}</div>
                    </td>
                    <td>
                        <input type="text"
                               value="{{ product.purchase_price }}"
                               size="6"
                               class="purchase_price_input"
                               id="purchase_price_input_{{ product.id }}"
                               data-product_id="{{ product.id }}"
                               onclick="this.select()">
                        <span class="purchase_price_status"
                              id="purchase_price_status_{{ product.id }}">
                            <i class="fa-solid fa-check"></i>
                        </span>
                    </td>
                    <td>
                        <input type="text"
                               value="0"
                               size="2"
                               class="order_count_input"
                               id="order_count_input_{{ product.id }}"
                               data-product_id="{{ product.id }}"
                               onclick="this.select()">
                        <span class="order_count_status" id="order_count_status_{{ product.id }}">
                            <i class="fa-solid fa-check"></i>
                        </span>
                    </td>
                    <td>
                        <div>{% include "inventory/update_stock.html" %}</div>
                        <div>
                            <small>
                                {% if product.fba_order_count > 0 %}<p>{{ product.fba_order_count }} Current FBA Order</p>{% endif %}
                            </small>
                        </div>
                    </td>
                    <td>
                        <textarea name="comment"
                                  id="comment_{{ product.id }}"
                                  class="comment_input"
                                  cols="30"
                                  rows="1"
                                  data-product_id="{{ product.id }}"></textarea>
                        <span class="comment_status" id="comment_status_{{ product.id }}">
                            <i class="fa-solid fa-check"></i>
                        </span>
                    </td>
                    <td>
                        {% for supplier in product.additional_suppliers.all %}
                            <p>
                                <small>{{ supplier }}</small>
                            </p>
                        {% endfor %}
                    </td>
                    <td>
                        <div>
                            <button onclick="window.open('{% url 'fba:create_order' product_id=product.id %}');">Create FBA Order</button>
                        </div>
                        <div>
                            <button class="ordered_button"
                                    id="ordered_button_{{ product.id }}"
                                    data-product_id="{{ product.id }}">Mark Ordered</button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

{{ reorder_counts|json_script:"reorderCounts" }}
{{ comments|json_script:"reorderComments" }}
