<nav class="navbar navbar-expand-lg bg-light text-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'restock:restock' %}">Restock</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#sectionNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="sectionNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'restock:restock' %}">Search Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'restock:restock_list' %}">Restock List</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
