{% extends "inventory/new_product/new_product_base.html" %}
{% load staticfiles %}
{% load stcadmin_extras %}

{% block basic_info %}{% endblock %}

{% block form %}
    <table class="new_product">
        {% for field in form %}
        <tr>
            <td>{{ field.label }}</td>
            <td>{{ field }}</td>
            <td>{% tooltip_help_text field %}</td>
            {% if field.errors %}
                <td class="error">{{ field.errors }}</td>
            {% endif %}
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2">
                <input type="submit" name="variations" value="Add Variations"/>
                <input type="submit" name="single" value="Continue Single Product"/>
            </td>
        </tr>
    </table>
{% endblock %}
