{% extends "inventory/base.html" %}
{% load staticfiles %}
{% load stcadmin_extras %}

{% block content %}

{% block additional_head %}{{ block.super }}
<link rel="stylesheet" href="{% static 'scripts/selectize/selectize.css' %}">
<script src="{% static 'scripts/selectize/selectize.js' %}"></script>
<script src="{% static 'scripts/new_product.js' %}"></script>
<script>{% include 'inventory/widgets/product_widgets.js' %}</script>
{% include 'home/froala_head.html' %}
{% endblock %}

<form method="POST">
    <table class="new_product">
        {% csrf_token %}
        {% for field in form %}
        <tr>
            <td>{{ field.label }}</td>
            <td>{{ field }}</td>
            <td>{% tooltip_help_text field %}</td>
            {% if field.errors %}
                <td class="error">{{ field.errors }}</td>
            {% endif %}
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2" style="text-align: center;">
                <input type="submit" value="Create Product" style="width: 80%;"/>
            </td>
        </tr>
    </table>
</form>
{% endblock %}
