{% extends "inventory/new_product/new_product_base.html" %}
{% load staticfiles %}
{% load stcadmin_extras %}

{% block additional_head %}{{ block.super }}
<style>
    .new_product input, .new_product .selectize-input {
        display: inline-block;
    }

    .selectize-control {
        display: inline-block;
        vertical-align: middle;
    }

    .field_select {
        background-color: #ddd;
        border: 3px solid #ddd;
    }

    .selected {
        background-color: white;
    }
</style>
{% endblock %}

{% block pre_form %}
<div class="field_selection">
    {% for field in formset.0.visible_fields %}
        <button id="hide_{{ field.name }}" class="field_select{% if field.name in error_fields %} error{% endif %}">{{ field.label }}</button>
    {% endfor %}
</div>
{% endblock %}

{% block form %}

    {% for error in formset.non_field_errors %}
        {{ error }}
    {% endfor %}
    {{ formset.management_form }}
    <table class="new_product">
        <tr>
            {% for variation_field in formset.0.variation_options %}
            <th>{{ variation_field }}</th>
            {% endfor %}
            {% for field in formset.0.visible_fields %}
            <th class="field_cell {{ field.name }}">{{ field.label }}</th>
            <th class="field_cell {{ field.name }}"></th>
            {% endfor %}
        </tr>
        <tr class="copyrow">
            <th></th>
            {% for field in formset.0.visible_fields %}
                <td class="field_cell {{ field.name }}">{{ field }}</td>
            {% endfor %}
            <td><button id="copybutton" type="button">Copy</button></td>
        </tr>
        <script>
        $(document).ready(function() {
            $('.copyrow input, .copyrow select').each(function() {
                $(this).removeAttr('name');
                $(this).removeAttr('id');
            });
        });
        </script>
        {% for form in formset %}
        <tr class="product">
            {% for name, value in form.variation_options.items %}
            <th>{{ value }}</th>
            {% endfor %}

            {% for field in form.visible_fields %}
            <td class="field_cell {{ field.name }}">{{ field }}</td>
            {% endfor %}
            {% for field in form.visible_fields %}
            {% if field.errors %}
                <td class="error field_cell {{ field.name }}">{{ field.errors }}</td>
            {% endif %}
            {% endfor %}

            <td><input type="checkbox" class="copy_checkbox"></td>
            {% for field in form.hidden_fields %}{{ field }}{% endfor %}
        {% endfor %}
        </tr>
        <th colspan="{{ formset.0.variation_options | length | add:"2" }}">
            <button name="back">Back</button>
            <button name="continue">Continue</button>
        </th>
    </table>
{% endblock %}

{% block formside %}
{% for field in formset.0 %}
    <div class="field_cell {{ field.name }}">
        <h3>{{ field.label }}</h3>
        <div>
            {% autoescape off %}
            {{ field.help_text }}
            {% endautoescape %}
        </div>
    </div>
{% endfor %}
{% endblock %}

{% block script %}

{{ block.super }}
<script>
    $(document).ready(function() {
        $('.field_cell').prop('hidden', true);
        $('.field_select').click(function() {
            $('.field_select').removeClass('selected');
            $(this).addClass('selected');
            var name = $(this).attr('id');
            var target = $('.' + name.replace('hide_', ''));
            $('.field_cell').prop('hidden', true);
            target.prop('hidden', false);
        });

        $('#copybutton').click(function() {
            var copy_inputs = $('.copyrow .field_cell:visible').find('input, select');
            $('.product').each(function() {
                var row = $(this);
                if (row.find('.copy_checkbox').is(':checked')) {
                    row.find('.field_cell:visible').each(function() {
                        var cell = $(this);
                        var cell_inputs = cell.find('input, select');
                        for (var i=0; i<cell_inputs.length; i++) {
                            copy_input = copy_inputs.eq(i);
                            target_input = cell_inputs.eq(i);
                            if ((copy_input[0].hasOwnProperty('selectize')) && (target_input[0].hasOwnProperty('selectize'))) {
                                var copy_value = copy_input[0].selectize.getValue();
                                target_input[0].selectize.setValue(copy_value);
                            } else {
                                target_input.val(copy_input.val());
                            }
                        }
                    });
                }
            });
        });
    });
</script>
{% endblock %}
