{% extends "inventory/base.html" %}
{% load staticfiles %}
{% load stcadmin_extras %}

{% block additional_head %}{{ block.super }}
<link rel="stylesheet" href="{% static 'scripts/selectize/selectize.css' %}">
<script src="{% static 'scripts/selectize/selectize.js' %}"></script>
<script src="{% static 'scripts/new_product.js' %}"></script>
<script>{% include 'inventory/widgets/product_widgets.js' %}</script>
<script src="{% static 'scripts/new_product.js' %}"></script>
{% include 'home/froala_head.html' %}

<style>
    .new_product input, .new_product .selectize-input {
        display: inline-block;
    }

    .field_cell {

    }

    .selectize-control {
        display: inline-block;
        vertical-align: middle;
    }

    .selected {
        background-color: #7bc77b;
    }

    .field_help {
        display: inline-block;
        max-width: 25%;
    }
</style>
{% endblock %}

{% block content %}

<p>Title: {{ product_data.basic.title }}</p>
<p>Supplier SKU: {{ product_data.basic.supplier_sku }}</p>
<p>
    Description: <div>{{ product_data.basic.description | safe }}</div>
</p>

{% for field in formset.0.visible_fields %}
    <button id="hide_{{ field.name }}" class="field_select">{{ field.label }}</button>
{% endfor %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<form method="POST">{% csrf_token %}
    {{ formset.management_form }}
    <table class="new_product" style="float: left;">
        <tr>
            {% for variation_field in formset.0.variation_options %}
            <th>{{ variation_field }}</th>
            {% endfor %}
            {% for field in formset.0.visible_fields %}
            <th class="field_cell {{ field.name }}">{{ field.label }}</th>
            {% endfor %}
        </tr>
        {% for form in formset %}
        <tr>
            {% for name, value in form.variation_options.items %}
            <th>{{ value }}</th>
            {% endfor %}
            {% for field in form.visible_fields %}
            <td class="field_cell {{ field.name }}">{{ field }}</td>
            {% endfor %}
            {% for field in form.hidden_fields %}{{ field}}{% endfor %}
        {% endfor %}
        </tr>
        <td colspan="2" style="text-align: center;">
            <button name="back">Back</button><button name="continue">Continue</button>
        </td>
    </table>
</form>
{% for field in formset.0 %}
<div class="field_help">
    <div class="field_cell {{ field.name }}">
        <h3>{{ field.label }}</h3>
        <div>
            {% autoescape off %}
            {{ field.help_text }}
            {% endautoescape %}
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}

{% block script %}{{ block.super }}
<script>
    $(document).ready(function() {
        $('.field_cell').prop('hidden', true);
        $('.field_select').click(function() {
            $('.field_select').removeClass('selected');
            $(this).addClass('selected');
            var name = $(this).attr('id');
            var target = $('.' + name.replace('hide_', ''));
            $('.field_cell').prop('hidden', true);
            target.prop('hidden', false);
        });
    });
</script>
{% endblock %}
