{% extends "inventory/new_product/new_product_base.html" %}
{% load staticfiles %}
{% load stcadmin_extras %}

{% block additional_head %}{{ block.super }}
<style>
    .new_product input, .new_product .selectize-input {
        display: inline-block;
    }

    .selectize-control {
        display: inline-block;
        vertical-align: middle;
    }

    .field_select {
        background-color: #ddd;
        border: 3px solid #ddd;
    }

    .selected {
        background-color: white;
    }
</style>
{% endblock %}

{% block pre_form %}
<div class="field_selection">
    {% for field in formset.0.visible_fields %}
        <button id="hide_{{ field.name }}" class="field_select">{{ field.label }}</button>
    {% endfor %}
</div>
{% endblock %}

{% block form %}

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    {{ formset.management_form }}
    <table class="new_product">
        <tr>
            {% for variation_field in formset.0.variation_options %}
            <th>{{ variation_field }}</th>
            {% endfor %}
            {% for field in formset.0.visible_fields %}
            <th class="field_cell {{ field.name }}">{{ field.label }}</th>
            {% endfor %}
        </tr>
        {% for form in formset %}
        <tr>
            {% for name, value in form.variation_options.items %}
            <th>{{ value }}</th>
            {% endfor %}
            {% for field in form.visible_fields %}
            <td class="field_cell {{ field.name }}">{{ field }}</td>
            {% endfor %}
            {% for field in form.hidden_fields %}{{ field }}{% endfor %}
        {% endfor %}
        </tr>
        <th colspan="2">
            <button name="back">Back</button><button name="continue">Continue</button>
        </th>
    </table>
{% endblock %}

{% block formside %}
{% for field in formset.0 %}
    <div class="field_cell {{ field.name }}">
        <h3>{{ field.label }}</h3>
        <div>
            {% autoescape off %}
            {{ field.help_text }}
            {% endautoescape %}
        </div>
    </div>
{% endfor %}
{% endblock %}

{% block script %}{{ block.super }}
<script>
    $(document).ready(function() {
        $('.field_cell').prop('hidden', true);
        $('.field_select').click(function() {
            $('.field_select').removeClass('selected');
            $(this).addClass('selected');
            var name = $(this).attr('id');
            var target = $('.' + name.replace('hide_', ''));
            $('.field_cell').prop('hidden', true);
            target.prop('hidden', false);
        });
    });
</script>
{% endblock %}
