{% extends "inventory/new_product/variation_wizard.html" %}
{% load staticfiles %}
{% load stcadmin_extras %}

{% block table_class %}variation_table{% endblock %}

{% block additional_head %}{{ block.super }}
<script src="{% static 'scripts/price_field.js' %}"></script>
{% endblock %}

{% block formset %}
    <tr>
        {% for field in wizard.form.forms.0 %}
            <th>{{ field.label }}&nbsp;{% tooltip_help_text field %}</th>
        {% endfor %}
    </tr>
    {% for form in wizard.form.forms %}
        <tr>
            {% for field in form %}
                <td>{{ field }}{% if field.errors %}<p class="error">{{ field.errors }}</p>{% endif %}</td>
            {% endfor %}
        </tr>
    {% endfor %}
{% endblock %}

{% block script %}{{ block.super}}
<script>
    $(document).ready(function() {

        function get_vat_rate(vat_select) {
            var value = vat_select.val();
            if (value === '') {
                var vat_rate = false;
            } else {
                var vat_rate = parseInt(value);
            }
            return vat_rate
        }

        {% for form in wizard.form.forms %}
            {% if form.vat_rate %}
                var vat_rate_select_{{ forloop.counter }} = $('#{{ form.vat_rate.auto_id }}');

                price_field_{{ forloop.counter }} = new PriceField(
                    $('#{{ form.price.auto_id }}'),
                    get_vat_rate(vat_rate_select_{{ forloop.counter }})
                );

                vat_rate_select_{{ forloop.counter }}.change(function () {
                    price_field_{{ forloop.counter }}.set_vat_rate(get_vat_rate(vat_rate_select_{{ forloop.counter }}));
                });

            {% else %}
                price_field_{{ forloop.counter }} = new PriceField(
                    $('#{{ form.price.auto_id }}'), {{ wizard.form.vat_rate }}
                );
                price_field_{{ forloop.counter }}.show_rate();
            {% endif %}
        {% endfor %}
    });
</script>
{% endblock %}
