{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/stcadmin.css' %}">
        <title>STC Admin Feedback</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    </head>
    <body>

        <button class="toggle">Toggle</button>&nbsp;
        <label for="auto_toggle">Auto Toggle</label><input type="checkbox" name="auto_toggle" class="auto_toggle" checked>

        <div>
            <table class="pack_count" id="pack_count">

            </table>
            <table class="feedback" id="feedback">

            </table>
        </div>


        <script>
            auto_toggle = true;
            current = '';

            function get_pack_count() {
                $('.pack_count').html('');
                $('.feedback').html('');
                $.get("{% url 'monitor:pack_count_monitor' %}",
                    function(data) {
                        var data = $.parseJSON(data);
                        for (var i=0; i<data.length; i++) {
                            var name = data[i][0]
                            var count = data[i][1]
                            $('#pack_count').append('<tr><th class="packer_name">' + name + '</th><td class="packer_count">' + count + '</td></tr>');
                        }
                        current = 'pack_count'
                    }
                );
            }

            {% include 'feedback/get_feedback.html' %}

            function toggle() {
                if (current == 'pack_count') {
                    get_feedback();
                } else {
                    get_pack_count();
                }
            }

            if (auto_toggle) {
                setInterval(function(){
                    if ($('.auto_toggle').is(':checked')) {
                        toggle();
                    }
                }, 1000 * 30);
            }

            $(document).ready(function() {
                get_pack_count();
                $('.toggle').click(function() {
                    toggle();
                });
            });

        </script>
    </body>
</html>
