{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/stcadmin.css' %}">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="{% static 'scripts/jquery.cookie.js' %}"></script>
    <script src="{% static 'scripts/selection_table.js' %}"></script>
    <script src="{% static 'scripts/jquery.qtip.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/jquery.qtip.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <script src="{% static 'list_input/scripts/list_widget.js' %}"></script>
    <script src="{% static 'scripts/jquery-ui.min.js' %}"></script>
    {% block additional_head %}{% endblock %}
    <title>STCAdmin - {% block page_title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        <div class="head">
            {% include "home/main_navigation.html" %}
            <div class="user_details">
                <p>Welcome <a href="{% url 'user:user' %}">{{ request.user.username|title }}</a></p>
                <a href="{% url 'home:logout_user' %}">Logout</a>
            </div>
            {% block section_navigation %}
            {% endblock %}
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        {% block footer %}{% endblock %}
    </div>
    {% block script %}{% endblock %}
    <script>
        $(document).ready(function() {
            $('.tooltip').each(function() {
                var text = $(this).attr('tooltiptext');
                var title = $(this).attr('tooltiptitle');
                $(this).qtip({
                    prerender: true,
                    style: {
                       classes: 'mytooltip',
                   },
                    content: {
                        title: title,
                        text: text
                    },
                });
            });
        });
    </script>
</body>
</html>
