{% load staticfiles %}
{% load stcadmin_extras %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'froala/css/char_counter.min.css' %}">
<link rel="stylesheet" href="{% static 'froala/css/code_view.min.css' %}">
<link rel="stylesheet" href="{% static 'froala/css/froala_editor.css' %}">
<link rel="stylesheet" href="{% static 'froala/css/froala_style.min.css' %}">
<link rel="stylesheet" href="{% static 'froala/css/line_breaker.min.css' %}">
<link rel="stylesheet" href="{% static 'froala/css/special_characters.min.css' %}">
<link rel="stylesheet" href="{% static 'froala/css/spell_checker.min.css' %}">
<link rel="stylesheet" href="{% static 'froala/css/table.min.css' %}">
<link rel="stylesheet" href="{% static 'froala/css/themes/gray.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
<script type="text/javascript" src="{% static 'froala/scripts/froala_editor.min.js' %}"></script>
<script type="text/javascript" src="{% static 'froala/scripts/code_beautifier.min.js' %}"></script>
<script type="text/javascript" src="{% static 'froala/scripts/code_view.min.js' %}"></script>
<script type="text/javascript" src="{% static 'froala/scripts/entities.min.js' %}"></script>
<script type="text/javascript" src="{% static 'froala/scripts/line_breaker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'froala/scripts/lists.min.js' %}"></script>
<script type="text/javascript" src="{% static 'froala/scripts/special_characters.js' %}"></script>
<script type="text/javascript" src="{% static 'froala/scripts/spell_checker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'froala/scripts/table.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('.froala').froalaEditor({
            htmlAllowedStyleProps: [],
            htmlAllowedAttrs: ['href', 'colspan', 'rowspan'],
            htmlAllowedEmptyTags: ['tr', 'td', 'th'],
            htmlAllowedTags: [
                'a', 'b', 'blockquote', 'em', 'hr', 'i', 'li', 'ol', 'p',
                's', 'strike', 'strong', 'sub', 'sup', 'table', 'tbody', 'td',
                'tfoot', 'th', 'thead', 'tr', 'u', 'ul', 'br'],
            imageEditButtons: [],
            toolbarButtons: [
                'fullscreen', 'bold', 'italic', 'underline', '|', 'strikeThrough',
                'subscript', 'superscript', '|', 'formatUL', 'formatOL',
                'insertTable', '-', 'emoticons', 'specialCharacters', 'insertHR',
                'clearFormatting', '|', 'spellChecker',
                'html', '|', 'undo', 'redo'],
            tableCellMultipleStyles: false,
            tableColorsButtons: [],
            tableEditButtons: ['tableHeader', 'tableRemove', '|', 'tableRows', 'tableColumns'],
            tableCellStyles: {},
            pasteAllowedStyleProps: [],
            pasteAllowLocalImages: false,
            pastePlain: true,
            scaytCustomerId: '{% scayt_customer_id %}',
            tabSpaces: 0,
            enter: $.FroalaEditor.ENTER_BR,
            wordAllowedStyleProps: [],
            theme: 'gray',
            language: 'en_gb',
            scaytAutoload: true,
            scaytOptions: {
                enableOnTouchDevices: false,
                localization:'en-gb',
                extraModules: 'ui',
                DefaultSelection: 'British English',
                spellcheckLang: 'en_GB',
                contextMenuSections: 'suggest|moresuggest',
                serviceProtocol: 'https',
                servicePort:'80',
                serviceHost:'svc.webspellchecker.net',
                servicePath:'spellcheck/script/ssrv.cgi',
                contextMenuForMisspelledOnly: true,
                scriptPath: 'https://demo.webspellchecker.net/froala/customscayt.js'
            }
        });

        $('.froala').on('froalaEditor.charCounter.update', function (e, editor) {
            alert();
        });
    });

</script>
