{% load stcadmin_extras %}
{% load reference_extras %}

{% block main_navigation %}
<ul class="navbar-nav mr-auto">
  {% user_groups user as groups %}
  {% if "inventory" in groups %}
  {% include 'home/main_navigation_link.html' with view='inventory:index' text='Inventory' %}
  {% endif %}
  {% if "orders" in groups %}
  {% include 'home/main_navigation_link.html' with view='orders:index' text='Orders' %}
  {% endif %}
  {% if 'epos' in groups %}
  {% include 'home/main_navigation_link.html' with view='epos:index' text='EPOS' %}
  {% endif %}
  {% if 'manifests' in groups %}
  {% include 'home/main_navigation_link.html' with view='spring_manifest:manifest_list' text='Manifest' %}
  {% endif %}
  {% if 'labelmaker' in groups %}
  {% include 'home/main_navigation_link.html' with view='labelmaker:index' text='Labelmaker' %}
  {% endif %}
  {% if 'feedback' in groups %}
  {% include 'home/main_navigation_link.html' with view='feedback:user_feedback' text='Feedback' %}
  {% endif %}
  {% if 'stock_check' in groups %}
  {% include 'home/main_navigation_link.html' with view='stock_check:warehouses' text='Stock Check' %}
  {% endif %}
  {% include 'home/main_navigation_link.html' with view='home:monitor' text='Monitor' %}
  {% include 'home/main_navigation_link.html' with view='reference:index' text='Reference' %}
  {% if 'validation' in groups %}
  {% include 'home/main_navigation_link.html' with view='validation:home' text='Validation' %}
  {% endif %}
  {% if 'admin' in groups %}
  {% include 'home/main_navigation_link.html' with view='admin:index' text='Admin' %}
  {% endif %}
</ul>
{% endblock %}

