{% load static %}
{% load stcadmin_extras %}

{% block main_navigation %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark"
       id="main_navigation">
    <div class="container-fluid">
      <a href="{% url 'home:index' %}" class="navbar-brand">
        <img src="{% static "images/logo.png" %}" alt="Home" width="50" height="50">
      </a>
      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#mainnavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mainnavbar">
        <ul class="navbar-nav me-auto">
          {% user_groups user as groups %}
          {% if "inventory" in groups %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'inventory:product_search' %}">Inventory</a>
            </li>
          {% endif %}
          {% if "orders" in groups %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'orders:index' %}">Orders</a>
            </li>
          {% endif %}
          {% if 'labelmaker' in groups %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'labelmaker:index' %}">Labelmaker</a>
            </li>
          {% endif %}
          {% if 'fba' in groups %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'fba:index' %}">FBA</a>
            </li>
          {% endif %}
          {% if 'purchases' in groups %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'purchases:product_search' %}">Purchases</a>
            </li>
          {% endif %}
          {% if 'channels' in groups %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'channels:index' %}">Channels</a>
            </li>
          {% endif %}
          {% if 'restock' in groups %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'restock:restock' %}">Restock</a>
            </li>
          {% endif %}
          {% if 'reports' in groups %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'reports:index' %}">Reports</a>
            </li>
          {% endif %}
          {% if 'admin' in groups %}
            <li class="nav-item">
              <a class="nav-link" href={% url 'admin:index' %}>Admin</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="text-end text-white m-3 m-md-3">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">{{ request.user.username|title }}</button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="{% url 'home:user' %}">User Details</a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'home:logout_user' %}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
 
  </nav>
{% endblock main_navigation %}
