{% if messages %}
    {% for message in messages %}
        <div class="text-center align-items-center">
            <div class="alert alert-{% if message.tags == "info" %}primary{% elif message.tags == "warning" %}warning{% elif message.tags == "error" %}danger{% elif message.tags == "success" %}success{% elif message.tags == "debug" %}dark{% endif %} align-items-center text-center">
                {% if message.tags == "info" %}
                    <i class="bi bi-info-circle-fill"></i>
                {% elif message.tags == "warning" %}
                    <i class="bi bi-exclamation-triangle-fill"></i>
                {% elif message.tags == "error" %}
                    <i class="bi bi-exclamation-triangle-fill"></i>
                {% elif message.tags == "success" %}
                    <i class="bi bi-check-circle-fill"></i>
                {% elif message.tags == "debug" %}
                    <i class="bi bi-exclamation-triangle-fill"></i>
                {% endif %}
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endif %}
