{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/stcadmin.css' %}">
        <title>STC Admin Feedback</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    </head>
    <body>
        <button class="toggle">Toggle</button>&nbsp;
        <label for="auto_toggle">Auto Toggle</label><input type="checkbox" name="auto_toggle" class="auto_toggle" checked>

        <div>
            <table class="pack_count" id="pack_count"></table>
            <table class="feedback" id="feedback"></table>
        </div>
    </body>
    <script>
        pack_count_URL = "{% url 'print_audit:pack_count_monitor' %}";
        feedback_URL = "{% url 'feedback:monitor' %}";
    </script>
    <script src="{% static 'scripts/monitor.js'%}"></script>
</html>
