{% extends "home/base.html" %}

{% block page_title %}
    User Details
{% endblock page_title %}

{% block content %}
    <div class="container">
        <h3 class="display-3 mb-5">
            {{ request.user.first_name }} {{ request.user.last_name }} ({{ request.user.username }})
        </h3>
        <div class="mb-3">
            <a href="{% url 'home:change_password' %}" class="btn btn-primary">Change Password</a>
        </div>

        <div class="col-6">
            <ul class="list-group">
                <li class="list-group-item active">Available Apps</li>
                {% for group in user.groups.all %}<li class="list-group-item">{{ group }}</li>{% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}
