[run]
branch = True
relative_files = True
omit =
  */apps.py,
  */migrations/*,
  */settings*,
  */tests/*,
  */urls.py,
  */wsgi.py,
  manage.py
  stcadmin/celery.py

[html]
directory = ./htmlcov
show_contexts = True