[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-formtools = "*"
django-markup = "*"
django-jchart = "*"
forex-python = "*"
gunicorn = "*"
humanize = "*"
"psycopg2-binary" = "*"
pytz = "*"
Sphinx = "*"
sphinx_rtd_theme = "*"
tabler = "*"
toml = "*"
XlsxWriter = "*"
ccapi = {git = "https://github.com/stcstores/ccapi.git", ref = "master", editable = true}
cc_products = {git = "https://github.com/stcstores/cc_products.git", ref = "master", editable = true}
labeler = {git = "https://github.com/axevalley/labeler.git", ref = "master", editable = true}
list_input = {git = "https://github.com/axevalley/list_input.git", ref = "master", editable = true}
order_profit = {git = "https://github.com/stcstores/order_profit.git", ref = "master", editable = true}
openpyxl = "==2.5.8"

[dev-packages]
"Fabric3" = "*"

[requires]
python_version = "3.7"
