Django==1.10.4
mysqlclient==1.3.9
Pillow==3.4.2
pylabels==1.2.1
PyMySQL==0.7.9
reportlab==3.3.0
git+ssh://lseagle@lsgit.uk/~/lsgit.uk/pylinnworks.git@v1.6
git+ssh://lseagle@lsgit.uk/~/lsgit.uk/labeler.git@v1.0
