Django>=2.0
django-formtools
django-jchart
django-markup
docutils
forex-python
gunicorn
jinja2
matplotlib
mpld3
mysqlclient
Pillow
pycountry
pylabels
PyMySQL
pytz
psycopg2
reportlab
tabler
Unidecode
XlsxWriter
git+https://github.com/axevalley/labeler.git@v1.1
git+https://github.com/stcstores/ccapi.git
git+https://github.com/axevalley/list_input.git
git+https://github.com/stcstores/order_profit.git
git+https://github.com/stcstores/cc_products.git
