{% extends 'fba/base.html' %}
{% load orders_extras %}

{% block additional_head %}
{{ block.super }}
<style>
    .tracking_number {
        white-space: nowrap;
    }
</style>
{% endblock additional_head %}

{% block content %}

<h1>Manage FBA Orders</h1>

<div class="filter">
    <form action="" method="GET" id="filter">
        {{ form.as_p }}
        <p>
            <button>Filter</button>
        </p>
    </form>
        <div>
        <p>Showing {{page_obj.object_list|length}} of {{page_obj.paginator.count}} orders</p>
        {% include 'orders/pagination_navigation.html' %}
    </div>
</div>

<table class="orders">
    <thead>
        <tr>
            <th colspan="5"></th>
            <th colspan="3">Quantity</th>
            <th colspan="3"></th>
            <th colspan="2">Fulfilled</th>
            <th colspan="4"></th>
        </tr>
        <tr>
            <th>SKU</th>
            <th>Name</th>
            <th></th>
            <th>Supplier</th>
            <th>ASIN</th>
            <th>Created</th>
            <th>Aprox</th>
            <th>Sent</th>
            <th>Status</th>
            <th>Tracking Number</th>
            <th>Stock</th>
            <th>At</th>
            <th>By</th>
            <th colspan="4"></th>
        </tr>
    </thead>
    <tbody>
        {% for order in object_list %}
        <tr class="order">
            <th><span class="sku">{{ order.product_SKU }}</span></th>
            <th><span class="name">
                {% if order.closed_at == None %}
                <a href="{% url 'fba:update_fba_order' order.id %}">{{ order.product_name }}</a>
                {% else %}
                {{ order.product_name }}
                {% endif %}
            </span></th>
            <td>{{ order.region.flag }}</td>
            <td>{{ order.product_supplier }}</td>
            <td><span class="sku">{{ order.product_asin }}</span></td>
            <td>{{ order.created_at|date:"Y-m-d H:i" }}</td>
            <td>{{ order.aproximate_quantity }}</td>
            <td>{% if order.quantity_sent %}{{ order.quantity_sent }}{% endif %}</td>
            <td id="status_{{ order.id }}">{{ order.status }}</td>
            <td class="tracking_number">
                {% if order.tracking_numbers.exists %}
                    {% for tracking_number in order.tracking_numbers.all %}
                    {% if forloop.first %}
                    <span class="sku">{{ tracking_number }}</span>
                    <span class="show_tracking" id="show_tracking_{{ order.id }}" data-order-id="{{ order.id}}">
                        <i class="fa-solid fa-chevron-down"></i>
                    </span>
                    <br>
                    {% else %}
                    <span class="extra_tracking extra_tracking_{{ order.id }}" hidden>
                        <span class="sku">{{ tracking_number }}</span><br>
                    </span>
                    {% endif %}
                    {% endfor %}
                    <span class="extra_tracking extra_tracking_{{ order.id }}" hidden>
                        <a href="{% url 'fba:edit_tracking_numbers' order.id %}" target="_blank">Edit</a>
                    </span>
                {% elif order.status == order.AWAITING_BOOKING or order.status == order.FULFILLED %}
                    <a href="{% url 'fba:edit_tracking_numbers' order.id %}" target="_blank">Add tracking number</a>
                {% endif %}
            </td>
            <td class="available_stock" id="available_stock_{{ order.pk }}">
                <i class="fa-solid fa-spinner fa-spin-pulse fa-xs"></i>
            </td>
            <td id="closed_at_{{ order.id }}">{{ order.closed_at|date:"Y-m-d H:i" }}</td>
            <td>
                {% if order.fulfilled_by != None %}
                {{ order.fulfilled_by }}
                {% endif %}
            </td>
            {% if order.closed_at == None %}
            <td>
                {% if order.status != order.ON_HOLD %}
                <a href="{% url 'fba:fulfill_fba_order' order.id %}"><button>Fulfill</button></a>
                {% endif %}
            </td>
            <td>
                {% if order.status != order.FULFILLED %}
                <a href="{% url 'fba:delete_order' order.pk %}"><button>Delete</button></a>
                {% endif %}
            </td>
            <td><button class="prioritise" id="prioritise_{{ order.pk }}">Prioritise</button></td>
            {% else %}
                {% if order.region.auto_close %}
                <th>CLOSED</th>
                <td></td>
                {% else %}
                <td></td>
                <td>
                    <a href="{% url 'fba:shipping_price' order.pk %}"><button>Set Price</button></a>
                    {% if order.tracking_number and order.fulfillment_center %}
                    <a href="{% url 'fba:invoice' order.pk %}"><button>Invoice</button></a>
                    {% endif %}
                </td>
                {% endif %}
                <td><a href="{% url 'fba:update_fba_order' order.pk %}"><button>View</button></a></td>
            {% endif %}
            <td>
                <a href="{% url 'fba:repeat_order' order.pk %}"><button>Repeat</button></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'orders/pagination_navigation.html' %}

{% endblock content %}

{% block script %}

<script>

    function get_stock_levels() {
        order_ids = [{% for order in object_list  %}{{ order.id }}, {% endfor %}]
        $.ajax({
            type: "POST",
            url: "{% url 'fba:get_stock_levels' %}",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({ order_ids: order_ids }),
            success: function (response) {
              $.each(response, function (order_id, stock_level_info) {
                $('#available_stock_' + order_id).html(stock_level_info.available);
              });
            },
            error: function (response) {
              alert("Error getting stock level.")
            },
          });
    }

$(document).ready(function() {
    get_stock_levels();

    $(".prioritise").click(function() {
        var order_id = $(this).attr("id").split("_").pop();
        $.ajax({
            url: "{% url 'fba:priortise_fba_order' %}",
            data: {'order_id': order_id},
            type: "GET",
            success: function(response) {
                alert("Order set to top priority")
            }
        })
    });
    $(".show_tracking").click(function() {
        var order_id = $(this).data("order-id");
        $(".extra_tracking_" + order_id).toggle();
    });
});

</script>

{% endblock script %}