{% extends 'fba/base.html' %}
{% load orders_extras %}

{% block content %}

<h1>Manage FBA Orders</h1>

<div class="filter">
    <form action="" method="GET" id="filter">
        {{ form.as_p }}
        <p>
            <button>Filter</button>
        </p>
        <div>
        <p>Showing {{page_obj.object_list|length}} of {{page_obj.paginator.count}} orders</p>
            {% include 'orders/pagination_navigation.html' %}
        </div>
    </form>
</div>

<table class="orders">
    <thead>
        <tr>
            <th>SKU</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Country</th>
            <th>Status</th>
            <th>Fulfillment Date</th>
            <th>Fulfilled By</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for order in object_list %}
        <tr class="order">
            <th>{{ order.product_SKU }} </th>
            <th>
                {% if order.closed_at == None %}
                <a href="{% url 'fba:update_fba_order' order.id %}">{{ order.product_name }}</a>
                {% else %}
                {{ order.product_name }}
                {% endif %}
            </th>
            <td>{{ order.aproximate_quantity}}</td>
            <td>{{ order.region }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.closed_at|date:"Y-m-d H:i" }}</td>
            <td>
                {% if order.fulfilled_by != None %}
                {{ order.fulfilled_by }}
                {% endif %}
            </td>
            {% if order.closed_at == None %}
            <td>
                <a href="{% url 'fba:fulfill_fba_order' order.id %}"><button>Fulfill</button></a>
            </td>
            <td>
                {% if order.status != order.FULFILLED %}
                <a href="{% url 'fba:delete_order' order.pk %}"><button>Delete</button></a>
                {% endif %}
            </td>
            {% else %}
                <th colspan="2">Closed</td>
            {% endif %}
            <td>
                <a href="{% url 'fba:repeat_order' order.pk %}"><button>Repeat</button></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<form action="" id="filter">
{% include 'orders/pagination_navigation.html' %}
</form>
{% endblock content %}
