{% extends 'fba/base.html' %}

{% block content %}{{ block.super }}

<h1>{% if form.instance.id %}Edit{% elif to_repeat%}Repeat{% else %}Create{% endif %} FBA Order</h1>

<h2>{{ product.sku}} - {{ product.full_name }}</h2>

{% if form.instance.id and form.instance.status != form.instance.ON_HOLD %}
<a href="{% url 'fba:fulfill_fba_order' form.instance.id %}">
    {% if form.instance.status == form.instance.NOT_PROCESSED or form.instance.status == form.instance.AWAITING_BOOKING %}
    <button>Fulfill Order</button>
    {% else %}
    <button>Complete Order</button>
    {% endif %}
</a>
<button class="prioritise" id="prioritise_{{ form.instance.pk }}">Prioritise</button>
<a href="{% url 'fba:repeat_order' form.instance.id %}"><button>Repeat Order</button></a>
{% if form.instance.status != form.instance.FULFILLED %}
<a href="{% url 'fba:delete_order' form.instance.id %}"><button class="error">DELETE ORDER</button></a>
{% elif form.instance.country.region.auto_close %}
<a href="{% url 'fba:shipping_price' form.instance.id %}"><button>Add Shipping Price</button></a>
{% endif %}
{% if form.instance.tracking_number and form.instance.fulfillment_center %}
<a href="{% url 'fba:invoice' form.instance.pk %}"><button>Invoice</button></a>
{% endif %}
{% endif %}

<img src="{% if form.instance.id %}{{ form.instance.product_image_url }}{% else %}{{ image_url }}{% endif %}" alt=""
    height="200">

<div class="fba_order_form_container">

    <div class="price_calculator">

        <p>
            <label for="stock_level">Stock Level</label>
            <input type="number" step="1" name="stock_level" id="stock_level" value="{{ product.stock_level }}"
                disabled>
        </p>

        <p>
            <label for="weight">Weight</label>
            <input type="number" step="1" name="weight" id="weight" value="{{ product.weight }}" disabled>
        </p>

        <p>
            <label for="purchase_price">Purchase Price</label>
            <span class="currency_symbol"></span>
            <input type="number" step="0.01" name="purchase_price" value="{{ product.purchase_price }}"
                id="purchase_price" disabled>
        </p>

        <p>
            <label for="profit">Profit £</label>
            <input type="number" step="0.01" name="profit" id="profit" disabled>
        </p>

        <p>
            <label for="percentage">Profit Percentage</label>
            <span>%</span>
            <input type="number" step="0.01" name="percentage" id="percentage" disabled>
        </p>

        <p>
            <label for="channel_fee">Channel Fee</label>
            <span class="currency_symbol"></span>
            <input type="number" step="0.01" name="channel_fee" id="channel_fee" disabled>
        </p>

        <p>
            <label for="vat">VAT</label>
            <span class="currency_symbol"></span>
            <input type="number" step="0.01" name="vat" id="vat" disabled>
        </p>

        <p>
            <label for="postage_to_fba">Total Postage</label>
            <span>£</span>
            <input type="number" step="0.01" name="postage_to_fba" id="postage_to_fba" disabled>
        </p>

        <p>
            <label for="postage_per_item">Postage Per Item</label>
            <span>£</span>
            <input type="number" step="0.01" name="postage_per_item" id="postage_per_item" disabled>
        </p>

        <p>
            <label for="max_quantity">Maximum Sendable</label>
            <input type="number" class="max_quantity" id="max_quantity" disabled>
        </p>

        <p>
            <label for="max_quantity_no_stock">Maximum Sendable (Ignoring Stock Level)</label>
            <input type="number" class="max_quantity_no_stock" id="max_quantity_no_stock" disabled>
        </p>

    </div>

    <div class="fba_order_form">
        <form action="" method="POST">{% csrf_token %}
            {{ form.as_p }}
            {% if form.instance.id %}
            <button>Update</button>
            {% else %}
            <button>Create</button>
            {% endif %}
        </form>
    </div>

    {% if to_repeat %}
    <div class="fba_order_form">
        <form action="">
            <p>
                <label for="prev_aprox_quantity">Aproximate Quantity</label>
                <input type="text" name="prev_aprox_quantity" value="{{ to_repeat.aproximate_quantity }}" size="5"
                    disabled>
            </p>
            <p>
                <label for="quantity_sent">Quantity Sent</label>
                <input type="text" name="quantity_sent"
                    value="{% if to_repeat.quantity_sent %}{{ to_repeat.quantity_sent }}{% else %}Not yet sent{% endif %}"
                    disabled>
            </p>
            <p>
                <textarea disabled>
            {{ to_repeat.notes }}
            </textarea>
            </p>
        </form>
    </div>
    {% endif %}

</div>

{% if form.instance.status == form.instance.CLOSED or form.instance.status == form.instance.FULFILLED %}
{% include 'fba/fba_order_manage_shipments.html' with fba_order=form.instance %}
{% endif %}

{% endblock content %}

{% block script %}

<script>
    function refresh_calculator() {
        var data = {
            "sku": "{{ product.sku }}",
            "zero_rated": {
                %
                if product.vat_rate == 0 %
            }
            true {
                %
                else %
            }
            false {
                %
                endif %
            },
            "selling_price": $("#{{ form.selling_price.auto_id }}").val(),
            "country": $("#{{ form.country.auto_id }}").val(),
            "purchase_price": {
                {
                    product.purchase_price
                }
            },
            "quantity": $("#{{ form.aproximate_quantity.auto_id }}").val(),
            "fba_fee": $("#{{ form.FBA_fee.auto_id }}").val(),
            "weight": {
                {
                    product.weight
                }
            },
            "stock_level": {
                {
                    product.stock_level
                }
            }
        }
        if ((data["selling_price"] === "") || (data["fba_fee"] === "") || (data["country"] === "")) {
            return
        }
        $.ajax({
            url: "{% url 'fba:price_calculator' %}",
            type: "POST",
            dataType: "JSON",
            data: data,
            success: function (result) {
                $("#purchase_price").val(result["purchase_price"]);
                $("#channel_fee").val(result["channel_fee"]);
                $("#vat").val(result["vat"]);
                $("#postage_to_fba").val(result["postage_to_fba"]);
                $("#postage_per_item").val(result["postage_per_item"]);
                $("#profit").val(result["profit"]);
                $("#percentage").val(result["percentage"]);
                $("#max_quantity").val(result["max_quantity"]);
                $("span.currency_symbol").text(result["currency_symbol"]);
                $("#max_quantity_no_stock").val(result["max_quantity_no_stock"]);
                var aprox_quantity = $("#{{ form.aproximate_quantity.auto_id }}");
                var aprox_quantity_val = aprox_quantity.val();
                if (aprox_quantity_val === "") {
                    aprox_quantity.val(result["max_quantity"]);
                }
                var on_hold = $("#{{ form.on_hold.auto_id }}").parent();
                if (aprox_quantity_val > {
                        {
                            product.stock_level
                        }
                    }) {
                    on_hold.addClass("error");
                } else {
                    on_hold.removeClass("error");
                }
            }
        })
    }

    $(document).ready(function () {
        $("#profit").parent().css("font-weight", "bold");
        $("#profit").css("font-weight", "bold");

        $('input,textarea,select').filter('[required]').filter(':enabled').parent().find("label").addClass(
            "required");
        $('form').submit(function (e) {
            if (!confirm(
                    "Are you sure you want to {% if form.instance.id %}update{% else %}create{% endif %} this FBA order?"
                )) {
                e.preventDefault();
            }
        });

        $("#{{ form.country.auto_id }}").change(function () {
            $("#{{ form.aproximate_quantity.auto_id }}").val("");
            refresh_calculator();
        });

        $("#{{ form.selling_price.auto_id }}").change(function () {
            refresh_calculator();
        });

        $("#{{ form.aproximate_quantity.auto_id }}").change(function () {
            refresh_calculator();
        });

        $("#{{ form.FBA_fee.auto_id }}").change(function () {
            refresh_calculator();
        });

        $(".prioritise").click(function () {
            var order_id = $(this).attr("id").split("_").pop();
            $.ajax({
                url: "{% url 'fba:priortise_fba_order' %}",
                data: {
                    'order_id': order_id
                },
                type: "GET",
                success: function (response) {
                    alert("Order set to top priority")
                }
            })
        });

        refresh_calculator();

    });
</script>

{% endblock script %}