{% extends 'fba/base.html' %}

{% block content %}{{ block.super }}

<div class="fba_order_form_container">
    <div class="fba_order_form">
        <form action="" method="POST">{% csrf_token %}
            {{ form.as_p }}
            {% if form.instance.id %}
            <button>Update</button>
            {% else %}
            <button>Create</button>
            {% endif %}
        </form>
    </div>

    <div class="price_calculator">

        <p>
            <label for="purchase_price">Purchase Price</label>
            <span class="currency_symbol"></span>
            <input type="number" step="0.01" name="purchase_price" value="{{ product.purchase_price }}" id="purchase_price" disabled>
        </p>

        <p>
            <label for="channel_fee">Channel Fee</label>
            <span class="currency_symbol"></span>
            <input type="number" step="0.01" name="channel_fee" id="channel_fee" disabled>
        </p>

        <p>
            <label for="vat">VAT</label>
            <span class="currency_symbol"></span>
            <input type="number" step="0.01" name="vat" id="vat" disabled>
        </p>
        
        <p>
            <label for="profit">Profit</label>
            <span class="currency_symbol"></span>
            <input type="number" step="0.01" name="profit" id="profit" disabled>
        </p>
        
        <p>
            <label for="percentage">Percentage</label>
            <span>%</span>
            <input type="number" step="0.01" name="percentage" id="percentage" disabled>
        </p>
        
        <p>
            <label for="postage_to_fba">Postage to FBA</label>
            <span class="currency_symbol"></span>
            <input type="number" step="0.01" name="postage_to_fba" id="postage_to_fba" disabled>
        </p>
        
        <p>
            <label for="postage_per_item">Postage Per Item</label>
            <span class="currency_symbol"></span>
            <input type="number" step="0.01" name="postage_per_item" id="postage_per_item" disabled>
        </p>

        <p>
            <label for="stock_level">Stock Level</label>
            <input type="number" step="1" name="stock_level" id="stock_level" value="{{ product.stock_level }}" disabled>
        </p>

        <p>
            <label for="max_quantity">Maximum Sendable</label>
            <input type="number" class="max_quantity" id="max_quantity" disabled>
        </p>

        <p>
            <label for="max_quantity_no_stock">Maximum Sendable (Ignoring Stock Level)</label>
            <input type="number" class="max_quantity_no_stock" id="max_quantity_no_stock" disabled>
        </p>

    </div>
</div>
{% endblock content %}

{% block script %}
{% if not form.instance.id %}
<script>

    function refresh_calculator() {
        var data = {
            "selling_price": $("#{{ form.selling_price.auto_id }}").val(),
            "country": $("#{{ form.country.auto_id }}").val(),
            "purchase_price": {{ product.purchase_price }},
            "quantity": $("#{{ form.aproximate_quantity.auto_id }}").val(),
            "fba_fee": $("#{{ form.FBA_fee.auto_id }}").val(),
            "weight": {{ product.weight }},
            "stock_level": {{ product.stock_level }}
        }
        if ((data["selling_price"] === "") || (data["fba_fee"] === "") || (data["country"] === "")) {
            return
        }
        $.ajax({
            url: "{% url 'fba:price_calculator' %}",
            type: "POST",
            dataType: "JSON",
            data: data,
            success: function(result) {
                $("#purchase_price").val(result["purchase_price"]);
                $("#channel_fee").val(result["channel_fee"]);
                $("#vat").val(result["vat"]);
                $("#postage_to_fba").val(result["postage_to_fba"]);
                $("#postage_per_item").val(result["postage_per_item"]);
                $("#profit").val(result["profit"]);
                $("#percentage").val(result["percentage"]);
                $("#max_quantity").val(result["max_quantity"]);
                $("span.currency_symbol").text(result["currency_symbol"]);
                $("#max_quantity_no_stock").val(result["max_quantity_no_stock"]);
                var aprox_quantity = $("#{{ form.aproximate_quantity.auto_id }}")
                if (aprox_quantity.val() === ""){
                    aprox_quantity.val(result["max_quantity"]);
                }
            }
        })
    }

    $(document).ready(function() {
        $("#profit").parent().css("font-weight", "bold");
        $("#profit").css("font-weight", "bold");

        $('input,textarea,select').filter('[required]').filter(':enabled').parent().find("label").addClass("required");
        $('form').submit(function(e) {
            if (!confirm("Are you sure you want to create this FBA order?")) {
                e.preventDefault();
            }
        });

        $("#{{ form.country.auto_id }}").change(function() {
            $("#{{ form.aproximate_quantity.auto_id }}").val("");
            refresh_calculator();
        });

        $("#{{ form.selling_price.auto_id }}").change(function() {
            refresh_calculator();
        });

        $("#{{ form.aproximate_quantity.auto_id }}").change(function() {
            refresh_calculator();
        });

        $("#{{ form.FBA_fee.auto_id }}").change(function() {
            refresh_calculator();
        });
    });
</script>
{% endif %}
{% endblock script %}
