{% extends "fba/base.html" %}

{% block content %}
    {{ block.super }}
    <div class="container">
        <h3 class="display-3 mb-3">
            {% if form.instance.id %}
                Edit
            {% elif to_repeat %}
                Repeat
            {% else %}
                Create
            {% endif %}
            FBA Order
        </h3>
        <div class="fs-3">
            {% if form.instance.pk %}
                {% with order=form.instance %}
                    <span class="badge bg-{% if order.status == order.READY %}success{% elif order.status == order.PRINTED %}primary{% elif order.status == order.ON_HOLD or order.status == order.STOPPED %}danger{% else %}dark{% endif %}">
                        {{ order.status }}
                    </span>
                {% endwith %}
            {% endif %}
            {% if product.is_flammable %}<span class="badge bg-danger">Flammable</span>{% endif %}
        </div>
 
        {% if form.instance.id %}<span>{{ form.instance.region.flag }}</span>{% endif %}
        <div>
            <span class="fs-5 font-monospace user-select-all align-bottom">{{ product.sku }}</span><a href="{% url "inventory:edit_product" product.pk %}"
   target="_blank"
   class="btn btn-primary btn-sm ms-5">Edit</a>
        </div>
        <div class="fs-3">
            <span class="user-select-all">{{ product.product_range.name }}</span>
            {% if product.is_archived %}
                <span class="badge bg-secondary">Archived</span>
            {% elif product.is_end_of_line %}
                <span class="badge bg-danger">End of Line</span>
            {% endif %}
        </div>
 
        <div class="mb-5">
            {% if product.supplier_sku %}
                <span class="me-2">
                    <span class="text-muted">Supplier SKU:&nbsp;</span><span class="fw-bold">{{ product.supplier_sku }}</span>
                </span>
            {% endif %}
            {% for option, value in product.variation.items %}
                <span class="me-2">
                    <span class="text-muted">{{ option }}:&nbsp;</span><span class="fw-bold">{{ value }}</span>
                </span>
            {% endfor %}
        </div>
        <div class="m-2">
            {% if form.instance.id %}
                <div>
                    ASIN: <span class="font-monospace user-select-all">{{ form.instance.product_asin }}</span>
                </div>
            {% endif %}
            <div>
                Barcode: <span class="font-monospace user-select-all">{{ product.barcode }}</span>
            </div>
            <div>Supplier: {{ product.supplier }}</div>
        </div>
        <div class="m-2">
            {% if form.instance.id and form.instance.status != form.instance.ON_HOLD %}
                <a href="{% url 'fba:fulfill_fba_order' form.instance.id %}"
                   class="btn btn-primary">
                    {% if form.instance.status == form.instance.NOT_PROCESSED or form.instance.status == form.instance.READY %}
                        Fulfill Order
                    {% else %}
                        Complete Order
                    {% endif %}
                </a>
                <button class="prioritise btn btn-primary"
                        id="prioritise_{{ form.instance.pk }}">Prioritise</button>
                <a href="{% url 'fba:repeat_order' form.instance.id %}"
                   class="btn btn-primary">Repeat Order</a>
                {% if form.instance.status != form.instance.FULFILLED %}
                    <a href="{% url 'fba:delete_order' form.instance.id %}"
                       class="btn btn-danger">DELETE ORDER</a>
                {% endif %}
                {% if form.instance.tracking_number and form.instance.fulfillment_center %}
                    <a href="{% url 'fba:invoice' form.instance.pk %}"
                       class="btn btn-primary">Invoice</a>
                {% endif %}
            {% endif %}
        </div>
        {% if form.instance.id == none %}
            <div class="badge bg-danger fs-4">Current FBA Orders for this Product: {{ existing_order_count }}</div>
        {% endif %}

        {% if form.instance.status == form.instance.STOPPED %}
            <div class="p-2 mb-3 bg-light rounded border border-1 border-danger col-lg-9">
                <div>
                    <span class="me-2">Stopped at:</span><span>{{ form.instance.stopped_at }}</span>
                </div>
                <div>
                    <span class="me-2">Stopped until:</span><span>{{ form.instance.stopped_until }}</span>
                </div>
                <div>
                    <span class="me-2">Reason:</span>
                </div>
                <div class="ms-5">{{ form.instance.stopped_reason }}</div>
            </div>
        {% endif %}
 
        <div class="row mt-3">
 
            <div class="col-4">
                <div class="fba_order_form_container">

                    <div class="price_calculator p-3 border rounded">
 
                        <div class="input-group mb-3">
                            <span class="input-group-text" for="stock_level">Stock Level</span>
                            <input class="form-control"
                                   type="number"
                                   step="1"
                                   name="stock_level"
                                   id="stock_level"
                                   value="{{ stock_level }}"
                                   disabled>
                        </div>
 
                        <div class="input-group mb-3">
                            <span class="input-group-text" for="weight">Weight</span>
                            <input class="form-control"
                                   type="number"
                                   step="1"
                                   name="weight"
                                   id="weight"
                                   value="{{ product.weight_grams }}"
                                   disabled>
                        </div>
 
                        <div class="input-group mb-3">
                            <span class="input-group-text" for="purchase_price">Purchase Price</span>
                            <span class="currency_symbol input-group-text"></span>
                            <input class="form-control"
                                   type="number"
                                   step="0.01"
                                   name="purchase_price"
                                   value="{{ product.purchase_price }}"
                                   id="purchase_price"
                                   disabled>
                        </div>
 
                        <div class="input-group mb-3">
                            <span class="input-group-text" for="profit">Profit £</span>
                            <input class="form-control"
                                   type="number"
                                   step="0.01"
                                   name="profit"
                                   id="profit"
                                   disabled>
                        </div>
 
                        <div class="input-group mb-3">
                            <span class="input-group-text" for="percentage">Profit Percentage</span>
                            <input class="form-control"
                                   type="number"
                                   step="0.01"
                                   name="percentage"
                                   id="percentage"
                                   disabled>
                            <span class="input-group-text">%</span>
                        </div>
 
                        <div class="input-group mb-3">
                            <span class="input-group-text" for="channel_fee">Channel Fee</span>
                            <span class="currency_symbol input-group-text"></span>
                            <input class="form-control"
                                   type="number"
                                   step="0.01"
                                   name="channel_fee"
                                   id="channel_fee"
                                   disabled>
                        </div>
 
                        <div class="input-group mb-3">
                            <span class="input-group-text" for="vat">VAT</span>
                            <span class="currency_symbol input-group-text"></span>
                            <input class="form-control"
                                   type="number"
                                   step="0.01"
                                   name="vat"
                                   id="vat"
                                   disabled>
                        </div>
 
                        <div class="input-group mb-3">
                            <span class="input-group-text" for="postage_to_fba">Total Postage</span>
                            <span class="input-group-text">£</span>
                            <input class="form-control"
                                   type="number"
                                   step="0.01"
                                   name="postage_to_fba"
                                   id="postage_to_fba"
                                   disabled>
                        </div>
 
                        <div class="input-group mb-3">
                            <span class="input-group-text" for="postage_per_item">Postage Per Item</span>
                            <span class="input-group-text">£</span>
                            <input class="form-control"
                                   type="number"
                                   step="0.01"
                                   name="postage_per_item"
                                   id="postage_per_item"
                                   disabled>
                        </div>
 
                        <div class="input-group mb-3">
                            <span class="input-group-text" for="max_quantity">Maximum Sendable</span>
                            <input class="form-control max_quantity"
                                   type="number"
                                   id="max_quantity"
                                   disabled>
                        </div>
 
                        <div class="input-group mb-3">
                            <span class="input-group-text" for="max_quantity_no_stock">Sendable Ignoring Stock Level</span>
                            <input class="form-control max_quantity_no_stock"
                                   type="number"
                                   id="max_quantity_no_stock"
                                   disabled>
                        </div>
 
                    </div>
                </div>
            </div>
 
            <div class="col-5">
                <div class="fba_order_form p-3 rounded border">
                    <form action="" method="post">
                        {% csrf_token %}
                        {% include "home/bootstrap_input_group_form.html" %}
                        <button class="btn btn-primary form-control">
                            {% if form.instance.id %}
                                Update
                            {% else %}
                                Create
                            {% endif %}
                        </button>
                    </form>
                </div>
            </div>
 
            <div class="col">
                {% with product.get_primary_image as product_image %}
                    {% if product_image %}
                        <img src="{{ product_image.image_file.url }}"
                             alt=""
                             height="200"
                             width=""
                             class="img border rounded">
                    {% endif %}
                {% endwith %}
            </div>
        </div>
 
        {% if to_repeat %}
            <div class="fba_order_form">
                <form action="">
                    <div class="input-group mb-3">
                        <span class="input-group-text" for="prev_aprox_quantity">Aproximate Quantity</span>
                        <input class="form-control"
                               type="text"
                               name="prev_aprox_quantity"
                               value="{{ to_repeat.aproximate_quantity }}"
                               size="5"
                               disabled>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" for="quantity_sent">Quantity Sent</span>
                        <input class="form-control"
                               type="text"
                               name="quantity_sent"
                               value="{% if to_repeat.quantity_sent %}{{ to_repeat.quantity_sent }}{% else %}Not yet sent{% endif %}"
                               disabled>
                    </div>
                    <div class="input-group mb-3">
                        <textarea disabled>
            {{ to_repeat.notes }}
            </textarea>
                    </div>
                </form>
            </div>
        {% endif %}

    </div>
{% endblock content %}

{% block script %}

    <script>
    function refresh_calculator() {
        var data = {
            "sku": "{{ product.sku }}",
            "zero_rated": ("{% if product.vat_rate.percentage == 0 %}true{% else %}false{% endif %}") === "true",
            "selling_price": $("#{{ form.selling_price.auto_id }}").val(),
            "region": $("#{{ form.region.auto_id }}").val(),
            "purchase_price": parseFloat("{{ product.purchase_price }}"),
            "quantity": $("#{{ form.aproximate_quantity.auto_id }}").val(),
            "fba_fee": $("#{{ form.FBA_fee.auto_id }}").val(),
            "weight": parseFloat("{{ product.weight_grams }}"),
            "stock_level": parseInt("{{ stock_level }}")
        }
        if ((data["selling_price"] === "") || (data["fba_fee"] === "") || (data["country"] === "")) {
            return
        }
        $.ajax({
            url: "{% url 'fba:price_calculator' %}",
            type: "POST",
            dataType: "JSON",
            data: data,
            success: function (result) {
                $("#purchase_price").val(result["purchase_price"]);
                $("#channel_fee").val(result["channel_fee"]);
                $("#vat").val(result["vat"]);
                $("#postage_to_fba").val(result["postage_to_fba"]);
                $("#postage_per_item").val(result["postage_per_item"]);
                $("#profit").val(result["profit"]);
                $("#percentage").val(result["percentage"]);
                $("#max_quantity").val(result["max_quantity"]);
                $("span.currency_symbol").text(result["currency_symbol"]);
                $("#max_quantity_no_stock").val(result["max_quantity_no_stock"]);
                var aprox_quantity = $("#{{ form.aproximate_quantity.auto_id }}");
                var aprox_quantity_val = aprox_quantity.val();
                if (aprox_quantity_val === "") {
                    aprox_quantity.val(result["max_quantity"]);
                }
                var on_hold = $("#{{ form.on_hold.auto_id }}").parent();
                if (aprox_quantity_val > parseInt("{{ stock_level }}")) {
                    on_hold.addClass("error");
                } else {
                    on_hold.removeClass("error");
                }
            }
        })
    }

    $(document).ready(function () {
        $("#profit").parent().css("font-weight", "bold");
        $("#profit").css("font-weight", "bold");

        $('input,textarea,select').filter('[required]').filter(':enabled').parent().find("label").addClass(
            "required");
        $('form').submit(function (e) {
            if (!confirm(
                    "Are you sure you want to {% if form.instance.id %}update{% else %}create{% endif %} this FBA order?"
                )) {
                e.preventDefault();
            }
        });

        $("#{{ form.country.auto_id }}").change(function () {
            $("#{{ form.aproximate_quantity.auto_id }}").val("");
            refresh_calculator();
        });

        $("#{{ form.selling_price.auto_id }}").change(function () {
            refresh_calculator();
        });

        $("#{{ form.aproximate_quantity.auto_id }}").change(function () {
            refresh_calculator();
        });

        $("#{{ form.FBA_fee.auto_id }}").change(function () {
            refresh_calculator();
        });

        $(".prioritise").click(function () {
            var order_id = $(this).attr("id").split("_").pop();
            $.ajax({
                url: "{% url 'fba:priortise_fba_order' %}",
                data: {
                    'order_id': order_id
                },
                type: "GET",
                success: function (response) {
                    alert("Order set to top priority")
                }
            })
        });

        refresh_calculator();

    });
    </script>

{% endblock script %}
