{% extends 'fba/base.html' %}

{% block content %}{{ block.super }}

<h1>Fulfill FBA Order</h1>

<h3>{{ form.instance.product_SKU }} - {{ form.instance.product_name }}</h3>
<h3>ASIN: {{ form.instance.product_asin }}</h3>
<h2>Supplier: {{ form.instance.product_supplier }}</h2>
{% if form.instance.closed_at %}<h2>CLOSED: {{ form.instance.closed_at }}</h2>{% endif %}

<a href="{% url 'fba:order_printout' form.instance.pk %}" target="_blank">
    <button class="print_button">{% if form.instance.printed is False %}Print{% else %}Reprint{% endif %}</button></a>
{% if form.instance.printed is True %}
&nbsp;
<a href="{% url 'fba:unmark_printed' form.instance.id %}?next={{ request.path }}">
    <button>Unmark printed</button></a>
{% endif %}

<img src="{{ form.instance.product_image_url }}" alt="" height="200">

<div class="fba_order_form_container">
    <div class="order_details">
        <p>
            <label for="country">Country</label>
            <input type="text" name="country" value="{{ form.instance.region.name }}" disabled>
        </p>
        <p>
            <label for="product_weight">Product Weight (g)</label>
            <input type="text" name="product_weight" value="{{ form.instance.product_weight }}" size="5">
        </p>
        <p>
            <label for="hs_code">HS Code</label>
            <input type="text" name="hs_code" value="{{ form.instance.product_hs_code }}">
        </p>
        <p>
            <label for="locations">Locations</label>
            <input type="text" name="locations" value="{{ bays }}" disabled>
        </p>
        <p>
            <label for="approximate_quantity">Approximate Qauantity</label>
            <input type="number" name="approximate_quantity" value="{{ form.instance.aproximate_quantity }}" disabled>
        </p>
        <p>
            <label for="weight_lb">Box Weight (lb)</label>
            <input type="number" name="weight_lb" id="weight_lb" disabled>
        </p>
        <p>
            <label for="selling_price">Selling Price {{ form.instance.region.currency.symbol }}</label>
            <input type="text" name="selling_price", id="selling_price" value="{{ selling_price }}" size="5" disabled>
        </p>

        {% if form.instance.small_and_light is True %}
        <h3 class="error">SMALL AND LIGHT</h3>
        {% endif %}
    </div>
    <div class="fba_order_form">
        <form action="" method="POST">{% csrf_token %}
            {{ form.as_p }}
            {% if not form.instance.closed_at %}
                {% if form.instance.region.auto_close %}
                    <button>Fulfill</button>
                    {% else %}
                    <button>Update</button>
                    {% if form.instance.details_complete %}
                    <button name="collection_booked">Collection Booked</button>
                    {% endif %}
                {% endif %}
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}

{% block script %}

<script>

    function printExternal(url) {
        var printWindow = window.open( url, 'Print', 'left=200, top=200, width=950, height=500, toolbar=0, resizable=0');
        printWindow.addEventListener('load', function(){
            location.reload();
            printWindow.print();
        }, true);
    }

    $(document).ready(function() {
        $('input,textarea,select').filter('[required]').parent().find("label").addClass("required");

        $("#{{ form.box_weight.auto_id }}").change(function() {
            $("#weight_lb").val($(this).val() * 2.20462)
        });
        $("#{{ form.box_weight.auto_id }}").change();

        $(".print_button").click(function(e) {
            e.preventDefault();
            printExternal("{% url 'fba:order_printout' form.instance.id %}");
        });

    });
</script>
{% endblock script %}