{% extends "fba/base.html" %}

{% block content %}

    <div class="container">
        <h1 class="display-1 mb-5">FBA</h1>

        <div class="list-group col-6">
            <a class="list-group-item" href="{% url 'fba:awaiting_fulfillment' %}">Fulfill an FBA Order</a>
            <a class="list-group-item"
               href="{% url 'fba:select_product_for_order' %}">Create an FBA Order</a>
            <a class="list-group-item" href="{% url 'fba:order_list' %}">Manage FBA Orders</a>
            <a class="list-group-item" href="{% url 'fba:shipments' %}">Manage Shipments</a>
        </div>
 
    </div>

{% endblock content %}
