{% extends 'fba/base.html' %}
{% load orders_extras %}

{% block content %}

<h1>On Hold</h1>

<div class="filter">
    <form action="" method="GET" id="filter">
        {{ form.as_p }}
        <p>
            <button>Filter</button>
        </p>
        <div>
        <p>Showing {{page_obj.object_list|length}} of {{page_obj.paginator.count}} orders</p>
            {% include 'orders/pagination_navigation.html' %}
        </div>
    </form>
</div>

<table class="orders">
    <thead>
        <tr>
            <th colspan="5"></th>
            <th colspan="4">Quantity</th>
            <th colspan="4"></th>
        </tr>
        <tr>
            <th>SKU</th>
            <th>Name</th>
            <th></th>
            <th>Supplier</th>
            <th>Created</th>
            <th>Aprox</th>
            <th>Stock</th>
            <th>Pending</th>
            <th>Available</th>
            <th colspan="4"></th>
        </tr>
    </thead>
    <tbody>
        {% for order in object_list %}
        <tr class="order">
            <th>{{ order.product_SKU }} </th>
            <th>
                {% if order.closed_at == None %}
                <a href="{% url 'fba:update_fba_order' order.id %}">{{ order.product_name }}</a>
                {% else %}
                {{ order.product_name }}
                {% endif %}
            </th>
            <td>{{ order.region.flag }}</td>
            <td>{{ order.product_supplier }}</td>
            <td>{{ order.created_at|date:"Y-m-d H:i" }}</td>
            <td>{{ order.aproximate_quantity }}</td>
            <td class="stock_level">{{ order.stock_level }}</td>
            <td class="pending_stock">{{ order.pending_stock }}</td>
            <td class="current_stock">{{ order.current_stock }}</td>
            <td>
                <button class="take_off_hold" name="{{ order.id }}">Take off Hold</button>
            </td>
            <td>
                {% if order.status != order.FULFILLED %}
                <a href="{% url 'fba:delete_order' order.pk %}"><button>Delete</button></a>
                {% endif %}
            </td>
            <td><a href="{% url 'fba:update_fba_order' order.pk %}"><button>View</button></a></td>
            <td>
                <a href="{% url 'fba:repeat_order' order.pk %}"><button>Repeat</button></a>
            </td>
            <td class="product_id" hidden>{{ order.product_ID }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<form action="" id="filter">
{% include 'orders/pagination_navigation.html' %}
</form>
{% endblock content %}

{% block script %}

<script>

    function get_stock(n){
        var row = $('.orders tbody tr:nth-child(' + n +')');
        var product_id = row.find('.product_id').text();
        $.get("{% url 'fba:product_stock' %}?product_id="+product_id, function(data){
            row.find('.stock_level').html(data['stock_level']);
            row.find('.pending_stock').html(data['pending_stock']);
            row.find('.current_stock').html(data['current_stock']);
            if (n < $('.orders tbody tr').length) {
                get_stock(n+1);
            }
        });

    }

    $(document).ready(function(){
        $(".take_off_hold").click(function() {
            var order_id = $(this).attr('name');
            var button = $(this);
            $.get("{% url 'fba:take_off_hold' %}?order_id=" + order_id, function(response){
                console.log("Take off" + order_id);
                console.log(response);
                if (response == "ok") {
                    var row = button.closest("tr");
                    row.hide();
                } else {
                    alert("Error taking order off hold")
                }
            });
        });
        get_stock(1);
    });

</script>

{% endblock script %}


