{% extends 'fba/base.html' %}
{% load orders_extras %}

{% block content %}

<h1>On Hold</h1>

<div class="filter">
    <form action="" method="GET" id="filter">
        {{ form.as_p }}
        <p>
            <button>Filter</button>
        </p>
    </form>
        <div>
            <p>Showing {{page_obj.object_list|length}} of {{page_obj.paginator.count}} orders</p>
            {% include 'orders/pagination_navigation.html' %}
        </div>
</div>

<table class="orders">
    <thead>
        <tr>
            <th colspan="6"></th>
            <th colspan="4">Quantity</th>
            <th colspan="4"></th>
        </tr>
        <tr>
            <th>SKU</th>
            <th>Name</th>
            <th></th>
            <th>Supplier</th>
            <th>ASIN</th>
            <th>Created</th>
            <th>Aprox</th>
            <th>Total Stock</th>
            <th>In Orders</th>
            <th>Available</th>
            <th colspan="4"></th>
        </tr>
    </thead>
    <tbody>
        {% for order in object_list %}
        <tr class="order">
            <th>{{ order.product_SKU }} </th>
            <th>
                {% if order.closed_at == None %}
                <a href="{% url 'fba:update_fba_order' order.id %}">{{ order.product_name }}</a>
                {% else %}
                {{ order.product_name }}
                {% endif %}
            </th>
            <td>{{ order.region.flag }}</td>
            <td>{{ order.product_supplier }}</td>
            <td>{{ order.product_asin }}</td>
            <td>{{ order.created_at|date:"Y-m-d H:i" }}</td>
            <td>{{ order.aproximate_quantity }}</td>
            <td class="total_stock" id="total_stock_{{ order.pk }}">
                <i class="fa-solid fa-spinner fa-spin-pulse fa-xs"></i>
            </td>
            <td class="in_order_stock" id="in_order_stock_{{ order.pk }}">
                <i class="fa-solid fa-spinner fa-spin-pulse fa-xs"></i>
            </td>
            <td class="available_stock" id="available_stock_{{ order.pk }}">
                <i class="fa-solid fa-spinner fa-spin-pulse fa-xs"></i>
            </td>
            <td>
                <button class="take_off_hold" name="{{ order.id }}">Take off Hold</button>
            </td>
            <td>
                {% if order.status != order.FULFILLED %}
                <a href="{% url 'fba:delete_order' order.pk %}"><button>Delete</button></a>
                {% endif %}
            </td>
            <td><a href="{% url 'fba:update_fba_order' order.pk %}"><button>View</button></a></td>
            <td>
                <a href="{% url 'fba:repeat_order' order.pk %}"><button>Repeat</button></a>
            </td>
            <td class="product_sku" hidden>{{ order.product_SKU }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'orders/pagination_navigation.html' %}

{% endblock content %}

{% block script %}

<script>
    function get_stock_levels() {
        order_ids = [{% for order in object_list  %}{{ order.id }}, {% endfor %}]
        $.ajax({
            type: "POST",
            url: "{% url 'fba:get_stock_levels' %}",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({ order_ids: order_ids }),
            success: function (response) {
              $.each(response, function (order_id, stock_level_info) {
                $('#total_stock_' + order_id).html(stock_level_info.total);
                $('#available_stock_' + order_id).html(stock_level_info.available);
                $('#in_order_stock_' + order_id).html(stock_level_info.in_orders);
              });
            },
            error: function (response) {
              alert("Error getting stock level.")
            },
          });
    }

    $(document).ready(function () {
        $(".take_off_hold").click(function () {
            var order_id = $(this).attr('name');
            var button = $(this);
            $.get("{% url 'fba:take_off_hold' %}?order_id=" + order_id, function (response) {
                console.log("Take off" + order_id);
                console.log(response);
                if (response == "ok") {
                    var row = button.closest("tr");
                    row.hide();
                } else {
                    alert("Error taking order off hold")
                }
            });
        });
        get_stock_levels();
    });
</script>

{% endblock script %}