{% extends "fba/base.html" %}
{% load orders_extras %}

{% block content %}

    <div class="container">
        <h3 class="display-3 mb-5">Stopped</h3>

        <div class="mb-3">
            <form action="" method="get" id="filter">
                {% include "home/bootstrap_inline_form.html" %}
                <button class="btn btn-primary form-control">Filter</button>
            </form>
        </div>

        {% include "home/pagination_navigation.html" %}

        <table class="table table-light table-hover table-sm mb-3">
            <thead class="table-primary">
                <tr>
                    <th>Order</th>
                    <th>Supplier</th>
                    <th>Created</th>
                    <th>Quantity</th>
                    <th>Status</th>
                    <th>Total Stock</th>
                    <th>In Orders</th>
                    <th>Available</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for order in object_list %}
                    <tr class="order">
                        <td>
                            <div>
                                <small class="font-monospace user-select-all me-3">{{ order.product.sku }}</small>
                                {% if order.status == order.ON_HOLD %}<div class="badge bg-danger me-3">On Hold</div>{% endif %}
                                {% if order.is_fragile %}<div class="badge bg-danger me-3">Fragile</div>{% endif %}
                                {% if order.is_combinable %}<div class="badge bg-success me-3">Combinable</div>{% endif %}
                            </div>
                            <div>
                                <small class="user-select-all">
                                    {% if order.closed_at == None %}
                                        <a href="{% url 'fba:update_fba_order' order.id %}">{{ order.product.product_range.name }}</a>
                                    {% else %}
                                        {{ order.product.full_name }}
                                    {% endif %}
                                </small>
                            </div>
                            <div>
                                {% if order.product.supplier_sku %}
                                    <small class="me-2">
                                        <span class="text-muted">Supplier SKU:&nbsp;</span><span class="fw-bold">{{ order.product.supplier_sku }}</span>
                                    </small>
                                {% endif %}
                                {% for option, value in order.product.variation.items %}
                                    <small class="me-2">
                                        <span class="text-muted">{{ option }}:&nbsp;</span><span class="fw-bold">{{ value }}</span>
                                    </small>
                                {% endfor %}
                            </div>
                        </td>
                        <td>
                            <div>
                                <small>{{ order.product.supplier }}</small>
                            </div>
                            <div>
                                <small>ASIN:&nbsp;<span class="font-monospace user-select-all">{{ order.product_asin }}</span></small>
                            </div>
                        </td>
                        <td>
                            <div>
                                <small class="me-2">Created:</small><small class="font-monospace">{{ order.created_at|date:"Y-m-d" }}</small>
                            </div>
                            <div>
                                <small class="me-2">Stopped:</small><small class="font-monospace">{{ order.stopped_at|date:"Y-m-d" }}</small>
                            </div>
                            <div>
                                <small class="me-2">Until:</small><small class="font-monospace">{{ order.stopped_until|date:"Y-m-d" }}</small>
                            </div>
 
                        </td>
                        <td>
                            <div>
                                <small>Aprox:&nbsp;<span class="font-monospace user-select-all">{{ order.aproximate_quantity }}</span></small>
                            </div>
                            {% if order.quantity_sent %}
                                <div class="fs-6">
                                    <small>Sent:&nbsp;<span class="font-monospace user-select-all fw-bold">{{ order.quantity_sent }}</span></small>
                                </div>
                            {% endif %}
                        </td>
                        <td id="status_{{ order.id }}">
                            <div>{{ order.region.flag }}</div>
                            <div>
                                <small class="badge bg-{% if order.status == order.FULFILLED or order.status == order.READY %}success{% elif order.status == order.PRINTED %}primary{% elif order.status == order.ON_HOLD or order.status == order.STOPPED %}danger{% else %}dark{% endif %}">
                                    {{ order.status }}
                                </small>
                            </div>
                        </td>
                        <td class="total_stock" id="total_stock_{{ order.pk }}">
                            <i class="fa-solid fa-spinner fa-spin-pulse fa-xs"></i>
                        </td>
                        <td class="in_order_stock" id="in_order_stock_{{ order.pk }}">
                            <i class="fa-solid fa-spinner fa-spin-pulse fa-xs"></i>
                        </td>
                        <td class="available_stock" id="available_stock_{{ order.pk }}">
                            <i class="fa-solid fa-spinner fa-spin-pulse fa-xs"></i>
                        </td>
                        <td>
                            <a href="{% url "fba:unstop_fba_order" order.pk %}"
                               target="_blank"
                               class="btn btn-warning btn-sm mb-1"
                               name="{{ order.id }}">UnStop</a>
                            {% if order.status != order.FULFILLED %}
                                <a href="{% url 'fba:delete_order' order.pk %}"
                                   class="btn btn-danger btn-sm mb-1">Delete</a>
                            {% endif %}
                            <a href="{% url 'fba:update_fba_order' order.pk %}"
                               class="btn btn-primary btn-sm mb-1">View</a>
                        </td>
                        <td class="product_sku" hidden>{{ order.product.sku }}</td>
                    </tr>
                    <tr>
                        <td colspan="9">{{ order.stopped_reason }}</td>
                    </tr>
                    <tr>
                        <td class="bg-white" colspan="9"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include "home/pagination_navigation.html" %}
 
    </div>

{% endblock content %}

{% block script %}

    <script>
    function get_stock_levels() {
        order_ids = [{% for order in object_list  %}{{ order.id }}, {% endfor %}]
        $.ajax({
            type: "POST",
            url: "{% url 'fba:get_stock_levels' %}",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({ order_ids: order_ids }),
            success: function (response) {
              $.each(response, function (order_id, stock_level_info) {
                $('#total_stock_' + order_id).html(stock_level_info.total);
                $('#available_stock_' + order_id).html(stock_level_info.available);
                $('#in_order_stock_' + order_id).html(stock_level_info.in_orders);
              });
            },
            error: function (response) {
              alert("Error getting stock level.")
            },
          });
    }

    $(document).ready(function () {
        $(".take_off_hold").click(function () {
            var order_id = $(this).attr('name');
            var button = $(this);
            $.get("{% url 'fba:take_off_hold' %}?order_id=" + order_id, function (response) {
                console.log("Take off" + order_id);
                console.log(response);
                if (response == "ok") {
                    var row = button.closest("tr");
                    row.hide();
                } else {
                    alert("Error taking order off hold")
                }
            });
        });
        get_stock_levels();
    });
    </script>

{% endblock script %}
