{% extends "fba/base.html" %}

{% block content %}
    <div class="container">
        <h3 class="display-3 mb-5">Edit Tracking Numbers</h3>
        <span>{{ form.instance.region.flag }}</span>
        <div class="fs-5 font-monospace user-select-all">{{ form.instance.product.sku }}</div>
        <div class="fs-3 mb-5 user-select-all">{{ form.instance.product.full_name }}</div>
        <div class="m-2">
            <div>
                ASIN: <span class="font-monospace user-select-all">{{ form.instance.product_asin }}</span>
            </div>
            <div>
                Barcode: <span class="font-monospace user-select-all">{{ form.instance.product.barcode }}</span>
            </div>
            <div>Supplier: {{ form.instance.product.supplier }}</div>
        </div>
        <div class="col-6 m-3">
            <form action="" method="post" id="tracking_number_form">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="mt-3">
                    <button id="save_button" class="btn btn-primary form-control">Save</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block script %}

    <script>

    var tracking_numbers = [{% for tracking_number in form.instance.tracking_numbers.all %}"{{ tracking_number }}",{% endfor %}];

    var emptyInput = $("<input class='tracking_number_input form-control mb-1'>");

    function addInput() {
        var newInput = emptyInput.clone(true);
        newInput.insertBefore($("#save_button").parent());
        newInput.change(updateInputs);
        return newInput;
    }

    function updateInputs() {
        var emptyInputCount = 0;
        $(".tracking_number_input").each(function() {
            if ($(this).val() === "") {
                if (emptyInputCount == 1) {
                    $(this).remove();
                } else {
                    emptyInputCount += 1;
                    $(this).insertBefore($("#save_button"));
                }
            }
        });
        if (emptyInputCount == 0) {
            var newInput = addInput();
            newInput.focus();
        }
    }

    function readTrackingNumbers() {
        var trackingNumbers = [];
        $(".tracking_number_input").each(function() {
            if ($(this).val() !== "") {
                trackingNumbers.push($(this).val());
            }
        });
        return JSON.stringify(trackingNumbers);
    }

    $(document).ready(function () {
        $(tracking_numbers).each(function() {
            var newInput = addInput();
            newInput.val(this);
        })
        addInput();

        $("#tracking_number_form").submit(function (e) {
            e.preventDefault();
            var trackingNumbers = readTrackingNumbers();
            $("#id_tracking_numbers").val(trackingNumbers);
            $(this).unbind('submit').submit();
        })
    });

    </script>

{% endblock script %}
