{% extends "hours/base.html" %}
{% load static %}
{% load humanize %}

{% block additional_head %}
    <script src="{% static "scripts/moment.js" %}"></script>
{% endblock additional_head %}

{% block content %}

    <h3 class="display-3 mb-5">Hours for {{ request.user.staff_member.full_name }}</h3>

    <div class="row m-1">
        <div class="col-lg-2 order-lg-2 p-2 text-center rounded {% if latest_time.direction == "In" %}bg-success{% else %}bg-danger{% endif %}">
            <h6 class="display-6">
                {% if latest_time %}
                    Clocked {{ latest_time.direction }} <span id="clockedSince"></span>
                {% else %}
                    Never clocked in
                {% endif %}
            </h6>
            <span class="fs-4">{{ latest_time.timestamp|date:"D jS F Y H:i" }}</span>
            <div class="m-3">
                <a href="{% url "hours:clock" %}" class="btn btn-primary btn-lg">Clock
                    {% if latest_time.direction == "In" %}
                        Out
                    {% else %}
                        In
                    {% endif %}
                </a>
            </div>
        </div>
        <div class="col-lg-10">
            {% for month, days in times.items %}
                <div class="row mb-3 m-1">
                    <h4 class="display-4">{{ month|date:"F Y" }}</h4>
                    {% now "Ym" as this_month %}
                    {% for day, times in days.items %}
                        {% now "Ymd" as today %}
                        <div class="col-lg-1 col-5 m-1 mx-lg-1 py-1 text-light rounded {% if day|date:"Ymd" == today %}bg-success{% elif day|date:"Ymd" > today or day.weekday == 5 or day.weekday == 6 %}bg-secondary{% else %}bg-primary{% endif %}">
                            <h6 class="text-nowrap">
                                {{ day|date:"D jS" }}
                                {% if day|date:"Ym" == this_month  and day|date:"Ymd" <= today %}
                                    <span class="fs-6">
                                        <a href="{% url "hours:update_hours" day|date:"Ymd" %}"
                                           class="badge bg-info badge-sm">
                                            <i class="bi bi-pencil-square fs-6"></i>
                                        </a>
                                    </span>
                                {% endif %}
                            </h6>
                            {% for time in times %}
                                <div>{{ time.0.timestamp|date:"H:i" }}&nbsp;-&nbsp;{{ time.1.timestamp|date:"H:i" }}</div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}

{% block script %}
    {% if latest_time %}
        <script>
        var timestamp = moment.unix({{ latest_time.timestamp|date:"U" }});

        function updateTimeSinceClock() {
            var timeSince = timestamp.fromNow();
            $("#clockedSince").html(timeSince);
        }

        $(document).ready(function(){
            updateTimeSinceClock();
            setInterval(updateTimeSinceClock, 10000)
        });
        </script>
    {% endif %}
{% endblock script %}
