.form_section_header {
  font-size: 1.25em;
  font-weight: bold;
  text-transform:capitalize;
}

.form_section {
  display: inline-block;
  margin: 1em;
  padding: 1em;
  vertical-align: top;
}

.label_selection_table {
  border-collapse: collapse;
  margin: 1em;
}

.label_selection_table td, .label_selection_table th {
  border: 1px black solid;
  padding: 0.25em;
}

input[type=number]{
  width: 80px;
}

.hidden {
  display: none;
}
