.form_section_header {
  font-size: 1.25em;
  font-weight: bold;
  text-transform: capitalize;
}

.form_section {
  display: inline-block;
  margin: 1em;
  padding: 1em;
  vertical-align: top;
}

.label_selection_table {
  border-collapse: collapse;
  margin: 1em;
}

.label_selection_table td,
.label_selection_table th {
  border: 1px black solid;
  padding: 0.25em;
}

input[type=number] {
  width: 80px;
}

.hidden {
  display: none;
}

.template_list {
  display: flex;
  width: 80%;
  flex-direction: row;
  flex-wrap: wrap;
}

.template_supplier a {
  text-decoration: none;
  color: black;
  padding: 0.25em;
  border-radius: 5px;
}

.template_supplier a:hover {
  background: #eee;
}

.template_supplier p {
  margin: 0.25em;
  padding: 0.25em;
}

.template_supplier {
  background: #eee;
  border-radius: 5px;
  border: #555 solid 3px;
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  padding: 0.5em;
  flex-grow: 1;
  max-width: 500px;
}

.template_supplier button {
  font-size: 1.25em;
  font-family: serif;
}

.supplier_template_list {
  list-style-type: none;
  padding-left: 0;
}

.template {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background: #ddd;
  margin-top: 0.25em;
  padding: 0.25em;
  flex-grow: 1;
  width: 100%;
  justify-content: space-between;
}