{% extends 'fnac/base.html' %}

{% block content %}

<h1>FNAC</h1>

<div id="inventory_update_status"></div>

<div id="offer_update_status"></div>

<table>
    <tr>
        <td>Created</td>
        <td>{{created_product_count}}</td>
    </tr>
    <tr>
        <td>
            <a href="{% url 'fnac:invalid_in_inventory' %}">
                Invalid in the Inventory
            </a>
        </td>
        <td>{{invalid_in_inventory_count}}</td>
    </tr>
    <tr>
        <td>
            <a href="{% url 'fnac:missing_information' %}">
                Missing Category, Price, Size or Colour
            </a>
        </td>
        <td>{{missing_information_count}}</td>
    </tr>
    <tr>
        <td>
            <a href="{% url 'fnac:translations' %}">
                Not Translated
            </a>
        </td>
        <td>{{missing_translations_count}}</td>
    </tr>
    <tr>
        <td>Marked not to create</td>
        <td>{{do_not_create_count}}</td>
    </tr>
    <tr>
        <td>Out of stock</td>
        <td>{{out_of_stock_count}}</td>
    </tr>
    <tr>
        <td>Ready to Create</td>
        <td>{{ready_to_create_count}}</td>
    </tr>
</table>

<div>
{% if ready_to_create_count > 0 %}
    <a href="{% url 'fnac:new_product_file' %}">
        <button>Download New Product File</button>
    </a>
{% endif %}
</div>

{% endblock content %}

{% block script %}
<script>
    function getInventoryUpdateStatus() {
        $.get("{% url 'fnac:inventory_update_status' %}", function(response) {
            $("#inventory_update_status").html(response);
            $(".start_inventory_update").click(function() {
                $.get("{% url 'fnac:start_inventory_update' %}", function(response) {
                    getInventoryUpdateStatus();
                });
            });
        });
        setTimeout(getInventoryUpdateStatus, 5000);
    }

    function getOfferUpdateStatus() {
        $.get("{% url 'fnac:offer_update_status' %}", function(response) {
            $("#offer_update_status").html(response);
            $(".create_offer_update_export").click(function() {
                $.get("{% url 'fnac:create_offer_update' %}", function(response) {
                    getInventoryUpdateStatus();
                });
            });
        });
        setTimeout(getOfferUpdateStatus, 5000);
    }

    $(document).ready(function(){
        getInventoryUpdateStatus();
        getOfferUpdateStatus()
    });
</script>
{% endblock script %}