{% load static %}

<div class="file_status">
    <h3>Inventory Import</h3>
    {% if in_progress %}
    An import is in progress <img src="{% static 'images/loading.gif' %}" alt="" height="20">
    <br><br><br>
    {% else %}
    {% if import == None %}
    No inventory information has yet been imported
    <br><br>
    {% elif import.status == import.ERROR %}
    There was an error updating the inventory information, please try again
    <br><br>
    {% else %}
    Inventory last updated at {{ import.timestamp }}
    <br>
    Inventory information is correct as of {{ import.export.timestamp }}
    <br>
    {% endif %}
    <button class="start_inventory_update">Update Inventory Information</button>
    {% endif %}
</div>