{% load static %}

<div class="file_status">
    <h3>New Product Export</h3>
    {% if in_progress %}
    A New Product file is being generated <img src="{% static 'images/loading.gif' %}" alt="" height="20">
    <br><br><br>
    {% else %}
    {% if export == None %}
    No New Product file has yet been generated
    <br><br>
    {% elif export.status == export.ERROR %}
    There was an error creating the New Product file, please try again
    <br><br>
    {% else %}
    Last New Product file created at {{ export.timestamp }}
    <a href="{{ export.export.url }}"><button>Download</button></a>
    <br>
    {% endif %}
    <button class="create_new_product_export">Generate New Product File</button>
    {% endif %}
</div>