{% load static %}

<div class="file_status">
    <h3>Offer Update</h3>
    {% if in_progress %}
    An offer update file is being generated <img src="{% static 'images/loading.gif' %}" alt="" height="20">
    <br><br><br>
    {% else %}
    {% if export == None %}
    No offer update file has yet been generated
    <br><br>
    {% elif export.status == export.ERROR %}
    There was an error creating the offer update file, please try again
    <br><br>
    {% else %}
    Last offer update file created at {{ export.timestamp }}
    <a href="{{ export.export.url }}"><button>Download</button></a>
    <br>
    {% endif %}
    <button class="create_offer_update_export">Generate New Offer Update File</button>
    {% endif %}
</div>