<div class="section_navigation">
    <ul>
        <li><a href="{% url 'fnac:index' %}">FNAC</a></li>
        <li><a href="{% url 'fnac:missing_inventory_info' %}">Missing Inventory Info</a></li>
        <li><a href="{% url 'fnac:missing_category' %}">Missing Category</a></li>
        <li><a href="{% url 'fnac:translations' %}">Translations</a></li>
        <li><a href="{% url 'fnac:missing_price_size' %}">Missing Price and Size</a></li>
        <li><a href="{% url 'fnac:shipping_comment' %}">Shipping Comment</a></li>
    </ul>
</div>
