{% extends "cloud_commerce/base.html" %}
{% load staticfiles %}

{% block content %}
<h1>Cloud Commerce</h1>
<div class="site_index">
    <p>From here you can access:</p>
    <ul class='app'>
        <li><a href="{% url 'cloud_commerce:new_product' %}">New Product</a></li>
        <p>Create new Cloud Commerce inventory item</p>
        <li><a href="{% url 'cloud_commerce:sku_generator' %}">SKU Generator</a></li>
        <p>Get unused product SKUs</p>
        <li><a href="{% url 'cloud_commerce:stock_manager' %}">Stock Manager</a></li>
        <p>Find and update stock numbers</p>
    </ul>
</div>
{% endblock %}
