{% extends "cloud_commerce/base.html" %}
{% load staticfiles %}

{% block page_title %}New CCP Product{% endblock %}

{% block additional_head %}{{ block.super }}
<script src="{% static 'scripts/price_field.js' %}"></script>
{% endblock %}

{% block script %}
<script>
$(document).ready(function() {
    $('.new_product input, .new_product select, .new_product textarea').each(function(){
        var label = $('label[for="'+$(this).attr('id')+'"]');
        var row = $(this).closest('tr');
        if ($(this).prop('required')) {
            label.text(label.text().replace(':', '*:'));
            row.css('background', '#DDD');
        } else if ($(this).prop('name').startsWith('opt_')) {
            row.css('background', '#e2edff');
        } else {
            label.css('color', '#555');
        }

    });

    $("form").keypress(function(e){
        var no_enter = true;
        if (e.which == 13) {
            if ($(e.target).prop('type') == 'password') {
                no_enter = false;
            }
            if ($(e.target).is('textarea')) {
                no_enter = false;
            }
            if (no_enter) {
                return false;
            }
       }
    });

    function get_vat_rate(vat_select) {
        var value = vat_select.val();
        if (value === '') {
            var vat_rate = false;
        } else {
            var vat_rate = parseInt(value);
        }
        return vat_rate
    }

    var vat_rate_select = $('#{{ form.vat_rate.auto_id }}');

    var price_field = new PriceField(
        $('#{{ form.price.auto_id }}'),
        get_vat_rate(vat_rate_select)
    );
    
    vat_rate_select.change(function () {
        price_field.set_vat_rate(get_vat_rate(vat_rate_select));
    });

    // Prevent the backspace key from navigating back.
    $(document).unbind('keydown').bind('keydown', function (event) {
        var doPrevent = false;
        if (event.keyCode === 8) {
            var d = event.srcElement || event.target;
            if ((d.tagName.toUpperCase() === 'INPUT' &&
                 (
                     d.type.toUpperCase() === 'TEXT' ||
                     d.type.toUpperCase() === 'PASSWORD' ||
                     d.type.toUpperCase() === 'FILE' ||
                     d.type.toUpperCase() === 'SEARCH' ||
                     d.type.toUpperCase() === 'EMAIL' ||
                     d.type.toUpperCase() === 'NUMBER' ||
                     d.type.toUpperCase() === 'DATE' )
                 ) ||
                 d.tagName.toUpperCase() === 'TEXTAREA') {
                doPrevent = d.readOnly || d.disabled;
            }
            else {
                doPrevent = true;
            }
        }

        if (doPrevent) {
            event.preventDefault();
        }
    });
});
</script>
{% endblock %}
