{% extends "cloud_commerce/new_product_form.html" %}
{% load staticfiles %}

{% block content %}
    <form method="POST">
        {{ form.non_field_errors }}
        <table class="new_product">
            {% csrf_token %}
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Variable</th>
                </tr>
            </thead>
            {% for field in form %}
                {% ifnotequal field.name|slice:"0:10" 'variation_' %}
                {% ifnotequal field.name|slice:"0:9" 'variable_' %}
                {% ifnotequal field.name|slice:"0:4" 'opt_' %}
                    <tr>
                        <td>{{ field.label }}</td>
                        <td>{{ field }}</td>
                        <td>{% for var_field in form %}{% ifequal var_field.name 'variable_'|add:field.name %}{{ var_field }}{% endifequal %}{% endfor %}</td>
                    </tr>
                    {% if field.errors %}
                        <tr><td colspan="2">{{ field.errors }}</td></tr>
                    {% endif %}
                {% endifnotequal %}{% endifnotequal %}{% endifnotequal %}
            {% endfor %}
        </table>

        <table class="new_product">
            <thead>
                <tr>
                    <th></th>
                    <th>Variable</th>
                    <th>Variation</th>
                </tr>
            </thead>
        {% for option in form.options %}
            <tr>
                <td>{{ option }}</td>
                <td>
                    {% for field in form %}
                        {% ifequal field.name 'opt_variable_'|add:option %}
                            {{ field }}
                        {% endifequal %}
                    {% endfor %}
                </td>
                <td>
                    {% for field in form %}
                        {% ifequal field.name 'opt_variation_'|add:option %}
                            {{ field }}
                        {% endifequal %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
            <tr><td colspan="2" style="text-align: center;"><input type="submit" value="Create Product" style="width: 80%;"/></td></tr>
        </table>
    </form>
{% endblock %}
