{% extends "cloud_commerce/variation_wizard.html" %}

{% block table_class %}new_product_formDELETETHIS{% endblock %}

{% block form %}
{{ form.non_field_errors }}
<table class="new_product">
    {% csrf_token %}
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Variable</th>
        </tr>
    </thead>
    {% for field in form %}
        {% ifnotequal field.name|slice:"0:10" 'variation_' %}
        {% ifnotequal field.name|slice:"0:9" 'variable_' %}
        {% ifnotequal field.name|slice:"0:4" 'opt_' %}
            <tr>
                <td><label for="{{ field.name }}">{{ field.label }}</label></td>
                <td>{{ field }}<br>{{ field.help_text }}</td>
                <td>{% for var_field in form %}{% ifequal var_field.name 'variable_'|add:field.name %}{{ var_field }}{% endifequal %}{% endfor %}</td>
            </tr>
            {% if field.errors %}
                <tr><td colspan="2">{{ field.errors }}</td></tr>
            {% endif %}
        {% endifnotequal %}{% endifnotequal %}{% endifnotequal %}
    {% endfor %}
</table>
<table class="variation_options_table">
{% for field in form %}
{% ifequal field.name|slice:"0:4" 'opt_' %}
<tr>
    <td>{{ field.label }}</td>
    {% for choice in field %}
        <td>{{ choice }}</td>
    {% endfor %}
</tr>
{% endifequal %}
{% endfor %}
{% endblock %}
