{% extends "cloud_commerce/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block page_title %}New CCP Product{% endblock %}

{% block additional_head %}
{{ block.super }}
<script src="{% static 'scripts/list_widget.js' %}"></script>
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<form action="" method="post">{% csrf_token %}
<table class="{% block table_class %}{% endblock %}">
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% block formset %}{% endblock %}
{% else %}
    {% block form %}{% endblock %}
{% endif %}
</table>
{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
{% endif %}
<input type="submit" value="{% trans "submit" %}"/>
</form>
{% endblock %}
{% block script %}
<script>
$(document).ready(function() {
    function setup_new_product_table () {
        $('.new_product_form input, .new_product_form select, .new_product_form textarea').each(function(){
            console.log($(this));
            var label = $('label[for="'+$(this).attr('id')+'"]');
            var row = $(this).closest('tr');
            if ($(this).prop('required')) {
                label.text(label.text().replace(':', '*:'));
                row.css('background', '#DDD');
            } else if ($(this).prop('name').startsWith('0-opt_')) {
                row.css('background', '#e2edff');
            } else {
                label.css('color', '#555');
            }
        });
    }

    function setup_variation_table() {
        var column_count = $('th', $('.variation_table').find('tbody')).length;
        $('.variation_table').find('td, th').css('background', '#FFF');
        for (var i=1; i < column_count + 1; i++) {
            var column = $(".variation_table tr > :nth-child(" + i + ")");
            if (column.children().attr('required')) {
                column.css('background', '#DDD');
            }
            if (column.find(".variable_option").length > 0){
                column.css('background', '#e2edff');
            }
            if (column.find('.variation_option').length > 0) {
                column.css('background', '#AAA');
            }
        }
        $('.variation_table td').each(function() {
            if ($(this).children().attr('disabled')) {
                $(this).css('background', '#AAA');
            }
        });
    }

    $('.delete_variation').change(function() {
        var row = $(this).closest('tr');
        if ($(this).is(':checked')) {
            row.find('input, select, textarea').not('.variation_option, :checkbox').attr('disabled', true);
        } else {
            row.find('input, select, textarea').not('.variation_option, :checkbox').attr('disabled', false);
        }
        setup_variation_table();
    });

    setup_new_product_table();
    setup_variation_table();
    $('.delete_variation').change();

    $("form").keypress(function(e){
        var no_enter = true;
        if (e.which == 13) {
            if ($(e.target).prop('type') == 'password') {
                no_enter = false;
            }
            if ($(e.target).is('textarea')) {
                no_enter = false;
            }
            if (no_enter) {
                return false;
            }
       }
    });

    $('form').submit(function() {
        $('input, select, textarea').attr('disabled', false);
        return true;
    });

    // Prevent the backspace key from navigating back.
    $(document).unbind('keydown').bind('keydown', function (event) {
        var doPrevent = false;
        if (event.keyCode === 8) {
            var d = event.srcElement || event.target;
            if ((d.tagName.toUpperCase() === 'INPUT' &&
                 (
                     d.type.toUpperCase() === 'TEXT' ||
                     d.type.toUpperCase() === 'PASSWORD' ||
                     d.type.toUpperCase() === 'FILE' ||
                     d.type.toUpperCase() === 'SEARCH' ||
                     d.type.toUpperCase() === 'EMAIL' ||
                     d.type.toUpperCase() === 'NUMBER' ||
                     d.type.toUpperCase() === 'DATE' )
                 ) ||
                 d.tagName.toUpperCase() === 'TEXTAREA') {
                doPrevent = d.readOnly || d.disabled;
            }
            else {
                doPrevent = true;
            }
        }

        if (doPrevent) {
            event.preventDefault();
        }
    });
});
</script>
{% endblock %}
