{% extends "spring_manifest/base.html" %}
{% load staticfiles %}

{% block page_title %}Canceled Manifest Orders{% endblock %}

{% block content %}

{% if unmanifested_orders %}
    <h3>Orders not on a Manifest</h3>
    <table>
        <tr>
            <th>Order ID</th>
            <th>Customer Name</th>
            <th>Time Recieved</th>
            <th>Time Dispatched</th>
            <th>Country</th>
            <th>Zone</th>
            <th>Products</th>
            <th>Packages</th>
            <th>Service</th>
        </tr>
        {% for order in unmanifested_orders %}
            <tr>
                <th><a href="{% url 'spring_manifest:update_order' order.id %}">{{ order }}</a></th>
                <td>{{ order.customer_name }}</td>
                <td class="date">{{ order.date_recieved|date:'D jS N h:iA' }}</td>
                <td class="date">{{ order.dispatch_date|date:'D jS N h:iA' }}</td>
                <td>{{ order.country }}</td>
                <td>{{ order.country.zone }}</td>
                <td>{{ order.product_count }}</td>
                <td>{{ order.package_count }}</td>
                <td>{{ order.service }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

{% if canceled_orders %}
    <h3>Canceled Orders</h3>
    <table>
        <tr>
            <th>Order ID</th>
            <th>Customer Name</th>
            <th>Time Recieved</th>
            <th>Time Dispatched</th>
            <th>Country</th>
            <th>Zone</th>
            <th>Products</th>
            <th>Packages</th>
            <th>Service</th>
        </tr>
        {% for order in canceled_orders %}
            <tr>
                <th><a href="{% url 'spring_manifest:update_order' order.id %}">{{ order }}</a></th>
                <td>{{ order.customer_name }}</td>
                <td class="date">{{ order.date_recieved|date:'D jS N h:iA' }}</td>
                <td class="date">{{ order.dispatch_date|date:'D jS N h:iA' }}</td>
                <td>{{ order.country }}</td>
                <td>{{ order.country.zone }}</td>
                <td>{{ order.product_count }}</td>
                <td>{{ order.package_count }}</td>
                <td>{{ order.service }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No orders have been canceled</p>
{% endif %}
{% endblock %}
