{% extends "spring_manifest/base.html" %}
{% load staticfiles %}

{% block page_title %}Spring Manifest: {{ manifest }}{% endblock %}

{% block content %}

<h3>{{ manifest }}</h3>
{% if manifest.manifest_file %}
    <a href="{{ manifest.manifest_file.url }}"><button>Download Manifest File</button></a>
{% else %}
    <a href="{% url 'spring_manifest:file_manifest' manifest.id %}"><button>File Manifest</button></a>
{% endif %}

<table>
    <tr>
        <th>Manifest</th>
        <th>Created</th>
        {% if manifest.time_filed %}<th>Filed</th>{% endif %}
        <th>Orders</th>
    </tr>
    <tr>
        <th>{{ manifest }}</th>
        <td class="date">{{ manifest.time_created|date:'D jS N h:iA' }}</td>
        {% if manifest.time_filed %}<td class="date">{{ manifest.time_filed|date:'D jS N h:iA' }}</td>{% endif %}
        <td>{{ manifest.springorder_set.count }}</td>
    </tr>
</table>
<table>
    <tr>
        <th>Order ID</th>
        <th>Customer Name</th>
        <th>Time Recieved</th>
        <th>Time Dispatched</th>
        <th>Country</th>
        <th>Zone</th>
        <th>Packages</th>
        <th>Products</th>
        <th>Items</th>
        <th>Service</th>
    </tr>
    {% for order in orders %}
        <tr>
            <th>{% if manifest.time_filed %}{{ order }}{% else %}<a href="{% url 'spring_manifest:update_order' order.id %}">{{ order }}</a>{% endif %}</th>
            <td>{{ order.customer_name }}</td>
            <td class="date">{{ order.date_recieved|date:'D jS N h:iA' }}</td>
            <td class="date">{{ order.dispatch_date|date:'D jS N h:iA' }}</td>
            <td>{{ order.country }}</td>
            <td>{{ order.country.zone }}</td>
            <td>{{ order.springpackage_set.count }}</td>
            <td>{{ order.items.count }}</td>
            <td>{{ order.item_quantity }}</td>
            <td>{{ order.service }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
