{% extends "spring_manifest/base.html" %}
{% load staticfiles %}

{% block page_title %}Manifest: {{ manifest }}{% endblock %}

{% block content %}

<h3>{{ manifest }}</h3>

<table>
    <tr>
        <th>Manifest</th>
        <th>Created</th>
        {% if manifest.status == manifest.FILED and manifest.time_filed %}
            <th>Filed</th>
        {% endif %}
        <th>Orders</th>

    </tr>
    <tr>
        <th>{{ manifest }}</th>
        <td class="date">{{ manifest.time_created|date:'D jS N h:iA' }}</td>
        {% if manifest.status == manifest.FILED and manifest.time_filed %}
            <td class="date">{{ manifest.time_filed|date:'D jS N h:iA' }}</td>
        {% endif %}
        <td>{{ manifest.manifestorder_set.count }}</td>

    </tr>
</table>

<table>
    <tr>
        <th>Closed</th>
        {% if manifest.closed %}
            <th class="recent">{{ manifest.closed }}</th>
            <td>New orders will not be added to this manifest.</td>
        {% else %}
            <th class="not_recent">{{ manifest.closed }}</th>
            <td>New orders are added to this manifest.</td>
        {% endif %}
        </td>
    </tr>
    <tr>
        <th>Status</th>
        {% if manifest.status == manifest.UNFILED %}
            <th class="not_recent">{{ manifest.get_status_display }}</th>
            <td>This manifest is currently open and new orders are added to it.</td>
        {% elif manifest.status == manifest.CLOSING %}
            <th class="in_progress">{{ manifest.get_status_display }}</th>
            <td>The last orders are being added to this manifest. Once this is complete the manifest files will be created.</td>
        {% elif manifest.status == manifest.IN_PROGRESS %}
            <th class="in_progress">{{ manifest.get_status_display }}</th>
            <td>The manifest has been closed and the manifest files are being generated.</td>
        {% elif manifest.status == manifest.FILED %}
            <th class="recent">{{ manifest.get_status_display }}</td>
            <td>This manifest has been closed and the manifest files have been created.</th>
        {% elif manifest.status == manifest.FAILED %}
            <th class="failed">{{ manifest.get_status_display }}</th>
            <td>This manifest has not been processed due to an error</td>
        {% endif %}
    </tr>
    <tr>
        <th>Files Sent</th>
        {% if manifest.files_sent %}
            <th class="recent">{{ manifest.files_sent }}</th>
            <td>The manifest files have been sent to the provider.</td>
        {% else %}
            <th class="not_recent">{{ manifest.files_sent }}</th>
            <td>The manifest files have <b>not</b> been sent to the provider.</td>
        {% endif %}
        </td>
    </tr>
    {% if manifest.closed %}
        <tr>
            <th>Manifest File</th>
            <td>
                {% if manifest.manifest_file %}
                    <a href="{{ manifest.manifest_file.url }}">
                        <button>Download</button>
                    </a>
                {% else %}
                    <button disabled>File does not exist</button>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Docket File</th>
            <td>
                {% if manifest.manifest_file %}
                    <a href="{{ manifest.docket_file.url }}">
                        <button>Download</button>
                    </a>
                {% else %}
                    <button disabled>File does not exist</button>
                {% endif %}
            </td>
        </tr>
    {% endif %}
</table>

{% if manifest.status != manifest.FILED %}
    {% include 'spring_manifest/update_status.html' %}
{% endif %}

{% if manifest.status == manifest.UNFILED %}
    <a href="{% url 'spring_manifest:file_manifest' manifest.id %}" id="file_manifest_button">
        <button{% ifnotequal update.status update.COMPLETE %} disabled{% endifnotequal %} id="file_manifest_button">File Manifest</button>
    </a>
{% elif manifest.status == manifest.FAILED %}
    <div class="failed">
        <h3>Error Creating Manifest</h3>
        <a href="{% url 'spring_manifest:file_manifest' manifest.id %}">
            <button{% ifnotequal update.status update.COMPLETE %} disabled{% endifnotequal %}>Retry File Manifest</button>
        </a>
    </div>
{% elif manifest.status == manifest.IN_PROGRESS %}
    <div class="in_progress">
        <h3>IN PROGRESS</h3>
        <p>This manifest is closed and is currently being processed.</p>
        <p>Processed orders will now be added to a new manifest.</p>
        <p>The number of bags of <b>International</b> packages will be required in order to send the manifest file.</p>
    </div>
{% elif manifest.status == manifest.CLOSING %}
    <div class="in_progress">
        <h3>CLOSING</h3>
        <p>The manifest is being closed. Please ensure no new orders are created that could be added to this manifest.</p>
        <p>The number of bags of <b>International</b> packages will be required in order to send the manifest file.</p>
    </div>
{% endif %}

<div class="send_manifest">
{% if manifest.manifest_type.name == 'Secured Mail' and manifest.manifest_file and manifest.docket_file and manifest.status == manifest.FILED  and manifest.closed and not manifest.files_sent%}
    <div class="not_recent">
        <p>The manifest files must be sent to the provider.</p>
    </div>
    <form action="{% url 'spring_manifest:send_secured_mail_manifest_files' %}" method="POST">{% csrf_token %}
        <input type="text" name="manifest_id" value="{{ manifest.id }}" hidden>
        <label for="number_of_bags">Number of International Bags: </label>
        <input type="number" name="number_of_bags" required>
        <br>
        <button>Send Manifest Files</button>
    </form>
{% endif %}
</div>

<ul>
{% for error in manifest.get_error_list %}
<li class="error">{{ error }}</li>
{% endfor %}
</ul>

<table>
    {% for service, order_count in services.items %}
    <tr>
        <th>{{ service }}</th>
        <td>{{ order_count }}</td>
    </tr>
    {% endfor %}
</table>
<table>
    <tr>
        <th>Order ID</th>
        <th>Customer Name</th>
        <th>Time Recieved</th>
        <th>Time Dispatched</th>
        <th>Country</th>
        <th>Zone</th>
        <th>Packages</th>
        <th>Products</th>
        <th>Items</th>
        <th>Service</th>
    </tr>
    {% for order in orders %}
        <tr>
            <th>
                {% if manifest.time_filed %}
                    {{ order }}
                {% else %}
                    <a href="{% url 'spring_manifest:update_order' order.id %}">
                        {{ order }}
                    </a>
                {% endif %}
            </th>
            <td>{{ order.customer_name }}</td>
            <td class="date">{{ order.date_recieved|date:'D jS N h:iA' }}</td>
            <td class="date">{{ order.dispatch_date|date:'D jS N h:iA' }}</td>
            <td>{{ order.country }}</td>
            <td>{{ order.country.zone }}</td>
            <td>{{ order.manifestpackage_set.count }}</td>
            <td>{{ order.items.count }}</td>
            <td>{{ order.item_quantity }}</td>
            <td>{{ order.service }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}

{% block script %}{{ block.super }}
<script>
$(document).ready(function() {
    $('#file_manifest_button').click(function(){
        return confirm("The manifest will be closed and the manifest files will be generated.\n\nAfter the manifest is closed all new orders will be added to a new manifest.\n\nEnsure no new orders are created that would be added to this manifest while it is closing.");
    });
    {% if manifest.status == manifest.IN_PROGRESS %}
        setTimeout(function(){
           window.location.reload(1);
       }, 15000);
    {% endif %}
    });
</script>
{% endblock %}
