{% extends "spring_manifest/base.html" %}
{% load staticfiles %}

{% block page_title %}Spring Manifests{% endblock %}

{% block content %}

<label for="order_id">Go to Order: </label>
<input type="text" name="order_id" id="go_to_order_input">
<button id="go_to_order">Go</button>
<br><br>
{% if unmanifested_orders %}
<h3>Orders Not on Manifests</h3>
<table>
    <tr>
        <th>Order ID</th>
        <th>Customer Name</th>
        <th>Time Recieved</th>
        <th>Time Dispatched</th>
        <th>Country</th>
        <th>Zone</th>
        <th>Products</th>
        <th>Packages</th>
        <th>Service</th>
    </tr>
    {% for order in unmanifested_orders %}
    <tr>
        <th><a href="{% url 'spring_manifest:update_order' order.id %}">{{ order }}</a></th>
        <td>{{ order.customer_name }}</td>
        <td class="date">{{ order.date_recieved|date:'D jS N h:iA' }}</td>
        <td class="date">{{ order.dispatch_date|date:'D jS N h:iA' }}</td>
        <td>{{ order.country }}</td>
        <td>{{ order.country.zone }}</td>
        <td>{{ order.product_count }}</td>
        <td>{{ order.package_count }}</td>
        <td>{{ order.service }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if current_manifests %}
<h3>Current Manifests</h3>
<table>
    <tr>
        <th>Manifest</th>
        <th>Created</th>
        <th>Orders</th>
        <th>Status</th>
    </tr>
    {% for manifest in current_manifests %}
        <tr>
            <th><a href="{% url 'spring_manifest:manifest' manifest.id %}">{{ manifest }}</a></th>
            <td class="date">{{ manifest.time_created|date:'D jS N h:iA' }}</td>
            <td>{{ manifest.manifestorder_set.count }}</td>
            <td>{{ manifest.get_status_display }}</td>
        </tr>
    {% endfor %}
</table>
{% endif %}
{% if previous_manifests %}
<br>
<h3>Previous Manifests</h3>
<table>
    <tr>
        <th>Manifest</th>
        <th>Created</th>
        <th>Orders</th>
        <th>Manifested</th>
        <th>Status</th>
    </tr>
    {% for manifest in previous_manifests %}
        <tr>
            <th><a href="{% url 'spring_manifest:manifest' manifest.id %}">{{ manifest }}</a></th>
            <td class="date">{{ manifest.time_created|date:'D jS N h:iA' }}</td>
            <td>{{ manifest.manifestorder_set.count }}</td>
            <td class="date">{{ manifest.time_filed|date:'D jS N h:iA' }}</td>
            <td>{{ manifest.get_status_display }}</td>
        </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}

{% block script %}{{ block.super }}
<script>
    go_to_order_url = "{% url 'spring_manifest:order_exists' %}";
    $(document).ready(function() {
        $('#go_to_order').click(function() {
            $.post(
                go_to_order_url,
                {'order_id': $('#go_to_order_input').val().trim()},
                function(response) {
                if (response == '0') {
                    alert('Order not found.')
                } else {
                    window.location.href = response;
                }
            });
        });
    });
</script>
{% endblock %}
