{% extends "spring_manifest/base.html" %}
{% load staticfiles %}

{% block page_title %}Spring Manifest: {{ manifest }}{% endblock %}

{% block content %}

<h3>{{ manifest }}</h3>
{% if manifest.manifest_file and manifest.status == manifest.FILED %}
    <h3 class="success">Manifest Filed</h3>
    {% if manifest.item_advice_file %}
        <a href="{{ manifest.item_advice_file.url }}"><button>Download Item Advice File</button></a>
    {% else %}
        <button disabled>Download Item Advice File</button>
    {% endif %}
    <a href="{{ manifest.manifest_file.url }}"><button>Download Manifest File</button></a>
    {% if manifest.docket_file %}
        <a href="{{ manifest.docket_file.url }}"><button>Download Docket File</button></a>
    {% endif %}
{% elif manifest.status == manifest.UNFILED %}
    <a href="{% url 'spring_manifest:file_manifest' manifest.id %}"><button>File Manifest</button></a>
{% elif manifest.status == manifest.FAILED %}
    <h3 class="error">Error Creating Manifest</h3>
    <a href="{% url 'spring_manifest:file_manifest' manifest.id %}"><button>Retry File Manifest</button></a>
{% elif manifest.status == manifest.IN_PROGRESS %}
    <h3>IN PROGRESS</h3>
    <p>This manifest is currently being processed.</p>
{% endif %}
<br><br>
<input type="text" value="{{ manifest }}" readonly>

<ul>
{% for error in manifest.get_error_list %}
<li class="error">{{ error }}</li>
{% endfor %}
</ul>

<table>
    <tr>
        <th>Manifest</th>
        <th>Created</th>
        {% if manifest.status == manifest.FILED and manifest.time_filed %}
            <th>Filed</th>
        {% endif %}
        <th>Orders</th>
        {% for service, order_count in services.items %}
            <th>{{ service }}</th>
        {% endfor %}
    </tr>
    <tr>
        <th>{{ manifest }}</th>
        <td class="date">{{ manifest.time_created|date:'D jS N h:iA' }}</td>
        {% if manifest.status == manifest.FILED and manifest.time_filed %}
            <td class="date">{{ manifest.time_filed|date:'D jS N h:iA' }}</td>
        {% endif %}
        <td>{{ manifest.springorder_set.count }}</td>
        {% for service, order_count in services.items %}
            <td>{{ order_count }}</td>
        {% endfor %}
    </tr>
</table>
<table>
    <tr>
        <th>Order ID</th>
        <th>Customer Name</th>
        <th>Time Recieved</th>
        <th>Time Dispatched</th>
        <th>Country</th>
        <th>Zone</th>
        <th>Packages</th>
        <th>Products</th>
        <th>Items</th>
        <th>Service</th>
    </tr>
    {% for order in orders %}
        <tr>
            <th>
                {% if manifest.time_filed %}
                    {{ order }}
                {% else %}
                    <a href="{% url 'spring_manifest:update_order' order.id %}">
                        {{ order }}
                    </a>
                {% endif %}
            </th>
            <td>{{ order.customer_name }}</td>
            <td class="date">{{ order.date_recieved|date:'D jS N h:iA' }}</td>
            <td class="date">{{ order.dispatch_date|date:'D jS N h:iA' }}</td>
            <td>{{ order.country }}</td>
            <td>{{ order.country.zone }}</td>
            <td>{{ order.springpackage_set.count }}</td>
            <td>{{ order.items.count }}</td>
            <td>{{ order.item_quantity }}</td>
            <td>{{ order.service }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}

{% block script %}{{ block.super }}
{% if manifest.status == manifest.IN_PROGRESS %}
<script>
    $(document).ready(function() {
        setTimeout(function(){
           window.location.reload(1);
       }, 15000);
    });
</script>
{% endif %}
{% endblock %}
