{% extends "spring_manifest/base.html" %}
{% load staticfiles %}

{% block page_title %}Spring Order{% endblock %}

{% block content %}
<p>Order ID: {{ order.order_id }}</p>
<p>Customer Name: {{ order.customer_name }}</p>
<p>Recieved at: <span class="date">{{ order.date_recieved|date:'D jS N h:iA' }}</span></p>
<p>Dispatched at: <span class="date">{{ order.dispatch_date|date:'D jS N h:iA' }}</p></span>

<form action="" method="POST">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update">&nbsp;<img src="{% static 'images/loading.gif' %}" alt="working..." height="50" id="loading_image" hidden/>
</form>

{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        $('form').submit(function() {
            $('input[type=submit]').attr('disabled', true);
            $('#loading_image').show();
        });
    });
</script>
{% endblock %}
