{% extends "spring_manifest/base.html" %}
{% load static %}

{% block page_title %}Manifest Order{% endblock %}

{% block content %}
<p>Order ID: {{ order.order_id }}</p>
<p>Customer Name: {{ order.customer_name }}</p>
<p>Recieved at: <span class="date">{{ order.date_recieved|date:'D jS N h:iA' }}</span></p>
<p>Dispatched at: <span class="date">{{ order.dispatch_date|date:'D jS N h:iA' }}</p></span>
{% if order.canceled %}<p class="error">CANCELED</p>{% endif %}
{% if order.manifest.time_filed %}
<p class="error">FILED</p>
{% else %}
<form action="" method="POST">{% csrf_token %}
    {{ form.as_p }}
    {% if order.manifest %}
        <input type="submit" value="Delay Order" name="delay" />
    {% elif not order.canceled %}
        <input type="submit" value="Re-Add Order" name="undelay" />
    {% endif %}
    {% if order.canceled %}
        <input type="submit" value="Un-Cancel Order" name="uncancel" />
    {% else %}
        <input type="submit" value="Cancel Order" name="cancel" />
    {% endif %}
    <input type="submit" value="Update Order" name="update" />
    <input type="submit" value="Return to Manifest" name="return" />
</form>
{% endif %}

{% endblock %}
