<div class="multi_input_addon">
  <div class="InputAddOn">
    <label for="{{ widget.subwidgets.0.name }}" class="InputAddOn-item">Height</label>
    {% include widget.subwidgets.0.template_name with widget=widget.subwidgets.0 %}
    <span class="InputAddOn-item">mm</span>
  </div>
  <div class="InputAddOn">
    <label for="{{ widget.subwidgets.1.name }}" class="InputAddOn-item">Length</label>
    {% include widget.subwidgets.1.template_name with widget=widget.subwidgets.1 %}
    <span class="InputAddOn-item">mm</span>
  </div>
  <div class="InputAddOn">
    <label for="{{ widget.subwidgets.2.name }}" class="InputAddOn-item">Width</label>
    {% include widget.subwidgets.2.template_name with widget=widget.subwidgets.2 %}
    <span class="InputAddOn-item">mm</span>
  </div>
</div>
