{% include "django/forms/widgets/select.html" %}
<button class="btn btn-primary btn-sm add_object_button"
        type="button"
        onclick="new_instance_dialogue_{{ safe_name }}();">New</button>

<script>
    function success_creating_{{ safe_name }}(result, status, xhr) {
        var instance_id = result['id'];
        var instance_name = result['name'];
        var input = $("#{{ widget.attrs.id }}");
        var newOption = new Option(instance_name, instance_id, false, true);
        input.append(newOption).trigger('change');
    }

    function error_creating_{{ safe_name }}(result, status, xhr) {
        alert("New {{ widget.name }} was not created.")
    }

    function new_instance_dialogue_{{ safe_name }}() {
        var new_name = prompt("Name of new {{ widget.name }}:", "");
        if (new_name) {
            $.ajax({
                url: "{{ create_new_url }}",
                method: "POST",
                data: {
                    'name': new_name
                },
                success: success_creating_{{ safe_name }},
                error: error_creating_{{ safe_name }},
            });
        }

    }
</script>
