{% for widget in widget.subwidgets %}
    <div id="{{ widget.name }}">{% include widget.template_name %}</div>
{% endfor %}
<script>
    $( document ).ready(function() {
        var radio_div = $("#{{ widget.subwidgets.0.name }}");
        var radio_inputs = radio_div.find('input');
        radio_inputs.change(function () {
            var value = $(this).val();
            var list_div = $('#{{ widget.subwidgets.1.name }}');
            var input_div = $('#{{ widget.subwidgets.2.name }}');
            list_div.hide();
            input_div.hide();
            if (value === 'unused') {
                list_div.hide();
                input_div.hide();
            } else if ((value === 'single') || (value === 'variable')) {
                list_div.hide();
                input_div.show();
            } else if (value === 'variation') {
                list_div.show();
                input_div.hide();
            }
        });
        radio_inputs.each(function () {
            if ($(this).is(':checked')) {
                $(this).change();
            }
        });
    });
</script>
