<label for="{{ widget.subwidgets.0.name }}">VAT Rate</label>
{% include widget.subwidgets.0.template_name with widget=widget.subwidgets.0 %}
<label for="{{ widget.subwidgets.1.name }}">Ex VAT</label>
{% include widget.subwidgets.1.template_name with widget=widget.subwidgets.1 %}
<label for="{{ widget.subwidgets.2.name }}">With VAT</label>
{% include widget.subwidgets.2.template_name with widget=widget.subwidgets.2 %}

<script>
    $(document).ready(function() {
        var vat_input = $('#{{ widget.subwidgets.0.attrs.id }}');
        var ex_vat_input = $('#{{ widget.subwidgets.1.attrs.id }}');
        var with_vat_input = $('#{{ widget.subwidgets.2.attrs.id }}');
        vat_price_widget(vat_input, ex_vat_input, with_vat_input);
    });
</script>
