<label for="{{ widget.subwidgets.0.name }}">VAT Rate</label>
{% include widget.subwidgets.0.template_name with widget=widget.subwidgets.0 %}
<label for="{{ widget.subwidgets.1.name }}">Ex VAT</label>
{% include widget.subwidgets.1.template_name with widget=widget.subwidgets.1 %}
<label for="{{ widget.subwidgets.1.name }}">With VAT</label>
{% include widget.subwidgets.2.template_name with widget=widget.subwidgets.2 %}

<script>
    $(document).ready(function() {
        var vat_input = $('#{{ widget.subwidgets.0.attrs.id }}');
        var ex_vat_input = $('#{{ widget.subwidgets.1.attrs.id }}');
        var with_vat_input = $('#{{ widget.subwidgets.2.attrs.id }}');

        vat_input.change(function() {
            var value = $(this).val()
            if (value == '') {
                ex_vat_input.prop('disabled', true);
                with_vat_input.prop('disabled', true);
                return
            }
            $(this).find('option[value=""]').remove();
            ex_vat_input.prop('disabled', false);
            with_vat_input.prop('disabled', false);
            with_vat_input.change();
        });

        ex_vat_input.change(function() {
            var value = $(this).val();
            if (value == '') {
                with_vat_input.val('');
                return;
            }
            var ex_vat_price = parseInt(value);
            var gross = (ex_vat_price / 100 * parseInt(vat_input.val())) + ex_vat_price;
            with_vat_input.val(gross.toFixed(2));
        });

        with_vat_input.change(function () {
            var value = $(this).val();
            if (value == '') {
                ex_vat_input.val('');
                return;
            }
            var with_vat_price = parseInt(value);
            var net = value / (1 + (parseInt(vat_input.val()) / 100));
            ex_vat_input.val(net.toFixed(2));
        });
        ex_vat_input.change();
        vat_input.change();
    });
</script>
