{% extends 'channels/base.html' %}

{% load orders_extras %}

{% block content %}

<h1>Wish Bulk Fulfilment File {{ object.completed_at }}</h1>

<a href="{{ object.download_file.url }}"><button>Download Fulfilment
        File</button></a>

<table>
    <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Wish Order ID</th>
            <th>Cloud Commerce Order ID</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.wish_transaction_id }}</td>
            <td>{{ order.wish_order_id }}</td>
            <td>
                <a href="{% ccp_order_page order.order.order_id order.order.customer_id %}" target="_blank">
                    {{ order.order.order_id }}
                </a>
            </td>
            <td>
                {% if order.fulfiled is True %}
                <button class="mark_unfulfiled" id="mark_unfulfiled_{{ order.id }}">
                    Mark Unfulfiled
                </button>
                {% else %}
                <span class="error">UNFULFILED</span>
                {% endif %}
            </td>
            <td>
                <button class="delay_fulfilment" id="delay_fulfilment_{{ order.id }}">
                    Delay fulfilment
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}

{% block script %}

<script>
    var mark_unfulfiled_url = "{% url 'channels:mark_wish_order_unfulfiled' %}";
    var delay_fulfilment_url = "{% url 'channels:delay_wish_order_fulfilment' %}";

    $(document).ready(function () {
        $(".mark_unfulfiled").click(function () {
            var td = $(this).closest("td");
            if (window.confirm(
                    "Are you sure you want to mark this order unfulfiled? It will not appear on any future exports."
                )) {
                var order_id = $(this).attr("id").replace("mark_unfulfiled_", "");
                $.post(mark_unfulfiled_url, {
                    "order_id": order_id,
                    "success": function (data) {
                        td.html('<span class="error">Unfulfiled</span>');
                    }
                });
            }
        });
        $(".delay_fulfilment").click(function () {
            var row = $(this).closest('tr');
            if (window.confirm(
                    "Are you sure you want to delay fulfilment of this order? It will appear on the next export."
                )) {
                var order_id = $(this).attr("id").replace("delay_fulfilment_", "");
                $.post(delay_fulfilment_url, {
                    "order_id": order_id,
                    "success": function (data) {
                        row.hide();
                    }
                });
            }
        });
    });
</script>

{% endblock script %}