{% extends "profit_loss/base.html" %}
{% load staticfiles %}
{% load profit_loss_extras %}
{% load inventory_extras %}

{% block page_title %}Profit Loss Orders{% endblock %}

{% block content %}
<form action="" method="GET" id="filter_form">
    <table>
        <tr>
            <th><label for="order_id">Order ID</label></th>
            <td><input type="text" name="order_id" value="{{ order_id }}"></td>
        </tr>
        <tr>
            <th><label for="date_from">From Date</label></th>
            <td><input type="text" class="datepicker" name="date_from" value="{{ date_from}}"></td>
        </tr>
        <tr>
            <th><label for="date_to">To Date</label></th>
            <td><input type="text" class="datepicker" name="date_to" value="{{ date_to }}"></td>
        </tr>
        <tr>
            <th><label for="country">Country</label></th>
            <td>
                <select name="country" id="country">
                    <option value=""></option>
                    {% for a_country in countries %}
                    <option value="{{ a_country }}" {% ifequal a_country country %}selected{% endifequal %}>{{ a_country }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th><label for="department">Department</label></th>
            <td>
                <select name="department" id="department">
                    <option value=""></option>
                    {% for dep in departments %}
                    <option value="{{ dep }}" {% ifequal dep department %}selected{% endifequal %}>{{ dep }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th colspan="2"><input type="submit" value="Filter"></th>
        </tr>
    </table>
    <input type="number" name="page" value="1" hidden>
</form>
<form action="{% url 'profit_loss:export_orders' %}" method="POST">{% csrf_token %}
    <input type="text" name="date_from" value="{{ date_from }}" hidden>
    <input type="text" name="date_to" value="{{ date_to }}" hidden>
    <input type="text" name="department" value="{{ department }}" hidden>
    <input type="text" name="country" value="{{ country }}" hidden>
    <input type="text" name="order_id" value="{{ order_id }}" hidden>
    <input type="submit" value="Export Orders">
</form>
{% if is_paginated %}
    <table>
    <tr>
        <th colspan="2">
            {% if page_obj.has_previous %}
                <button id="first_page">&lt;&lt;&nbsp;First</button>
                <button id="previous_page">&lt;&nbsp;Previous</button>
            {% endif %}
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            {% if page_obj.has_next %}
                <button id="next_page">Next&nbsp;&gt;&nbsp;</button>
                <button id="last_page">Last&nbsp;&gt;&gt;</button>
            {% endif %}
        </th>
    </tr>
</table>
{% endif %}

<table>
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Department</th>
            <th>Destination Country</th>
            <th>Time Recieved</th>
            <th>Time Dispatched</th>
            <th>Items</th>
            <th>Price</th>
            <th>Profit</th>
            <th>Profit %</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td><a href="{% url 'profit_loss:order' order.id %}">{{ order.order_id }}</a></td>
            <td>{{ order.department }}</td>
            <td>{{ order.country.name }}</td>
            <td class="date">{{ order.date_recieved|date:'D jS N h:iA' }}</td>
            <td class="date">{{ order.dispatch_date|date:'D jS N h:iA' }}</td>
            <td>{{ order.item_count }}</td>
            <td>{% format_price order.price %}</td>
            <td>{% format_price order.profit %}</td>
            <td>{% if order.profit_percentage %}{{ order.profit_percentage }}%{% else %}<span class="negative">&mdash;</span>{% endif %}</td>
            <td><a href="{% ccp_order_page order.order_id order.customer_id %}" target="_blank"><button>C</button></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block script %}{{ block.super }}
<script>
    function go_to_page(page_number) {
        $('#filter_form').find('input[name="page"]').val(page_number);
        $('#filter_form').find('input[type="submit"]').click();
    }

    $(document).ready(function() {
        $('.datepicker').datepicker({
          showOtherMonths: true,
          selectOtherMonths: true,
          dateFormat: 'yy-mm-dd'
        });
        {% if page_obj.has_previous %}
        $('#first_page').click(function() {
            go_to_page(1);
        });

        $('#previous_page').click(function() {
            go_to_page({{ page_obj.previous_page_number }});
        });
        {% endif %}
        {% if page_obj.has_next %}
        $('#next_page').click(function() {
            go_to_page({{ page_obj.next_page_number }});
        });

        $('#last_page').click(function() {
            go_to_page({{ page_obj.paginator.num_pages }});
        });
        {% endif %}

        $('#filter_form input').change(function() {$('#filter_form').find('input[name="page"]').val(1);})
        $('#filter_form select').change(function() {$('#filter_form').find('input[name="page"]').val(1);})
    });
</script>

{% endblock %}
