{% extends "labelmaker/base.html" %}

{% block content %}

<h1>Bay Labels</h1>
<h2>Create labels for bays</h2>

<form action="{% url 'labelmaker:bay_labels_pdf' %}" method="POST" autocomplete="off" id="bay_label_form">{% csrf_token %}
<table>
<thead>
    <tr>
    <th>Row</th>
    <th>First</th>
    <th>Last</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>
            <select name="row" id="row_select" class="row">
            <option value=""></option>
            {% for row in rows %}
            <option value="{{ row }}">{{ row }}</option>
            {% endfor %}
            </select>
        <td>
            <input name="first" type="number" value="1" min="1" max="999" step="1" class="first">
        </td>
        <td>
            <input name="first" type="number" value="1" min="1" max="999" step="1" class="last">
        </td>
    </tr>
</tbody>
<tfoot>
    <tr>
    <th colspan="2"><button type="submit">Generate Labels</button></th>
    </tr>
</tfoot>
</table>
</form>

{% endblock %}

{% block script %}
<script>
  function addRow() {
    var row = $('tbody tr:last').clone();
    row.find('#row_select').val('');
    row.find('input').val(1);
    row.insertAfter($('tbody tr:last'));
  }
  $(document).ready(function() {
    $('table').focusout(function(e) {
      var lastRow = $(this).find('tbody tr:last');
      if (lastRow.find('#row_select').val().length > 0) {
        addRow();
      }
    });

    $("#bay_label_form").submit(function(e) {
        var data = [];
        var bay_ranges = $('table').find('tbody tr');
        bay_ranges.each(function(i) {
            var bay_range = $(this);
            row = $(bay_range).find(".row").val();
            first = $(bay_range).find(".first").val();
            last = $(bay_range).find(".last").val();
            if (row) {
                data.push({'row': row, 'first': first, 'last': last});
            }
        });
        var json_string = JSON.stringify(data);
        var newFormField = "<input name='data' value='" + json_string + "' />"
        $(this).append(newFormField);
        return true;
    });

  });
</script>
{% endblock %}