{% extends "labelmaker/base.html" %}
{% load static %}

{% block content %}

    <div class="container">
        <h1 class="display-1 mb-0">Labelmaker</h1>
        <p class="fs-4 mb-5">Create printable labels</p>
 
        <div class="list-group col-6">
            <a href="{% url 'labelmaker:product_labels' %}" class="list-group-item">Product Labels</a>
            <a href="{% url 'labelmaker:address_labels' %}" class="list-group-item">Address Labels</a>
            <a href="{% url 'labelmaker:small_labels' %}" class="list-group-item">Small Labels</a>
        </div>
    </div>

{% endblock content %}
