{% extends "labelmaker/base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <h3 class="display-3 mb-5">Product Labels</h3>
 

        <div class="mb-5">
            <a href="{% url 'labelmaker:create_product_labels' %}"
               class="btn btn-primary">Create Product Labels without a Template</a>
            <a href="{% url 'labelmaker:create_size_chart' %}"
               class="btn btn-primary">Create a New Product Label Template</a>
            <a href="{% url 'labelmaker:test_product_labels' %}"
               class="btn btn-secondary">Test Label Sheet</a>
        </div>

        <div class="row">
            {% for supplier, supplier_charts in size_charts.items %}
                <div class="col-4">
                    <ul class="list-group mb-5 bg-light border-rounded">
                        <li class="list-group-item active fs-4">
                            {% if supplier %}
                                {{ supplier.name }}
                            {% else %}
                                Unknown Supplier
                            {% endif %}
                        </li>
                        {% for chart in supplier_charts %}
                            <li class="list-group-item d-flex justify-content-between">
                                <a href="{{ chart.get_use_url }}">{{ chart.name }}</a>
                                <span class="text-end text-nowrap">
                                    <a href="{{ chart.get_edit_sizes_url }}"
                                       title="Edit"
                                       class="btn btn-primary btn-sm">Edit</a>
                                    <a href="{{ chart.get_delete_url }}"
                                       title="Delete"
                                       class="btn btn-danger btn-sm">Delete</a>
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
