{% extends "labelmaker/base.html" %}
{% load static %}

{% block content %}
<h1>Product Labels</h1>

<div class="template_supplier">
    <a href="{% url 'labelmaker:create_product_labels' %}">
        <button>Create Product Labels without a Template</button>
    </a>
    <a href="{% url 'labelmaker:test_product_labels' %}">
        <button>Test Label Sheet</button>
    </a>
</div>

<h2>Templates</h2>

<div class="template_list">
    {% for supplier, supplier_charts in size_charts.items %}
    <div class="template_supplier">
        {% if supplier %}
        <p>{{ supplier.name }}</p>
        {% else %}
        <p>Unknown Supplier</p>
        {% endif %}
        <ul class="supplier_template_list">
            {% for chart in supplier_charts %}
            <div class="template">
                <a href="{{ chart.get_use_url }}">
                    <li>{{ chart.name }}</li>
                </a>
                <div class="template_buttons">
                    <a href="{{ chart.get_edit_sizes_url }}" title="Edit">
                        <img src="{% static 'images/edit.png' %}" alt="Edit" height="20" width="20">
                    </a>
                    <a href="{{ chart.get_delete_url }}" title="Delete">
                        <img src="{% static 'images/delete.png' %}" alt="Delete" height="20" width="20">
                    </a>
                </div>
            </div>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>

<div class="template_supplier">
    <a href="{% url 'labelmaker:create_size_chart' %}">
        <button>Create a New Product Label Template</button>
    </a>
</div>
{% endblock %}