<div class="navbar navbar-expand-md navbar-light">
    {% include 'home/section_navigation_header.html' with view='labelmaker:index' text='Labelmaker' %}
    <div class="collapse navbar-collapse" id="section_navigation">
        <ul class="navbar-nav mr-auto">
            {% include 'home/section_navigation_link.html' with view='labelmaker:product_labels' text='Product Labels' %}
            {% include 'home/section_navigation_link.html' with view='labelmaker:address_labels' text='Address Labels' %}
            {% include 'home/section_navigation_link.html' with view='labelmaker:small_labels' text='Small Labels' %}
        </ul>
    </div>
</div>