<div class="section_navigation">
    <ul>
        <li><a href="{% url 'labelmaker:index' %}">Labelmaker</a></li>
        <li><a href="{% url 'labelmaker:product_labels' %}">Product Labels</a></li>
        <li><a href="{% url 'labelmaker:address_labels' %}">Address Labels</a></li>
        <li><a href="{% url 'labelmaker:small_labels' %}">Small Labels</a></li>
        <li><a href="{% url 'labelmaker:create_size_chart_form' %}">Create Size Chart</a></li>
        <li><a href="{% url 'labelmaker:size_charts' %}">Size Charts</a></li>
        <li><a href="{% url 'labelmaker:test_pdf' %}">Test PDF Maker</a></li>
    </ul>
</div>
