{% extends "labelmaker/base.html" %}
{% load staticfiles %}

{% block content %}
<form class="size_chart_form" action="{% if size_chart %}{% url 'labelmaker:edit_size_chart' size_chart.id %}{% else %}{%url 'labelmaker:create_size_chart' %}{% endif %}" method="POST">
    {% csrf_token %}
    <label for="size_chart_name">Supplier name:&nbsp;</label>
    <input type="text" class="size_chart_name" name="size_chart_name"{% if size_chart %} value="{{ size_chart.name }}"{% endif %} size="150">
    <table class="edit_size_chart">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>UK Size</th>
                <th>EUR Size</th>
                <th>USA Size</th>
                <th>AUS Size</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if sizes %}
            {% for size in sizes %}
            {% include 'labelmaker/size_chart_form_row.html' %}
            {% endfor %}
            {% else %}
            {% include 'labelmaker/size_chart_form_row.html' %}
            {% endif %}
        </tbody>
    </table>
    <button class="add_row" type="button">Add Size</button>
    <input type="submit" name="submit" value="{% if size_chart %}Save{% else %}Create{% endif %}">
</form>
{% endblock %}
{% block script %}
<script>
    $( document ).ready(function() {
        var table = $('.edit_size_chart');
        function set_clicks() {
            $(".up,.down,.delete,.readd").click(function(){
                var row = $(this).parents("tr:first");
                if ($(this).is(".up")) {
                    up_button(row);
                } else if ($(this).is(".down")){
                    down_button(row);
                } else if ($(this).is(".delete")){
                    delete_button(row);
                } else if ($(this).is(".readd")){
                    readd_button(row);
                }
            });
        };

        up_button = function(row) {
            row.insertBefore(row.prev());
        };

        down_button = function(row) {
            row.insertAfter(row.next());
        };

        delete_button = function(row) {
            if (row.find('.action').val() === 'create') {
                row.remove();
            } else {
                row.find('input').prop('disabled', true);
                row.find('.action').val('delete');
                var delbutton = row.find('.delete');
                var new_button = $('<button type="button" class="readd">Re-Add</button>');
                delbutton.replaceWith(new_button);
                new_button.click(function() {
                    readd_button(row);
                });
            }
        };

        readd_button = function(row) {
            row.find('input').prop('disabled', false);
            row.find('.action').val('edit');
            var readd_button = row.find('.readd');
            var new_button = $('<button type="button" class="delete">Delete</button>');
            readd_button.replaceWith(new_button);
            new_button.click(function() {
                delete_button(row);
            });
        };

        add_row = function (table) {
            var new_row = table.find('tr:last').clone();
            new_row.find('input').val('');
            new_row.find('.action').val('create');
            table.append(new_row);
            set_clicks();
        };

        $('.add_row').click(function() {add_row(table)});
        set_clicks();
        $(".size_chart_form").submit(function(e){
            //e.preventDefault()
            var size_data = [];
            var form = $(this);
            var rows = form.find('tbody').find('tr');
            rows.each(function(index, row) {
                var row = $(row);
                size_data.push({
                    'action': row.find('.action').val(),
                    'sort': index,
                    'id': row.find('.id').val(),
                    'name': row.find('.name').val(),
                    'uk_size': row.find('.uk_size').val(),
                    'eu_size': row.find('.eu_size').val(),
                    'us_size': row.find('.us_size').val(),
                    'au_size': row.find('.au_size').val(),
                });
            });
            data = {
                'size_chart_name': $('.size_chart_name').val(),
                'size_conversions': size_data
            }
            console.log(data);
            $('.size_chart_name').remove();
            var input = $('<input type="text" name="data">');
            input.val(JSON.stringify(data));
            $('.content').append('<div class="loading"></div>');
            $('.size_chart_form').hide();
            $('.edit_size_chart').replaceWith(input);
         });
    });
</script>
{% endblock %}
