{% extends "labelmaker/base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <h3 class="display-3 mb-2">Edit Size Chart</h3>
        <p class="mb-5 fs-4">
            {% if size_chart.supplier %}
                {{ size_chart.supplier.name }}
            {% else %}
                No Supplier
            {% endif %}
            - {{ size_chart.name }}&nbsp;
            <a href="{{ size_chart.get_absolute_url }}"
               class="btn btn-primary btn-sm">Edit</a>
        </p>
        <div>
            <button id="add_row" class="btn btn-primary">Add Size</button>
        </div>
        <form class="size_chart_form" method="post" id="size_form">
            {% csrf_token %}
            {{ formset.management_form }}
            <table id="sizes" class="table table-light">
                <thead class="table-primary">
                    <tr>
                        {% for field in formset.0.visible_fields %}<th>{{ field.label }}</th>{% endfor %}
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in formset %}
                        <div class="error">{{ form.non_field_errors }}</div>
                        <tr class="size">
                            {% for field in form.visible_fields %}<td>{{ field }}{{ field.errors }}</td>{% endfor %}
                            <td>
                                <a class="order_button up btn btn-sm btn-primary"><i class="bi bi-arrow-up-short fs-5"></i></a>
                            </td>
                            <td>
                                <a class="order_button down btn btn-sm btn-primary"><i class="bi bi-arrow-down-short fs-5"></i></a>
                            </td>
                            {% for field in form.hidden_fields %}{{ field }}{% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="submit" value="Save" class="btn btn-primary">
        </form>
    </div>
{% endblock content %}

{% block script %}
    {{ block.super }}
    <script>
    function cloneMore(selector, type) {
        var newElement = $(selector).clone(false);
        var total = $('#id_' + type + '-TOTAL_FORMS').val();
        newElement.find(':input').not('.order_button').each(function () {
            var name = $(this).attr('name').replace('-' + (total - 1) + '-', '-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({
                'name': name,
                'id': id
            }).val('').removeAttr('checked');
        });
        newElement.find('label').each(function () {
            var newFor = $(this).attr('for').replace('-' + (total - 1) + '-', '-' + total + '-');
            $(this).attr('for', newFor);
        });
        total++;
        $('#id_' + type + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
    }

    function order_button_display() {
        $('.order_button').attr('hidden', false);
        $('.up:first').attr('hidden', true);
        $('.down:last').attr('hidden', true);
    }

    function set_order_buttons() {
        $('.order_button').click(function () {
            $('.order_button').off('click');
            var row = $(this).parents(".size:first");
            if ($(this).is('.up')) {
                row.insertBefore(row.prev('tr.size'));
            } else if ($(this).is('.down')) {
                row.insertAfter(row.next());
            }
            order_button_display();
            set_order_buttons()
        });
    }

    $(document).ready(function () {
        $('#add_row').click(function () {
            cloneMore('#sizes tr:last', 'sizechartsize_set');
            order_button_display();
            set_order_buttons();
        });
        order_button_display();
        set_order_buttons();

        $('#size_form').submit(function () {
            $('tr.size').each(function () {
                var order_input = $(this).find('.size_order');
                order_input.val($(this).index() + 1);
            });
        });
    });
    </script>
{% endblock script %}
