{% extends "labelmaker/base.html" %}
{% load staticfiles %}

{% block content %}
<table id="size_charts">
    <thead></thead>
    <tbody>
        {% for size_chart in size_charts %}
        <tr>
            <td>{{ size_chart }}</td>
            <td>
                <a class="edit" href="{{ size_chart.get_absolute_url }}">
                    <button class="edit_button" type="button">Edit</button>
                </a>
            </td>
            <td>
                <a class="delete" href="{{ size_chart.get_delete_url }}">
                    <button class="delete_button" type="button">Delete</button>
                </a>
            </td>
            <td class="url" hidden >{{ size_chart.id }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
