{% extends "labelmaker/base.html" %}

{% block content %}

  <div class="container">
    <h3 class="display-3 mb-2">Small Labels</h3>
    <p class="mb-5">Create labels with generic text on small labels</p>

    <div class="col-6">
      <form action="{% url 'labelmaker:small_label_pdf' %}"
            method="post"
            target="_blank"
            autocomplete="off">
        {% csrf_token %}
        <table class="table table-primary">
          <thead class="table-secondary">
            <tr>
              <th>Text</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <textarea name="label_text"
                          id="label_text_input"
                          class="form-control"
                          cols="20"
                          rows="3"
                          style="text-align: center"></textarea>
                <td>
                  <input name="quantity"
                         class="form-control"
                         type="number"
                         value="1"
                         min="0"
                         max="999"
                         step="1">
                </td>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="2">
                <button type="submit" class="btn btn-primary">Generate Labels</button>
              </th>
            </tr>
          </tfoot>
        </table>
        <br>
      </form>
    </div>
  </div>

{% endblock content %}

{% block script %}

  <script>
  function addRow() {
    var row = $('tbody tr:last').clone();
    row.find('textarea').val('');
    row.find('input').val(1);
    row.insertAfter($('tbody tr:last'));
  }
  $(document).ready(function() {
    $('table').focusout(function(e) {
      var lastRow = $(this).find('tbody tr:last');
      if (lastRow.find('textarea').val().length > 0) {
        addRow();
      }
    });
  });
  </script>

{% endblock script %}
