
{% extends "orders/base.html" %}
{% load static %}

{% block additional_head %}
  <script src="{% static 'scripts/Chart.bundle.min.js' %}"></script>
  <style>
      .chart {
          width: 80%;
      }
  </style>
{% endblock additional_head %}

{% block content %}

  <div class="container">
 
    <h3 class="display-3 mb-5">Order Charts</h3>
 
    <form action="" method="post">
      {% csrf_token %}
      <table>
        <tr>
          <th>{{ form.number_of_weeks.label }}</th>
          <td>
            {% if form.number_of_weeks.errors %}
              <ul>
                {% for error in form.number_of_weeks.errors %}<li>{{ error }}</li>{% endfor %}
              </ul>
            {% endif %}
            {{ form.number_of_weeks }}
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
          </td>
        </tr>
      </table>
    </form>
 
    <div class="chart mb-5" id="orders_by_week_chart">{{ orders_by_week_chart.as_html }}</div>
    <div class="chart" id="orders_by_week_chart">{{ orders_by_day_chart.as_html }}</div>
 
  </div>

{% endblock content %}
