{% extends "orders/base.html" %}
{% load orders_extras %}

{% block content %}
    <div class="container">
        <h3 class="display-3 mb-5">Orders</h3>

        <div class="row mb-5 justify">
            <div class="col-4 me-5">
                <form action="" method="get" id="fliter_orders">
                    {% include "home/bootstrap_inline_form.html" %}
                    <button class="btn btn-primary">Filter</button>
                </form>
            </div>
            <div class="col bg-light rounded p-3" id="export"></div>
        </div>
        <div class="text-center">Showing {{ page_obj.object_list|length }} of {{ page_obj.paginator.count }} orders</div>
        {% include "orders/pagination_navigation.html" %}
        <table class="orders table table-sm table-hover mb-3">
            <thead class="table-primary">
                <tr>
                    <th>Order ID</th>
                    <th>Recieved At</th>
                    <th>Dispatched At</th>
                    <th>Country</th>
                    <th>Channel</th>
                    <th>Tracking Number</th>
                    <th>Shipping Service</th>
                    <th>Profit</th>
                </tr>
            </thead>
            <tbody>
                {% for order in object_list %}
                    <tr class="order">
                        <th class="font-monospace user-select-all">{{ order.order_id }}</th>
                        <td>{{ order.recieved_at|date:"Y-m-d H:i" }}</td>
                        <td>
                            {% if order.dispatched_at %}
                                {{ order.dispatched_at|date:"Y-m-d H:i" }}
                            {% else %}
                                UNDISPATCHED
                            {% endif %}
                        </td>
                        <td>{{ order.country }}</td>
                        <td>{{ order.channel }}</td>
                        <td class="font-monospace user-select-all">{{ order.tracking_number }}</td>
                        <td>{{ order.shipping_service.name }}</td>
                        <td>
                            {% if order.calculated_shipping_price is None %}
                                Not yet calculated
                            {% else %}
                                <a href="{% url 'orders:order_profit' order.id %}">
                                    {% format_price order.profit %}
                                    &nbsp;
                                    {% format_percentage order.profit_percentage %}
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "orders/pagination_navigation.html" %}
    </div>
{% endblock content %}

{% block script %}
    {{ block.super }}
    <script>
    var export_url = "{% url 'orders:export_orders' %}";
    var order_status_url = "{% url 'orders:order_export_status' %}";

    function create_export() {
        form = $("#fliter_orders");
        $.ajax({
            url: export_url,
            type: "POST",
            data: form.serialize(),
            success: function(data) {
                update_export_status();
            }
        });
        update_export_status();
    }

    function enable_export_button() {
        $("#export_orders").click(function(e) {
            e.preventDefault();
            create_export();
        });
    }

    function update_export_status() {
        $.ajax({
            url: order_status_url,
            type: "GET",
            success: function(html) {
                $("#export").html(html);
                enable_export_button();
            }
        });
    }

    $(document).ready(function() {
        update_export_status();
        setInterval(update_export_status, 30000);
    });
    
    </script>
{% endblock script %}
