{% extends "orders/base.html" %}
{% load static %}
{% load orders_extras %}

{% block page_title %}
    Profit Loss Order {{ order.order_id }}
{% endblock page_title %}

{% block content %}
    <h3 class="display-3">
        Order: <span class="font-monospace user-select-all">{{ order.order_id }}</span>
    </h3>
    <p class="fs-4 mb-5">
        Tracking Number: <span class="font-monospace user-select-all">{{ order.tracking_number }}</span>
    </p>
 
    {% if order.error %}<p class="text-danger">An error occured processing the details of this order</p>{% endif %}

    <div class="row">
        <div class="col-4">
            <table class="table table-light table-hover table-sm mb-3">
                <tr>
                    <th>Destination</th>
                    <td>{{ order.country.name }}</td>
                </tr>
                <tr>
                    <th>Recieved At</th>
                    <td class="date">{{ order.recieved_at|date:'D jS N h:iA' }}</td>
                </tr>
                <tr>
                    <th>Dispatched At</th>
                    <td class="date">{{ order.dispatched_at|date:'D jS N h:iA' }}</td>
                </tr>
                <tr>
                    <th>Number of Items</th>
                    <td>{{ order.item_count }}</td>
                </tr>
                <tr>
                    <th>Weight (g)</th>
                    <td>{{ order.total_weight }}</td>
                </tr>
                <tr>
                    <th>Shipping Service</th>
                    <td>{{ order.shipping_service }}</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>{% format_price order.total_paid_GBP %}</td>
                </tr>
                <tr>
                    <th>Purchase Price</th>
                    <td>{% format_price order.purchase_price %}</td>
                </tr>
                <tr>
                    <th>Postage Price</th>
                    <td>{% format_price order.calculated_shipping_price %}</td>
                </tr>
                <tr>
                    <th>Tax</th>
                    <td>{% format_price order.tax_GBP %}</td>
                </tr>
                <tr>
                    <th>Channel Fee</th>
                    <td>{% format_price order.channel_fee_paid %}</td>
                </tr>
                <tr>
                    <th>Profit</th>
                    <td>{% format_price order.profit %}</td>
                </tr>
                <tr>
                    <th>Profit Percentage</th>
                    <td>
                        {% if order.profit_percentage %}
                            {{ order.profit_percentage }}%
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-6">
            <table class="table table-light table-hover table-sm mb-3">
                <tr>
                    <th>Quantity</th>
                    <th>SKU</th>
                    <th>Name</th>
                </tr>
                {% for product in products %}
                    <tr>
                        <td>{{ product.quantity }}</td>
                        <td class="font-monospace user-select-all">{{ product.sku }}</td>
                        <td>{{ product.name }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}
