{% load humanize %}
<h3>Order Export</h3>
{% if export_record %}
    
    <p>Requested {{ export_record.created_at | naturaltime }}</p>
    {% if export_record.status == export_record.COMPLETE %}
        <p>Exported {{ order_count }} orders {{ export_record.completed_at | naturaltime }}</p>
        <p>
            <button onclick="location.href='{{ export_record.download_file.url }}'">
                Download Export
            </button>
        </p>
    {% elif export_record.status == export_record.IN_PROGRESS %}
        <p><i class="fa-solid fa-spinner fa-spin-pulse"></i> Currently exporting {{ order_count }} exports.</p>
    {% else %}
        <p class="error">There was an error creating the export.</p>
    {% endif %}
{% else %}
    <p>You have not created any order exports</p>
{% endif %}
<p><button type="button" id="export_orders">Create Export</button></p>