<div class="navbar navbar-expand-md navbar-light">
    {% include 'home/section_navigation_header.html' with view='orders:index' text='Orders' %}
    <div class="collapse navbar-collapse" id="section_navigation">
        <ul class="navbar-nav mr-auto">
            {% include 'home/section_navigation_link.html' with view='orders:order_list' text='Order List' %}
            {% include 'home/section_navigation_link.html' with view='orders:breakages' text='Breakages' %}
            {% include 'home/section_navigation_link.html' with view='orders:charts' text='Charts' %}
            {% include 'home/section_navigation_link.html' with view='orders:undispatched_orders' text='Undispatched Orders' %}
            {% include 'home/section_navigation_link.html' with view='profit_loss:orders' text='Profit / Loss' %}
        </ul>
    </div>
</div>
