{% extends 'orders/base.html' %}

{% load static %}

{% block content %}

<form action="" id="warning_filter_form">{% csrf_token %}
    {{ form.as_p }}
    <button id="filter_warnings">Filter</button>
</form>


<div id="tracking_warnings">
</div>

{% endblock content %}

{% block script %}

<script>
    var tracking_url = "{% url 'tracking:tracking_warnings' %}";
    var tracking_warnings_div = $('#tracking_warnings');
    var warning_filter_form = $("#warning_filter_form");

    $(document).ready(function () {

        warning_filter_form.submit(function (e) {
            e.preventDefault();
            tracking_warnings_div.html("<img src={% static 'images/loading.gif' %} alt=Loading/>");
            var form = $(this);

            $.ajax({
                type: "POST",
                url: tracking_url,
                data: form.serialize(),
                success: function (response) {
                    $('#tracking_warnings').html(response)
                }
            });


        });

        warning_filter_form.submit();
    });
</script>

{% endblock script %}