<div class="mb-4 p-3 border rounded bg-light text-danger fw-bold"
     id="urgent">
    <div id="urgent_count">
        <span class="name">Urgent:</span>
        <span class="count">{{ urgent|length }}</span>
        <span class="toggle" id="urgent_toggle">►</span>
    </div>
    <div class="order_ids" id="urgent_ids">
        {% for order_ID in urgent %}<div class="fs-6 font-monospace user-select-all">{{ order_ID }}</div>{% endfor %}
    </div>
</div>
<div class="mb-4 p-3 border rounded bg-light text-danger" id="priority">
    <div id="priority_count">
        <span class="name">Priority:</span>
        <span class="count">{{ priority|length }}</span>
        <span class="toggle" id="priority_toggle">►</span>
    </div>
    <div class="order_ids" id="priority_ids">
        {% for order_ID in priority %}<div class="fs-6 font-monospace user-select-all">{{ order_ID }}</div>{% endfor %}
    </div>
</div>
<div class="mb-4 p-3 border rounded bg-light" id="non_priority">
    <div id="non_priority_count">
        <span class="name">Non-Priority:</span>
        <span class="count">{{ non_priority|length }}</span>
        <span class="toggle" id="non_priority_toggle">►</span>
    </div>
    <div class="order_ids" id="non_priority_ids">
        {% for order_ID in non_priority %}<div class="fs-6 font-monospace user-select-all">{{ order_ID }}</div>{% endfor %}
    </div>
</div>
<div class="order_type">
    <div class="mb-4 p-3 border rounded bg-light">
        <span class="name">Total:</span>
        <span class="count">{{ total }}</span>
    </div>
</div>
