{% extends "orders/base.html" %}
{% load static %}

{% block additional_head %}
    <script src="{% static 'scripts/undispatched.js' %}"></script>
{% endblock additional_head %}

{% block content %}

    <div class="container">
 
        <h3 class="display-3 mb-5">Undispatched Orders</h3>
 
        <div class="undispatched fs-5"></div>
 
    </div>

{% endblock content %}

{% block script %}
    {{ block.super }}
    <script>
    $(document).ready(function() {
        $.get("{% url 'orders:undispatched_data' %}", function(response) {
            $(".undispatched").html(response);
            setup_order_ids();
        });
    });
    </script>
{% endblock script %}
