{% extends "inventory/product_editor/base.html" %}

{% block content %}{{ block.super }}
<h4>Add options to the {{ product_option.name }} dropdown</h4>
<div class="product_form">
  <form action="" method="POST" autocomplete="off">{% csrf_token %}
    {% include "inventory/input_add_on_form.html" %}
    <button type="submit" >Add Product Option Values</button>
    <a href="{% url 'inventory:edit_variations' edit.pk %}">
      <button id="cancel" type="button">Cancel</button>
    </a>
  </form>
</div>
{% endblock %}
