{% extends "inventory/base.html" %}
{% load static %}

{% block additional_head %}
  {{ block.super }}
  <script src="{% static 'scripts/stock_manager.js' %}"></script>
{% endblock additional_head %}

{% block content %}
  {{ block.super }}
  <div class="container">
    <h3 class="display-3 mb-5">
      Creating
      {% if product_range %}
        <span class="sku">{{ product_range.name }}</span>
      {% else %}
        New Range
      {% endif %}
    </h3>
    {% block page_content %}
    {% endblock page_content %}
  </div>
{% endblock content %}
