{% extends "inventory/base.html" %}
{% load static %}

{% block additional_head %}{{ block.super }}
<link rel="stylesheet" href="{% static "css/product_editor.css" %}">
<script src="{% static 'scripts/stock_manager.js' %}"></script>
{% endblock %}

{% block content %}{{ block.super }}
<div class="title">
  {% if product_range %}
  <h1>Editing <span class="sku">{{ product_range.name }}</span></h1>
  {% if product_range.name != product_range.name %}
  <p>(Name changed to <span class="sku">{{ product_range.name }}</span>)</p>
  {% endif %}
  {% else %}
  <h1>Creating <span class="sku">{{ product_range.name }}</span></h1>
  {% endif %}
</div>
{% endblock %}