{% extends "inventory/product_editor/base.html" %}
{% load static %}

{% block additional_head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/product_page.css' %}">
  <script src="{% static 'scripts/new_product.js' %}"></script>
  {% include "home/froala_head.html" %}
{% endblock additional_head %}

{% block content %}
  <div class="container text-start">
    {{ block.super }}
    <div class="container">
      <div class="row">
        <div class="col-6">
          <form action="" method="post" autocomplete="off">
            {% csrf_token %}
            {% include "inventory/input_add_on_form.html" %}
            <button type="submit"
                    class="btn btn-primary"
                    name="product_type"
                    value="{{ form.SINGLE }}">Save Single Product</button>
            <button type="submit"
                    class="btn btn-primary"
                    name="product_type"
                    value="{{ form.VARIATION }}">Create Variations</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script %}
  {{ block.super }}
  <script>
  $(document).ready(function() {
    $(".product_form form").keydown(function(event){
      if(event.keyCode == 13) {
        event.preventDefault();
        return false;
      }
    });
  });
  </script>
{% endblock script %}
