{% extends "inventory/product_editor/base.html" %}
{% load static %}

{% block page_content %}
  {{ block.super }}
  <div class="container">
    <div class="col-lg-6">
      <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        {% include "home/bootstrap_input_group_form.html" %}
        <div class="row my-2">
          <button type="submit"
                  class="btn btn-primary form-control"
                  name="product_type"
                  value="{{ form.SINGLE }}">Save Single Product</button>
        </div>
        <div class="row my-2">
          <button type="submit"
                  class="btn btn-primary form-control"
                  name="product_type"
                  value="{{ form.VARIATION }}">Create Variations</button>
        </form>
      </div>
    </div>
  </div>
{% endblock page_content %}

{% block script %}
  {{ block.super }}
  <script>
  $(document).ready(function() {
    $(".product_form form").keydown(function(event){
      if(event.keyCode == 13) {
        event.preventDefault();
        return false;
      }
    });
  });
  </script>
{% endblock script %}
