{% extends "inventory/product_editor/base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block additional_head %}
  {{ block.super }}
  <style>
      .select2-container {
          min-width: 30em;
      }
  </style>
{% endblock additional_head %}

{% block content %}
  <div class="variation_selectors mb-3">
    <div class="container w-50">
      <div class="row mb-2">
        <div class="col">
          <h5>Select</h5>
        </div>
        <div class="col">
          <button class="btn btn-primary" id="select_all">All</button>
        </div>
        <div class="col">
          <button class="btn btn-primary" id="select_none">None</button>
        </div>
      </div>
      {% for option, values in variations.items %}
        <div class="row mb-2">
          <div class="col">
            <h6>{{ option }}</h6>
          </div>
          {% for value in values %}
            <div class="col">
              <button class="select_option btn btn-primary"
                      data-option="{{ option }}"
                      data-value="{{ value }}">{{ value }}</button>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="field_selection mb-3">
    <ul class="nav nav-tabs">
      {% for field in formset.0.visible_fields %}
        <li class="nav-item">
          <a id="hide_{{ field.name }}"
             class="field_select{% if field.name in error_fields %} error{% endif %} nav-link">{{ field.label }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="container">
 

    {% for error in formset.non_field_errors %}{{ error }}{% endfor %}
    <form action="" method="post">
      {% csrf_token %}
      {{ formset.management_form }}

      <table class="variation_table table table-sm table-striped table-hover">
        <tr class="table-primary">
          <th>SKU</th>
          {% for variation_field in variations %}<th>{{ variation_field }}</th>{% endfor %}
          {% for variation_option in variation_options %}<th>{{ variation_option }}</th>{% endfor %}
          <th>Supplier SKU</th>
          {% for field in formset.0.visible_fields %}
            <th class="field_cell {{ field.name }} col-5">{{ field.label }}</th>
            <th class="field_cell {{ field.name }}"></th>
          {% endfor %}
        </tr>
        <tr class="copyrow table-secondary">
          <th></th>
          {% for name in variations %}<th></th>{% endfor %}
          {% for listing_option in formset.0.product.variable_options %}<th></th>{% endfor %}
          <th></th>
          {% for field in formset.0.visible_fields %}
            <td class="field_cell {{ field.name }}">
              {% bootstrap_field field wrapper_class='mb-1' show_help=false show_label='skip' %}
            </td>
          {% endfor %}
          <td>
            <button id="copybutton" type="button" class="btn btn-primary">Copy</button>
          </td>
        </tr>

        <script>
      $(document).ready(function () {
        $('.copyrow input, .copyrow select').each(function () {
          $(this).removeAttr('name');
          $(this).removeAttr('id');
        });
      });
        </script>

        {% for form in formset %}
          <tr class="product">
            <th>{{ form.instance.sku }}</th>
            {% for value in form.instance.variation_values %}<th class="option">{{ value }}</th>{% endfor %}
            <td class="sku">{{ form.instance.supplier_sku }}</td>
            {% for field in form.visible_fields %}
              <td class="field_cell {{ field.name }}">{% bootstrap_field field show_help=false show_label=false %}</td>
            {% endfor %}
            {% for field in form.visible_fields %}
              {% if field.errors %}<td class="error field_cell {{ field.name }}">{{ field.errors }}</td>{% endif %}
            {% endfor %}

            <td>
              <input type="checkbox" class="copy_checkbox form-check-input">
            </td>
            {% for field in form.hidden_fields %}{{ field }}{% endfor %}
          </tr>
        {% endfor %}
      </table>
      <a href="{% url 'inventory:edit_new_product' product_range.pk %}"
         class="btn btn-primary">Back</a>
      <button class="btn btn-primary">Save</button>
    </form>
  </div>
{% endblock content %}

{% block script %}
  {{ block.super }}
  <script src="{% static 'scripts/variation_form.js' %}"></script>
 
  <script>
  $(document).ready(function () {
    var table_width = $('.variation_table').find("tr:first th").length;
    $('.save_row').attr('colspan', table_width);
    $(".content form").keydown(function(event){
      if(event.keyCode == 13) {
        event.preventDefault();
        return false;
      }
    });
    $(".select2-container").attr("style", "width:100%;");
    $(".add_object_button").attr("style", "display:none;");
    $("#hide_{{ formset.0.visible_fields.0.name }}").click();
  });
  </script>
{% endblock script %}
