{% extends "inventory/base.html" %}
{% load static %}

{% block additional_head %}{{ block.super }}
  <link rel="stylesheet" href="{% static "css/product_editor.css" %}">
{% endblock %}

{% block content %}
<h1>Editing <span class="sku">{{ product_range.name }}</span></h1>
<a href="{% url 'inventory:edit_range_details' edit.pk %}">
  <button>Edit Range details</button>
</a>
<a href="{% url 'inventory:edit_variations' edit.pk %}">
  <button>Edit Variation Options</button>
</a>

<table class="variation_table">
  <tr>
    <th>SKU</th>
    {% for option in product_range.variation_options %}
    <th>{{ option }}</th>
    {% endfor %}
    <th colspan="3">
      <a href="{% url 'inventory:edit_all_variations' edit.pk %}">
        <button>Edit All</button>
      </a>
    </th>
  </tr>
  {% for options, product in variations.items %}
  <tr>
    <th class="sku">{% if product %}{{ product.SKU }}{% else %}-{% endif %}</th>
    {% for option in options %}<td>{{ option.value }}</td>{% endfor %}
    {% if product %}
    <th>
      <div class="buttons">
        <a href="{% url 'inventory:edit_variation' edit.pk product.pk %}">
          <button>Edit</button>
        </a>
        {% if product.pre_existing is False %}
        <a class="delete_variation" href="{% url 'inventory:delete_variation' edit.id product.id %}">
          <button>Delete</button>
        </a>
        {% endif %}
      </div>
    </th>
    {% if product.pre_existing %}
    <td>Existing</td>
    {% else %}
    <td>New</td>
    {% endif %}
    {% if product.is_complete %}
      <td class="positive">Complete</td>
    {% else %}
      <td class="error">Incomplete</td>
    {% endif %}
    {% else %}
    <th>
      <div class="buttons">
        <form action="{% url 'inventory:create_variation' edit.id %}" method="POST" class="create_variation_form">{% csrf_token %}
          {% for option in options %}
          <input type="hidden" name="{{ option.product_option.id }}" value="{{ option.id }}">
          {% endfor %}
          <button>Create</button>
        </form>
      </div>
    </th>
    <td>Does not exist</td>
    <td>-</td>
    {% endif %}
  </tr>
  {% endfor %}
</table>


<button{% if not ready_to_save %} disabled{% endif %}>Save Changes</button>
<a id="discard_changes" href="{% url 'inventory:discard_changes' edit.id %}">
  <button>Discard Changes</button>
</a>

{% endblock %}

{% block script %}{{ block.super }}
<script>
  $(document).ready(function(){
    $(".delete_variation").click(function(e) {
      if (!confirm('Are you sure you want to delete this variation?')) {
        e.preventDefault();
      }
    });
    $("#discard_changes").click(function(e) {
      if (!confirm('Are you sure you want to discard all changes?')) {
        e.preventDefault();
      }
    });
  });
</script>
{% endblock %}
