{% extends "inventory/product_editor/base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block page_content %}
  <div class="variation_selectors mb-3">
    <div class="col-lg-6">
      <div class="row mb-2">
        <div class="col-lg">
          <h5>Select</h5>
        </div>
        <div class="col">
          <button class="btn btn-primary" id="select_all" onclick="selectAll()">All</button>
        </div>
        <div class="col">
          <button class="btn btn-primary" id="select_none" onclick="selectNone()">None</button>
        </div>
      </div>
      {% for option, values in variations.items %}
        <div class="row mb-2">
          <div class="col-lg">
            <h6>{{ option }}</h6>
          </div>
          {% for value in values %}
            <div class="col">
              <button class="select_option btn btn-primary"
                      data-option="{{ option|slugify }}"
                      data-value="{{ value|slugify }}">{{ value }}</button>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="field_selection mb-3">
    <ul class="nav nav-pills flex-column flex-lg-row">
      {% for field in formset.0.visible_fields %}
        <li class="nav-item">
          <a id="field_select_{{ field.label|slugify }}"
             class="field_select nav-link {% if field.name in error_fields %}bg-danger{% endif %}"
             data-target="{{ field.label|slugify }}">{{ field.label }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

 

  {% for error in formset.non_field_errors %}{{ error }}{% endfor %}
  <form action="" method="post" autocomplete="off">
    {% csrf_token %}
    {{ formset.management_form }}

    <div class="row">
      <div class="col-lg"></div>
 
      {% for field in formset.0.visible_fields %}
        <div class="col-lg-3 field field_{{ field.label|slugify }} copyfield">
          {% bootstrap_field field wrapper_class='mb-1' show_help=false show_label='skip' %}
        </div>
 
        <div class="col-lg-2 field field_{{ field.label|slugify }}">
          <button type="button"
                  class="btn btn-primary copybutton"
                  data-target="{{ field.label|slugify }}">Copy</button>
        </div>
      {% endfor %}

    </div>

    <script>
      $(document).ready(function () {
        $('.copyfield input, .copyfield select').each(function () {
          $(this).removeAttr('name');
          $(this).removeAttr('id');
        });
      });
    </script>

    {% for form in formset %}
 
      <div class="row my-1 product">

        <div class="col-lg-2">
          <span class="font-monospace user-select-all">{{ form.instance.sku }}</span>
        </div>
        <div class="col-lg">
          {% for option, value in form.instance.variation.items %}
            <span class="me-2">
              <span class="text-muted">{{ option }}:&nbsp;</span><span class="fw-bold">{{ value }}</span>
            </span>
          {% endfor %}
        </div>
 
        {% for field in form %}
          <div class="col-lg-2 d-lg-none field field_{{ field.label|slugify }}">{{ field.label }}</div>
          <div class="col-lg-3 field field_{{ field.label|slugify }} input_{{ field.label|slugify }}">
            {% bootstrap_field field show_help=false show_label=false %}
          </div>
        {% endfor %}

        <div class="col-lg-2">
          <input class="form-check-input product_select" type="checkbox" id="select_{{ form.instance.id }}" {% for option, value in form.instance.variation.items %}data-{{ option|slugify }}="{{ value|slugify }}"{% endfor %}>
        </div>
 
      </div>

    {% endfor %}

    <div class="mb-3">
      <button class="btn btn-primary form-control">Continue</button>
    </div>
    <a href="{% url 'inventory:edit_new_product' product_range.pk %}"
       class="btn btn-primary form-control">Back</a>
  </form>
{% endblock page_content %}

{% block script %}
  {{ block.super }}
  <script src="{% static 'scripts/variation_form.js' %}"></script>
{% endblock script %}
