{% extends "inventory/product_editor/base.html" %}
{% load static %}

{% block additional_head %}{{ block.super }}
<link rel="stylesheet" href="{% static 'css/edit_variations.css' %}">
{% endblock %}

{% block content %}{{ block.super }}
<div>
  <a href="{% url 'inventory:add_dropdown' edit.pk %}">
    <button>Add a Dropdown to the Product Range</button>
  </a>
</div>
<div class="options">
  {% for option, values in product_options.items %}
  <div class="option">
    <h4>{{ option.name|title }}</h4>
    {% for value in values %}
    <div class="option_value">
      <p>{{ value.value }}</p>
      {% if value not in used_values %}
      <a href="{% url 'inventory:remove_product_option_value' edit.pk value.pk %}">
        <button>&#x2715;</button>
      </a>
      {% endif %}
    </div>
    {% endfor %}
    <div class="option_value">
      <a href="{% url 'inventory:add_product_option_values' edit.pk option.pk %}">
        <button>Add Option to Dropdown</button>
      </a>
    </div>
  </div>
  {% endfor %}
</div>
<a href="{% url 'inventory:edit_product' edit.pk %}"><button>Finish</button></a>

{% endblock %}
