{% extends "inventory/product_editor/base.html" %}
{% load static %}

{% block page_content %}
 
  <div class="mb-3">
    <a href="{% url 'inventory:edit_range_details' product_range.pk %}"
       class="btn btn-primary">Edit Range details</a>
    <a href="{% url 'inventory:add_images' product_range.pk %}"
       class="btn btn-primary">Edit Images</a>
  </div>

  <table class="table table-sm table-light table-hover">
    <tr class="table-primary">
      <th>SKU</th>
      {% for option in product_range.variation_options %}<th class="name">{{ option }}</th>{% endfor %}
      {% for option in product_range.listing_options %}<th class="listing_option">{{ option }}</th>{% endfor %}
      <th>
        <a href="{% url 'inventory:edit_all_variations' product_range.pk %}"
           class="btn btn-primary btn-sm">Edit All</a>
      </th>
      <th>Initial Stock Level</th>
      <th colspan="2">Status</th>
    </tr>
    {% for options, product in variations.items %}
      <tr>
        <td class="font-monospace user-select-all">
          {% if product %}
            {{ product.sku }}
          {% else %}
            -
          {% endif %}
        </td>
        {% for option in options %}<td class="name">{{ option }}</td>{% endfor %}
        {% if product %}
          {% for option, value in product.listing_options.items %}<td class="listing_option name">{{ value }}</td>{% endfor %}
        {% else %}
          {% for option in product_range.listing_options %}<th class="listing_option name">-</th>{% endfor %}
        {% endif %}
        {% if product %}
          <th>
            <div class="buttons">
              <a href="{% url 'inventory:edit_new_variation' product.pk %}"
                 class="btn btn-primary btn-sm">Edit</a>
            </div>
          </th>
          <th>
            {% if product_range.status == product_range.CREATING %}
              {% include "inventory/product_editor/set_initial_stock.html" %}
            {% endif %}
          </th>
          {% if product.pre_existing %}
            <td>Existing</td>
          {% else %}
            <td>New</td>
          {% endif %}
          {% if product.is_complete %}
            <td class="positive">Complete</td>
          {% else %}
            <td class="error">Incomplete</td>
          {% endif %}
        {% else %}
          <td>Does not exist</td>
          <td>-</td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>

  <a href="{% url 'inventory:complete_new_product' product_range.pk %}"
     class="btn btn-primary">Complete Product</a>
  <a id="discard_changes"
     href="{% url 'inventory:discard_new_range' product_range.id %}"
     class="btn btn-primary">Discard Product</a>
{% endblock page_content %}

{% block script %}
  {{ block.super }}
  <script>
  
  let get_initial_stock_url = "{% url 'linnworks:get_initial_stock_levels' %}";
  let update_initial_stock_url = "{% url 'linnworks:update_initial_stock_levels' %}";

  function get_stock_levels() {
    var product_ids = [{% for product in variations.values %}"{{ product.pk }}",{% endfor %}];
    $.ajax({
      type: "POST",
      url: get_initial_stock_url,
      data: JSON.stringify({ product_ids: product_ids }),
      contentType: "application/json",
      dataType: "json",
      success: function (response) {
        $.each(response, function (product_id, stock_level) {
          $("#initial_stock_" + product_id).val(stock_level);
          $("#stock_level_status_" + product_id).attr("class", get_stock_level_success_icon_class);
          $("#initial_stock_" + product_id).attr("disabled", false);
        });
      },
      error: function (response) {
        $(".update_status").attr("class", get_stock_level_error_icon_class);
      },
    });
  }

  function update_stock_level(product_id) {
    var new_stock_level = $("#initial_stock_" + product_id).val();
    $("#stock_level_status_" + product_id).attr("class", setting_stock_level_icon_class);
    $("#initial_stock_" + product_id).attr("disabled", false);
    $("#stock_level_update_button_" + product_id).attr("disabled", true);
    $.ajax({
      type: "POST",
      url: update_initial_stock_url,
      data: JSON.stringify({stock_updates: [{
        product_id: product_id, new_stock_level: new_stock_level},
      ]}),
      contentType: "application/json",
      dataType: "json",
      success: function (response) {
        $.each(response, function (product_id, stock_level) {
          $("#initial_stock_" + product_id).val(stock_level);
          $("#stock_level_status_" + product_id).attr("class", set_stock_level_success_icon_class);
          $("#initial_stock_" + product_id).attr("disabled", false);
          $("#stock_level_update_button_" + product_id).attr("disabled", true);
        });
      },
      error: function (response) {
        $("#stock_level_status_" + product_id).attr("class", set_stock_level_error_icon_class);
      },
    });
  }
  
  $(document).ready(function () {
    $(".delete_variation").click(function (e) {
      if (!confirm('Are you sure you want to delete this variation?')) {
        e.preventDefault();
      }
    });
    $("#discard_changes").click(function (e) {
      if (!confirm('Are you sure you want to discard this product range?')) {
        e.preventDefault();
      }
    });

    $(".stock_level_field").focus(function () {
      $(this).select();
    });

    $(".stock_level_field").on("input", function () {
      var product_id = $(this).attr("id").replace("initial_stock_", "");
      $("#stock_level_update_button_" + product_id).attr("disabled", false);
    });

    get_stock_levels();
    $(".stock_level_field").on("focusout", function() {
      var product_id = $(this).attr("id").replace("initial_stock_", "");
      update_stock_level(product_id);
    });
  });
  </script>
{% endblock script %}
