{% extends "inventory/product_editor/base.html" %}
{% load static %}

{% block additional_head %}{{ block.super }}
<link rel="stylesheet" href="{% static 'css/edit_variations.css' %}">
{% endblock %}

{% block content %}{{ block.super }}
<div>
  <a href="{% url 'inventory:add_dropdown' edit.pk %}">
    <button>Add a Dropdown to the Product Range</button>
  </a>
</div>
<div class="options">
  {% for option, values in product_options.items %}
  <div class="option">
    <h4>{{ option.name|title }}</h4>
    {% for value in values %}
    <div class="option_value">
      <p>{{ value.value }}</p>
      {% if value not in used_values %}
      <a href="{% url 'inventory:remove_product_option_value' edit.pk value.pk %}">
        <button>&#x2715;</button>
      </a>
      {% endif %}
    </div>
    {% endfor %}
    <div>
      <a href="{% url 'inventory:add_product_option_values' edit.pk option.pk %}">
        <button>Add Option to Dropdown</button>
      </a>
      {% if option not in pre_existing_options %}
      <br>
      <a class="remove_dropdown" href="{% url 'inventory:remove_dropdown' edit.pk option.pk %}">
        <button>Remove Dropdown</button>
      </a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
<a href="{% url 'inventory:edit_product' edit.pk %}"><button>Finish</button></a>
{% endblock %}

{% block script %}{{ block.super }}
  <script>
    $(document).ready(function() {
      $(".remove_dropdown").click(function(e) {
        if (!confirm(
          'Are you sure you want to remove this dropdown?\nThis will delete any new variations you have created.'
        )) {
          e.preventDefault();
        }
      });
    });
  </script>
{% endblock %}
