{% extends "inventory/product_editor/base.html" %}
{% load static %}

{% block additional_head %}
  {{ block.super }}
  {{ block.super }}
  <script src="{% static 'scripts/stock_manager.js' %}"></script>
  <link rel="stylesheet"
        href="{% static 'scripts/selectize/selectize.css' %}">
  <script src="{% static 'scripts/selectize/selectize.js' %}"></script>
  <script>
  /* beautify preserve:start */
  {% include 'inventory/widgets/product_widgets.js' %}
  /* beautify preserve:end */
  </script>
  <link rel="stylesheet" href="{% static 'css/range_page.css' %}">
  <style>
      .select2-container {
          min-width: 30em;
      }
  </style>
{% endblock %}

{% block content %}
  {{ block.super }}
  <div class="field_selection">
    {% for field in formset.0.visible_fields %}
      <button id="hide_{{ field.name }}"
              class="field_select{% if field.name in error_fields %} error{% endif %}">{{ field.label }}</button>
    {% endfor %}
  </div>
  <div class="variation_selectors">
    <table>
      <tr>
        <th></th>
        <td>
          <button id="select_all">All</button>
          &nbsp;
          <button id="select_none">None</button>
        </td>
      </tr>
      {% for option, values in variations.items %}
        <tr>
          <th>{{ option }}</th>
          <td>
            {% for value in values %}
              <button class="select_option">{{ value }}</button>
              &nbsp;
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>

  {% for error in formset.non_field_errors %}{{ error }}{% endfor %}
  <form action="" method="POST">
    {% csrf_token %}
    {{ formset.management_form }}
    <table class="variation_table">
      <tr>
        <th>SKU</th>
        {% for variation_field in variations %}<th>{{ variation_field }}</th>{% endfor %}
        {% for variation_option in variation_options %}<th>{{ variation_option }}</th>{% endfor %}
        <th>Supplier SKU</th>
        {% for field in formset.0.visible_fields %}
          <th class="field_cell {{ field.name }}">{{ field.label }}</th>
          <th class="field_cell {{ field.name }}"></th>
        {% endfor %}
      </tr>
      <tr class="copyrow">
        <th></th>
        {% for name in variations %}<th></th>{% endfor %}
        {% for listing_option in formset.0.product.variable_options %}<th></th>{% endfor %}
        <th></th>
        {% for field in formset.0.visible_fields %}<td class="field_cell {{ field.name }}">{{ field }}</td>{% endfor %}
        <td>
          <button id="copybutton" type="button">Copy</button>
        </td>
      </tr>

      <script>
      $(document).ready(function () {
        $('.copyrow input, .copyrow select').each(function () {
          $(this).removeAttr('name');
          $(this).removeAttr('id');
        });
      });
      </script>

      {% for form in formset %}
        <tr class="product">
          <th>{{ form.instance.sku }}</th>
          {% for value in form.instance.variation_values %}<th class="option">{{ value }}</th>{% endfor %}
          {% for listing_option in form.instance.variation_values %}{{ listing_option }}{% endfor %}
          <td class="sku">{{ form.instance.supplier_sku }}</td>
          {% for field in form.visible_fields %}<td class="field_cell {{ field.name }}">{{ field }}</td>{% endfor %}
          {% for field in form.visible_fields %}
            {% if field.errors %}<td class="error field_cell {{ field.name }}">{{ field.errors }}</td>{% endif %}
          {% endfor %}

          <td>
            <input type="checkbox" class="copy_checkbox">
          </td>
          {% for field in form.hidden_fields %}{{ field }}{% endfor %}
        </tr>
      {% endfor %}
      <th colspan="{{ formset.0.variation_options | length | add:"2" }}">
        <a href="{% url 'inventory:edit_new_product' product_range.pk %}">
          <button type="button">Back</button>
        </a>
        <button type="submit">Save</button>
      </th>
    </table>
  </form>

{% endblock %}

{% block script %}
  {{ block.super }}
  <script src="{% static 'scripts/variation_form.js' %}"></script>
  <script>
  $(document).ready(function () {
    var table_width = $('.variation_table').find("tr:first th").length;
    $('.save_row').attr('colspan', table_width);
    $(".content form").keydown(function(event){
      if(event.keyCode == 13) {
        event.preventDefault();
        return false;
      }
    });
  });
  </script>
{% endblock %}
