{% extends "inventory/product_editor/base.html" %}
{% load static %}


{% block content %}{{ block.super }}
<a href="{% url 'inventory:edit_range_details' product_range.pk %}">
  <button>Edit Range details</button>
</a>

<table class="variation_table">
  <tr>
    <th>SKU</th>
    {% for option in product_range.variation_options %}
    <th class="name">{{ option }}</th>
    {% endfor %}
    {% for option in product_range.listing_options %}
    <th class="listing_option">{{ option }}</th>
    {% endfor %}
    <th colspan="3">
      <a href="{% url 'inventory:edit_all_variations' product_range.pk %}">
        <button>Edit All</button>
      </a>
    </th>
  </tr>
  {% for options, product in variations.items %}
  <tr>
    <th class="sku">{% if product %}{{ product.sku }}{% else %}-{% endif %}</th>
    {% for option in options %}<td class="name">{{ option }}</td>{% endfor %}
    {% if product %}
    {% for option, value in product.listing_options.items %}
    <td class="listing_option name">{{ value }}</td>
    {% endfor %}
    {% else %}
    {% for option in product_range.listing_options %}
    <th class="listing_option name">-</th>
    {% endfor %}
    {% endif %}
    {% if product %}
    <th>
      <div class="buttons">
        <a href="{% url 'inventory:edit_new_variation' product.pk %}">
          <button>Edit</button>
        </a>
      </div>
    </th>
    <th>
      {% if product_range.status == product_range.CREATING %}
      {% include 'inventory/product_editor/set_initial_stock.html' %}
      {% endif %}
    </th>
    {% if product.pre_existing %}
    <td>Existing</td>
    {% else %}
    <td>New</td>
    {% endif %}
    {% if product.is_complete %}
    <td class="positive">Complete</td>
    {% else %}
    <td class="error">Incomplete</td>
    {% endif %}
    {% else %}
    <th>
      <div class="buttons">
        {% comment %} <form action="{% url 'inventory:create_variation' product_range.id %}" method="POST"
          class="create_variation_form">
          {% csrf_token %}
          {% for option in options %}
          <input type="hidden" name="{{ option.product_option.id }}" value="{{ option.id }}">
          {% endfor %}
          <button>Create</button>
        </form> {% endcomment %}
      </div>
    </th>
    <td>Does not exist</td>
    <td>-</td>
    {% endif %}
  </tr>
  {% endfor %}
</table>

<a href="{% url 'inventory:complete_new_product' product_range.pk %}">
  <button>Complete Product</button>
</a>
<a id="discard_changes" href="{% url 'inventory:discard_new_range' product_range.id %}">
  <button>Discard Product</button>
</a>

{% endblock %}

{% block script %}{{ block.super }}
<script>
  
  let get_initial_stock_url = "{% url 'linnworks:get_initial_stock_levels' %}";
  let update_initial_stock_url = "{% url 'linnworks:update_initial_stock_levels' %}";

  function get_stock_levels() {
    var product_ids = [{% for product in variations.values %}"{{ product.pk }}",{% endfor %}];
    $.ajax({
      type: "POST",
      url: get_initial_stock_url,
      data: JSON.stringify({ product_ids: product_ids }),
      contentType: "application/json",
      dataType: "json",
      success: function (response) {
        $.each(response, function (product_id, stock_level) {
          $("#initial_stock_" + product_id).val(stock_level);
          $("#stock_level_status_" + product_id).attr("class", get_stock_level_success_icon_class);
          $("#initial_stock_" + product_id).attr("disabled", false);
        });
      },
      error: function (response) {
        $(".update_status").attr("class", get_stock_level_error_icon_class);
      },
    });
  }

  function update_stock_level(product_id) {
    var new_stock_level = $("#initial_stock_" + product_id).val();
    $("#stock_level_status_" + product_id).attr("class", setting_stock_level_icon_class);
    $("#initial_stock_" + product_id).attr("disabled", false);
    $("#stock_level_update_button_" + product_id).attr("disabled", true);
    $.ajax({
      type: "POST",
      url: update_initial_stock_url,
      data: JSON.stringify({stock_updates: [{
        product_id: product_id, new_stock_level: new_stock_level},
      ]}),
      contentType: "application/json",
      dataType: "json",
      success: function (response) {
        $.each(response, function (product_id, stock_level) {
          $("#initial_stock_" + product_id).val(stock_level);
          $("#stock_level_status_" + product_id).attr("class", set_stock_level_success_icon_class);
          $("#initial_stock_" + product_id).attr("disabled", false);
          $("#stock_level_update_button_" + product_id).attr("disabled", true);
        });
      },
      error: function (response) {
        $("#stock_level_status_" + product_id).attr("class", set_stock_level_error_icon_class);
      },
    });
  }
  
  $(document).ready(function () {
    $(".delete_variation").click(function (e) {
      if (!confirm('Are you sure you want to delete this variation?')) {
        e.preventDefault();
      }
    });
    $("#discard_changes").click(function (e) {
      if (!confirm('Are you sure you want to discard this product range?')) {
        e.preventDefault();
      }
    });

    $(".stock_level_field").focus(function () {
      $(this).select();
    });

    $(".stock_level_field").on("input", function () {
      var product_id = $(this).attr("id").replace("initial_stock_", "");
      $("#stock_level_update_button_" + product_id).attr("disabled", false);
    });

    get_stock_levels();
    $(".stock_level_update_button").click(function() {
      var product_id = $(this).attr("id").replace("stock_level_update_button_", "");
      update_stock_level(product_id);
    });
  });
</script>
{% endblock %}