<div class="product_stock_level">
  <div class="stock_level_update_widget">
    <input id="initial_stock_{{ product.pk }}"
           class="stock_level_field"
           type="text"
           size="1"
           value="0"
           autocomplete="off"
           disabled>
    <span id="stock_level_status_{{ product.pk }}"
          class="stock_level_status_container">
      <div class="spinner-border spinner-border-sm">
        <span class="sr-only"></span>
      </div>
    </span>
  </div>
</div>
