{% extends "linnworks/base.html" %}
{% load staticfiles %}

{% block additional_head %}
<script src="{% static 'scripts/jquery.tablesorter.min.js' %}"></script>
{% endblock %}
{% block content %}
<table class="manifest_table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Customer Name</th>
            <th>Vendor</th>
            <th>Service</th>
            <th></th>
        </tr>
        <tr>
            <td><input type="text" name="filter_order_id" class="filter_order_id" placeholder="Filter Order ID"></td>
            <td><input type="text" name="filter_customer_name" class="filter_customer_name" placeholder="Filter Customer Name"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for consignment in consignments %}
            <tr>
                <td class="order_id_field">{{ consignment.order_id }}</td>
                <td class="customer_field">{{ consignment.customer }}</td>
                <td>{{ consignment.manifest.vendor }}</td>
                <td>{{ consignment.service.service_name }}</td>
                <td><input class="cancel_button" type="button" value="Cancel"></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $( document ).ready(function() {
        var csrftoken = $.cookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $('.manifest_table').tablesorter( {sortList: [[0,0], [1,0]]} );

        function filter(input, order_id_field) {
            input.keyup(function() {
                var filter_text = $(this).val();
                if (filter_text.length < 1) {
                    $('.manifest_table tbody tr').each(function() {
                        $(this).show();
                    });
                }
                $('.manifest_table tbody tr').each(function() {
                    var order_id = $(this).find(order_id_field).text();
                    if (order_id.toLowerCase().indexOf(filter_text) >= 0) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        };
        filter($('.filter_order_id'), '.order_id_field');
        filter($('.filter_customer_name'), '.customer_field');

        function cancel_button_gen(order_id) {
            return function(event) {
                console.log(order_id);
                $.post('{% url 'linnworks:cancel_order' %}', {'order_id': order_id})
            }};

        $('.manifest_table tbody tr').each(function() {
            var order_id = $(this).find('.order_id_field').text();
            var button = $(this).find('.cancel_button');
            button.click(cancel_button_gen(order_id));
        });
    });
</script>

{% endblock %}
