{% extends "linnworks/base.html" %}
{% load staticfiles %}

{% block content %}
<form action="">
    <table>
        <tr>
            <th>Channel</th>
            <td>
                <select name="" id="channel_id">
                    {% for channel in channels %}
                        <option value="{{ channel.channel_id }}">{{ channel.source }} {{ channel.sub_source }}</option>
                    {% endfor %}
                </select>
            </td>
            <td></td>
        </tr>
        <tr>
            <th>Channel SKU</th>
            <td><input type="text" id="channel_sku"></td>
            <td><input type="button" value="Search" id="search_by_channel_sku"></td>
        </tr>
        <tr>
            <th>Linnworks SKU</th>
            <td id="linnworks_sku"></td>
            <td></td>
        </tr>
        <tr>
            <th>Channel Title</th>
            <td id="channel_title"></td>
            <td></td>
        </tr>
        <tr>
            <th>Linnworks Title</th>
            <td id="linnworks_title"></td>
            <td></td>
        </tr>
        <tr>
            <th>Stock ID</th>
            <td id="stock_id"></td>
            <td></td>
        </tr>
    </table>
</form>

<script>
    $( document ).ready(function() {
        var csrftoken = $.cookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });



        $('#search_by_channel_sku').click(function() {
            var channel_id = $('#channel_id').val()
            var channel_sku = $('#channel_sku').val()
            var data = {'channel_id': channel_id, 'channel_sku': channel_sku};
            $.post("{% url 'linnworks:get_linked_for_channel_sku' %}", data,
                function(response) {
                    console.log(response);
                    var response = jQuery.parseJSON(response);
                    var item = response[0];
                    console.log(item);
                    $('#channel_title').text(item['channel_title']);
                    $('#linnworks_sku').text(item['linnworks_sku']);
                    $('#linnworks_title').text(item['linnworks_title']);
                    $('#stock_id').text(item['stock_id'])
                }
            );
        });


    });
</script>
{% endblock %}
