{% extends "inventory/product_range/product_range_base.html" %}

{% block page_title %}
    Channel Links
{% endblock page_title %}

{% block content %}
    {{ block.super }}
    <div class="container">
        {% if products %}
            <div class="range_channel_links">
                {% for product in products %}
                    <div class="product_link card mb-5">
                        <div class="linked_channels card-body">
                            <h5 class="mb-3">
                                <span class="card-subtitle text-muted">{{ product.sku }}</span>
                                <span class="sku card-title">{{ product.name_extensions|join:" - " }}</span>
                            </h5>
                            <div class="container">
                                <div class="row">
                                    {% for channel, links in product.channel_links.items %}
                                        <div class="col-3">
                                            <div class="linked_channel card mb-3">
                                                <div class="channel_links card-body">
                                                    <h6 class="card-title">{{ channel.name }}</h6>
                                                    {% for link in links %}
                                                        <div class="card-text mb-2">
                                                            {% if link.url %}<a href="{{ link.url }}" target="_blank">{% endif %}
                                                                <div class="channel_link{% if link.url %} linked{% endif %} card-text">
                                                                    {{ link.sku }}
                                                                    <br>
                                                                    {{ link.channel_reference_id }}
                                                                </div>
                                                                {% if link.url %}</a>{% endif %}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
 
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-danger fs-3">Could not retrieve channel links from Linnworks.</p>
        {% endif %}
    </div>

{% endblock content %}
