{% extends "inventory/product_range/product_range_base.html" %}

{% load static %}

{% block page_title %}Product Images{% endblock %}

{% block additional_head %}{{ block.super }}
<link rel="stylesheet" href="{% static "css/images.css" %}">
{% endblock %}

{% block content %}{{ block.super }}

<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
  <h3>{{ form }}</h3>
</form>

<table class="image_selection">
  <tr>
    <th colspan="2">Select</th>
  </tr>
  <tr>
    <td colspan="2">
      <button id="select_all">All</button>
      <button id="select_none">None</button>
    </td>
  </tr>
  {% for option, variation_values in options.items %}
  <tr>

    <td>{{ option }}:</td>
    <td>
      {% for variation_value, product_ids in variation_values.items %}
      <button onclick="select_products([{% for p_id in product_ids %}{{ p_id }}, {% endfor %}])">
        {{ variation_value }}
      </button>
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>

<table class="image_table">
  {% for product, images in products.items %}
  <tr id="row_{{ product.pk }}">
    <td>
      <p class="sku">{{ product.sku }}</p>
      <p class="name">{{ product.name_extensions|join:" - " }}</p>
    </td>
    <td class="selected"><input type="checkbox" id="select_{{ product.pk }}"></td>
    {% for image in images %}
    <td class="product_image" id="product_image_{{ image.id }}" data-image-id="{{ image.pk }}" data-product-id="{{ product.id }}">
      <a class="image_name" href="{{ image.image_file.url }}" target="_blank">
        <img src="{{ image.thumbnail.url }}" alt="{{ image.image_file }}" height="100">
      </a>
      <span class="image_id" hidden>{{ image.pk }}</span>
      <div class="image_buttons">
        <div class="image_button move_image move_image_left" data-image-id="{{ image.pk }}" data-product-id="{{ product.id }}">
          <i class="fa-solid fa-angle-left"></i>
        </div>
        <div class="image_button delete_image" data-image-id="{{ image.pk }}" data-product-id="{{ product.id }}">
          <i class="fa-solid fa-trash"></i>
        </div>
        <div class="image_button move_image move_image_right" data-image-id="{{ image.pk }}" data-product-id="{{ product.id }}">
          <i class="fa-solid fa-angle-right"></i>
        </div>
      </div>
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

{% endblock %}

{% block script %}{{ block.super }}
<script>
  function get_image_order(product_id) {
    var row = $('#row_' + product_id);
    var image_order = [];
    row.find('.product_image').each(function () {
      image_order.push($(this).data('image-id'));
    });
    return image_order
  }

  function select_products(product_ids) {
    var checkboxes = $('.selected input:checkbox');
    checkboxes.prop('checked', false);
    for (var i = 0; i < product_ids.length; i++) {
      $('#select_' + product_ids[i]).prop('checked', true);
    }
    $('.selected input:checkbox').change();
  }

  function update_image_order(product_id) {
    var url = '{% url "inventory:set_image_order" %}';
    var image_order = get_image_order(product_id);
    var data = {
      'product_pk': product_id,
      'image_order': image_order
    };
    $.post({
      url: url,
      data: JSON.stringify(data),
      contentType: "application/json",
      dataType: "json",
      success: function (image_order) {
        console.log(image_order);
      },
      error: function () {
        api_error();
      }
    });
  }

  function delete_image(image_id, product_id) {
    var url = '{% url "inventory:delete_image" %}';
    var data = {
      'image_id': image_id,
      'product_id': product_id,
    };
    $.post({
      url: url,
      data: JSON.stringify(data),
      contentType: "application/json",
      dataType: "json",
      success: function (response) {
        console.log(response);
        $("#product_image_" + image_id).remove();
      },
      error: function () {
        api_error();
      }
    });
  }

  $(document).ready(function () {

    $('.move_image_left').click(function () {
      var image = $(this).closest('td');
      var product_id = $(this).data('product-id');
      if (image.index() > 3) {
        image.insertBefore(image.prev());
      }
      update_image_order(product_id);
    });

    $('.move_image_right').click(function () {
      var image = $(this).closest('td');
      var product_id = $(this).data('product-id');
      if (!(image.is(':last-child'))) {
        image.insertAfter(image.next());
      }
      update_image_order(product_id);
    });

    $('.delete_image').click(function () {
      var image_id = $(this).data('image-id');
      var product_id = $(this).data('product-id');
      console.log(image_id);
      delete_image(image_id, product_id);
    });

    $('#select_all').click(function () {
      var checkboxes = $('.selected input:checkbox');
      checkboxes.prop('checked', true);
      $('.selected input:checkbox').change();
    });

    $('#select_none').click(function () {
      var checkboxes = $('.selected input:checkbox');
      checkboxes.prop('checked', false);
      $('.selected input:checkbox').change();
    });

    $('.selected input:checkbox').change(function () {
      var checked = $('.selected input:checked');
      var product_id_input = $('#{{ form.product_ids.auto_id }}');
      var product_ids = [];
      checked.each(function () {
        var product_id = this.id.split('_')[1];
        product_ids.push(product_id);
      });
      var image_field = $('#{{ form.images.auto_id }}');
      var image_field_label = $("label[for='{{ form.images.auto_id }}']")
      if (checked.length == 0) {
        image_field.attr('disabled', true);
        image_field_label.text('Select products to add images to');
      } else {
        image_field.attr('disabled', false);
        image_field_label.text('Add an image to the selected products');
      }
      product_id_input.val(JSON.stringify(product_ids));
    });

    $('#{{ form.images.auto_id }}').change(function () {
      $(this).closest('form').submit();
    });

    $('input:checkbox').change(function () {
      var row = $(this).closest("tr");
      if ($(this).is(":checked")) {
        row.addClass("selected");
      } else {
        row.removeClass("selected");
      }
    });

    $('.selected input:checkbox').change();
  });
</script>

{% endblock %}