{% extends "inventory/product_range/product_range_base.html" %}

{% load static %}

{% block page_title %}Product Images{% endblock %}

{% block additional_head %}{{ block.super }}
<link rel="stylesheet" href="{% static "css/images.css" %}">
{% endblock %}

{% block content %}{{ block.super }}

<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
  <h3>{{ form }}</h3>
</form>

{% comment %} {% for option, values in options.items %}
<p>{{ option }}: {% for value, product_ids in values.items %}
  <button
    onclick="select_products([{% for p_id in product_ids %}{{ p_id }}, {% endfor %}])">{{ value }}</button>{% endfor %}
</p>
{% endfor %} {% endcomment %}

<table class="image_table">
  <tr>
    <th>Product</th>
    {% comment %} <th><button id="toggle_selected">Toggle</button></th> {% endcomment %}
  </tr>
  {% for product, images in products.items %}
  <tr id="row_{{ product.pk }}">
    <td class="product_id" hidden>{{ product.pk }}</td>
    <td class="sku">{{ product.sku }}</td>
    <td class="name">{{ product.name_extensions|join:" - " }}</td>
    <td class="selected"><input type="checkbox" id="select_{{ product.pk }}"></td>
    {% for image in images %}
    <td class="product_image" id="product_image_{{ image.id }}">
      <img src="{{ image.image_file.url }}" alt="{{ image.image_file }}" height="100">
      <br>
      <a class="image_name" href="{{ image.image_file.url }}" target="_blank">{{ image.image_file }}</a>
      <span class="image_id" hidden>{{ image.pk }}</span>
      <p>
        <button class="move_image_left">&lt;</button>
        <button class="delete_image" data-image-id="{{ image.pk }}" data-product-id="{{ product.id }}">
          &times;
        </button>
        <button class="move_image_right">&gt;</button>
      </p>
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

{% endblock %}

{% block script %}{{ block.super }}
<script>
  function get_image_order(product_id) {
    var row = $('#row_' + product_id);
    var image_order = [];
    row.find('.product_image').each(function () {
      image_order.push($(this).find('.image_id').text());
    });
    return image_order
  }

  function select_products(product_ids) {
    var checkboxes = $('.selected input:checkbox');
    checkboxes.prop('checked', false);
    for (var i = 0; i < product_ids.length; i++) {
      $('#select_' + product_ids[i]).prop('checked', true);
    }
    $('.selected input:checkbox').change();
  }

  function update_image_order(product_id) {
    var url = '{% url "inventory:set_image_order" %}';
    var image_order = get_image_order(product_id);
    var data = {
      'product_pk': product_id,
      'image_order': image_order
    };
    $.post({
      url: url,
      data: JSON.stringify(data),
      success: function () {
        console.log(image_order);
      },
      error: function () {
        api_error();
      }
    });
  }

  function delete_image(image_id, product_id) {
    var url = '{% url "inventory:delete_image" %}';
    var data = {
      'image_id': image_id,
      'product_id': product_id,
    };
    $.post({
      url: url,
      data: JSON.stringify(data),
      success: function () {
        $("#product_image_" + image_id).remove();
      },
      error: function () {
        api_error();
      }
    });
  }

  $(document).ready(function () {

    $('.move_image_left').click(function () {
      var image = $(this).closest('td');
      var product_id = image.closest('tr').find('.product_id').text();
      if (image.index() > 3) {
        image.insertBefore(image.prev());
      }
      update_image_order(product_id);
    });

    $('.move_image_right').click(function () {
      var image = $(this).closest('td');
      var product_id = image.closest('tr').find('.product_id').text();
      if (!(image.is(':last-child'))) {
        image.insertAfter(image.next());
      }
      update_image_order(product_id);
    });

    $('.delete_image').click(function () {
      var image_id = $(this).data('image-id');
      var product_id = $(this).data('product-id');
      delete_image(image_id, product_id);
    });

    $('#toggle_selected').click(function () {
      var checkboxes = $('.selected input:checkbox');
      var checked = $('.selected input:checked');
      if (checked.length === 0) {
        checkboxes.prop('checked', true);
      } else {
        checkboxes.prop('checked', false);
      }
      $('.selected input:checkbox').change();
    });

    $('.selected input:checkbox').change(function () {
      $('.selected input:checkbox').not(this).prop('checked', false);
      var checked = $('.selected input:checked');
      var product_id_input = $('#{{ form.product_ids.auto_id }}');
      var product_ids = [];
      checked.each(function () {
        var product_id = this.id.split('_')[1];
        product_ids.push(product_id);
      });
      var image_field = $('#{{ form.images.auto_id }}');
      var image_field_label = $("label[for='{{ form.images.auto_id }}']")
      if (checked.length == 0) {
        image_field.attr('disabled', true);
        image_field_label.text('Select products to add images to');
      } else {
        image_field.attr('disabled', false);
        image_field_label.text('Add an image to the selected products');
      }
      product_id_input.val(JSON.stringify(product_ids));
    });

    $('#{{ form.images.auto_id }}').change(function () {
      $(this).closest('form').submit();
    });

    $('.selected input:checkbox').change();
  });
</script>

{% endblock %}