{% extends "inventory/product_range/product_range_base.html" %}
{% load static %}

{% block additional_head %}
  {{ block.super }}
  <style>
      .select2-container {
          min-width: 30em;
      }
  </style>
{% endblock additional_head %}

{% block content %}
  {{ block.super }}
  <div class="container">
    <form action="" method="post" autocomplete="off">
      {% csrf_token %}
      {{ formset.management_form }}
      {{ formset.non_form_errors }}
      <table class="table table-hover table-sm mt-3">
        <thead class="table-primary">
          <tr>
            <th>SKU</th>
            {% for option in product_range.variation_options %}<th>{{ option }}</th>{% endfor %}
            <th>Supplier SKU</th>
            <th></th>
            <th>Locations</th>
            <th>Stock Level</th>
          </tr>
        </thead>
        <tbody class="border-0">
          {% for form in formset %}
            {% with form.product as product %}
              <tr>
                <td class="font-monospace user-select-all">{{ product.sku }}</td>
                {% for option, value in product.variation.items %}<td>{{ value }}</td>{% endfor %}
                <td class="font-monospace user-select-all">{{ product.supplier_sku }}</td>
                {% for field in form %}
                  <td class="location_field">
                    {{ field }}
                    {{ field.errors }}
                  </td>
                {% endfor %}
                <td>
                  {% if products_exist is not True %}
                    <span class="danger">Stock level is not available</span>
                  {% else %}
                    {% include "inventory/update_stock.html" %}
                  {% endif %}
                </td>
                <td>{{ form.non_field_errors }}</td>
              </tr>
            {% endwith %}
          {% endfor %}
          <tr>
            <td>
              <button type="submit" class="save_button btn btn-primary">Save</button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>

{% endblock content %}
