{% extends "inventory/base.html" %}
{% load static %}

{% block additional_head %}
  {{ block.super }}
  <script src="{% static 'scripts/stock_manager.js' %}"></script>
{% endblock additional_head %}

{% block page_title %}
  {{ product_range.name }}
{% endblock page_title %}

{% block content %}
  <div class="container mb-3">
    <div class="range_header row mb-2">
      <div class="range_details col-md-9">
        <span class="font-monospace sku user-select-all text-muted fs-6 me-2">{{ product_range.sku }}</span>
        {% if product_range.is_archived %}
          <span class="badge bg-secondary">Archived</span>
        {% elif product_range.is_end_of_line %}
          <span class="badge bg-danger">End of Line</span>
        {% endif %}
        <h6 class="display-6 user-select-all">{{ product_range.name }}</h6>
      </div>
      <div class="col">
        <div>Managed By: {{ product_range.managed_by.get_full_name }}</div>
        <div>Created: {{ product_range.created_at }}</div>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light border-bottom border-secondary">
      <div class="container-fluid">
        <a href="{% url 'inventory:product_range' product_range.pk %}"
           class="navbar-brand text-primary">Range</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#rangeNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="rangeNavbar">
          <ul class="nav flex-column flex-lg-row justify-content-center">

            <li class="nav-item">
              <a class="nav-link"
                 href="{% url 'inventory:descriptions' product_range.pk %}">Description</a>
            </li>

            {% if product_range.has_variations %}
              <li class="nav-item">
                <a class="nav-link"
                   href="{% url 'inventory:product_order' product_range.pk %}">Variation Order</a>
              </li>
            {% endif %}

            <li class="nav-item">
              <a class="nav-link"
                 href="{% url 'inventory:locations' product_range.pk %}">Location</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'inventory:images' product_range.pk %}">Images</a>
            </li>

            <li class="nav-item">
              <a class="nav-link"
                 href="{% url 'price_calculator:range_price_calculator' product_range.pk %}">Range Price Calculator</a>
            </li>
 
 
            <li class="nav-item">
              <a class="nav-link"
                 href="{% url 'inventory:channel_links' product_range.pk %}">Channel Links</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
{% endblock content %}
