{% extends "inventory/base.html" %}

{% block page_title %}
    {{ product_range.name }}
{% endblock page_title %}

{% block content %}
    {{ block.super }}
    <div class="container">

        <div class="font-monospace user-select-all text-muted">{{ product.sku }}</div>
        <div class="fs-4">{{ product.product_range.name }}</div>
        <div>
            {% for option, value in product.variation.items %}
                <div class="d-inline-block m-2">
                    <span class="me-1">{{ option }}:</span><span class="fw-bold">{{ value }}</span>
                </div>
            {% endfor %}
            <div class="d-inline-block m-2 font-monospace user-select-all">{{ product.supplier_sku }}</div>
        </div>
        <div class="fs-4 mb-2">
            {% if product.is_archived %}
                <span class="badge bg-secondary">Archived</span>
            {% elif product.is_end_of_line %}
                <span class="badge bg-danger">End Of Line: {{ product.end_of_line_reason.short }}</span>
            {% endif %}
            {% if product.is_flammable %}<span class="badge bg-danger">Flammable</span>{% endif %}

        </div>

        <div class="mb-2">
            <a href="{% url 'inventory:product_range' product_range.pk %}"
               class="me-3">
                <i class="bi bi-arrow-left-short fs-5"></i> Back to Product Range
            </a>
            <a href="{% url 'inventory:edit_product' product.pk %}"
               class="edit_variation btn btn-primary btn-sm">Edit Product</a>
        </div>

        <div class="row">

            <div class="col-lg-7 mb-3 bg-light">
                <dl class="bg-white m-2 p-2">
                    <dt class="col-md-3">Bays</dt>
                    <dd class="col-md-3">
                        {% for bay in product.bays %}
                            {{ bay }}{% empty %}None
                        {% endfor %}
                    </dd>
                </dl>

                <dl class="row bg-white m-2 p-2">
                    <h6>Supplier Information</h6>
                    <dt class="col-md-3">Supplier</dt>
                    <dd class="col-md-3">
                        {{ product.supplier }}
                    </dd>

                    <dt class="col-md-3">Supplier SKU</dt>
                    <dd class="col-md-3">
                        {{ product.supplier_sku }}
                    </dd>

                    <dt class="col-md-3">Supplier Barcode</dt>
                    <dd class="col-md-3">
                        {{ product.supplier_barcode }}
                    </dd>

                    <dt class="col-md-3">Additional Suppliers</dt>
                    <dd class="col-md-3">
                        {% for supplier in product.additional_suppliers.all %}
                            {{ supplier }}
                        {% empty %}
                            None
                        {% endfor %}
                    </dd>
                </dl>
                <dl class="row bg-white m-2 p-2">
                    <h6>Price Information</h6>
                    <dt class="col-md-3">Purchase Price</dt>
                    <dd class="col-md-3">
                        {{ product.purchase_price }}
                    </dd>

                    <dt class="col-md-3">Retail Price</dt>
                    <dd class="col-md-3">
                        {{ product.retail_price }}
                    </dd>

                    <dt class="col-md-3">VAT</dt>
                    <dd class="col-md-3">
                        {{ product.vat_rate }}
                    </dd>
                </dl>
                <dl class="row bg-white m-2 p-2">
                    <h6>Shipping Information</h6>
                    <dt class="col-md-3">HS Code</dt>
                    <dd class="col-md-3">
                        {{ product.hs_code }}
                    </dd>

                    <dt class="col-md-3">Package Type</dt>
                    <dd class="col-md-3">
                        {{ product.package_type }}
                    </dd>

                    <dt class="col-md-3">Height</dt>
                    <dd class="col-md-3">
                        {% if product.height %}
                            {{ product.height }}cm
                        {% else %}
                            None
                        {% endif %}
                    </dd>

                    <dt class="col-md-3">Width</dt>
                    <dd class="col-md-3">
                        {% if product.width %}
                            {{ product.width }}cm
                        {% else %}
                            None
                        {% endif %}
                    </dd>

                    <dt class="col-md-3">Weight</dt>
                    <dd class="col-md-3">
                        {{ product.weight_grams }}g
                    </dd>
                </dl>
                <dl class="row bg-white m-2 p-2">
                    <h6>Listing Information</h6>
                    <dt class="col-md-3">Brand</dt>
                    <dd class="col-md-3">
                        {{ product.brand }}
                    </dd>

                    <dt class="col-md-3">Manufacturer</dt>
                    <dd class="col-md-3">
                        {{ product.manufacturer }}
                    </dd>
                </dl>
                <dl class="row bg-white m-2 p-2">
                    <h6>Notes</h6>
                    <dd>
                        {{ product.notes|linebreaks }}
                    </dd>
                </dl>
            </div>

            <div class="col-lg-5">
                <div>
                    <img src="{{ product.get_primary_image.image_file.url }}"
                         alt=""
                         height="200"
                         width="">
                </div>
                <div class="row">
                    <span class="font-monospace user-select-all text-muted">{{ product_range.sku }}</span>
                    <h6 class="display-6 mb-3">{{ product_range.name }}</h6>
                </div>
                {% for variation in product_range.products.variations %}
                    <div class="row rounded mb-2 border border-2 {% if variation == product %}border-primary{% else %}border-light{% endif %}">

                        <div class="col-lg mb-2">
                            <div>
                                <span class="font-monospace user-select-all">{{ variation.sku }}</span>
                            </div>
                            <div>
                                <span class="font-monospace user-select-all">{{ variation.supplier_sku }}</span>
                            </div>
                        </div>

                        <div class="col-lg-5 mb-2">
                            {% for option, value in variation.variation.items %}
                                <span class="me-2"><span class="text-muted">{{ option }}:&nbsp;</span><span class="fw-bold">{{ value }}</span></span>
                            {% endfor %}
                        </div>

                        <div class="col-lg-3">
                            {% if variation != product %}
                                <a href="{% url 'inventory:view_product' variation.pk %}"
                                   class="edit_variation btn btn-primary btn-sm">View</a>
                                <a href="{% url 'inventory:edit_product' variation.pk %}"
                                   class="edit_variation btn btn-primary btn-sm">Edit</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}
