{% extends "inventory/base.html" %}
{% load static %}

{% load stcadmin_extras %}

{% block additional_head %}
  {{ block.super }}
  <script src="{% static 'scripts/price_calculator.js' %}"></script>
{% endblock additional_head %}

{% block page_title %}
  Price Calculator
{% endblock page_title %}

{% block content %}
  {{ block.super }}
  <div class="container mb-5">
    <h3 class="display-3 mb-5">Price Calculator</h3>
  </div>
  <div class="container text-start price_calculator">
    <div class="row">

      <div class="col price_calculator_input">

        <div class="input-group mb-3">
          <span class="input-group-text">Country</span>
          <select name="country" id="country" class="form-select">
            {% for country in countries %}<option value="{{ country.id }}">{{ country }}</option>{% endfor %}
          </select>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Shipping Method</span>
          <select name="shipping_method" id="shipping_method" class="form-select">
            {% for product_type in product_types %}
              <option value="{{ product_type }}">{{ product_type }} - {{ product_type.description }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Channel</span>
          <select name="channel" id="channel" class="form-select">
            <option value="">Generic</option>
            {% for channel in channels %}<option value="{{ channel }}">{{ channel }}</option>{% endfor %}
          </select>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Weight</span>
          <input class="form-control" id="weight" value="50" size="1" />
          <span class="input-group-text">g</span>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Purchase Price</span>
          <span class="input-group-text">£</span>
          <input class="currency_input form-control"
                 id="purchase_price"
                 value="5.00"
                 size="2" />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">VAT Rate</span>
          <select name="vat_rate" id="vat_rate" class="form-select"></select>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Channel Fee</span>
          {% for country in countries %}
            <select name="channel_fee"
                    id="channel_fee_input_{{ country.id }}"
                    size="5"
                    class="channel_fee_input form-select"
                    multiple>
              {% for fee in channel_fees %}
                {% if fee.country == country %}
                  <option value="{{ fee.fee_percentage }}"
                          {% if forloop.first %}selected{% endif %}>{{ fee.name }}: {{ fee.fee_percentage }}</option>
                {% endif %}
              {% endfor %}
            </select>
          {% endfor %}
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text border-secondary">Price (GBP)</span>
          <span class="input-group-text border-secondary">£</span>
          <input class="currency_input form-control border-secondary"
                 id="sale_price"
                 value="15.50"
                 size="2" />
        </div>

        <div class="input-group mb-3">
          <span id="currency_code" class="input-group-text"></span>
          <span id="currency_symbol" class="input-group-text"></span>
          <input id="foreign_sale_price" class="currency_input form-control" size="2" />
        </div>
 
      </div>

      <div class="col price_calculator_output price_calculator_critical">
 
        <div class="profit card mb-3">
          <div class="card-body">
            <h5 class="card-title">Profit</h5>
            <span class="card-text fs-1" id="profit"></span>
          </div>
        </div>

        <div class="profit_percentage card mb-3">
          <div class="card-body">
            <h5 class="card-title">Profit Percentage</h5>
            <span class="card-text fs-1" id="profit_percentage"></span>
          </div>
        </div>

        <div class="shipping_service card mb-3">
          <div class="card-body">
            <h5 class="card-title">Shipping Service</h5>
            <span class="card-text fs-1" id="shipping_service"></span>
          </div>
        </div>

      </div>

      <div class="col price_calculator_output price_calculator_info">

        <div class="ex_vat_price card mb-3">
          <div class="card-body">
            <h6 class="card-title">Ex VAT Price</h6>
            <span class="card-text" id="ex_vat_price"></span>
          </div>
        </div>

        <div class="vat card mb-3">
          <div class="card-body">
            <h6 class="card_title">VAT</h6>
            <span class="card-text" id="vat"></span>
          </div>
        </div>

        <div class="postage card mb-3">
          <div class="card-body">
            <h6 class="card-title">Postage</h6>
            <span class="value" id="postage"></span>
          </div>
        </div>

        <div class="channel_fee card mb-3">
          <div class="card-body">
            <h6 class="card-title">Channel Fee</h6>
            <span class="card-text" id="channel_fee"></span>
          </div>
        </div>

        <div class="return card mb-3">
          <div class="card-body">
            <h6 class="card-title">Return</h6>
            <span class="card-text" id="return"></span>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock content %}

{% block script %}
  <script>
  get_postage_price_url = "{% url 'price_calculator:get_shipping_price' %}";

  $(document).ready(function () {
    $(".channel_fee_input").hide();
    var country = $("#country").val();
    var channel_fee_input = $('#channel_fee_input_' + country);
    channel_fee_input.show();
    $(".channel_fee_input").each(function () {
      $(this).children().first().attr("selected", true);
    });
    var ex_vat_price = 5;
    var vat_rate = $('#vat_rate').val();
    var purchase_price = $('#purchase_price').val();
    var postage_price = 5;
    var channel_fee = channel_fee_input.val();
    var data = {
      'sale_price': ex_vat_price,
      'postage_price': postage_price,
      'purchase_price': purchase_price,
      'vat_rate': vat_rate,
      'channel_fee_percentage': channel_fee,
      'min_channel_fee': 0,
    }
    calculator = new PriceCalculator(data)
    calculator.change = function () {
      $('#vat').val(format_price(calculator.get_vat()));
      $('#ex_vat_price').html(format_price(calculator.get_ex_vat()));
      $('#postage').html(format_price(calculator.get_postage_price()));
      $('#purchase_price').html(format_price(calculator.get_purchase_price()));
      $('#channel_fee').html(format_price(calculator.get_channel_fee()));
      $('#vat').html(format_price(calculator.get_vat()));

      // Format Profit
      var profit = calculator.get_profit();
      $('#profit').html(format_price(profit));
      if (profit > 0) {
        $('#profit').removeClass('text-danger');
      } else {
        $('#profit').addClass('text-danger');
      }

      // Format Percentage
      var profit_percentage = parseInt(calculator.get_profit_percentage());
      var return_percentage = parseInt(calculator.get_return_percentage());
      $('#profit_percentage').html(profit_percentage + '%');
      $('#return').html(return_percentage + '%');
      format_percentage($('#profit_percentage'), profit_percentage, 20, 10);
      if (return_percentage <= 0) {
        $('#return').addClass('text-danger');
      } else {
        $('#return').removeClass('text-danger');
      }

      // Format Price
      if (calculator.currency_code == 'GBP') {
        $('#currency_code').html("Foreign Price");
        $('#foreign_sale_price').val("0.00");
        $('#sale_price').addClass('fs-3 fw-bold');
        $('#foreign_sale_price').removeClass('fs-3 fw-bold');
        $('#currency_symbol').text("");
      } else {
        $('#currency_code').text('Price (' + calculator.currency_code + ')');
        $('#currency_symbol').text(calculator.currency_symbol);
        $('#foreign_sale_price').val(calculator.get_foreign_sale_price());
        $('#foreign_sale_price').addClass('fs-3 fw-bold');
        $('#sale_price').removeClass('fs-3 fw-bold');
      }
    };

    calculator.set_sale_price($(this).val());

    $('#purchase_price').change(function () {
      calculator.set_purchase_price($(this).val());
    });

    $('#postage_method').change(function () {
      calculator.set_postage_price($(this).val());
    });

    $('.channel_fee_input').change(function () {
      calculator.set_channel_fee_percentage($(this).val());
    });

    function update_postage_price(calculator) {
      var country = $('#country').val();
      var weight = $('#weight').val();
      var product_type = $('#shipping_method').val();
      var price = calculator.sale_price;
      var channel = $('#channel').val();
      get_postage_price(calculator, country, product_type, channel, null, weight, price);

    };

    $('#country').change(function () {
      $(".channel_fee_input").hide();
      var country = $("#country").val();
      var channel_fee_input = $('#channel_fee_input_' + country);
      channel_fee_input.show();
      calculator.set_channel_fee_percentage(channel_fee_input.val());
      update_postage_price(calculator);
    });
    $('#weight').change(function () {
      update_postage_price(calculator)
    });
    $('#shipping_method').change(function () {
      update_postage_price(calculator)
    });
    $('#channel').change(function () {
      update_postage_price(calculator)
    });
    $('#sale_price').change(function () {
      calculator.set_sale_price($(this).val());
      update_postage_price(calculator);

    });
    $('#foreign_sale_price').change(function () {
      var foreign_price = $(this).val();
      var exchange_rate = calculator.exchange_rate;
      var sale_price = parseFloat(foreign_price * exchange_rate).toFixed(2);
      $('#sale_price').val(sale_price);
      $('#sale_price').change();
    });
    $('#sale_price').change();

    $('.currency_input').change(function () {
      fixed_decimal($(this));
    });
  });

  $(document).on('calculator_update', function () {
    $('#shipping_service').html(calculator.shipping_service);
    if (!calculator.valid) {
      $('.price_calculator').addClass('bg-danger');
    } else {
      $('.price_calculator').removeClass('bg-danger');
    }
  });

  function update_vat_rates(vat_rates, calculator) {
    var vat_rate_select = $('#vat_rate');
    var original_percentage = vat_rate_select.val();
    vat_rate_select.html('');
    if (vat_rates.length > 0) {
      $(vat_rates).each(function () {
        vat_rate_select.append(
          $("<option>").attr('value', this.percentage).text(this.name));
      });
      vat_rate_select.change(function () {
        calculator.set_vat_rate($(this).val());
      });
      vat_rate_select.attr('disabled', false);
    } else {
      vat_rate_select.append(
        $("<option>").attr('value', 0).text('VAT Not Applicable'));
      vat_rate_select.attr('disabled', true);
    }
    for (var i = 0; i < vat_rates.length; i++) {
      if (vat_rates[i]['percentage'] == original_percentage) {
        vat_rate_select.val(vat_rates[i]['percentage']);
      }
    }
    vat_rate_select.val(vat_rate_select.find("option:first").val());
    vat_rate_select.change();
  }
  </script>
{% endblock script %}
