{% extends "inventory/range_settings.html" %}
{% load static %}
{% load inventory_extras %}
{% load reference_extras %}

{% block additional_head %}{{ block.super }}
<script src="{% static 'scripts/price_calculator.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/price_calculator.css' %}">
<link rel="stylesheet" href="{% static 'css/input-add-on.css' %}">
{% endblock %}

{% block page_title %}Range Price Calculator{% endblock %}

{% block content %}{{ block.super }}
<h2 class="page_title">Range Price Calculator</h2>

<div class="price_calculator_input product_form">

  <div class="InputAddOn">
    <label for="country" class="InputAddOn-item">Country</label>
    <select name="country" id="country">
        {% for country in countries %}
            <option value="{{ country }}">{{ country }}</option>
        {% endfor %}
    </select>
  </div>

  <div class="InputAddOn">
    <label for="channel_fee" class="InputAddOn-item">Channel Fee</label>
    <select name="channel_fee" id="channel_fee_input" size="{{ channel_fees|length }}">
      {% for fee in channel_fees %}
      <option value="{{ fee.fee_percentage }}"{% if forloop.first %} selected{% endif %}>{{ fee.name }}: {{ fee.fee_percentage }}%</option>
      {% endfor %}
    </select>
  </div>

</div>

<div class="range">
  {% for product in product_range.product_set.all %}
  <div class="product" id="product_{{ product.id }}">
    <div class="product_row title">
      <span class="sku">{{ product.SKU }}</span>&nbsp;-&nbsp;<span class="name">{{ product.name }}</span>
    </div>
      <p>
        {% for key, value in product.variation.items %}
        <span class="option">{{ key }}</span>: <span class="name">{{ value }}</span>
        {% endfor %}
      </p>
      {% if product.listing_options %}
      <p>
        {% for key, value in product.listing_options.items %}
        <span class="option">{{ key }}</span>: <span class="name">{{ value }}</span>
        {% endfor %}
      </p>
      {% endif %}

    <div class="product_row input">
      <div class="InputAddOn">
        <label for="sale_price" class="InputAddOn-item">Price (GBP)</label>
        <span class="InputAddOn-item">&pound;</span>
        <input class="currency_input InputAddOn-field" id="{{ product.id }}_sale_price" value="15.50" size="2" />
      </div>

      <div class="InputAddOn">
        <label for="foreign_sale_price" class="currency_code InputAddOn-item"></label>
        <span class="currency_symbol InputAddOn-item"></span>
        <input id="{{ product.id }}_foreign_sale_price" class="currency_input InputAddOn-field" size="2" />
      </div>

      <div class="profit tooltip critical" tooltiptitle="Profit" tooltiptext="Amout of profit per sale.">
        <span>Profit</span>
        <span class="value" id="{{ product.id }}_profit"></span>
      </div>

      <div class="profit_percentage tooltip critical" tooltiptitle="Profit Percentage" tooltiptext="Percentage of sale price returned in profit.">
        <span>Profit Percentage</span>
        <span class="value" id="{{ product.id }}_profit_percentage"></span>
      </div>

      <div class="shipping_service tooltip critical" tooltiptitle="Shipping Service" tooltiptext="The shipping service used to calculate the postage price.">
        <span>Shipping Service</span>
        <span class="value" id="{{ product.id }}_shipping_service"></span>
      </div>
    </div>

    <div class="product_row info">
      <div class="ex_vat_price tooltip" tooltiptitle="Ex Vat Price" tooltiptext="The sale price before VAT.">
        <span>Ex VAT Price</span>
        <span class="value" id="{{ product.id }}_ex_vat_price"></span>
      </div>

      <div class="vat tooltip" tooltiptitle="VAT" tooltiptext="Amount paid for VAT.">
        <span>VAT</span>
        <span class="value" id="{{ product.id }}_vat"></span>
      </div>

      <div class="postage tooltip" tooltiptitle="Postage" tooltiptext="Amount paid for postage.">
        <span>Postage</span>
        <span class="value" id="{{ product.id }}_postage"></span>
      </div>

      <div class="purchase_price tooltip" tooltiptitle="Purchase Price" tooltiptext="The cost to stock the item.">
        <span>Purchase Price</span>
        <span class="value" id="{{ product.id }}_purchase_price"></span>
      </div>

      <div class="channel_fee tooltip" tooltiptitle="Channel Fee" tooltiptext="Amount paid to the selling channel.">
        <span>Channel Fee</span>
        <span class="value" id="{{ product.id }}_channel_fee"></span>
      </div>

      <div class="return tooltip" tooltiptitle="Return" tooltiptext="Percentage of purchase price returned in profit.">
        <span>Return</span>
        <span class="value" id="{{ product.id }}_return"></span>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}

{% block script %}
<script>

    get_postage_price_url = "{% url 'price_calculator:get_shipping_price' %}";

    function update_vat_rates(vat_rates, calculator) {
        if (vat_rates.length == 0) {
            {% for product in product_range.product_set.all %}
            calcs['{{ product.id }}'].set_vat_rate(0);
            {% endfor %}
        }
        $(vat_rates).each(function() {
            {% for product in product_range.product_set.all %}
            calcs['{{ product.id }}'].set_vat_rate(parseInt({{ product.VAT_rate.percentage }} * 100));
            {% endfor %}
        });
    }

    $(document).ready(function() {
        calcs = {};
        {% for product in product_range.product_set.all %}
        var ex_vat_price = {{ product.price }};
        var vat_rate = 20;
        var purchase_price = {{ product.purchase_price }};
        var package_type = "{{ product.package_type.name }}";
        var postage_price = 10;
        var channel_fee = $('#channel_fee_input').val();
        var data = {
            'sale_price': ex_vat_price,
            'postage_price': postage_price,
            'purchase_price': purchase_price,
            'vat_rate': vat_rate,
            'channel_fee_percentage': channel_fee,
            'min_channel_fee': 0,
        }
        calcs['{{ product.id }}'] = new PriceCalculator(data)

        $(document).on('calculator_update', function() {
          $('#{{ product.id }}_shipping_service').html(calcs['{{ product.id }}'].shipping_service);
          console.log($('#product_{{ product.id }}'));
          if (!calcs['{{ product.id }}'].valid) {
            $('#product_{{ product.id }}').addClass('invalid');
          } else {
            $('#product_{{ product.id }}').removeClass('invalid');
          }
        });

        calcs['{{ product.id }}'].change = function() {
            // Format Price
            if (calcs['{{ product.id}}'].currency_code == 'GBP') {
                $('.currency_code').html("Foreign Price");
                $('#{{ product.id }}_foreign_sale_price').val("0.00");
                $('#{{ product.id }}_foreign_sale_price').parent().removeClass('listing_price');
                $('#{{ product.id }}_sale_price').parent().addClass('listing_price');
                $('.currenty_symbol').text("");
            } else {
              $('#{{ product.id }}_sale_price').parent().removeClass('listing_price');
              $('#currency_code').text(
                  'Price (' + calcs['{{ product.id}}'].currency_code + ')');
              $('#{{ product.id }}_sale_price').parent().removeClass('listing_price');
              $('#{{ product.id }}_foreign_sale_price').parent().addClass('listing_price');
              $('#{{ product.id }}_foreign_sale_price').val(
                  calcs['{{ product.id}}'].get_foreign_sale_price());
              $('.currency_symbol').text(calcs['{{ product.id}}'].currency_symbol);
            }
            $('#{{ product.id }}_vat').html(
                format_price(calcs['{{ product.id}}'].get_vat()));
            $('#{{ product.id }}_ex_vat_price').html(
                format_price(calcs['{{ product.id}}'].get_ex_vat()));
            $('#{{ product.id }}_postage').html(
                format_price(calcs['{{ product.id}}'].get_postage_price()));
            $('#{{ product.id }}_purchase_price').html(
                format_price(calcs['{{ product.id}}'].get_purchase_price()));
            $('#{{ product.id }}_channel_fee').html(
                format_price(calcs['{{ product.id}}'].get_channel_fee()));
            var profit = calcs['{{ product.id}}'].get_profit();
            $('#{{ product.id }}_profit').html(format_price(profit));
            if (profit > 0) {
                $('#{{ product.id }}_profit').removeClass('loss');
            } else {
                $('#{{ product.id }}_profit').addClass('loss');
            }

            // Format Percentage
            var profit_percentage = parseInt(
                calcs['{{ product.id}}'].get_profit_percentage());
            var return_percentage = parseInt(
                calcs['{{ product.id}}'].get_return_percentage());
            $('#{{ product.id }}_profit_percentage').html(profit_percentage + '%');
            format_percentage($('#{{ product.id }}_profit_percentage'), profit_percentage, 20, 10);
            $('#{{ product.id }}_return').html(return_percentage + '%');
            if (return_percentage <= 0) {
              $('#{{ product.id }}_return').addClass('loss');
            } else {
              $('#{{ product.id }}_return').removeClass('loss');
            }
        };

        var initial_price = parseFloat(
            ex_vat_price + calcs['{{ product.id}}'].get_vat() + postage_price
        ).toFixed(2);

        $('#{{ product.id }}_sale_price').val(initial_price);
        $('#{{ product.id }}_sale_price').change();
        {% endfor %}
        $('#country').change(function() {
            {% for product in product_range.product_set.all %}
            var country = $(this).val();
            var price = calcs['{{ product.id }}'].sale_price;
            get_postage_price(
                calcs['{{ product.id}}'],
                country,
                "{{ product.package_type }}".replace(' (Single)', ''),
                "{{ product.international_shipping }}",
                {{ product.weight_grams }},
                price);
            {% endfor %}
        });
        {% for product in product_range.product_set.all %}
        calcs['{{ product.id}}'].set_sale_price(
            $('#{{ product.id }}_sale_price').val());
        $('#{{ product.id }}_sale_price').change(function() {
            calcs['{{ product.id}}'].set_sale_price($(this).val());
            $('#country').change();
        });
        $('#{{ product.id }}_foreign_sale_price').change(function() {
            var foreign_price = $(this).val();
            var exchange_rate = calcs['{{ product.id}}'].exchange_rate;
            var sale_price = parseFloat(foreign_price * exchange_rate).toFixed(2);
            $('#{{ product.id }}_sale_price').val(sale_price);
            $('#{{ product.id }}_sale_price').change();
        });
        {% endfor %}
        $('#channel_fee_input').change(function() {
          {% for product in product_range.product_set.all %}
              calcs['{{ product.id }}'].set_channel_fee_percentage($(this).val());
          {% endfor %}
        });
        $('#country').change();
    });
</script>
{% endblock %}
