{% extends "inventory/product_range/product_range_base.html" %}
{% load static %}

{% block additional_head %}
  {{ block.super }}
  <script src="{% static 'scripts/price_calculator.js' %}"></script>
{% endblock additional_head %}

{% block content %}
  {{ block.super }}
  <div class="container">

    <div class="input-group mb-3">
      <span class="input-group-text">Country</span>
      <select name="country" id="country" class="form-select">
        {% for country in countries %}<option value="{{ country.id }}">{{ country }}</option>{% endfor %}
      </select>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">Channel</span>
      <select name="channel" id="channel" class="form-select">
        <option value="">Generic</option>
        {% for channel in channels %}<option value="{{ channel }}">{{ channel }}</option>{% endfor %}
      </select>
    </div>
 
    <div class="input-group mb-3">
      <span class="input-group-text">Channel Fee</span>
      {% for country in countries %}
        <select name="channel_fee"
                id="channel_fee_input_{{ country.id }}"
                size="5"
                class="channel_fee_input form-select"
                multiple>
          {% for fee in channel_fees %}
            {% if fee.country == country %}
              <option value="{{ fee.fee_percentage }}">{{ fee.name }}: {{ fee.fee_percentage }}</option>
            {% endif %}
          {% endfor %}
        </select>
      {% endfor %}
    </div>
  </div>

  <div class="container">
    {% for product in products %}
      <div class="card mb-3 bg-light" id="product_{{ product.id }}">
        <div class="card-body">
          <span class="font-monospace user-select-all fs-5 text-muted">{{ product.sku }}</span>
          {% if product.is_end_of_line %}<span class="badge bg-danger">End of Line</span>{% endif %}
          <h6 class="card-title fs-3">
            <span class="user-select-all">{{ product.name }}</span>
          </h6>
          <div class="card-subtitle mb-2">
            <span class="font-monospace user-select-all fs-4 fw-bold">{{ product.supplier_sku }}</span>
            {% for key, value in product.variation.items %}<span class="ms-3">{{ key }}: {{ value }}</span>{% endfor %}
            {% if product.listing_options %}
              {% for key, value in product.listing_options.items %}
                <span class="option ms-3">{{ key }}</span>: <span>{{ value }}</span>
              {% endfor %}
            {% endif %}
          </div>
          <div class="container">
            <div class="row mb-3">
 
              <div class="input-group col">
                <span class="input-group-text">Price (GBP)</span>
                <span class="input-group-text">£</span>
                <input class="currency_input form-control"
                       id="{{ product.id }}_sale_price"
                       value="15.50"
                       size="2">
              </div>
 
              <div class="input-group col">
                <span class="currency_code input-group-text"></span>
                <span class="currency_symbol input-group-text"></span>
                <input class="currency_input form-control"
                       id="{{ product.id }}_foreign_sale_price"
                       size="2">
              </div>

              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <p class="card-text">
                      <span class="text-muted">Profit</span>
                      <span class="fw-bold fs-3 ms-3" id="{{ product.id }}_profit"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-3">
 
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <p class="card-text">
                      <span class="text-muted">Profit Percentage</span>
                      <span class="fw-bold fs-3 ms-3" id="{{ product.id }}_profit_percentage"></span>
                    </p>
                  </div>
                </div>
              </div>
 
              <div class="col-sm-8">
                <div class="card">
                  <div class="card-body">
                    <p class="card-text">
                      <span class="text-muted">Shipping Service</span>
                      <span class="fw-bold fs-3 ms-3" id="{{ product.id }}_shipping_service"></span>
                    </p>
                  </div>
                </div>
              </div>

            </div>
 
            <div class="row mb-3">
 
              <div class="col-sm-2">
                <div class="card pb-0">
                  <div class="card-body pb-0">
                    <p class="card-text mb-0">
                      <p class="text-muted mb-0">Ex VAT Price</p>
                      <p class="fw-bold mb-0" id="{{ product.id }}_ex_vat_price"></p>
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-sm-2">
                <div class="card pb-0">
                  <div class="card-body pb-0">
                    <p class="card-text mb-0">
                      <p class="text-muted mb-0">VAT</p>
                      <p class="fw-bold mb-0" id="{{ product.id }}_vat"></p>
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-sm-2">
                <div class="card pb-0">
                  <div class="card-body pb-0">
                    <p class="card-text mb-0">
                      <p class="text-muted mb-0">Postage</p>
                      <p class="fw-bold mb-0" id="{{ product.id }}_postage"></p>
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-sm-2">
                <div class="card pb-0">
                  <div class="card-body pb-0">
                    <p class="card-text mb-0">
                      <p class="text-muted mb-0">Purchase Price</p>
                      <p class="fw-bold mb-0" id="{{ product.id }}_purchase_price"></p>
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-sm-2">
                <div class="card pb-0">
                  <div class="card-body pb-0">
                    <p class="card-text mb-0">
                      <p class="text-muted mb-0">Channel Fee</p>
                      <p class="fw-bold mb-0" id="{{ product.id }}_channel_fee"></p>
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-sm-2">
                <div class="card pb-0">
                  <div class="card-body pb-0">
                    <p class="card-text mb-0">
                      <p class="text-muted mb-0">Return</p>
                      <p class="fw-bold mb-0" id="{{ product.id }}_return"></p>
                    </p>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock content %}

{% block script %}

  {{ country_vat|json_script:"country_vat" }}

  <script>
  get_postage_price_url = "{% url 'price_calculator:get_range_shipping_price' %}";

  country_vat = JSON.parse(document.getElementById('country_vat').textContent);

  function update_vat_rates(vat_rates, calculator) {
    if (vat_rates.length == 0) {
      
      {% for product in product_range.products.variations.variations %}
      calcs['{{ product.id }}'].set_vat_rate(0);
      {% endfor %}
      
    }
    $(vat_rates).each(function () {
      
      {% for product in products %}
      
      var country_vat_rate = country_vat[$("#country").val()];
      if (country_vat_rate !== null) {
        var vat_rate = country_vat_rate;
      } else {
        var vat_rate = parseFloat("{{ product.vat_rate.percentage }}") * 100;
      }
      calcs['{{ product.id }}'].set_vat_rate(vat_rate);
      
      {% endfor %}
      
    });
  }

  $(document).ready(function () {
    $(".channel_fee_input").hide();
    calcs = {};
    {% for product in product_range.products.variations.variations %}
    var country = $("#country").val();
    var channel_fee_input = $('#channel_fee_input_' + country);
    channel_fee_input.show();
    $(".channel_fee_input").each(function () {
      $(this).children().first().attr("selected", true);
    });
    var ex_vat_price = {% if product.retail_price %}{{ product.retail_price }}{% else %}0.0{% endif %};
    var vat_rate = 20;
    var purchase_price = parseFloat("{{ product.purchase_price }}");
    var package_type = "{{ product.package_type.name }}";
    var postage_price = 10;
    var channel_fee = $('#channel_fee_input').val();
    var data = {
      'sale_price': ex_vat_price,
      'postage_price': postage_price,
      'purchase_price': purchase_price,
      'vat_rate': vat_rate,
      'channel_fee_percentage': channel_fee,
      'min_channel_fee': 0,
    }
    calcs['{{ product.id }}'] = new PriceCalculator(data)

    $(document).on('calculator_update', function () {
      $('#{{ product.id }}_shipping_service').html(calcs['{{ product.id }}'].shipping_service);
      if (!calcs['{{ product.id }}'].valid) {
        $('#product_{{ product.id }}').addClass('text-danger');
      } else {
        $('#product_{{ product.id }}').removeClass('text-danger');
      }
    });

    calcs['{{ product.id }}'].change = function () {
      // Format Price
      if (calcs['{{ product.id}}'].currency_code == 'GBP') {
        $('.currency_code').html("Foreign Price");
        $('#{{ product.id }}_foreign_sale_price').val("0.00");
        $('#{{ product.id }}_foreign_sale_price').removeClass('fs-3 fw-bold');
        $('#{{ product.id }}_sale_price').addClass('fs-3 fw-bold');
        $('.currenty_symbol').text("");
      } else {
        $('#{{ product.id }}_sale_price').removeClass('fs-3 fw-bold');
        $('#currency_code').text(
          'Price (' + calcs['{{ product.id}}'].currency_code + ')');
        $('#{{ product.id }}_sale_price').removeClass('fs-3 fw-bold');
        $('#{{ product.id }}_foreign_sale_price').addClass('fs-3 fw-bold');
        $('#{{ product.id }}_foreign_sale_price').val(
          calcs['{{ product.id}}'].get_foreign_sale_price());
        $('.currency_symbol').text(calcs['{{ product.id}}'].currency_symbol);
      }
      $('#{{ product.id }}_vat').html(
        format_price(calcs['{{ product.id}}'].get_vat()));
      $('#{{ product.id }}_ex_vat_price').html(
        format_price(calcs['{{ product.id}}'].get_ex_vat()));
      $('#{{ product.id }}_postage').html(
        format_price(calcs['{{ product.id}}'].get_postage_price()));
      $('#{{ product.id }}_purchase_price').html(
        format_price(calcs['{{ product.id}}'].get_purchase_price()));
      $('#{{ product.id }}_channel_fee').html(
        format_price(calcs['{{ product.id}}'].get_channel_fee()));
      var profit = calcs['{{ product.id}}'].get_profit();
      $('#{{ product.id }}_profit').html(format_price(profit));
      if (profit > 0) {
        $('#{{ product.id }}_profit').removeClass('text-danger');
      } else {
        $('#{{ product.id }}_profit').addClass('text-danger');
      }

      // Format Percentage
      var profit_percentage = parseInt(
        calcs['{{ product.id}}'].get_profit_percentage());
      var return_percentage = parseInt(
        calcs['{{ product.id}}'].get_return_percentage());
      $('#{{ product.id }}_profit_percentage').html(profit_percentage + '%');
      format_percentage($('#{{ product.id }}_profit_percentage'), profit_percentage, 20, 10);
      $('#{{ product.id }}_return').html(return_percentage + '%');
      if (return_percentage <= 0) {
        $('#{{ product.id }}_return').addClass('text-danger');
      } else {
        $('#{{ product.id }}_return').removeClass('text-danger');
      }
    };

    var initial_price = parseFloat(
      ex_vat_price + calcs['{{ product.id}}'].get_vat() + postage_price
    ).toFixed(2);

    $('#{{ product.id }}_sale_price').val(initial_price);
    $('#{{ product.id }}_sale_price').change();
    
    {% endfor %}
    
    $('#country').change(function () {
      $(".channel_fee_input").hide();
      var country = $("#country").val();
      var channel_fee_input = $('#channel_fee_input_' + country);
      channel_fee_input.show();
      
      {% for product in products %}
      
      calcs['{{ product.id}}'].set_channel_fee_percentage(channel_fee_input.val());
      get_postage_price(
        calcs['{{ product.id}}'],
        $('#country').val(),
        "{{ product.package_type.name }}",
        $('#channel').val(),
        "{{ product.international_shipping }}",
        parseInt("{{ product.weight_grams }}"),
        calcs['{{ product.id }}'].sale_price
      );
      
      {% endfor %}
      
    });
    $('#channel').change(function () {
      
      {% for product in products %}
      
      get_postage_price(
        calcs['{{ product.id}}'],
        $('#country').val(),
        "{{ product.package_type.name }}",
        $('#channel').val(),
        "{{ product.international_shipping }}",
        parseInt("{{ product.weight_grams }}"),
        calcs['{{ product.id }}'].sale_price
      );
      
      {% endfor %}
      
    });
    
    {% for product in products %}
    
    calcs['{{ product.id}}'].set_sale_price(
      $('#{{ product.id }}_sale_price').val());
    $('#{{ product.id }}_sale_price').change(function () {
      calcs['{{ product.id}}'].set_sale_price($(this).val());
      $('#country').change();
    });
    $('#{{ product.id }}_foreign_sale_price').change(function () {
      var foreign_price = $(this).val();
      var exchange_rate = calcs['{{ product.id}}'].exchange_rate;
      var sale_price = parseFloat(foreign_price * exchange_rate).toFixed(2);
      $('#{{ product.id }}_sale_price').val(sale_price);
      $('#{{ product.id }}_sale_price').change();
    });
    
    {% endfor %}
    
    $('.channel_fee_input').change(function () {
      
      {% for product in product_range.products.variations.variations %}
      
      calcs['{{ product.id }}'].set_channel_fee_percentage($(this).val());
      
      {% endfor %}
      
    });
    $('#country').change();
  });
  </script>
{% endblock script %}
