{% extends "purchases/base.html" %}

{% block content %}
    <div class="container">
        <h3 class="display-3 mb-5">Manage Purchases</h3>

        <div class="col-4">
            {% if purchasers %}
                <p class="fs-4">Manage purchases for:</p>
                <div class="list-group">
                    {% for purchaser in purchasers %}
                        <a class="list-group-item"
                           href="{% url 'purchases:manage_user_purchases' purchaser.id %}">{{ purchaser }}</a>
                    {% endfor %}
                </div>
            {% else %}
                <p class="fs-4">There are no open purchases.</p>
            {% endif %}
        </div>
    </div>

 
{% endblock content %}
