{% extends 'purchases/base.html' %}

{% block content %}

<h1>Manage Purchases</h1>

<form action="" method="GET">
{{ form }}
<button>Go</button>
</form>

{% include "purchases/purchase_list.html" with is_manager=True %}

{% endblock content %}

{% block script %}
<script>

$(document).ready(function(){

    $('.mark_cancelled').click(function() {
        var purchase_id = $(this).attr('id').replace('mark_cancelled_', '');

        $.post('{% url "purchases:mark_purchase_cancelled" %}', {'purchase_id': purchase_id}, function() {
            location.reload();
        });
    });

});

</script>

{% endblock script %}