{% extends 'purchases/base.html' %}

{% load mathfilters %}

{% block content %}

<h1>Manage Purchases</h1>

<form action="" method="GET">
{{ form }}
<button>Go</button>
</form>

<table>
<tr>
    <th>Date</th>
    <th>SKU</th>
    <th>Product</th>
    <td>Quantity</td>
    <th>Full Price</th>
    <th>Discount</th>
    <th>To Pay</th>
    <th>Cancel</th>
</tr>
{% for purchase in purchases %}
<tr>
    <td>{{ purchase.created_at }}</td>
    {% if purchase.stockpurchase %}
    <td>{{ purchase.product_sku }}</td>
    <td>{{ purchase.product_name }}</td>
    <td>{{ purchase.quantity }}</td>
    <td>{{ purchase.full_price|div:100|stringformat:".2f" }}</td>
    <td>{{ purchase.discount_percentage }}%</td>
    {% elif purchase.shippingpurchase %}
    <td></td>
    <td>{{ purchase.shipping_price }}</td>
    <td></td>
    <td></td>
    <td></td>
    {% endif %}
    <td>{{ purchase.to_pay|div:100|stringformat:".2f" }}</td>
    <td>
        <button class="mark_cancelled error" id="mark_cancelled_{{ purchase.id }}">Cancel</button>
    </td>

</tr>

{% endfor %}
</table>

{% endblock content %}

{% block script %}
<script>

$(document).ready(function(){

    $('.mark_cancelled').click(function() {
        var purchase_id = $(this).attr('id').replace('mark_cancelled_', '');

        $.post('{% url "purchases:mark_purchase_cancelled" %}', {'purchase_id': purchase_id}, function() {
            location.reload();
        });
    });

});

</script>

{% endblock script %}