{% extends "purchases/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="container">
        <h3 class="display-3 mb-5">New Purchase</h3>
        <div class="row">
            <div class="col-3">
                <form id="productSearchForm"
                      action="{% url 'purchases:product_search_results' %}"
                      method="get">
                    {% bootstrap_form_errors form %}
                    {% for field in form.visible_fields %}
                        {% bootstrap_field field show_help=false show_label=false %}
                    {% endfor %}
                    <button class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
        <div id="searchResults"></div>
    </div>
 
{% endblock content %}

{% block script %}
    <script>
    $(document).ready(function() {
        $("#productSearchForm").submit(function (e) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            $.ajax({
                type: "GET",
                url: url,
                data: form.serialize(),
                success: function(response) {
                  $("#searchResults").html(response);
                }
            });
          });
    });
    </script>
{% endblock script %}
