{% extends "purchases/base.html" %}

{% block content %}
    <form id="productSearchForm"
          action="{% url 'purchases:product_search_results' %}"
          method="get">
        {{ form.as_p }}
        <button>Search</button>
    </form>
    <div id="searchResults"></div>
{% endblock content %}

{% block script %}
    <script>
    $(document).ready(function() {
        $("#productSearchForm").submit(function (e) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            $.ajax({
                type: "GET",
                url: url,
                data: form.serialize(),
                success: function(response) {
                  $("#searchResults").html(response);
                }
            });
          });
    });
    </script>
{% endblock script %}
