{% load stcadmin_extras %}

{% user_groups user as groups %}
<div class="section_navigation">
    <ul>
        <li><a href="{% url 'purchases:purchase' %}">Purchases</a></li>
        {% if 'purchaser' in groups %}
        <li><a href="{% url 'purchases:view_purchases' %}">View Purchases</a></li>
        <li><a href="{% url 'purchases:purchase_note' %}">Add Note</a></li>
        <li><a href="{% url 'purchases:from_stock' %}">Purchase From Stock</a></li>
        <li><a href="{% url 'purchases:from_shop' %}">Purchase From Shop</a></li>
        <li><a href="{% url 'purchases:shipping' %}">Purchase Shipping</a></li>
        {% endif %}
        {% if 'purchase_manager' in groups %}
        <li><a href="{% url 'purchases:manage_purchases' %}">Manage Purchases</a></li>
        {% endif %}
    </ul>
</div>