{% extends 'purchases/base.html' %}

{% block content %}

<form method="post" id="order_form">{% csrf_token %}
    {{ form.as_p }}
    <p>
        <label for="shipping_price">Price</label>
        <input type="text" name="shipping_price" id="shipping_price" readonly>
    </p>
    <input type="submit" value="Create Order">
</form>

{% endblock content %}

{% block script %}

<script>
$(document).ready(function() {

    country_field = $("#{{ form.country.auto_id }}");
    package_type_field = $("#{{ form.package_type.auto_id }}");
    wieght_field = $("#{{ form.weight.auto_id }}");
    shipping_service_field = $("#{{ form.shipping_service.auto_id }}");
    price_display = $("#shipping_price");

    function get_shipping_price() {
        var country = country_field.val();
        var weight = wieght_field.val();
        var shipping_service = shipping_service_field.val();
        var data = {
            'country': country,
            'shipping_service': shipping_service,
            'weight': weight,
        }
        price_display.val("");
        console.log(data);
        $.post(
            "{% url 'purchases:shipping_price' %}",
            data,
            function(response) {
                console.log(response);
                price_display.val("£"+response.price / 100);
            }
        );
    }

    wieght_field.change(function (){
        get_shipping_price();
    })

});
</script>

{% endblock script %}



