{% extends "purchases/base.html" %}

{% block content %}

    <h1>Editing Purchase</h1>
    <h2>{{ form.instance.product.sku }} - {{ form.instance.product.full_name }}</h2>
    <h2>Purchased by {{ form.instance.purchased_by }} - {{ form.instance.created_at.date }}</h2>

    <p>Item price: {{ form.instance.time_of_purchase_item_price }}</p>
    <p>To Pay: {{ form.instance.to_pay }}</p>

    <a href="{% url 'purchases:delete_purchase' purchase.pk %}">
        <button>Cancel Purchase</button>
    </a>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Save</button>
    </form>

{% endblock content %}
