{% extends "purchases/base.html" %}

{% block content %}
    <div class="container">
        <h3 class="display-3 mb-3">Edit Purchase</h3>
        <p class="fs-4 font-monospace user-select-all m-0 p-0">{{ form.instance.sku }}</p>
        <h6 class="display-6 mb-3">{{ form.instance.product.full_name }}</h6>
        <p class="fs-4 mb-5">Purchased by {{ form.instance.purchased_by }} - {{ form.instance.created_at.date }}</p>
 
        <div class="row">

            <div class="col-lg-3">
                <form action="" method="post">
                    {% csrf_token %}
                    {% include "home/bootstrap_input_group_form.html" %}
                    <button class="btn btn-primary">Save</button>
                </form>
            </div>

            <div class="col-lg-2">
                <a href="{% url 'purchases:delete_purchase' form.instance.pk %}">
                    <button class="btn btn-danger">Cancel Purchase</button>
                </a>
            </div>

            <div class="col-lg-3">
                <p>
                    <span class="fs-5">Item price:</span> <span class="fs-4">£{{ form.instance.time_of_purchase_item_price|floatformat:2 }}</span>
                </p>
                <p>
                    <span class="fs-5">To Pay for each:</span> <span class="fs-4 fw-bold">£{{ form.instance.to_pay|floatformat:2 }}</span>
                </p>
            </div>

            <div class="col-lg-4">
                <img src="{{ form.instance.product.get_primary_image.image_file.url }}"
                     alt="{{ image.image_file }}"
                     height="300"
                     width="form.instance.product.get_primary_image.image_file.width">
            </div>
 
        </div>
    </div>

{% endblock content %}
