{% extends "purchases/base.html" %}

{% block content %}
    <div class="container">
        <h3 class="display-3 mb-3">Edit Purchase</h3>
        <h6 class="display-6 mb-3">{{ form.instance.description }}</h6>
        <p class="fs-4 mb-5">Purchased by {{ form.instance.purchased_by }} - {{ form.instance.created_at.date }}</p>
 
        <div class="row">

            <div class="col-lg-6">
                <form action="" method="post">
                    {% csrf_token %}
                    {% include "home/bootstrap_input_group_form.html" %}
                    <button class="btn btn-primary form-control">Save</button>
                </form>
            </div>
 
            <div class="col-lg-6">
                <div class="mb-3">
                    <a href="{% url 'purchases:delete_purchase' form.instance.pk %}">
                        <button class="btn btn-danger">Cancel Purchase</button>
                    </a>
                </div>
                <div class="mb-3">
                    <span class="fs-5">To Pay:</span> <span class="fs-4 fw-bold">£{{ form.instance.to_pay|floatformat:2 }}</span>
                </div>
            </div>

        </div>
    </div>

{% endblock content %}
