<table>
    <tr>
        <th>Order ID</th>
        <th>Destination</th>
        <th>Dispatched At</th>
        <th>Carrier</th>
        <th>Tracking Number</th>
        <th colspan="4">Latest Tracking Event</th>
        <th>Carrier Contacted</th>
        <th>Notes</th>
        <th></th>
    </tr>
    {% for package in packages %}
    <tr>
        <td>{{ package.order.order_ID }}</td>
        <td>{{ package.order.country }}</td>
        <td>{{ package.order.dispatched_at }}</td>
        <td>{{ package.carrier.name }}</td>
        <td>{{ package.tracking_number }}</td>
        <th>{{ package.latest_event.timestamp }}</th>
        <td>{{ package.latest_event.status }}</td>
        <td>{{ package.latest_event.description }}</td>
        <td>{{ package.latest_event.location }}</td>
        <td><input type="checkbox" class="contacted_toggle" id="{{ package.id }}_contacted"
                {% if package.carrier_contacted %}checked {% endif %}></td>
        <td><input type="text" class="package_note" id="{{ package.id }}_note" value="{{ package.notes }}"></td>
        <td class="status" id="{{ package.id }}_status"></td>
    </tr>
    {% endfor %}
</table>