{% extends "inventory/base.html" %}
{% load staticfiles %}
{% load stcadmin_extras %}

{% block additional_head %}{{ block.super }}
<link rel="stylesheet" href="{% static 'scripts/selectize/selectize.css' %}">
<link rel="stylesheet" href="{% static 'scripts/inventory.css' %}">
<script src="{% static 'scripts/selectize/selectize.js' %}"></script>
<script src="{% static 'scripts/new_product.js' %}"></script>
<script>{% include 'product_editor/widgets/product_widgets.js' %}</script>
<script src="{% static 'scripts/new_product.js' %}"></script>
{% include 'home/froala_head.html' %}
{% endblock %}

{% block content %}

{% include "product_editor/nav.html" %}

<h1>{{ page.name }}</h1>

{% block pre_form %}{% endblock %}

<form method="POST">{% csrf_token %}
    <input type="text" id="goto" name="goto" hidden>
{% block form %}{% endblock %}
<form>
<br>

<div class="formside">
{% block formside %}{% endblock %}
</div>

{% block basic_info %}
<div class="formside basic_info">
    <p>Title: <input type="text" value="{{ manager.basic_info.data.title }}" readonly></p>
    {% if manager.basic_info.data.supplier_sku %}
        <p>Supplier SKU: <input type="text" value="{{ manager.product_info.data.supplier_sku }}" readonly></p>
    {% endif %}
    {% if manager.basic_info.data.description %}
        <p>Description: <div class="description">{{ manager.basic_info.data.description | safe }}</div></p>
    {% endif %}
</div>
{% endblock %}

{% endblock %}
