{% extends "inventory/base.html" %}
{% load staticfiles %}
{% load stcadmin_extras %}

{% block additional_head %}{{ block.super }}
<link rel="stylesheet" href="{% static 'scripts/selectize/selectize.css' %}">
<link rel="stylesheet" href="{% static 'scripts/inventory.css' %}">
<script src="{% static 'scripts/selectize/selectize.js' %}"></script>
<script src="{% static 'scripts/new_product.js' %}"></script>
<script>{% include 'product_editor/widgets/product_widgets.js' %}</script>
{% include 'home/froala_head.html' %}
{% endblock %}

{% block content %}

<a href="{{ manager.clear_product.url }}" id="clear_product"><button>{{ manager.clear_product.name }}</button></a>

{% include "product_editor/nav.html" %}

<h1>{{ page.name }}</h1>

{% block pre_form %}{% endblock %}

<form method="POST">{% csrf_token %}
    <input type="text" id="goto" name="goto" hidden>
{% block form %}{% endblock %}
<form>
<br>

<div class="formside">
{% block formside %}{% endblock %}
</div>

{% block basic_info %}
<div class="formside basic_info">
    <p>Title: <input type="text" value="{{ manager.basic_info.data.title }}" readonly></p>
    {% if manager.basic_info.data.supplier_sku %}
        <p>Supplier SKU: <input type="text" value="{{ manager.product_info.data.supplier_sku }}" readonly></p>
    {% endif %}
    {% if manager.basic_info.data.description %}
        <p>Description: <div class="description">{{ manager.basic_info.data.description | safe }}</div></p>
    {% endif %}
</div>
{% endblock %}

{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        $('#clear_product').click(function() {
            return window.confirm("{{ manager.clear_product.warning_text }}");
        });
        $('.goto_button').click(function() {
            var input = $('#goto');
            input.val($(this).val());
            var form = input.closest('form');
            form.submit();
        });
    })
</script>
{% endblock %}
