{% extends "home/base.html" %}
{% load static %}
{% load stcadmin_extras %}
{% load reference_extras %}

{% block additional_head %}{{ block.super }}
<link rel="stylesheet" href="{% static 'scripts/selectize/selectize.css' %}">
<link rel="stylesheet" href="{% static 'css/selectize-bootstrap.css' %}">
{% comment %} <link rel="stylesheet" href="{% static 'css/inventory.css' %}"> {% endcomment %}
<script src="{% static 'scripts/selectize/selectize.js' %}"></script>
<script src="{% static 'scripts/new_product.js' %}"></script>
<script>{% include 'product_editor/widgets/product_widgets.js' %}</script>
{% include 'home/froala_head.html' %}
{% endblock %}

{% block page_title %}Product Editor - {% if manager.range_id %}{{ manager.basic_info.data.title }}{% else %}New Product{% endif %}{% endblock %}

{% comment %} {% block section_navigation %}
{% include "product_editor/section_navigation.html" %}
{% endblock %} {% endcomment %}

{% block content %}

{% include "product_editor/nav.html" %}

<div class="page-title">
    <h1 class="page-title">{{ page.name }}</h1>
</div>

<hr>

{% block pre_form %}{% endblock %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form method="POST">{% csrf_token %}
                <input type="text" id="goto" name="goto" hidden>
                {% block form %}{% endblock %}
            <form>
        </div>
        <div class="col-md-4">
            {% block formside %}{% endblock %}
            {% block basic_info %}
            <div class="card">
                <div class="card-body">
                    <div class="card-title"><h5>{{ manager.basic_info.data.title }}</h5></div>
                    {% if manager.basic_info.data.supplier_sku %}
                    <div class="card-title"><h6>{{ manager.product_info.data.supplier_sku }}</h6></div>
                    {% endif %}
                    <div class="card-text">{{ manager.basic_info.data.description | safe }}</div>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        $('#clear_product').click(function() {
            return window.confirm("{{ manager.clear_product.warning_text }}");
        });
        $('.goto_button').click(function() {
            var input = $('#goto');
            input.val($(this).val());
            var form = input.closest('form');
            form.submit();
        });
    })
</script>
{% endblock %}
