{% extends "product_editor/base.html" %}
{% load static %}
{% load stcadmin_extras %}
{% load crispy_forms_tags %}

{% block basic_info %}{% endblock %}

{% block form %}
    {% crispy form %}
    {% ifequal manager.product_type manager.VARIATION %}
        {% if manager.range_id is None %}
        <input value="Change to Single Product" class="btn btn-primary btn-small change_type" type="submit" name="single"/>
        {% endif %}
        <input value="Continue" class="btn btn-primary btn-small" type="submit" name="variations"/>
    {% else %}{% ifequal manager.product_type manager.SINGLE %}
        {% if manager.range_id is None %}
        <input value="Change to Variation Product" class="btn btn-primary btn-small change_type" type="submit" name="variations"/>
        {% endif %}
        <input value="Continue" class="btn btn-primary btn-small" type="submit" name="single"/>
    {% else %}
        <input value="Create Single Product" class="btn btn-primary btn-small" type="submit" name="single"/>
        <input value="Create Variation Product" class="btn btn-primary btn-small" type="submit" name="variations"/>
    {% endifequal %}
    {% endifequal %}
    </table>
{% endblock %}

{% block script %}{{ block.super }}
    <script>
        $(document).ready(function() {
            $('.change_type').click(function() {
                return window.confirm("Any information on later pages will be lost.\nDo you want to continue?");
            });
            $('#{{ form.title.auto_id }}').focus();
        });
    </script>
{% endblock %}
