{% extends "product_editor/base.html" %}
{% load staticfiles %}
{% load stcadmin_extras %}

{% block formside %}{{ block.super }}
    <p>
        Listing options are used in listings to provide additional information
        about the product.
    </p>
    <p>
        Use any options that are applicable your product and
        leave others blank.
    </p>
{% endblock %}

{% block form %}
    <table class="new_product">
        {% for field in form %}
        <tr>
            <td>{{ field.label }}</td>
            <td>{{ field }}</td>
            <td>{% tooltip_help_text field %}</td>
            {% if field.errors %}
                <td class="error">{{ field.errors }}</td>
            {% endif %}
        </tr>
        {% endfor %}
        <tr>
            <th colspan="3">
                <input type="submit" name="back" value="Back"/>
                <input type="submit" name="continue" value="Continue"/>
            </th>
        </tr>
    </table>
{% endblock %}
