{% extends "product_editor/base.html" %}
{% load static %}
{% load stcadmin_extras %}
{% load crispy_forms_tags %}

{% block formside %}{{ block.super }}
    <p>
        Listing options are used in listings to provide additional information
        about the product.
    </p>
    <p>
        Use any options that are applicable your product and
        leave others blank.
    </p>
{% endblock %}

{% block form %}
    {% crispy form %}
    <button type="submit" name="back" value="Back" class="btn btn-primary btn-sm">Back</button>
    <button type="submit" name="continue" value="Continue"class="btn btn-primary btn-sm">Continue</button>
{% endblock %}
