{% extends "product_editor/base.html" %}
{% load static %}
{% load stcadmin_extras %}

{% block basic_info %}{% endblock %}

{% block page_title %}Product Info{% endblock %}

{% block form %}
    <table class="new_product">
        {% for field in form.visible_fields %}
        <tr>
            <td>{{ field.label }}</td>
            <td>{{ field }}</td>
            <td>{% tooltip_help_text field %}</td>
            {% if field.errors %}
                <td class="error">{{ field.errors }}</td>
            {% endif %}
        </tr>
        {% endfor %}
        <tr>
            <th colspan="3">
                <button name="back">Back</button>
                <button name="continue">Continue</button>
            </th>
        </tr>
    </table>
    {% for field in form.hidden_fields %}{{ field }}{% endfor %}
{% endblock %}
