{% extends "product_editor/base.html" %}
{% load static %}
{% load stcadmin_extras %}

{% block pre_form %}

<ul class="nav nav-tabs" id="field_selection">
  {% for field in formset.0.visible_fields %}
    <li class="nav-item">
        <a id="hide_{{ field.name }}" class="nav-link field_select {% if forloop.first %}active{% endif %} {% if field.name in error_fields %} bg-danger{% endif %}">{{ field.label }}</a>
    </li>
    {% endfor %}
</ul>



{% endblock %}

{% block form %}

    {% for error in formset.non_field_errors %}
        {{ error }}
    {% endfor %}
    {{ formset.management_form }}
    <table class="table table-striped new_product">
        <thead class="thead-light">
            <tr>
                {% for variation_field in formset.0.variation_options %}
                <th>{{ variation_field }}</th>
                {% endfor %}
                {% for field in formset.0.visible_fields %}
                <th class="field_cell {{ field.name }}">{{ field.label }}</th>
                <th class="field_cell {{ field.name }} font-weight-normal">
                    <small>{% autoescape off %}{{ field.help_text }}{% endautoescape %}</small>
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tr class="copyrow">
            <th colspan="{{ formset.0.variation_options | length }}"></th>
            {% for field in formset.0.visible_fields %}
                <td class="field_cell {{ field.name }}">{{ field }}</td>
            {% endfor %}
            <td><button id="copybutton" type="button" class="btn btn-primary btn-sm">Update Selected</button></td>
        </tr>
        <script>
        $(document).ready(function() {
            $('.copyrow input, .copyrow select').each(function() {
                $(this).removeAttr('name');
                $(this).removeAttr('id');
            });
        });
        </script>
        {% for form in formset %}
        <tr class="product">
            {% for name, value in form.variation_options.items %}
            <td>{{ value }}</td>
            {% endfor %}

            {% for field in form.visible_fields %}
            <td class="field_cell {{ field.name }}">{{ field }}</td>
            {% endfor %}
            {% for field in form.visible_fields %}
            {% if field.errors %}
                <td class="error field_cell {{ field.name }}">{{ field.errors }}</td>
            {% endif %}
            {% endfor %}

            <td><input type="checkbox" class="copy_checkbox"></td>
            {% for field in form.hidden_fields %}{{ field }}{% endfor %}
        {% endfor %}
        </tr>
    </table>
    <button name="back" class="btn btn-primary">Back</button>
    <button name="continue" class="btn btn-primary">Continue</button>
{% endblock %}

{% block formside %}
<div class="contaner p-2">
    <div class="row mb-1">
        <div class="col-md-3 font-weight-bold">
            Select Variations
        </div>
        <div class="col">
            <button id="select_all" class="btn btn-primary btn-sm" type="button">All</button>
            <button id="select_none" class="btn btn-primary btn-sm" type="button">None</button>
        </div>
    </div>
    {% for option, values in variation_values.items %}
    <div class="row mb-1">
        <div class="col-md-3">
            {{ option }}
        </div>
        <div class="col">
            {% for value in values %}
            <button class="btn btn-primary btn-sm select_option" onclick="select_products('{{ option }}', '{{ value }}')" type="button">{{ value }}</button>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block script %}{{ block.super }}
    <script src="{% static 'scripts/variation_form.js' %}"></script>
{% endblock %}
