{% extends "product_editor/base.html" %}
{% load staticfiles %}
{% load stcadmin_extras %}

{% block additional_head %}{{ block.super }}
<style>
    .new_product input, .new_product .selectize-input {
        display: inline-block;
    }

    .selectize-control {
        display: inline-block;
        vertical-align: middle;
    }

    .field_select {
        background-color: #ddd;
        border: 3px solid #ddd;
    }

    .selected {
        background-color: white;
    }
</style>
{% endblock %}

{% block pre_form %}
<div class="field_selection">
    {% for field in formset.0.visible_fields %}
        <button id="hide_{{ field.name }}" class="field_select{% if field.name in error_fields %} error{% endif %}">{{ field.label }}</button>
    {% endfor %}
</div>
<div class="variation_selectors">
    <table>
        <th></th>
        <td><button id="select_all">All</button>&nbsp;<button id="select_none">None</button></td>
    {% for option, values in variation_values.items %}
        <tr>
            <th>{{ option }}</th>
            <td>{% for value in values %}<button class="select_option" onclick="select_products('{{ option }}', '{{ value }}')">{{ value }}</button>&nbsp;{% endfor %}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}

{% block form %}

    {% for error in formset.non_field_errors %}
        {{ error }}
    {% endfor %}
    {{ formset.management_form }}
    <table class="new_product">
        <tr>
            {% for variation_field in formset.0.variation_options %}
            <th>{{ variation_field }}</th>
            {% endfor %}
            {% for field in formset.0.visible_fields %}
            <th class="field_cell {{ field.name }}">{{ field.label }}</th>
            <th class="field_cell {{ field.name }}"></th>
            {% endfor %}
        </tr>
        <tr class="copyrow">
            <th colspan="{{ formset.0.variation_options | length }}"></th>
            {% for field in formset.0.visible_fields %}
                <td class="field_cell {{ field.name }}">{{ field }}</td>
            {% endfor %}
            <td><button id="copybutton" type="button">Copy</button></td>
        </tr>
        <script>
        $(document).ready(function() {
            $('.copyrow input, .copyrow select').each(function() {
                $(this).removeAttr('name');
                $(this).removeAttr('id');
            });
        });
        </script>
        {% for form in formset %}
        <tr class="product">
            {% for name, value in form.variation_options.items %}
            <th>{{ value }}</th>
            {% endfor %}

            {% for field in form.visible_fields %}
            <td class="field_cell {{ field.name }}">{{ field }}</td>
            {% endfor %}
            {% for field in form.visible_fields %}
            {% if field.errors %}
                <td class="error field_cell {{ field.name }}">{{ field.errors }}</td>
            {% endif %}
            {% endfor %}

            <td><input type="checkbox" class="copy_checkbox"></td>
            {% for field in form.hidden_fields %}{{ field }}{% endfor %}
        {% endfor %}
        </tr>
        <th colspan="{{ formset.0.variation_options | length | add:"2" }}">
            <button name="back">Back</button>
            <button name="continue">Continue</button>
        </th>
    </table>
{% endblock %}

{% block formside %}
{% for field in formset.0 %}
    <div class="field_cell {{ field.name }}">
        <h3>{{ field.label }}</h3>
        <div>
            {% autoescape off %}
            {{ field.help_text }}
            {% endautoescape %}
        </div>
    </div>
{% endfor %}
{% endblock %}

{% block script %}{{ block.super }}
    <script src="{% static 'scripts/variation_form.js' %}"></script>
{% endblock %}
