{% extends 'orders/base.html' %}
{% block content %}

<h1>Refunds</h1>

<a href="{% url 'orders:create_refund' %}"><button>Create Refund</button></a>
<form action="" method="GET">
    <div class="filter">
        {{ form.as_p }}
        <p>
            <button>Filter</button>
            <button formaction="{% url 'orders:export_refunds' %}">Export</button>
        </p>
    </div>
    <p>Showing {{page_obj.object_list|length}} of {{page_obj.paginator.count}} refunds</p>
    {% include 'orders/pagination_navigation.html' %}
    <table class="refunds">
        <tr>
            <th>Order ID</th>
            <th>Date Dispatched</th>
            <th>Department</th>
            <th>Channel</th>
            <th>Reason</th>
            <th>Status</th>
            <th></th>
        </tr>
    {% for refund in object_list %}
        <tr class="order">
            <th>{{ refund.order.order_ID }}</th>
            <td>{{ refund.order.dispatched_at|date:"Y-m-d" }}</td>
            <td>{{ refund.order.department}}</td>
            <td>{{ refund.order.channel }}</td>
            <td>{{ refund.reason }}</td>
            <td>
                {% if refund.contact_name %}
                    {% if refund.contact_contacted is False %}
                    Not Contacted
                    {% else %}
                        {% if refund.refund_accepted is True %}
                        <span class="success">Accepted</span>
                        {% elif refund.refund_accepted is False %}
                        <span class="error">Rejected</span>
                        {% else %}
                        Awaiting Response
                        {% endif %}
                    {% endif %}
                {% endif %}
            </td>
            <td><a href="{{ refund.get_absolute_url }}" target="_blank">View</a></td>
        </tr>
    {% endfor %}
    </table>
    {% include 'orders/pagination_navigation.html' %}
</form>
{% endblock content %}
