.products {
    display: flex;
    flex-direction: column;
}

.product {
    display: flex;
    flex-direction: row;
    margin: 0.25em;
    border: 3px solid #dedede;
    border-radius: 20px
}

.product:nth-child(even) {
    background-color: #eee;
}

.product:nth-child(odd) {
    background-color: #ddd;
}

.product div {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.product_identification div {
    margin: 0;
    padding: 0;
}

.file_status {
    padding: 1em;
    border: 1px solid black;
    border-radius: 20px;
    margin: 0.5em;
    display: inline-block;
}