{% extends 'spring_manifest/base.html' %}

{% block content %}

<h1>ITD Manifest</h1>
<hr>

<div id="manifest_list"></div>

{% endblock content %}

{% block script %}

<script>
    
    function regenerate_manifest(url) {
        $.ajax({method: "GET", url: url});
    }

    function getManifestList() {
        $.get("{% url 'itd:manifest_list' %}", function(response) {
            $("#manifest_list").html(response);
            $('#create_manifest_button').click(function() {
                $(this).attr('disabled', true)
                $.get("{% url 'itd:create_manifest' %}");
            });
        });
        setTimeout(getManifestList, 5000);
    }
    
    $(document).ready(function(){
        getManifestList();
    });
</script>

{% endblock script %}