{% extends "home/base.html" %}
{% load static %}

{% block additional_head %}
    {{ block.super }}
    {% comment %} <link rel="stylesheet" href="{% static 'css/inventory.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/update_stock.css' %}">
    <script>
    let get_stock_url = "{% url 'linnworks:get_stock_levels' %}";
    let update_stock_url = "{% url 'linnworks:update_stock_levels' %}";
    </script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.default.min.css"
          integrity="sha512-pTaEn+6gF1IeWv3W1+7X7eM60TFu/agjgoHmYhAfLEU8Phuf6JKiiE8YmsNC0aCgQv4192s4Vai8YZ6VNM6vyQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"
            integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    {{ form.media.css }}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
{% endblock additional_head %}

{% block page_title %}
    Inventory
{% endblock page_title %}

{% block section_navigation %}
    {% include "inventory/section_navigation.html" %}
{% endblock section_navigation %}

{% block content %}
{% endblock content %}

{% block script %}
    {{ form.media.js }}
{% endblock script %}
