{% extends "home/base.html" %}
{% load static %}

{% block additional_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'scripts/selectize/selectize.css' %}">
<link rel="stylesheet" href="{% static 'css/inventory.css' %}">
<link rel="stylesheet" href="{% static 'css/update_stock.css' %}">
<script>
    let get_stock_url = "{% url 'linnworks:get_stock_levels' %}";
    let update_stock_url = "{% url 'linnworks:update_stock_levels' %}";
</script>
<script src="{% static 'scripts/selectize/selectize.js' %}"></script>
{{ form.media.css }}
{% endblock %}

{% block page_title %}Inventory{% endblock %}

{% block section_navigation %}
{% include "inventory/section_navigation.html" %}
{% endblock %}

{% block content %}{% endblock %}

{% block script %}
{{ form.media.js }}
{% endblock script %}