{% extends "inventory/base.html" %}
{% load static %}

{% block additional_head %}
    {{ block.super }}
    <script src="{% static 'scripts/stock_manager.js' %}"></script>
{% endblock additional_head %}

{% block content %}
    <div class="container">
        <h3 class="display-3 mb-5">Bay Search</h3>
        <div class="search col-6 mb-4">
            <form action="" method="get">
                {% include "home/bootstrap_input_group_form.html" %}
                <button class="btn btn-primary">Search</button>
            </form>
        </div>
        {% for product, other_bays in products %}
            <div class="row mb-3 p-1 bg-light rounded">
                <div class="col-2">
                    <span class="font-monospace user-select-all">{{ product.sku }}</span>
                </div>
                <div class="col-3">
                    <span class="name">{{ product.full_name }}</span>
                </div>
                <div class="col-1">
                    <a href="{% url 'inventory:product_range' product.product_range.id %}"
                       class="btn btn-primary btn-sm">View</a>
                </div>
                <div class="col-4">
                    {% if product_range.is_end_of_line or product.is_end_of_line %}
                        <span class="danger">EOL</span>
                    {% else %}
                        {% include "inventory/update_stock.html" with updatable=false %}
                    {% endif %}
                </div>
                <div class="col-2">
                    {% for bay in other_bays %}
                        <a href="{% url 'inventory:bay_search' %}?bay={{ bay.id }}"
                           class="btn btn-primary btn-sm mb-1">{{ bay }}</a> &nbsp;
                    {% endfor %}
                </div>
            </div>
        {% empty %}
            This bay is empty
        {% endfor %}
    </div>
{% endblock content %}
