{% extends "inventory/base.html" %}
{% load static %}

{% block content %}
<h1>Editing <span class="sku">{{ product_range.name }}</span></h1>
<a href="{% url 'inventory:edit_product' edit.pk %}">Back</a>
<div style="display: flex;flex-direction: row;">
  {% for dropdown, options in product_range.variation_values.items %}
  <div>
    <h4>{{ dropdown|title }}</h4>
    <form action="">
      <ul>
        {% for option in options %}
        <li>{{ option }}</li>
        {% endfor %}
        <li><button>Add Option</button></li>
      </ul>
    </form>
  </div>
  {% endfor %}
  <div>
    <h4>Add Drop Down to product range</h4>
    <form action="">
      <select name="add_dropdown" id="" required>
        <option value=""></option>
        {% for option in product_options %}
        {% if option not in product_range.variation_options %}
        <option value="option.option_ID">{{ option }}</option>
        {% endif %}
        {% endfor %}
      </select>
      <button>Add</button>
      <input type="text" name="range_ID" value="{{ product_range.pk }}" hidden>
    </form>
  </div>
</div>
{% endblock %}
