{% extends "inventory/base.html" %}
{% load static %}

{% block content %}
<h1>Editing <span class="sku">{{ product_range.name }}</span></h1>
<a href="{% url 'inventory:edit_product' edit.pk %}">Back</a>
<div style="display: flex;flex-direction: row;">
  {% for dropdown, options in product_options.items %}
  <div>
    <h4>{{ dropdown|title }}</h4>
    <ul>
      {% for option in options %}
      <li>{{ option.value }}</li>
      {% endfor %}
      <a href=""><button class="show_form_button" >Add Option</button></a>
    </ul>
  </div>
  {% endfor %}
  <div>
    <h4>Add Drop Down to product range</h4>
    <a href="{% url 'inventory:add_dropdown' edit.pk %}"><button>Add Dropdown</button></a>
  </div>
</div>

{% endblock %}
