{% extends "inventory/base.html" %}
{% load static %}

{% block content %}
<h1>Editing <span class="sku">{{ product_range.name }}</span></h1>
<br><br>
<div>
  <a href="{% url 'inventory:edit_product' edit.pk %}"><button>Back</button></a>
  <a href="{% url 'inventory:add_dropdown' edit.pk %}">
    <button>Add a Dropdown to the Product Range</button>
  </a>
</div>
<div style="display: flex;flex-direction: row;">
  {% for option, values in product_options.items %}
  <div>
    <h4>{{ option.name|title }}</h4>
    <ul>
      {% for value in values %}
      <li>{{ value.value }}</li>
      {% endfor %}
      <a href="{% url 'inventory:add_product_option_values' edit.pk option.pk %}">
        <button>Add Option to Dropdown</button>
      </a>
    </ul>
  </div>
  {% endfor %}
</div>

{% endblock %}
