{% extends "inventory/base.html" %}
{% load staticfiles %}

{% block content %}
<h1>Inventory</h1>
<div class="site_index">
    <p>From here you can access:</p>
    <ul class='app'>
        <li><a href="{% url 'inventory:range_search' %}">Range Search</a></li>
        <p>Find a product range in the inventory.</p>
        <li><a href="{% url 'inventory:new_product' %}">New Product</a></li>
        <p>Create new Cloud Commerce inventory item</p>
        <li><a href="{% url 'inventory:sku_generator' %}">SKU Generator</a></li>
        <p>Get unused product SKUs</p>
    </ul>
</div>
{% endblock %}
