{% load stcadmin_extras %}
{% load django_bootstrap5 %}

{% bootstrap_form_errors form layout='inline' %}
{% for field in form.visible_fields %}
  <div class="mb-3">
    {% bootstrap_field field wrapper_class='input-group' show_help=false label_class='input-group-text' %}
    {% if field.errors %}<span class="error InputAddOn-item">{{ field.errors }}</span>{% endif %}
    {% if field.required %}<span class="input-group-text">*</span>{% endif %}
    <span class="text-muted">{{ field.help_text }}</span>
  </div>
  {% for field in form.hidden_fields %}{{ field }}{% endfor %}
{% endfor %}
