{% load stcadmin_extras %}
{% if form.non_field_errors %}
<div class="error">
  <ul>
    {% for error in form.non_field_errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% for field in form.hidden_fields %}
<ul>
  {% for error in field.errors %}
  <li>{{ field.name }} - {{ error }}</li>
  {% endfor %}
</ul>
{% endfor %}
{% for field in form.visible_fields %}
<div class="InputAddOn">
  {% if field.help_text %}
  <span class="InputAddOn-item">{% tooltip_help_text field %}</span>
  {% endif %}
  <label for="{{ field.name }}" class="InputAddOn-item">{{ field.label }}</label>
  {{ field|add_class:"InputAddOn-field" }}
  {% if field.errors %}
  <span class="error InputAddOn-item">{{ field.errors }}</span>
  {% endif %}
  <span class="InputAddOn-item required">{% if field.field.required %}*{% endif %}</span>
</div>
{% for field in form.hidden_fields %}
{{ field}}
{% endfor %}
{% endfor %}