{% extends "inventory/range_settings.html" %}
{% load staticfiles %}
{% load inventory_extras %}

{% block additional_head %}
{{ block.super }}
<script src="{% static 'scripts/stock_manager.js' %}"></script>
<link rel="stylesheet" href="{% static 'scripts/selectize/selectize.css' %}">
<script src="{% static 'scripts/selectize/selectize.js' %}"></script>
{% endblock %}

{% block page_title %}Product Locations{% endblock %}

{% block content %}{{ block.super }}

<style>
    .selectize {
        min-width: 250px;
    }
</style>

<form action="" method="POST">{% csrf_token %}
    {{ formset.management_form }}
    {% if formset.errors %}{{ formset.errors }}{% endif %}
    <table>
        <tr>
            <th>Product</th>
            <th>Stock Level</th>
            <th>Warehouse</th>
            <th>Bays</th>
        </tr>
        {% for form in formset %}
        <tr hidden><td>{{ form.product_id }}</td></tr>
        <tr>
            <td class="title_field">{{ form.product_name.value }}</td>
            <td class="stock_level_field">{{ form.stock_level.value }}</td>
            <td class="warehouse_field">{{ form.warehouse }}</td>
            <td class="location_field">{{ form.locations }}</td>
        </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Update Locations" />
</form>

{% endblock %}

{% block script %}
<script>

var warehouses = {
    {% for warehouse in warehouses %}
    '{{ warehouse.id }}': [
        {% for bay in warehouse.bay_set.all %}{text: '{{bay.name}}', value: '{{bay.id}}'},{% endfor %}],
    {% endfor %}}

var default_bays = {
    {% for warehouse in warehouses %}'{{ warehouse.id}}': '{{ warehouse.default_bay.id }}',{% endfor %}}

$(document).ready(function() {

    $('.location_field').change(function() {
        var warehouse = $(this).closest('tr').find('.warehouse+field select').val();
        if (warehouse !== ''){
            if ($(this).val() == '') {
                $(this).val(default_bays[warehouse]);
            }
        }
    });

    $('.warehouse_field').find('select').change(function() {
        if ($(this).value !== '') {
            $(this).find('option[value=""]').remove();
        }
        var bays = warehouses[$(this).val()];
        var bay_input = $(this).closest('tr').find('.location_field').find('select');
        var selectize = bay_input[0].selectize;
        var value = bay_input.val()
        selectize.clear();
        selectize.clearOptions();
        selectize.addOption(bays);
        selectize.setValue(value);
    });

    $('.warehouse_field select').each(function() {
        if ($(this).val() !== '') {
            $(this).change();
        }
        $(this).attr('required', true)
    });
});

</script>

{% endblock %}
