{% extends "inventory/base.html" %}
{% load staticfiles %}
{% load cloud_commerce_extras %}

{% block additional_head %}
{{ block.super }}
<script src="{% static 'scripts/stock_manager.js' %}"></script>
{% endblock %}

{% block page_title %}CCP Stock Manager{% endblock %}

{% block content %}
<form action="" method="POST">{% csrf_token %}
    {{ formset.management_form }}
    <table>
        <tr>
            <td>Product</td>
            <td>Bays</td>
        </tr>
        {% for form in formset %}
        <tr>
            <td>{{ form.product_name.value }}</td>
            <td>{{ form.locations }}</td>
        </tr>
        {% endfor %}
    </table>
</form>
{% endblock %}

{% block script %}
{% endblock %}
