{% extends "inventory/range_settings.html" %}
{% load static %}
{% load inventory_extras %}
{% load reference_extras %}

{% block additional_head %}
<style>
    #barcode_table tr:nth-child(even) {
        background: #CCC;
    }
    #barcode_table tr:nth-child(odd) {
        background: #FFF;
    }
</style>
{% endblock %}

{% block content %}{{ block.super }}
<h1 class="page_title">Barcode Labels</h1>
{% help_button 'inventory_help' 'inventory-barcode_labels' %}

<div>
    <input type="number" id="update_selected_quantity" min="0" step="1" value="0">
    <input type="button" value="Update Selected" id="update_selected_button">
    <input type="submit" value="Produce Barcodes" id="produce_barcodes">
</div>
<table id="barcode_table">
    <thead>
        <tr>
            <th>SKU</th>
            <th>Product</th>
            <th>Barcode</th>
            <th>Quantity</th>
            <th><input type="button" id="toggle_selected" class="toggle_selected" value="Toggle"></th>
        </tr>
    </thead>
    <tbody>
        {% for product in product_range.products %}
        <tr>
            <th>{{ product.sku }}</th>
            <td>{{ product.full_name }}</td>
            <td><input type="text" value="{{ product.barcode }}" class="barcode" id="{{ product.id }}_barcode"></td>
            <td><input type="number" class="quantity" id="{{ product.id }}_quantity" min="0" step="1" value="{{ product.stock_level }}"></td>
            <td><input type="checkbox" class="product_selected" id="{{ product.id }}_selected" selected></td>
            <td hidden><input type="text" value="{{ product.option_text }}" class="option_text" id="{{ product.id }}_option_text"></td>
            <td hidden><input type="text" value="{{ product.id }}" class="id" id="{{ product.id }}_id"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<form action="{% url 'inventory:barcode_pdf' %}" method="POST" id="barcode_form" hidden>{% csrf_token %}
    <input type="text" name="data" id="barcode_json_input">
</form>
{% endblock %}

{% block script %}{{ block.super }}
<script>
    function get_data() {
        var data = [];
        $('#barcode_table tbody tr').each(function() {
            var id = $(this).find('.id').val();
            var barcode = $(this).find('.barcode').val();
            var option_text = $(this).find('.option_text').val();
            var quantity = $(this).find('.quantity').val();
            var row_data = {
                'barcode': barcode,
                'option_text': option_text,
                'quantity': quantity}
            data.push(row_data);
        });
        return data
    }
    $(document).ready(function() {
        $('#toggle_selected').click(function() {
            var checkboxes = $('#barcode_table :checkbox');
            checkboxes.prop('checked', !checkboxes.first().prop('checked'));
        });

        $('#update_selected_button').click(function() {
            $('#barcode_table tbody tr').each(function() {
                if ($(this).find(':checkbox').prop('checked')) {
                    $(this).find('.quantity').val($('#update_selected_quantity').val());
                }
            });
        });

        $('#produce_barcodes').click(function() {
            var barcode_data = JSON.stringify(get_data());
            $('#barcode_json_input').val(barcode_data);
            $('#barcode_form').submit();
        });
    });
</script>
{% endblock %}
