{% extends "inventory/base.html" %}
{% load staticfiles %}
{% load inventory_extras %}
{% load product_editor_extras %}
{% load stcadmin_extras %}
{% load reference_extras %}

{% block additional_head %}
{{ block.super }}
<script src="{% static 'scripts/stock_manager.js' %}"></script>
{% endblock %}

{% block page_title %}CCP Stock Manager{% endblock %}

{% block content %}
<h1 class="page_title">Product Search</h1>
{% help_button 'inventory_help' 'inventory-product_search' %}

<form method="POST" action="">{% csrf_token %}
  <div class="error">{{ form.non_field_errors }}</div>

  <table id="basic_search">
    {% for field in form %}
    <tr class="{% ifequal field.name|slice:" 0:6" 'basic_' %}basic_search_row{% else %}{% ifequal field.name|slice:"0:9" 'advanced_' %}advanced_search_row{% endifequal %}{% endifequal %}">
      <td>{{ field.label }}</td>
      <td>{{ field }}</td>
      <td>{% tooltip_help_text field %}</td>
      {% if field.errors %}
      <td class="error">{{ field.errors }}</td>
      {% else %}
      <td></td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  <input type="submit" value="Search">
</form>

{% if product_ranges %}
  Found {{ product_ranges.count }} product ranges.
{% endif %}

<table id="stock_search_result">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th colspan="2">Variations <button id="show_hide_all">Show/Hide all</button></th>
    </tr>
  </thead>
  <tbody>
    {% for range in product_ranges %}
    <tr {% if range.end_of_line or range.hidden %} class="end_of_line" {% endif %}>
      <td><a href="{% url 'inventory:product_range' range.range_ID %}">{{ range.name }}</a> </td>
      {% if false and 'Incomplete' in range.options.option_names %}
        <td class="error">INCOMPLETE</td>
        <td></td>
        <td></td>
      {% else %}
      <td>
        <a title="Descriptions" href="{% url 'inventory:descriptions' range.range_ID %}" target="_blank"><button>D</button></a>
        <a title="Edit" href="{% edit_product_url range.range_ID %}" target="_blank"><button>E</button></a>
        <a title="Images" href="{% url 'inventory:images' range.range_ID %}" target="_blank"><button>I</button></a>
        <a title="Locations" href="{% url 'inventory:locations' range.range_ID %}" target="_blank"><button>L</button></a>
        <a title="Price Calulator" href="{% url 'price_calculator:range_price_calculator' range.range_ID %}" target="_blank"><button>P</button></a>
        <a title="View on Cloud Commerce" href="{% ccp_product_range_page range.range_ID %}" target="_blank"><button>C</button></a>
      </td>
      {% if range.product_set.count > 1 %}
        <td class="products_box">
          <table id="products_table_{{ range.range_ID }}" class="products_table">
            {% for product in range.product_set.all %}
            <tr>
              <td><a href="{% url 'inventory:product' product.product_ID %}"><span class="sku">{{ product.SKU }}</span></a></td>
              <td nowrap>{% format_variation product.variation %}</td>
              <td><a href="{% ccp_product_page range.range_ID product.product_ID %}" target="_blank"><button>C</button></a></td>
            </tr>
            {% endfor %}
          </table>
        <td class="show_hide_field" nowrap>
          <a id="show_hide_products_{{ range.range_ID }}" class="show_hide_products">Show</a> {{ range.product_set.count }} variations
        </td>
        </td>
      {% else %}
        {% for product in range.product_set.all %}
         <td>
           <a href="{% url 'inventory:product' product.product_ID %}"><span class="sku">{{ product.SKU }}</span></a>&nbsp;
           <a href="{% ccp_product_page range.range_ID product.product_ID %}" target="_blank"><button>C</button></a>
         </td>
         <td>Single Product</td>
        {% endfor %}
      {% endif %}
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
