{% extends "inventory/base.html" %}
{% load staticfiles %}
{% load inventory_extras %}
{% load stcadmin_extras %}

{% block page_title %}CCP Product{% endblock %}

{% block additional_head %}{{ block.super }}
<script src="{% static 'scripts/price_field.js' %}"></script>
{% endblock %}

{% block content %}
    <h2>{{ product.full_name }}</h2>
    <p>SKU: {{ product.sku}}</p>
    <p>ID: {{ product.id }}</p>
    <p><a href="{% url 'inventory:product_range' product.range_id %}"><button>Back To Range</button></a></p>
    <p><a href="{% ccp_product_page product.range_id product.id %}" target="_blank"><button>View Product on Cloud Commerce</button></a></p>
    <p>Stock Level: {{ product.stock_level }}</p>
    {% if linnworks_sku %}<p>Linnworks SKU: {{ linnworks_sku }}</p>{% endif %}
    {% if linnworks_title %}<p>Linnworks Title: {{ linnworks_title }}</p>{% endif %}
    <form action="" method="POST">{% csrf_token %}
        <table>
            {% for field in form %}
            <tr>
                <th>{{ field.label }}</th>
                <td>{{ field }}</td>
                <td>{% tooltip_help_text field %}</td>
                {% if field.errors %}
                    <td class="error">{{ field.errors }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Update">
    </form>
{% endblock %}

{% block script %}{{ block.super }}

{% include 'inventory/set_autocomplete.html' %}

<script>

    var bays = [{% for bay in warehouse_bays %}'{{ bay }}', {% endfor %}]

    $(document).ready(function() {
        function get_vat_rate(vat_select) {
            var value = vat_select.val();
            if (value === '') {
                var vat_rate = false;
            } else {
                var vat_rate = parseInt(value);
            }
            return vat_rate
        }

        var vat_rate_select = $('#{{ form.vat_rate.auto_id }}');

        var price_field = new PriceField(
            $('#{{ form.price.auto_id }}'),
            get_vat_rate(vat_rate_select)
        );

        vat_rate_select.change(function () {
            price_field.set_vat_rate(get_vat_rate(vat_rate_select));
        });

        var observer = new MutationObserver(function(mutations) {
        	mutations.forEach(function(mutation) {
                $.each(mutation.addedNodes, function() {
                    if ($(this).hasClass("list_input")) {
                        new Awesomplete($(this).find('input')[0], {minChars: 1, list: bays});
                    }
                });
        	});
        });

        var observerConfig = {
        	attributes: true,
        	childList: true,
        	characterData: true,
            subtree: true,
        };

        targetNode = $('#{{ form.locations.auto_id }}').closest('td')[0];
        observer.observe(targetNode, observerConfig);

    });
</script>
{% endblock %}
