{% extends "inventory/base.html" %}
{% load staticfiles %}
{% load inventory_extras %}
{% load stcadmin_extras %}

{% block page_title %}CCP New Product Success{% endblock %}

{% block content %}
    <h2>{{ product_range.name }}</h2>
    <p>SKU: {{ product_range.sku}}</p>
    <p>ID: {{ product_range.id }}</p>
    <a href="{% ccp_product_range_page product_range.id %}" target="_blank"><button>View Range on Cloud Commerce</button></a>
    <a href="{% url 'inventory:variations' product_range.id %}"><button>Variations</button></a>
    <a href="{% url 'inventory:descriptions' product_range.id %}"><button>Descriptions</button></a>
    <a href="{% url 'inventory:locations' product_range.id %}"><button>Locations</button></a>
    <a href="{% url 'inventory:images' product_range.id %}"><button>Images</button></a>
    <a href="{% url 'inventory:price_calculator' product_range.id %}"><button>Price Calculator</button></a>
    <form action="" method="POST">{% csrf_token %}
        <table>
            {% for field in form %}
            <tr>
                <td>{{ field.label }}</td>
                <td>{{ field }}</td>
                <td>{% tooltip_help_text field %}</td>
                {% if field.errors %}
                    <td class="error">{{ field.errors }}</td>
                {% endif %}
            </tr>
            {% endfor %}
            <tr><td colspan="3"><input type="submit" value="Update"></td></tr>
        </table>
    </form>
    <div class="product_list">
        <h3>Products</h3>
        <table class="product_list">
            <tr>
                <th>SKU</th>
                <th>Title</th>
                <th>Barcode</th>
                <th>Stock Level</th>
                <th></th>
            </tr>
        {% for product in product_range.products %}
        </tr>
            <td>{{ product.sku}}</td>
            <td><a href="{% url 'inventory:product' product.id %}">{{product.full_name}}</a></td>
            <td>{{product.barcode}}</td>
            <td>{{product.stock_level}}</td>
            <td><a href="{% ccp_product_page product_range.id product.id %}" target="_blank"><button>View Product on Cloud Commerce</button></a></td>
        {% endfor %}
        </table>
    </div>
{% endblock %}
