{% extends "inventory/base.html" %}
{% load staticfiles %}
{% load inventory_extras %}
{% load stcadmin_extras %}

{% block additional_head %}
{{ block.super }}
<script src="{% static 'scripts/stock_manager.js' %}"></script>
{% endblock %}

{% block page_title %}CCP Stock Manager{% endblock %}

{% block content %}
    <form method="POST" action="">{% csrf_token %}
        <div class="error">{{ form.non_field_errors }}</div>

        <table id="basic_search">
            {% for field in form %}
            <tr class="{% ifequal field.name|slice:"0:6" 'basic_' %}basic_search_row{% else %}{% ifequal field.name|slice:"0:9" 'advanced_' %}advanced_search_row{% endifequal %}{% endifequal %}">
                <td>{{ field.label }}</td>
                <td>{{ field }}</td>
                <td>{% tooltip_help_text field %}</td>
                {% if field.errors %}
                    <td class="error">{{ field.errors }}</td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Search">
    </form>
    <table id="stock_search_result">
        <thead>
            <tr>
                <th>SKU</th>
                <th>Name</th>
                <th></th>
                <th colspan="2"><button id="show_hide_all">Show/Hide all</button></th>
            </tr>
        </thead>
            <tbody>
            {% for range in product_ranges %}
                <tr{% if range.end_of_line %} class="end_of_line"{% endif %}>
                    <td>{{ range.sku }}</td>
                    <td><a href="{% url 'inventory:product_range' range.id %}">{{ range.name }}</a></td>
                    <td>
                        <a title="Descriptions" href="{% url 'inventory:descriptions' range.id %}" target="_blank"><button>D</button></a>
                        <a title="Locations" href="{% url 'inventory:locations' range.id %}" target="_blank"><button>L</button></a>
                        <a title="Images" href="{% url 'inventory:images' range.id %}" target="_blank"><button>I</button></a>
                        <a title="View on Cloud Commerce" href="{% ccp_product_range_page range.id %}" target="_blank"><button>C</button></a>
                    </td>
                    <td class="products_box">
                        <table id="products_table_{{ range.id }}" class="products_table">
                            {% for product in range.products %}
                                <tr>
                                    <td>{{ product.full_name }}</td>
                                    <td><input id="stock_{{ product.id }}" type="text" value="{{ product.stock_level }}" size="4" /></td>
                                    <td><button id="update_{{ product.id }}" class="stock_update_button">Update Stock Level</button></td>
                                    <td><img id="status_{{ product.id }}" class="update_status" src=""></td>
                                </tr>
                            {% endfor %}
                        </table>
                        <td><span id="show_hide_products_{{ range.id }}" class="show_hide_products">[[ show ]]</span></td>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block script %}
    <script>
        loading_image = "{% static 'images/loading.gif' %}"
        complete_image = "{% static 'images/complete.png' %}"
        update_stock_url = "{% url 'inventory:update_stock_level' %}";
        product_details = {
            {% for range in product_ranges %}
            {% for product in range.products %}
                '{{ product.id }}': {'stock_level': {{ product.stock_level }}},
            {% endfor %}
            {% endfor %}
        }

        $(document).ready(function() {
            $('#{{ form.search_type.auto_id }}').change(function (){
                var value = $(this).find(':checked').val();
                if (value === 'basic') {
                    $('.basic_search_row').attr('hidden', false);
                    $('.advanced_search_row').attr('hidden', true);
                } else if (value === 'advanced') {
                    $('.basic_search_row').attr('hidden', true);
                    $('.advanced_search_row').attr('hidden', false);
                }
            });
            $('#{{ form.search_type.auto_id }}').change();
        });
    </script>
{% endblock %}
