{% extends "inventory/base.html" %}
{% load staticfiles %}
{% load inventory_extras %}
{% load product_editor_extras %}
{% load stcadmin_extras %}
{% load reference_extras %}

{% block additional_head %}
{{ block.super }}
<script src="{% static 'scripts/stock_manager.js' %}"></script>
{% endblock %}

{% block page_title %}Product Range{% endblock %}

{% block content %}
    {% if not product_range.end_of_line %}
        {% include "inventory/product_range_nav.html" %}
    {% endif %}
    <h1 class="page_title">Range Page</h1>
    {% help_button 'inventory_help' 'inventory-range_page' %}
    <h2>{{ product_range.name }}</h2>
    <p>SKU: {{ product_range.SKU}}</p>
    <p>ID: {{ product_range.range_ID }}</p>
    <p>Department: {{ product_range.department }}</p>

    <form action="" method="POST">{% csrf_token %}
        <table>
            {% for field in form %}
            <tr>
                <td>{{ field.label }}</td>
                <td>{{ field }}</td>
                <td>{% tooltip_help_text field %}</td>
                {% if field.errors %}
                    <td class="error">{{ field.errors }}</td>
                {% endif %}
            </tr>
            {% endfor %}
            <tr><td colspan="3"><input type="submit" value="Update"></td></tr>
        </table>
    </form>

    <div class="product_list">
        <h3>Products</h3>
        <table class="product_list">
            <tr>
              <th>SKU</th>
              {% for option in products.0.variation.keys %}
              <th>{{ option }}</th>
              {% endfor %}
              <th>Barcode</th>
              <th>Stock Level</th>
              <th></th>
            </tr>
        {% for product in products %}
        <tr>
          <td class="sku">{{ product.SKU }}</td>
          {% for option, value in product.variation.items %}
          <th>{{ value }}</th>
          {% endfor %}
          <td>{{product.barcode}}</td>
          <td>{% include 'inventory/update_stock.html' %}</td>
          <td><a href="{% url 'inventory:product' product.product_ID %}"><button>View</button></a></td>
        </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}
