{% extends 'inventory/base.html' %}

{% block content %}

    <div class="message_box">
        <h1 class="error">Product Range Does Not Exist</h1>
        <p>This product range does not exist or has been deleted.</p>
        <div class="inset">
            <h2>If you are creating a new product:</h2>
            <p>
                An error has occured. This could be due to a technical issue or a
                problem communicating with Cloud Commerce.
            </p>
            <p>
                If this is the your <b>first</b> attempt to create the product please
                <a href="{% url 'inventory:edit_product' %}">
                    try creating the product again
                </a>.
            </p>
            <p>If you have tried more than once pleaese seek assistance.</p>
            <a href="{% url 'inventory:edit_product' %}">
                <button>Retry Product Creation</button>
            </a>
            <a href="{% url 'inventory:edit_product' %}">
                <button>Edit Product and Try Again</button>
            </a>
        </div>
    </div>
{% endblock %}
