{% extends "inventory/base.html" %}
{% load static %}

{% block page_title %}
  {{ product_range.name }}
{% endblock page_title %}

{% block content %}
  {{ block.super }}
  <div class="container text-start">
    <a href="{% url 'inventory:product_range' product_range.pk %}"
       class="button-link">
      <i class="fa-solid fa-arrow-left"></i> Back to Product Range
    </a>
    <div class="m-4 mb-5">
      <div class="details">
        <span class="font-monospace user-select-all">{{ product.sku }}</span>
        <h3 class="user-select-all">{{ product.full_name }}</h3>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <form action="" method="post" autocomplete="off" id="product_form">
            {% csrf_token %}
            {% include "inventory/input_add_on_form.html" %}
            <button type="submit" id="save_button" class="btn btn-primary" disabled>Save</button>
          </form>
        </div>
        <div class="col-6">
          <table class="table table-hover table-sm" id="variation_table">
            <thead class="table-primary">
              <tr>
                <th>SKU</th>
                {% for option in product_range.variation_options %}<th>{{ option }}</th>{% endfor %}
                {% for option in product_range.listing_options %}<th class="listing_option">{{ option }}</th>{% endfor %}
                <th>Supplier SKU</th>
              </tr>
            </thead>
            {% for variation in product_range.products.variations %}
              <tr class="{% if product == variation %}table-active{% else %}not_selected{% endif %}"
                  data-href="{% url 'inventory:product' variation.pk %}">
                <td>
                  <span class="font-monospace user-select-all">{{ variation.sku }}</span>
                </td>
                {% for option, value in variation.variation.items %}<td class="option name">{{ value }}</td>{% endfor %}
                {% for option, value in variation.listing_options.items %}
                  <td class="option listing_option name">{{ value }}</td>
                {% endfor %}
                <td>
                  <span class="font-monospace user-select-all">{{ variation.supplier_sku }}</span>
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script %}
  {{ block.super }}
  <script>
    var form_changed = false;
    var price_selectors = ['#id_purchase_price', '#id_retail_price'];

    function variation_link_click() {
        $('#variation_table .not_selected').click(function() {
            if ((!form_changed) || (window.confirm(
                    "Changes not saved.\nDo you want to leave without saving your changes?"))) {
                window.location = $(this).data('href');
            }
        });
    }

    function set_autoNumeric() {
        $.each(price_selectors, function(index, value) {
            $(value).attr({
                type: "text"
            });
            new AutoNumeric($(value)[0]).british({
                'unformatOnSubmit': true
            });
        });
    }

    function set_form_changed() {
        form_changed = true;
        $('#save_button').prop('disabled', false);
    }

    function set_form_changed_event_triggers() {
        $('#product_form input, #product_form select').on('input', set_form_changed);
        $('select').on('change', set_form_changed);
    }

    $(document).ready(function() {
        variation_link_click();
        set_autoNumeric();

        $(document).ready(function() { // After selectize and autoNumeric
            set_form_changed_event_triggers();
            $(".product_form form").keydown(function(event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
        });

    });
  </script>
{% endblock script %}
