<div class="navbar navbar-expand-md navbar-light">
    {% include 'home/section_navigation_header.html' with view='inventory:product_search' text='Inventory' %}
    <div class="collapse navbar-collapse" id="section_navigation">
        <ul class="navbar-nav mr-auto">
            {% include 'home/section_navigation_link.html' with view='product_editor:basic_info' text='New Product' %}
            {% include 'home/section_navigation_link.html' with view='price_calculator:price_calculator' text='Price Calculator' %}
            {% include 'home/section_navigation_link.html' with view='inventory:sku_generator' text='SKU Generator' %}
            {% include 'home/section_navigation_link.html' with view='inventory:create_warehouse_bay' text='Create Bay' %}
            {% include 'home/section_navigation_link.html' with view='inventory:suppliers' text='Suppliers' %}
        </ul>
    </div>
</div>