{% load inventory_extras %}

<script>
    $(document).ready(function() {
        var awesomplete_defaults = {'minChars': 3};
        {% warehouse_bays as warehouses %}
        var warehouses = {
            {% for warehouse, bays in warehouses.items %}
            '{{ warehouse }}': [
                {% for bay in bays %}'{{ bay }}',{% endfor %}],
            {% endfor %}}

        {% product_options as options %}
        var product_options = {
            {% for option, values in options.items %}
            '{{ option }}': [
                {% for value in values %}'{{ value }}',{% endfor %}],
            {% endfor %}}


        {% if wizard.form.forms %}
            {% for form in wizard.form.forms %}
                {% for field in form %}
                    {% ifequal field.name|slice:"0:4" 'opt_' %}
                        var {{ field.auto_id }}_auto_input = new Awesomplete($('#{{ field.auto_id }}')[0], {minChars: 1});
                        {{ field.auto_id }}_auto_input.list = product_options['{{ field.label }}'];
                    {% endifequal %}
                {% endfor %}
                {% if form.location %}
                    if (warehouses.hasOwnProperty('{{ form.department }}')) {
                        var {{ form.location.auto_id }}_auto_input = new Awesomplete($('#{{ form.location.auto_id }}')[0], {minChars: 1});
                        {{ form.location.auto_id }}_auto_input.list = warehouses['{{ form.department }}'];
                    }
                {% endif %}
            {% endfor %}
        {% else %}
            {% if form.department %}
                $('#{{ form.department.auto_id }}').change(function() {
                    var department = $(this).val();
                    $('#{{ form.location.auto_id}}').val('');
                    if (warehouses.hasOwnProperty(department)) {
                        var bay_list = warehouses[department];
                        $('#{{ form.location.auto_id}}').attr('disabled', false);
                    } else {
                        var bay_list = [];
                        $('#{{ form.location.auto_id}}').attr('disabled', true);
                    }
                    var {{ form.location.auto_id }}_auto_input = new Awesomplete($('#{{ form.location.auto_id }}')[0], {minChars: 1});
                    {{ form.location.auto_id }}_auto_input.list = bay_list;
                });
                $('#{{ form.department.auto_id }}').change();
            {% else %}
                var department = '{{ product.options.Department.value }}';
                if (warehouses.hasOwnProperty(department)) {
                    var bay_list = warehouses[department];
                } else {
                    var bay_list = [];
                }
                var {{ form.location.auto_id }}_auto_input = new Awesomplete($('#{{ form.location.auto_id }}')[0], {minChars: 1});
                {{ form.location.auto_id }}_auto_input.list = bay_list;
            {% endif %}
            {% if form.brand %}
                var {{ form.brand.auto_id }}_auto_input = new Awesomplete($('#{{ form.brand.auto_id }}')[0], {minChars: 1});
                {{ form.brand.auto_id }}_auto_input.list = product_options['Brand'];
            {% endif %}
            {% if form.manufacturer %}
                var {{ form.manufacturer.auto_id }}_auto_input = new Awesomplete($('#{{ form.manufacturer.auto_id }}')[0], {minChars: 1});
                {{ form.manufacturer.auto_id }}_auto_input.list = product_options['Manufacturer'];
            {% endif %}
            {% for field in form %}
                {% ifequal field.name|slice:"0:4" 'opt_' %}
                    var {{ field.auto_id }}_auto_input = new Awesomplete($('#{{ field.auto_id }}')[0], {minChars: 1});
                    {{ field.auto_id }}_auto_input.list = product_options['{{ field.label }}'];
                {% endifequal %}
            {% endfor %}
        {% endif %}
    });
</script>
