{% extends "inventory/base.html" %}
{% load static %}

{% block additional_head %}
<script src="{% static 'scripts/sku_generator.js' %}"></script>
{% endblock %}

{% block page_title %}CCP SKU Generator{% endblock %}

{% block content %}
    <input type="text" id="variation_sku" name="variation_sku">
    <button id="get_variation_sku">Get Variation SKU</button>
    <br>
    <br>
    <input type="text" id="range_sku" name="range_sku">
    <button id="get_range_sku">Get Range SKU</button>
{% endblock %}

{% block script %}
    <script>
        var new_sku_url = "{% url 'inventory:get_new_sku' %}";
        var new_range_sku_url = "{% url 'inventory:get_new_range_sku' %}";
    </script>
{% endblock %}
