{% extends "inventory/base.html" %}
{% block content %}
  <div class="container">
    <h1 class="display-3 mb-5">
      {% if form.instance.id %}
        Edit
      {% else %}
        Create
      {% endif %}
      Supplier Contact
    </h1>
    <h3>Contact for {{ supplier.name }}</h3>
    <form method="post">
      {% csrf_token %}
      {% include "inventory/input_add_on_form.html" %}
      <button class="btn btn-primary">Save</button>
      <a href="{% url 'inventory:supplier' supplier.id %}">
        <button type="button" class="btn btn-primary">Cancel</button>
      </a>
    </form>
  </div>
{% endblock content %}
