{% extends "inventory/base.html" %}

{% block content %}
  <a href="{% url 'inventory:suppliers' %}"><button>&larr; Back to suppliers</button></a>
  <h1>{{ supplier.name }}</h1>
  {% if supplier.inactive %}
    <h2 class="error">
      INACTIVE&emsp;
      <a href="{% url 'inventory:toggle_supplier_active' supplier.id %}">
        <button class="error">Reactivate Supplier</button>
      </a>
    </h2>
  {% else %}
    <h2>
      <a href="{% url 'inventory:toggle_supplier_active' supplier.id %}">
        <button>Set Inactive</button>
      </a>
    </h2>
  {% endif %}
  <br>
  {% if contacts %}
  <h3>Contacts</h3>
  {% for contact in contacts %}
    <div class="contact">
      {% if contact.name %}{{ contact.name }}<br>{% endif %}
      {% if contact.phone %}{{ contact.phone }}<br>{% endif %}
      {% if contact.email %}{{ contact.email }}<br>{% endif %}
      {% if contact.notes %}{{ contact.notes }}<br>{% endif %}
      <a href="{% url 'inventory:update_supplier_contact' contact.id %}"><button>Edit</button></a>
      <a href="{% url 'inventory:delete_supplier_contact' contact.id %}"><button>Delete</button></a>
    </div>
    <br>
  {% endfor %}
  {% else %}
  <h3>No contacts for supplier</h3>
  {% endif %}
  <a href="{% url 'inventory:create_supplier_contact' supplier.id %}"><button>Add new contact</button></a>
{% endblock %}
