{% extends "inventory/variation_wizard.html" %}
{% load staticfiles %}
{% load cloud_commerce_extras %}
{% load stcadmin_extras %}

{% block additional_head %}{{ block.super }}
{% include 'home/froala_head.html' %}
<script src="{% static 'scripts/price_field.js' %}"></script>
{% endblock %}

{% block table_class %}new_product_form{% endblock %}

{% block form %}
{{ form.non_field_errors }}
    {% csrf_token %}
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>{% tooltip 'Variable' 'Select the checkbox for a field if a different value is required for each variation.<br>Otherwise the same value will be applied to every variation.' %}</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    {% for field in form %}
        {% ifnotequal field.name|slice:"0:10" 'variation_' %}
        {% ifnotequal field.name|slice:"0:9" 'variable_' %}
        {% ifnotequal field.name|slice:"0:4" 'opt_' %}
            <tr>
                <td><label for="{{ field.name }}">{{ field.label }}</label></td>
                <td>{{ field }}</td>
                <td>{% for var_field in form %}{% ifequal var_field.name 'variable_'|add:field.name %}{{ var_field }}{% endifequal %}{% endfor %}</td>
                <td>{% tooltip_help_text field %}</td>
                {% if field.errors %}
                    <td class="error">{{ field.errors }}</td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>

        {% endifnotequal %}{% endifnotequal %}{% endifnotequal %}
    {% endfor %}
</table>

<h3>Product Options&nbsp;{% tooltip 'Product Options' '<ul><li><b>Unused</b>:<br>Select if this option is not applicable to the product.</li><li><b>Single:</b><br>Select this to use the option for extra information in the listing if the value does <b>not</b> differ between variations.</li><li><b>Variable:<br></b>Select this to use the option for extra information in the listing if the value <b>does</b> differ between variations.</li><li><b>Variation:<br></b>Select this if the option is the way in which the variation product varies. At least one option must be set to <b>Variation</b> and at least two values must be supplied for each <b>Variation Option</b>.</li>' %}</h3>
<table class="variation_options_table">
{% for field in form %}
{% ifequal field.name|slice:"0:4" 'opt_' %}
<tr>
    <td>{{ field.label }}</td>
    {% for choice in field %}
        <td>{{ choice }}</td>
    {% endfor %}
    {% if field.errors %}
        <td class="error">{{ field.errors }}</td>
    {% else %}
        <td></td>
    {% endif %}
</tr>
{% endifequal %}
{% endfor %}
{% endblock %}

{% block script %}{{ block.super }}
<script>
    $(document).ready(function() {
        function get_vat_rate(vat_select) {
            var value = vat_select.val();
            if (value === '') {
                var vat_rate = false;
            } else {
                var vat_rate = parseInt(value);
            }
            return vat_rate
        }

        var vat_rate_select = $('#{{ form.vat_rate.auto_id }}');

        var price_field = new PriceField(
            $('#{{ form.price.auto_id }}'),
            get_vat_rate(vat_rate_select)
        );

        vat_rate_select.change(function () {
            price_field.set_vat_rate(get_vat_rate(vat_rate_select));
        });
    });
</script>
{% endblock %}
