{% extends "inventory/range_settings.html" %}
{% load staticfiles %}
{% load inventory_extras %}

{% block page_title %}CCP Stock Manager{% endblock %}

{% block content %}{{ block.super }}

<form action="" method="POST">{% csrf_token %}
    {{ formset.management_form }}

    <table>
        <tr>
            <th></th>
            <th>SKU</th>
            {% for field in formset.forms.0.visible_fields %}
                <th>{{ field.label }}</th>
            {% endfor %}
        </tr>
        {% for form in formset %}
        <tr>
            <th>{{ form.product.full_name }}</th>
            <th>{{ form.product.sku}}</th>
        {% for field in form.visible_fields %}
            <td class="test">
                {{ field }}
                {% if field.errors %}
                    <ul class="error">{% for error in field.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
            </td>
        {% endfor %}
        {% for field in form.hidden_fields %}
        {{ field }}
        {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Update Variations" />
</form>

{% endblock %}
