{% include "django/forms/widgets/text.html" %}
<script>
 $(document).ready(function() {
    $({{ widget.attrs.id }}).autocomplete({
    source: "{% url 'inventory:search_hs_code' %}"
  })

  $({{ widget.attrs.id }}).change(function() {
    var value = $(this).val();
    var colon_position = value.indexOf(':');
    if (colon_position != -1) {
      value = value.substr(0, value.indexOf(':'));
    }
    $(this).val(value);
  });

  $({{ widget.attrs.id }}).focus(function() { 
    $(this).select(); 
  }); 
 });
</script>