{{ widgets.0 }}&nbsp;{{ widgets.1 }}

<script>
    {{ id }}_options = {
        {% for option, values in option_matches.items %}
            '{{ option }}': [{% for value in values %}'{{ value }}',{% endfor %}],
        {% endfor %}
    }

    $(document).ready(function() {
        var option_select = $("#{{ id }}_0");
        var value_select = $("#{{ id }}_1");
        option_select.change(function () {
            var option_id = option_select.val();
            console.log({{ id }}_options[option_id]);
            if (option_id === '') {
                value_select.hide();
                value_select.val('');
                return
            }
            value_select.show();
            value_select.find('option').each(function() {
                var value_id = $(this).val();
                if ({{ id }}_options[option_id].indexOf(value_id) > -1) {
                    console.log(value_id);
                    $(this).attr('hidden', false);
                } else {
                    $(this).attr('hidden', true);
                }
            });

            //console.log($(this).val());
        });
        option_select.change();
        //console.log($(this).val());
    });
</script>
