.options {
  display: flex;
  flex-direction: row;
}

.option {
  border: 3px #ddd solid;
  border-radius: 2em;
  margin: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}

.option ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.option_value {
  background: #ddd;
  border-radius: 0.5em;
  color: #222;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5em;
  padding: 0.5em;
}

.option_value p {
  display: inline-block;
  margin: 0;
  margin-right: 0.5em;
  padding: 0;
}

.option_value button {
  display: inline-block;
  margin: 0;
  padding: 0;
}
