.image_selection td, .image_selection th {
  border: none;
  border-collapse: collapse;
}

.image_table {
  text-align: center;
  vertical-align: middle;
}

.image_table tr:nth-child(even) {
  background-color: #d9d9d9;
}

.image_table tr:nth-child(odd) {
  background-color: #eeeeee;
}

.image_table tr.selected:nth-child(even) {
  background-color: #b0e8ff;
}

.image_table tr.selected:nth-child(odd) {
  background-color: #addbee;
}

.image_buttons {
  display: flex;
  flex-direction: row;
  font-size: 0.9em;
}

.image_button i {
  display: inline-block;
}

.image_button {
  border: 2px solid #bbb;
  border-radius: 0.5em;
  background-color: #fff;
  color: #444;
  padding: 0.25em;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  margin: 0.25em;
  width: 1.5em;
}

.image_button:hover {
  border-color: #888;
  color: #000;
}

.image_button.disabled {
  cursor:auto;
}

.image_button.disabled:hover {
  background-color: #fff;
  color: #444;
}

.product_images, #product_range_images {
  display: flex;
  flex-direction: row;
}

.add_images_button {
  border: 2px solid #bbb;
  border-radius: 0.5em;
  background-color: #fff;
  color: #222;
  padding: 0.25em;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  margin: 0.25em;
  width: 1.5em;
}