.products_box {
    text-align: center;
    padding: 0.25em;
    margin: 0.25em;
}

.products_table {
    display: none;
    text-align: left;
    margin: 0.5em;
    padding: 0.5em;
    overflow: hidden;
}

.show_hide_products {
    color: blue;
    font-size: 1em;
    cursor: pointer;
    overflow: hidden;
    float: right;
}

.update_status {
    width: 20px;
}

.end_of_line {
    background: #ccc;
}

.new_product tr input, .new_product tr select, .new_product tr textarea {
    border-radius: 3px;
    padding: 0.25em;
}

.new_product tr input:required, .new_product tr select {
    border: solid 1px black;
}

.variation_options_table {
    background: #e2edff;
}

.variation_table .variation_option:disabled{
    color: black;
}

.message_box {
    max-width: 800px;
    background: #ccc;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    border: 3px #222 solid;
}
