.critical {
  background: red;
  color: white;
}

.formatting {
  color: green;
}

.warning {
  color: #896000;
}

.validation_header {
  text-align: left;
}

.validation_stats {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.error_level {
  text-align: right;
}

.group_header {
  background: #ddd;
}
