.level-critical {
  background: red;
  color: white;
}

.level-formatting {
  color: green;
}

.level-warning {
  color: #896000;
}

.level-error {
  color: red;
}

.validation_header {
  text-align: left;
}

.validation_stats {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.error_level {
  text-align: right;
}

.group_header {
  background: #ddd;
}

.filter_selectors {
  background: #ddd;
  border-radius: 2em;
  display: inline-block;
  margin: 1em;
  padding: 1em;
}

.filter_selectors label {
  font-size: 1.25em;
}

.filter_selectors div {
  padding: 0.5em;
}

.filter_hidden {
  display: none;
}

.collapsed {
  display: none;
}

.error_filter {
  color: white;
  padding: 10px 15px;
}

.error_filter.current {
  background: green;
}

.error_filter.show {
	background: #4479BA;
}

.error_filter.hide {
	background: #555;
}

.valdiation_error_table {
  font-family: 'Source Code Pro', monospace;
}
