{% extends "photos/base.html" %}
{% load staticfiles %}
{% block content %}
<div id='image_list'>

</div>
<div id='image_preview'>
	<div class='image_preview_img'></div>
</div>
{% endblock %}
{% block script %}
<script>
    $(window).load(function() {
		var csrftoken = $.cookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $('#image_preview').click(function() {
            $('#image_preview').css('display', 'none');
        })
        reload = function() {
            $('#image_list').html('');
            $.post("{% url 'photos:api_photo_list' %}", null, function (images) {
                for (var i=0; i<images.length; i++) {
                    var filename = images[i];
                    var path = {{ MEDIA_URL }} + '/photo_organiser/{{request.user.username}}/' + filename;
                    var name = images[i].split('.')[0];
                    var download_image_div = $('<div class="download_image"></div>');
					download_image_div.append($("<img class='image_thumb' src='" + path + "' alt='" + filename + "' width='150'/>"));
					download_image_div.append($("<p>" + name + "</p><br />"));
					download_image_div.append($("<a download='" + filename + "' href='" + path + "'><button class='image_download'><img src='{% static 'images/ui/photos/download_icon.png' %}' alt='download' width='20'/></button></a>"));
					download_image_div.append($("<button class='image_delete'><img src='{% static 'images/ui/photos/delete_icon.png' %}' alt='download' width='20'/></button></div>"));
                    $('#image_list').append(download_image_div);
                    $('.image_delete:last').click(delete_button_generator(filename));
                    $('.image_thumb:last').click(image_thumb_generator(path));
                }
            }, 'json');
        };
		reload();
    });

    function image_thumb_generator(path) {
        return function(event){
            $('#image_preview').css('display', 'inline-block');
			$('#image_preview').prop('hidden', false);
            $('.image_preview_img').css('background-image', 'url("' + path + '")')
        }
    }

    function delete_button_generator(filename) {
        return function(event) {
            $.post("{% url 'photos:api_photo_delete' %}", {'filename': filename}, function(response) {
                console.log(response);
                reload();
            })
        }
    }
</script>
{% endblock %}
