{% extends "fba/base.html" %}

{% block content %}
    {{ block.super }}

    <div class="container">
        <h3 class="display-3 mb-5">FBA Shipment Destinations</h3>

        <div class="mb-3">
            <a href="{% url 'fba:create_shipment_destination' %}"
               class="btn btn-primary">Create New Destination</a>
        </div>

        <div>
            {% for destination in destinations %}
                <div class="row mb-1">
                    <div class="col-3">{{ destination.name }}</div>
                    <div class="col-3">
                        <a href="{% url 'fba:update_shipment_destination' destination.pk %}"
                           class="btn btn-primary btn-sm">Edit Destination</a>
                        <a href="{% url 'fba:remove_destination' destination.pk %}"
                           class="btn btn-danger btn-sm">Remove Destination</a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock content %}
