{% extends "fba/base.html" %}
{% load orders_extras %}

{% block content %}
    <div class="container">
        <h3 class="display-3 mb-5">Historic Shipments</h3>

        <div class="col-3">
            <form action="" method="get" id="filter">
                {% include "home/bootstrap_input_group_form.html" %}
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary form-control">Filter</button>
                </div>
            </form>
        </div>
 
        {% include "home/pagination_navigation.html" %}
 
        <table class="table table-light table-hover table-sm mb-3">
            <thead class="table-primary">
                <tr>
                    <th>Shipment Order</th>
                    <th>Destination</th>
                    <th>User</th>
                    <th>Package Count</th>
                    <th>Weight (kg)</th>
                    <th>Value</th>
                    <th>Order Number</th>
                    <th>Shipped Date</th>
                </tr>
            </thead>
            <tbody>
                {% for shipment in object_list %}
                    <tr>
                        <th>{{ shipment.description }}</th>
                        <td>{{ shipment.destination }}</td>
                        <td>{{ shipment.user }}</td>
                        <td>{{ shipment.shipment_package.count }}</td>
                        <td>{{ shipment.weight_kg|floatformat:2 }}</td>
                        <td>{% format_price shipment.value %}</td>
                        <td>
                            <span class="user-select-all">{{ shipment.order_number }}</span>
                        </td>
                        <td>{{ shipment.parcelhub_shipment.created_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include "home/pagination_navigation.html" %}

    </div>
{% endblock content %}
