{% extends "fba/base.html" %}
{% load orders_extras %}

{% block content %}
    <div class="container">
        <h3 class="display-3 mb-5">Historic Shipments</h3>

        <div class="col-3">
            <form action="" method="get" id="filter">
                {% include "home/bootstrap_input_group_form.html" %}
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary form-control">Filter</button>
                </div>
            </form>
        </div>
 
        {% include "orders/pagination_navigation.html" %}
 
        <table class="table table-light table-hover table-sm mb-3">
            <thead class="table-primary">
                <tr>
                    <th>Export</th>
                    <th>Order Numbers</th>
                    <th>Package Count</th>
                    <th>Destinations</th>
                    <td colspan="2"></td>
                </tr>
            </thead>
            <tbody>
                {% for export in object_list %}
                    <tr>
                        <th>{{ export }}</th>
                        <td>{{ export.order_numbers }}</td>
                        <td>{{ export.package_count }}</td>
                        <td>{{ export.destinations }}</td>
                        <td>
                            <a href="{% url 'fba:download_shipment_file' export.pk %}"
                               class="btn btn-primary btn-sm">Recreate File</a>
                        </td>
                        <td>
                            <a href="{% url 'fba:download_address_file' export.pk %}"
                               class="btn btn-primary btn-sm">Download Address File</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include "orders/pagination_navigation.html" %}

    </div>
{% endblock content %}
