{% extends "fba/base.html" %}

{% block content %}
    {{ block.super }}

    <div class="container">
        <h3 class="display-3 mb-5">FBA Shipments</h3>
 
        <div class="mb-5">
            <a href="{% url 'fba:shipment_destinations' %}" class="btn btn-primary">Manage Destination Addresses</a>
            <a href="{% url 'fba:create_shipment_select_destination' %}"
               class="btn btn-primary">Create New Shipment Order</a>
        </div>

        <div class="mb-5">
            <h3>Awaiting Shipment</h3>
            {% if current_shipments %}
                {% include "fba/shipments/shipment_table.html" with shipments=current_shipments %}
            {% else %}
                No current shipments
                <a href="{% url 'fba:create_shipment_select_destination' %}"
                   class="btn btn-primary">Create New Shipment Order</a>
            {% endif %}
        </div>
        <div class="mb-5">
            <h3>Held Shipments</h3>
            {% if held_shipments %}
                {% include "fba/shipments/shipment_table.html" with shipments=held_shipments %}
                <br>
            {% else %}
                No shipments currently on hold
            {% endif %}
        </div>
        <div class="mb-5">
            <h3>Previous Shipments</h3>
            <div class="mb-5">
                <table class="table table-light table-hover table-sm mb-3">
                    <thead class="table-primary">
                        <tr>
                            <th>Shipment Order</th>
                            <th>Destination</th>
                            <th>User</th>
                            <th>Package Count</th>
                            <th>Order Number</th>
                            <th>Tracking Number</th>
                            <th>Filed At</th>
                            <td colspan="2"></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for shipment in previous_shipments %}
                            <tr>
                                <th>{{ shipment.shipment_order.description }}</th>
                                <th>{{ shipment.shipment_order.destination }}</th>
                                <th>{{ shipment.shipment_order.user }}</th>
                                <th>{{ shipment.shipment_order.shipment_package.count }}</th>
                                <th>{{ shipment.shipment_order.order_number }}</th>
                                <th>{{ shipment.courier_tracking_number }}</th>
                                <th>{{ shipment.created_at }}</th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script>
        $(document).ready(function() {
            $(".clear_error_link").click(function(e){
                return window.confirm("Problem Fixed? Removed from manifest?");
            });
        });
    </script>
{% endblock script %}
