{% extends "fba/base.html" %}

{% block content %}
    {{ block.super }}

    <div class="container">
        <h3 class="display-3 mb-5">
            {% if form.instance.id %}
                Update Shipment Destination
            {% else %}
                Create Shipment Destination
            {% endif %}
        </h3>
        <div class="col-6">
            <form action="" method="post">
                {% csrf_token %}
                {% include "home/bootstrap_input_group_form.html" %}
                <button typw="submit" class="btn btn-primary form-control">Save</button>
            </form>
        </div>

    </div>
{% endblock content %}
