{% load fba_extras %}

<table>
    <tr>
        <th>Shipment Order</th>
        <th>Destination</th>
        <th>User</th>
        <th>Package Count</th>
        <th>Weight (kg)</th>
        <th>Value</th>
        <th>Order Number</th>
        <td colspan="4"></td>
    </tr>
    {% for shipment in shipments %}
    <tr>
        <th {% if shipment.is_on_hold %}class="error" {% endif %}>{{ shipment.description }}</th>
        <td>{{ shipment.destination }}</td>
        <td>{{ shipment.user }}</td>
        <td>{{ shipment.shipment_package.count }}</td>
        <td>{{ shipment.weight_kg }}</td>
        <td>{% format_price shipment.value %}</td>
        <th>{{ shipment.order_number }}</th>
        <td><a href="{% url 'fba:update_shipment' shipment.pk %}"><button>Edit</button></a></td>
        <td>
            <a href="{% url 'fba:toggle_shipment_held' shipment.pk %}">
                <button>{% if shipment.is_on_hold %}Take off Hold{% else %}Hold{% endif %}</button>
            </a>
        </td>
        <td><a href="{% url 'fba:delete_shipment' shipment.pk %}"><button>Delete</button></a></td>
        <td>
            {% if shipment.is_shipable %}
            <a href="{% url 'fba:create_shipment_file' shipment.pk %}">
                <button class="create_shipment_button">Create Shipment File</button>
            </a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>