{% load fba_extras %}

<table class="table table-light table-hover table-sm mb-3">
    <thead class="table-primary">
        <tr>
            <th>Shipment Order</th>
            <th>Destination</th>
            <th>User</th>
            <th>Package Count</th>
            <th>Weight (kg)</th>
            <th>Value</th>
            <th>Order Number</th>
            <th>Ship Date</th>
            <td colspan="4"></td>
        </tr>
    </thead>
    <tbody>
        {% for shipment in shipments %}
            <tr {% if shipment.is_on_hold %}class="text-muted"{% endif %}>
                <th {% if shipment.at_risk %}class="bg-danger text-light"{% endif %}>{{ shipment.description }}</th>
                <td>{{ shipment.destination }}</td>
                <td>{{ shipment.user }}</td>
                <td>{{ shipment.shipment_package.count }}</td>
                <td>{{ shipment.weight_kg|floatformat:2 }}</td>
                <td>{% format_price shipment.value %}</td>
                <th>{{ shipment.order_number }}</th>
                <td>
                    {% if shipment.planned_shipment_date %}{{ shipment.planned_shipment_date }}{% endif %}
                </td>
                <td>
                    <a href="{% url 'fba:update_shipment' shipment.pk %}"
                       class="btn btn-primary btn-sm">Edit</a>
                </td>
                <td>
                    <a href="{% url 'fba:toggle_shipment_held' shipment.pk %}"
                       class="btn btn-primary btn-sm">
                        {% if shipment.is_on_hold %}
                            Take off Hold
                        {% else %}
                            Hold
                        {% endif %}
                    </a>
                </td>
                <td>
                    <a href="{% url 'fba:delete_shipment' shipment.pk %}"
                       class="btn btn-danger btn-sm">Delete</a>
                </td>
                <td>
                    {% if shipment.filing %}
                        <span class="text-danger">Error Filing: {{ shipment.filing.completed_at }}</span>
                        <a href="{% url "fba:clear_parcelhub_filing_error" shipment.pk %}"
                           class="btn btn-primary btn-sm clear_error_link">Clear Error</a>
                    {% elif shipment.is_shippable %}
                        <a href="{% url 'fba:file_parcelhub_shipment' shipment.pk %}"
                           class="btn btn-primary btn-sm create_shipment_button">File Shipment</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
