{% extends "channels/base.html" %}

{% load static %}

{% block content %}

    <div class="container">
        <h3 class="display-3 mb-5">Create a Shopify Tag</h3>

        <div class="col-6">
            <form action="" method="post" id="form">
                {% csrf_token %}
                {% include "home/bootstrap_input_group_form.html" %}
                <button type="submit" class="btn btn-primary form-control">Save</button>
            </form>
        </div>
    </div>

{% endblock content %}
