{% extends 'channels/base.html' %}

{% load static %}

{% block additional_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/inventory.css' %}">
    <link rel="stylesheet" href="{% static 'css/product_page.css' %}">
    <script src="{% static 'scripts/new_product.js' %}"></script>
    {% include 'home/froala_head.html' %}
    <style>
        #form {
            width: 50%;
        }
    </style>
    {{ form.media.css }}
{% endblock %}

{% block content %}

    <h1>Create a Shopify Tag</h1>

    <form action="" method="POST" id="form">
        {% csrf_token %}
        {% include "home/bootstrap_inline_form.html" %}
        <button type="submit" class="save_button">Save</button>
    </form>

{% endblock content %}
