{% extends "channels/base.html" %}

{% block content %}

    <div class="container">
        <h3 class="display-3 mb-5">Shopify Products</h3>

        <div class="m-4">
            <form action="" method="get">
                {% include "home/bootstrap_inline_form.html" %}
                <button type="submit" class="btn btn-primary form-control">Search</button>
            </form>
        </div>

        {% if object_list %}
            {% include "orders/pagination_navigation.html" %}
            <table id="shopify_listings"
                   class="table table-light table-hover table-sm mb-3">
                <thead class="table-primary">
                    <tr>
                        <th>SKU</th>
                        <th>Name</th>
                        <th></th>
                        <th>Status</th>
                    </tr>
                </thead>
                {% for product_range in object_list %}
                    {% include "channels/shopify/search_page_result.html" %}
                {% endfor %}
            </table>
            {% include "orders/pagination_navigation.html" %}
        {% endif %}

    </div>

{% endblock content %}

{% block script %}
    <script>
    function getListingActiveStatus(listingID) {
        $.ajax({
            url: "{% url 'channels:shopify_listing_active_status' %}",
            data: {'listing_id': listingID},
            type: "POST",
            success: handleListingActiveStatus,
            error: function(response) {
                console.log("Error getting listing status");
            }
        });
    }

    function handleListingActiveStatus(response) {
        if (response.active === true) {
            displayListingStatusActive(response.listing_id);
        } else if (response.active === false) {
            displayListingStatusInactive(response.listing_id);
        }
    }

    function displayListingStatusActive(listingID) {
        var td = $("#listing_status_" + listingID);
        td.html('<span class="success">Listing Active</span>')
    }

    function displayListingStatusInactive(listingID) {
        var td = $("#listing_status_" + listingID);
        td.html('<span class="error">Listing uploaded but not found</span>')
    }

    $(document).ready(function() {
        $(".listing_status.uploaded").each(function() {
            var listingID = $(this).data('listing_id');
            {% comment %} getListingActiveStatus(listingID); {% endcomment %}
        });
    });
    </script>
{% endblock script %}
