{% extends "channels/base.html" %}

{% load static %}

{% block content %}

    <div class="container">

        <h3 class="display-3 mb-3">Update Shopify Listing Collections</h3>
        <div class="fs-5 font-monospace user-select-all">{{ listing.product_range.sku }}</div>
        <div class="fs-3 mb-5 user-select-all">{{ listing.product_range.name }}</div>

        <div class="collection_list list-group col-6 mb-3">
            {% for collection in all_collections %}
                <div class="collection list-group-item{% if collection in listing_collections %} active{% endif %}" data-collection-id={{ collection.id }}>
                    {{ collection }}
                </div>
            {% endfor %}
        </div>
        <button id="save_button" type="submit" class="btn btn-primary">Save</button>
        <form action="" method="post" id="form" hidden>
            {% csrf_token %}
            {{ form }}
        </form>

    </div>

{% endblock content %}

{% block script %}
    <script>
    function set_options() {
        $(".collection").each(function() {
            var collection_id = $(this).data('collection-id');
            var option = $("#{{ form.collections.auto_id }}").find('option[value="'+ collection_id +'"]');
            option.prop("selected", $(this).hasClass("selected"));
        });
    }

    function toggle_collection() {
        $(this).toggleClass("active");
        var collection_id = $(this).data('collection-id');
        var option = $("#{{ form.collections.auto_id }}").find('option[value="'+ collection_id +'"]');
        option.prop("selected", $(this).hasClass("selected"));
    }

    $(document).ready(function() {
        set_options();
        $(".collection").click(toggle_collection);
        $("#save_button").click(function() {
            $("#form").submit();
        });
    });
    </script>
{% endblock script %}
