{% load humanize %}

{% if active %}
    <div id="active_status"
         class="border rounded m-3 p-2 border-success text-success">Listing active on Shopify</div>
{% else %}
    {% if uploaded %}
        <div id="active_status"
             class="border rounded m-3 p-2 border-danger text-danger">Listing missing on Shopify</div>
    {% else %}
        <div id="active_status" class="border rounded m-3 p-2 ">Listing not uploaded to Shopify</div>
    {% endif %}
{% endif %}

{% if update %}
    {% if ongoing %}
        <div id="operation_status" class="border rounded m-3 p-2 border-primary">
            {{ update.operation_type }} started {{ update.created_at|naturaltime }}
        </div>
    {% else %}
        {% if update.error %}
            <div id="operation_status" class="border rounded m-3 p-2 border-danger">
                {{ update.operation_type }} errored {{ update.created_at|naturaltime }}
            </div>
        {% else %}
            <div id="operation_status" class="border rounded m-3 p-2 border-success">
                {{ update.operation_type }} completed {{ update.created_at|naturaltime }}
            </div>
        {% endif %}
    {% endif %}
{% else %}
    <div id="operation_status" class="border rounded m-3 p-2">No listing operations found</div>
{% endif %}
<div id="status_icon" class="w-100 text-end">
    {% if ongoing %}
        <i class="fa-solid fa-spinner fa-spin-pulse"></i>
    {% else %}
        <i class="fa-solid fa-arrows-rotate"></i>
    {% endif %}
</div>
