{% extends "channels/base.html" %}

{% load static %}

{% block content %}

    <div class="container">
        <h3 class="display-3 mb-3">Shopify Listing</h3>
        <div class="fs-3 mb-2 user-select-all">{{ listing.title }}</div>
        <div class="fs-5 font-monospace user-select-all">{{ product_range.sku }}</div>
        <div class="fs-3 mb-5 user-select-all">{{ product_range.name }}</div>
        <a href="{% url 'inventory:product_range' product_range.pk %}"
           target="_blank">Go to product range</a>

        <div id="listing_status" class="bg-light border rounded m-3">
            <div id="active_status"></div>
            <div id="operation_status">
                <div class="spinner-border spinner-border-sm">
                    <span class="sr-only"></span>
                </div>
            </div>
            <div class="status_icon"></div>
        </div>

        <a href="{% url 'channels:update_shopify_listing' listing.pk %}"
           class="btn btn-primary">Edit Listing</a>

        <button id="upload_listing_button"
                class="btn btn-primary"
                data-listing_pk="{{ listing.pk }}"
                disabled>
            {% if listing.product_id %}
                Update Listing
            {% else %}
                Upload Listing
            {% endif %}
        </button>
    </div>

{% endblock content %}

{% block script %}

    <script>

        var loadingIcon = '<div class="spinner-border spinner-border-sm"><span class="sr-only"></span></div>';

    function disableInputs() {
        $("#upload_listing_button").attr("disabled", true);
    }

    function enableInputs() {
        $("#upload_listing_button").attr("disabled", false);
    }

    function getListingStatus() {
        disableInputs();
        $("#active_status").html(loadingIcon);
        $("#operation_status").html(loadingIcon);
        $("#status_icon").html(loadingIcon);
        $.ajax({
            url: "{% url 'channels:shopify_listing_status' listing.pk %}",
            type: "GET",
            success: function(response) {
                updateListingStatus(response);
            }
        });
    }

    function updateListingStatus(status) {
        $("#listing_status").html(status);
        var refresh_icon = $("#refresh_icon");
        if (refresh_icon.length) {
            refresh_icon.click(function() {
                getListingStatus();
            });
            enableInputs();
        } else {
            disableInputs();
            window.setTimeout(getListingStatus, 5000);
        }

    }

    $(document).ready(function() {
        getListingStatus();
        $("#upload_listing_button").click(function() {
            disableInputs();
            $.ajax({
                url: "{% url 'channels:upload_shopify_listing' %}",
                type: "POST",
                data: {'listing_pk': {{ listing.pk }}},
                success: getListingStatus,
                error:getListingStatus
            });
        });
    });
    </script>
{% endblock script %}
