{% extends "channels/base.html" %}

{% load static %}

{% block additional_head %}
  {{ block.super }}
  {{ form.media.css }}
{% endblock additional_head %}

{% block content %}
  <div class="container">
    {% if form.instance.product_range %}
      <h3 class="display-3 mb-3">Update Shopify Listing</h3>
      <div class="fs-5 font-monospace user-select-all">{{ form.instance.product_range.sku }}</div>
      <div class="fs-3 mb-5 user-select-all">{{ form.instance.product_range.name }}</div>
    {% else %}
      <h3 class="display-3 mb-3">New Shopify Listing</h3>
      <div class="fs-5 font-monospace user-select-all">{{ form.initial.product_range.sku }}</div>
      <div class="fs-3 mb-5 user-select-all">{{ form.initial.product_range.name }}</div>
    {% endif %}
    <div class="product_form">
      <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        {{ formset.management_form }}
        {% include "home/bootstrap_input_group_form.html" %}
        <button type="submit" class="save_button btn btn-primary form-control">Save</button>
        <div class="variations row">
          {% for variation_form in formset %}
            {% if variation_form.instance.product %}
              {% include "channels/shopify/shopify_listing_variation_form.html" with product=variation_form.instance.product %}
            {% else %}
              {% include "channels/shopify/shopify_listing_variation_form.html" with product=variation_form.initial.product %}
            {% endif %}
          {% endfor %}
        </div>
        <button type="submit" class="save_button btn btn-primary form-control">Save</button>
        {{ form.media.js }}
      </form>
    </div>
  </div>

{% endblock content %}

{% block script %}
  <script>
  $(document).ready(function() {
    var select = document.getElementById('{{ form.tags.auto_id }}');
    select.size = select.length;
  });
  </script>
{% endblock script %}
