{% extends "inventory/base.html" %}
{% load static %}
{% load stcadmin_extras %}

{% block page_title %}
  Product Search
{% endblock page_title %}

{% block content %}
  <div class="container">

    <h3 class="display-3 mb-5">Inventory Search</h3>

    <div class="mb-5">
      <form method="get" action="">
        {% include "home/bootstrap_inline_form.html" with col_width=4 %}
        <button class="btn btn-primary form-control">Search</button>
      </form>
    </div>

    {% if page_obj.paginator.num_pages > 1 %}
      <div class="mb-3 text-center">{% include "home/pagination_navigation.html" %}</div>
    {% endif %}

    {% include "inventory/product_search/result_list.html" %}

    {% if page_obj.paginator.num_pages > 1 %}
      <div class="mt-3 text-center">{% include "home/pagination_navigation.html" %}</div>
    {% endif %}

  </div>

{% endblock content %}

{% block script %}
  <script>
  function end_of_line_range(range_id) {
    alert('End of Lined ' + range_id);
  }

  $(document).ready(function () {

    $(".collapse_variations").hide();

    var range_ids = [];
    $(".expanded").each(function () {
      range_ids.push(this.id.replace('expanded_', ''));
    });
    
    $('.EOL_range').click(function () {
      var range_id = this.id.replace('EOL_', '');
      if (window.confirm(
          "Are you sure?\n\nThis will mark the range as End of Line.\nIt will no longer appear by default in search results."
        )) {
        end_of_line_range(range_id);
      }
    });

    function expand_variations(range_id) {
      if ($("#expanded_" + range_id + " .variation_info").is(":empty")) {
        var url = $("#expanded_" + range_id).data("link");
        get_variation_info(range_id, url);
      }
      $('#collapsed_' + range_id).hide();
      $('#expanded_' + range_id).show();
      $('#expand_' + range_id).hide();
      $('#collapse_' + range_id).show();
    }

    function collapse_variations(range_id) {
      $('#expanded_' + range_id).hide();
      $('#collapsed_' + range_id).show();
      $('#collapse_' + range_id).hide();
      $('#expand_' + range_id).show();
    }

    $('.expand_variations').click(function () {
      var range_id = this.id.replace('expand_', '');
      expand_variations(range_id);
    });

    $('.collapse_variations').click(function () {
      var range_id = this.id.replace('collapse_', '');
      collapse_variations(range_id);
    });

    $('.hide_all').click(function () {
      $.each(range_ids, function(i, range_id) {
        collapse_variations(range_id);
      });
    });

    $('.show_all').click(function () {
      $.each(range_ids, function(i, range_id) {
        expand_variations(range_id);
      });
    });

    function get_variation_info(range_id, url) {
      $.ajax({
        type: "GET",
        url: url,
        success: function (response) {
          $("#expanded_" + range_id + " .variation_info").html(response);
          get_stock_levels($('#expanded_' + range_id));
        },
        error: function (response) {
          alert("Error getting variations.")
        }
      });
    }

    function get_stock_levels(element) {
      var product_ids = [];
      var stock_fields = element.find(".search_result_stock_level.load_stock");
      stock_fields.removeClass("load_stock");
      stock_fields.each(function () {
        product_ids.push($(this).attr("id").split("_").pop());
      });
      if (product_ids.length > 0) {
        $.ajax({
          type: "POST",
          url: "{% url 'linnworks:stock_record' %}",
          data: JSON.stringify({'product_ids': product_ids}),
          success: function (response) {
            $.each(response, function (product_id, html) {
              $("#search_result_stock_level_"+product_id).html(html);
            });
          },
          error: function (response) {
            product_ids.each(function (product_id) {
              $("#search_result_stock_level_" + product_id).html('<i class="bi bi-exclamation-triangle-fill fs-5 text-danger"></i>');
            });
          }
        });
      }
    }

    

  });
  </script>
{% endblock script %}
