<table class="table table-light table-hover table-sm mt-3">
  {% for product in products %}
    {% if forloop.first %}
      <thead class="table-primary">
        <tr>
          <th>SKU</th>
          <th>Supplier SKU</th>
          {% for option in product.variable_options %}<th>{{ option }}</th>{% endfor %}
          <th></th>
          <th>Stock Level</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% endif %}
      <tr class="{% if product.is_archived %}table-secondary text-muted{% elif product.is_end_of_line %}table-secondary{% endif %}">
        <td class="font-monospace sku">
          <span class="user-select-all">{{ product.sku }}</span>
        </td>
        <td class="font-monospace sku">
          <span class="user-select-all">{{ product.supplier_sku }}</span>
        </td>
        {% for option, value in product.variation.items %}<td class="name">{{ value }}</td>{% endfor %}
        <td>
          {% if product.is_archived %}
            <span class="badge bg-secondary">Archived</span>
          {% elif product.is_end_of_line %}
            <span class="badge bg-danger">End Of Line</span>
          {% endif %}
        </td>
        {% if product.is_archived is False %}
          <td class="search_result_stock_level load_stock"
              id="search_result_stock_level_{{ product.pk }}">
            <i class="fa-solid fa-spinner fa-spin"></i>
          </td>
        {% else %}
          <td>-</td>
        {% endif %}
        <td>
          {% if product.is_archived == False %}
            <a href="{% url 'inventory:product' product.pk %}">
              <button class="btn btn-sm btn-primary">Edit</button>
            </a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
