<table class="table table-light table-hover table-sm mt-3">
  {% for product in products %}
    {% if forloop.first %}
      <thead class="table-primary">
        <tr>
          <th>SKU</th>
          <th>Supplier SKU</th>
          {% for option in product.variable_options %}<th>{{ option }}</th>{% endfor %}
          <th>Stock Level</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% endif %}
      <tr>
        <td class="font-monospace sku">
          <span class="user-select-all">{{ product.sku }}</span>
        </td>
        <td class="font-monospace sku">
          <span class="user-select-all">{{ product.supplier_sku }}</span>
        </td>
        {% for option, value in product.variation.items %}<td class="name">{{ value }}</td>{% endfor %}
        {% if product.is_end_of_line is False and product.product_range.is_end_of_line is False %}
          <td class="search_result_stock_level load_stock"
              id="search_result_stock_level_{{ product.pk }}">
            <i class="fa-solid fa-spinner fa-spin"></i>
          </td>
        {% else %}
          <td>-</td>
        {% endif %}
        <td>
          <a href="{% url 'inventory:product' product.pk %}">
            <button class="btn btn-sm btn-primary">Edit</button>
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
