 
<div class="container-fluid">
  {% for product in products %}
    <div class="row mt-3 mt-lg-1 p1 bg-white text-dark">

      <div class="col-lg my-1">
        <div>
          <span class="font-monospace user-select-all me-2">{{ product.sku }}</span>
          {% if product.is_archived %}
            <span class="badge bg-secondary">Archived</span>
          {% elif product.is_end_of_line %}
            <span class="badge bg-danger">End Of Line: {{ product.end_of_line_reason.short }}</span>
          {% endif %}
          {% if product.is_flammable %}<span class="badge bg-danger">Flammable</span>{% endif %}
        </div>
        <div>
          {% for option, value in product.variation.items %}
            <span class="me-2">
              <span class="text-muted">{{ option }}:&nbsp;</span><span class="fw-bold">{{ value }}</span>
            </span>
          {% endfor %}
        </div>
      </div>

      <div class="col-lg-3 my-1">
        <div>
          <span class="text-muted">Supplier SKU:&nbsp;</span>
          <span class="font-monospace user-select-all">{{ product.supplier_sku }}</span>
        </div>
        <div>
          <span class="text-muted">Barcode:&nbsp;</span>
          <span class="font-monospace user-select-all">{{ product.barcode }}</span>
        </div>
      </div>

      <div class="col-lg-2 my-1">
        {% with product.bays as bays %}
          {% if bays %}<span class="text-muted">Bays:&nbsp;</span>{% endif %}
          {% for bay in bays %}<span class="me-1 font-monospace user-select-all">{{ bay }}</span>{% endfor %}
        {% endwith %}
      </div>
 
      <div class="col-lg-2 my-1">
        {% if product.is_archived is False %}
          <span class="search_result_stock_level load_stock"
                id="search_result_stock_level_{{ product.pk }}">
            <i class="fa-solid fa-spinner fa-spin"></i>
          </span>
        {% endif %}
      </div>

      <div class="col-lg-2">
        <a href="{% url "inventory:view_product" product.pk %}"
           class="btn btn-sm btn-primary">View</a>
        {% if product.is_archived == False %}
          <a href="{% url 'inventory:edit_product' product.pk %}"
             class="btn btn-sm btn-primary">Edit</a>
        {% endif %}
      </div>

    </div>
  {% endfor %}
</div>
