{% extends "stock_check/base.html" %}
{% load staticfiles %}

{% block additional_head %}
{{ block.super }}
<script src="{% static 'scripts/stock_manager.js' %}"></script>
{% endblock %}

{% block page_title %}Products{% endblock %}

{% block content %}{{ block.super }}
    <form action="">
        <label for="search_term">Search: </label>
        <input type="text" name="search_term" value="{{ search_term }}" id="search_term">
        <input type="submit" value="Search">
    </form>
    {% if products %}
        {% include 'stock_check/product_list.html' %}
    {% endif %}
{% endblock %}

{% block script %}{{ block.super }}
{% include "stock_check/stock_check_script.html" %}
{% endblock %}
