{% extends "stock_check/base.html" %}
{% load staticfiles %}

{% block page_title %}Warehouses{% endblock %}

{% block content %}{{ block.super }}

<style>
    .bay_list {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
</style>

<h1>{{ warehouse.name }}</h1>
<label for="bay_filter">Filter: </label>
<input type="text" name="bay_filter" id="bay_filter"><button id="clear_filter">Clear</button>
<ul class="bay_list">
{% for bay in bays %}
    <li class="bay"><a href="{% url 'stock_check:bay' bay.id %}">{{ bay.name }}</a></li>
{% endfor %}
</ul>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function() {
            $('#bay_filter').keyup(function() {
                var filter_text = $(this).val().toLowerCase();
                $('li.bay').each(function () {
                    if ($(this).text().toLowerCase().includes(filter_text)) {
                        $(this).attr('hidden', false);
                    } else {
                        $(this).attr('hidden', true);
                    }
                });
            });
            $('#clear_filter').click(function() {
                $('li.bay').attr('hidden', false);
                $('#bay_filter').val('');
            });
        })
    </script>
{% endblock %}
