function get_feedback() {
    $('.pack_count').html('');
    $('.feedback').html('');
    $.get("{% url 'monitor:feedback_monitor' %}",
        function(response) {
            var response_data = $.parseJSON(response);
            var data = response_data['data'];
            var total = response_data['total'];
            for (var i=0; i<data.length; i++) {
                var name = data[i]['name'];
                var score = data[i]['score'];
                $('#feedback').append('<tr id="feedback_' + i + '"><th class="feedback_name">' + name + ': </th><th class="score">' + score + '</th><td class="feedback_icons">');
                $.each(data[i].feedback, function(index, feedback) {
                    for (var id_i=0; id_i<feedback.ids.length; id_i++) {
                        $('#feedback_' + i).children('.feedback_icons').append('<a href="/feedback/feedback_details/' + feedback.ids[id_i] + '"><img src="' + feedback.image_url + '" height="35"></a>');
                    }
                });
            }
            $('#feedback').append('<tr><td>&nbsp;</td><td>&nbsp;</td></tr>');
            $('#feedback').append('<tr><td class="feedback_name">Total: </td><td class="score">' + total + '</td></tr>');
            $('.score').each(function() {
                var score = parseInt($(this).text());
                if (score > 0){
                    $(this).addClass('positive');
                } else if (score < 0) {
                    $(this).addClass('negative');
                }
            });
            current = 'feedback'
        }
    );
}
