<tbody>
    {% for user in users %}
    <tr>
        <th class="feedback_name">{{ user.full_name }}</th>
        <th class="score{% if user.score < 0 %} negative {% endif %}">
            {{ user.score }}
        </th>
        <td class="feedback_icons">
            {% for feedback_type, count in user.feedback %}
            {% for i in count %}
            <img src="{{ feedback_type.image.url }}" alt="{{ feedback_type.name }}"  height="35">
            {% endfor %}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td class="feedback_name">Total: </td>
        <td class="score{% if total < 0 %} negative {% endif %}">{{ total }}</td>
    </tr>
</tbody>
