{% extends "feedback/base.html" %}
{% load static %}
{% load feedback_extras %}

{% block content %}

<style>
    .ghost {
        margin: 0;
        padding: 0;
    }
</style>

<h1>User Feedback</h1>

<form action="" method="GET">
    {{ form.errors }}
    {% for choice in form.dates %}{{ choice }}<label for="{{ choice.id }}">{{ choice.label }}</label>{% endfor %}
    {{ form.dates.errors }}
    <div id="custom_date">
        <label for="{{ form.date_from.label.id }}">{{ form.date_from.label }}</label>{{ form.date_from }}
        <label for="{{ form.date_to.label.id }}">{{ form.date_to.label }}</label>{{ form.date_to }}
    </div>
    <input type="submit" value="Filter">
</form>

<table>
    <tr>
        <th>User</th>
        {% for feedback_type in feedback_types %}
        <th colspan="2">
            <a href="{% url 'feedback:feedback_list' %}?feedback_id={{ feedback_type.pk }}">{{ feedback_type.name }}</a>
        </th>
        {% endfor %}
        <th colspan="2">Packages</th>
    </tr>
    {% for user in users %}
    <tr>
        <td><a href="{% url 'feedback:feedback_list' %}?user_id={{ user.id }}">{{ user.full_name }}</a></td>
        {% for feedback_type in user.feedback_counts.values %}
            <td>
                <a href="{% url 'feedback:feedback_list' %}?feedback_id={{ feedback_type.pk }}&user_id={{ user.id }}">
                    <img src="{{ feedback_type.image_url }}" alt="{{ feedback_type.name }}" height="25">
                </a>
            </td>
            <td>{{ feedback_type.count }}</td>
        {% endfor %}
        <td><img src="{% static 'images/package.png' %}" alt="Package" height="25"></td>
        <td>{{ user.pack_count }}</td>
        <td><a href="{% url 'feedback:create_feedback' user.id %}"><button>Add</button></a></td>
    </tr>
    {% endfor %}
</table>


{% endblock %}

{% block script %}{{ block.super }}
<script>
    $(document).ready(function() {
        $('.datepicker').datepicker({
      showOtherMonths: true,
      selectOtherMonths: true,
      dateFormat: 'yy-mm-dd'
    });

        $('input[name=dates]').change(function() {
            if ($('input[name=dates]:checked').val() == 'custom') {
                $('#custom_date').attr('hidden', false);
            } else {
                $('#custom_date').attr('hidden', true);
            }
        });

        $('input[name=dates]').change();
    });
</script>

{% endblock %}
