{% extends "print_audit/base.html" %}
{% load staticfiles %}

{% block content %}
<h1>Breakages</h1>
<br><br>
<a href="{% url 'print_audit:add_breakage' %}"><button>Add Breakage</button></a>
<table>
    <tr>
        <th>Order ID</th>
        <th>Product SKU</th>
        <th>Packer</th>
        <th>Notes</th>
        <th>Added</th>
        <th></th>
        <th></th>
    </tr>
    {% for breakage in breakages %}
        <tr>
            <td>{{ breakage.order_id }}</td>
            <td>{{ breakage.product_sku }}</td>
            <td>{{ breakage.packer }}</td>
            <td>{{ breakage.note }}</td>
            <td>{{ breakage.timestamp }}</td>
            <td>
                <a href="{% url 'print_audit:update_breakage' breakage.id %}">
                    <button>Edit</button>
                </a>
            </td>
            <td>
                <a href="{% url 'print_audit:delete_breakage' breakage.id %}">
                    <button>Delete</button>
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
