{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/cloud_commerce.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    </head>
    <body>
        <style>
            .feedback_name {
                font-size: 2em;
            }
        </style>
        <div class="pack_count" id="pack_count">

        </div>
        <div class="feedback" id="feedback">

        </div>


        <script>
            $(document).ready(function() {
                $('.pack_count').css('font-size', '150px');
            });

            function get_pack_count() {
                $('#pack_count').html('');
                $.get("{% url 'print_audit:pack_count_monitor' %}",
                    function(data) {
                        var data = $.parseJSON(data);
                        for (var i=0; i<data.length; i++) {
                            var name = data[i][0]
                            var count = data[i][1]
                            $('#pack_count').append('<p>' + name + ': ' + count + '</p>');
                        }
                    }
                );
            }

            function get_feedback() {
                $('#feedback').html('');
                $.get("{% url 'print_audit:feedback_monitor' %}",
                    function(data) {
                        var data = $.parseJSON(data);
                        for (var i=0; i<data.length; i++) {
                            var name = data[i]['name'];
                            $('#feedback').append('<p id="feedback_' + i + '"><span class="feedback_name">' + name + ': </span></p>');
                            $.each(data[i].feedback, function(index, feedback) {
                                for (im=0; im<feedback.count; im++) {
                                    $('#feedback_' + i).append('<img src="' + feedback.image_url + '" height="20">');
                                }
                            });
                            $('#feedback_' + i).after('<hr>');
                        }
                    }
                );
            }

            get_pack_count()
            get_feedback();

            setInterval(function(){
                $("html, body").animate({ scrollTop: $(document).height() }, 50000);
                setTimeout(function() {
                    $('html, body').animate({scrollTop:0}, 50000);
                }, 10000);
            }, 10000);
            setInterval(function(){
                get_pack_count()
                get_feedback();
            }, 1000 * 60 * 10);
        </script>
    </body>
</html>
