function get_feedback() {
    $('.pack_count').html('');
    $('.feedback').html('');
    $.get("{% url 'print_audit:feedback_monitor' %}",
        function(data) {
            var data = $.parseJSON(data);
            for (var i=0; i<data.length; i++) {
                var name = data[i]['name'];
                var score = data[i]['score'];
                $('#feedback').append('<tr id="feedback_' + i + '"><th class="feedback_name">' + name + ': </th><th class="score">' + score + '</th><td class="feedback_icons">');
                $.each(data[i].feedback, function(index, feedback) {
                    for (im=0; im<feedback.count; im++) {
                        $('#feedback_' + i).children('.feedback_icons').append('<img src="' + feedback.image_url + '" height="40">');
                    }
                });
            }
            $('.score').each(function() {
                var score = parseInt($(this).text());
                if (score > 0){
                    $(this).addClass('positive');
                } else if (score < 0) {
                    $(this).addClass('negative');
                }
            });
            current = 'feedback'
        }
    );
}
