{% extends "print_audit/base.html" %}
{% load staticfiles %}

{% block content %}
<h1>Print Audit</h1>
<div class="site_index">
    <p>From here you can access:</p>
    <ul class='app'>
        <li><a href="{% url 'print_audit:display_monitor' %}">Display Monitor</a></li>
        <p>Displays current packing figures.</p>
    </ul>
    <ul class="app">
        <li><a href="{% url 'print_audit:user_feedback' %}">User Feedback</a></li>
        <p>View Feedback for Users.</p>
    </ul>
    <ul class="app">
        <li><a href="{% url 'print_audit:charts' %}">Charts</a></li>
        <p>View Charts.</p>
    </ul>
</div>
{% endblock %}
