{% extends "inventory/product_range/product_range_base.html" %}

{% load static %}

{% comment %} {% block additional_head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "css/images.css" %}">
{% endblock additional_head %} {% endcomment %}

{% block page_title %}
  Product Images
{% endblock page_title %}

{% block content %}
  {{ block.super }}
  <div class="container">
    <div class="container mb-5">
      <div class="row">
        <div class="col-2">
          <h3 class="display-6">Range Images</h3>
          <div class="mb-3">
            <form action="{% url "inventory:add_range_image" product_range.id %}"
                  method="post"
                  enctype="multipart/form-data">
              {% csrf_token %}
              <label for="range_images" class="add_images_button btn btn-primary">Add Images to Range</label>
              <input class="form-control"
                     type="file"
                     id="range_images"
                     name="range_images"
                     multiple=""
                     accept=".jpg, .png"
                     hidden>
            </form>
          </div>
        </div>
        <div class="col-9 product_range_images"></div>
      </div>
    </div>
 
    {% if products|length > 1 %}
      <div id="product_selection" class="bg-light rounded p-3 m-4">
        <div class="row">
          <div class="col-6">
            <h3>Select Products</h3>
            <button class="btn btn-primary btn-sm mb-3" id="select_none">None</button>
            {% for option, variation_values in options.items %}
              <div class="d-flex justify-content-start">
                <h4>{{ option }}</h4>
                {% for variation_value, product_ids in variation_values.items %}
                  <button class="btn btn-primary btn-sm m-2"
                          onclick="select_products([{% for p_id in product_ids %}{{ p_id }}, {% endfor %}])">
                    {{ variation_value }}
                  </button>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
          <div class="col-6">
            <form action="" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <label for="{{ form.images.auto_id }}"
                     id="image_form_label"
                     class="add_images_button btn btn-primary">No Products Selected</label>
              <span hidden>{{ form.images }}</span>
              {{ form.product_ids }}
            </form>
          </div>
        </div>
      </div>

      <div class="container mb-5">
        {% for product, images in products.items %}
          <div class="row mb-3 bg-light rounded" id="row_{{ product.pk }}">
            <div class="col-2">
              <h3>{{ product.sku }}</h3>
              <p class="name">{{ product.name_extensions|join:" - " }}</p>
              <div class="selected">
                <input type="checkbox" id="select_{{ product.pk }}" class="form-check-input">
              </div>
            </div>
            <div class="col-9 product_images"
                 id="product_images_{{ product.id }}"
                 data-product-id="{{ product.id }}">
              <i class="fa-solid fa-spinner fa-spin-pulse fa-xl"></i>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock content %}

{% block script %}
  {{ block.super }}
  <script>

  var loading = '<i class="fa-solid fa-spinner fa-spin-pulse fa-xl"></i>';

  function arraymove(arr, fromIndex, toIndex) {
    var element = arr[fromIndex];
    arr.splice(fromIndex, 1);
    arr.splice(toIndex, 0, element);
  }

  function get_product_image_order(product_id) {
    var row = $('#row_' + product_id);
    console.log(row)
    var image_order = [];
    row.find('.product_image').each(function () {
      console.log($(this));
      image_order.push($(this).data('image-id'));
    });
    console.log(image_order)
    return image_order
  }

  function get_range_image_order(product_id) {
    var row = $('.product_range_images');
    var image_order = [];
    row.find('.product_image').each(function () {
      image_order.push($(this).data('image-id'));
    });
    return image_order
  }

  function select_products(product_ids) {
    var checkboxes = $('.selected input:checkbox');
    checkboxes.prop('checked', false);
    for (var i = 0; i < product_ids.length; i++) {
      $('#select_' + product_ids[i]).prop('checked', true);
    }
    $('.selected input:checkbox').change();
  }

  function update_product_image_order(product_id, image_order) {
    var url = '{% url "inventory:set_product_image_order" %}';
    var data = {
      'product_pk': product_id,
      'image_order': image_order
    };
    $("#product_images_" + product_id).html(loading);
    $.post({
      url: url,
      data: JSON.stringify(data),
      contentType: "application/json",
      dataType: "json",
      success: function (image_order) {
        console.log(image_order);
        load_product_images(product_id);
      },
      error: function () {
        api_error();
      }
    });
  }

  function update_range_image_order(image_order) {
    var url = '{% url "inventory:set_range_image_order" %}';
    var data = {
      'product_pk': "{{ product_range.pk }}",
      'image_order': image_order
    };
    $("#product_rage_images").html(loading);
    $.post({
      url: url,
      data: JSON.stringify(data),
      contentType: "application/json",
      dataType: "json",
      success: function (image_order) {
        console.log(image_order);
        load_product_range_images();
      },
      error: function () {
        api_error();
      }
    });
  }

  function delete_product_image(image_id, product_id) {
    var url = '{% url "inventory:delete_product_image" %}';
    var data = {
      'image_id': image_id,
      'product_id': product_id,
    };
    $("#product_images_" + product_id).html(loading);
    $.post({
      url: url,
      data: JSON.stringify(data),
      contentType: "application/json",
      dataType: "json",
      success: function (response) {
        console.log(response);
        load_product_images(product_id);
      },
      error: function () {
        api_error();
      }
    });
  }

  function delete_range_image(image_id, product_id) {
    var url = '{% url "inventory:delete_range_image" %}';
    var data = {
      'image_id': image_id,
      'product_id': product_id,
    };
    $("#product_rage_images").html(loading);
    $.post({
      url: url,
      data: JSON.stringify(data),
      contentType: "application/json",
      dataType: "json",
      success: function (response) {
        console.log(response);
        load_product_range_images();
      },
      error: function () {
        api_error();
      }
    });
  }

  function load_product_images(product_id) {
    $.post({
      url: "{% url 'inventory:product_images' %}",
      data: {'product_id': product_id},
      success: function (response) {
        $('#product_images_' + product_id).html(response);
        set_product_image_buttons();
      },
      error: function () {
        api_error();
      }
    });
  }

  function load_product_range_images() {
    $.post({
      url: "{% url 'inventory:product_range_images' %}",
      data: {'product_range_id': {{ product_range.id }}},
      success: function (response) {
        $('.product_range_images').html(response);
        set_range_image_buttons();
      },
      error: function () {
        api_error();
      }
    });
  }

  function set_product_image_buttons() {
    $('.product_images .move_image_left').unbind('click').click(function () {
      var image_id = $(this).data('image-id');
      var product_id = $(this).data('product-id');
      var image_order = get_product_image_order(product_id);
      var current_index = image_order.indexOf(image_id);
      arraymove(image_order, current_index, current_index - 1);
      update_product_image_order(product_id, image_order);
    });

    $('.product_images .move_image_right').unbind('click').click(function () {
      var image_id = $(this).data('image-id');
      var product_id = $(this).data('product-id');
      var image_order = get_product_image_order(product_id);
      var current_index = image_order.indexOf(image_id);
      arraymove(image_order, current_index, current_index + 1);
      update_product_image_order(product_id, image_order);
    });

    $('.product_images .delete_image').unbind('click').click(function () {
      var image_id = $(this).data('image-id');
      var product_id = $(this).data('product-id');
      console.log(image_id);
      delete_product_image(image_id, product_id);
    });
  }

  function set_range_image_buttons() {
    $('.product_range_images .move_image_left').unbind('click').click(function () {
      var image_id = $(this).data('image-id');
      var image_order = get_range_image_order();
      var current_index = image_order.indexOf(image_id);
      arraymove(image_order, current_index, current_index - 1);
      update_range_image_order(image_order);
    });

    $('.product_range_images .move_image_right').unbind('click').click(function () {
      var image_id = $(this).data('image-id');
      var image_order = get_range_image_order();
      var current_index = image_order.indexOf(image_id);
      arraymove(image_order, current_index, current_index + 1);
      update_range_image_order(image_order);
    });

    $('.product_range_images .delete_image').unbind('click').click(function () {
      var image_id = $(this).data('image-id');
      var product_id = $(this).data('product-id');
      console.log(image_id);
      delete_range_image(image_id, product_id);
    });
  }

  $(document).ready(function () {

    load_product_range_images();

    $('.product_images').each(function() {
      var product_id = $(this).data('product-id');
      load_product_images(product_id);
    });

    $('#select_none').click(function () {
      var checkboxes = $('.selected input:checkbox');
      checkboxes.prop('checked', false);
      $('.selected input:checkbox').change();
    });

    $('.selected input:checkbox').change(function () {
      var checked = $('.selected input:checked');
      var product_id_input = $('#{{ form.product_ids.auto_id }}');
      var product_ids = [];
      checked.each(function () {
        var product_id = this.id.split('_')[1];
        product_ids.push(product_id);
      });
      var image_field = $('#{{ form.images.auto_id }}');
      var image_field_label = $("label[for='{{ form.images.auto_id }}']")
      if (checked.length == 0) {
        image_field.attr('disabled', true);
        image_field_label.text('No Products Selected');
        image_field_label.addClass('disabled');
      } else {
        image_field.attr('disabled', false);
        image_field_label.removeClass('disabled');
        image_field_label.text('Add images to selected products');
      }
      product_id_input.val(JSON.stringify(product_ids));
    });

    $('#{{ form.images.auto_id }}').change(function () {
      $(this).closest('form').submit();
    });

    $('#range_images').change(function() {
      $(this).closest('form').submit();
    })

    $('input:checkbox').change(function () {
      var row = $(this).closest("tr");
      if ($(this).is(":checked")) {
        row.addClass("selected");
      } else {
        row.removeClass("selected");
      }
    });

    $('.selected input:checkbox').change();
  });
  </script>

{% endblock script %}
