.listing_price {
  background: #888;
}

.listing_price input, .listing_price span {
  color: black;
  font-size: 1.25em;
  font-weight: bold;
}

#profit, #profit_percentage, #shipping_service, .profit_percentage, .profit, .shipping_service {
    font-size: 1.5em;
    font-weight: bold;
}

.good_percentage {
  color: green;
}

.warning_percentage {
  color: #a37400;
}

.low_percentage {
  color: red;
}

.loss {
  color: red;
}

.price_calculator {
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-wrap: wrap;
  margin: 1em;
  padding: 1em;
  border-radius: 2em;
}

.price_calculator_input {
  align-items:flex-start;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.price_calculator_input .InputAddOn {
  margin: 0;
  padding: 0.5em;
}

.price_calculator_output {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.price_calculator_output div {
  background: #eeeeee;
  border: 1px #999 solid;
  border-radius: 1em;
  margin: 0.25em;
  padding: 1em;
}

.price_calculator_output .value {
  font-weight: bold;
  margin: 0.25em;
}

.critical div {
  width: 15em;
}

.range {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.product {
  align-items: flex-start;
  background: #fafafa;
  border: 1px #888 solid;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-wrap: wrap;
  margin: 0.5em;
  padding: 1em;
  font-family: 'Open Sans', sans-serif;
}

.product p {
  margin: 0;
}

.product_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product_row.input {
  align-items: center;
}

.product .info div {
  background: #eee;
  border: 1px #999 solid;
  border-radius: 0.25em;
  margin: 0.1em;
  padding: 0.25em;
}

.product .value {
  font-weight: bold;
  margin: 0.25em;
}

.sku {
  font-weight: bold;
}

.title {
  font-size: 1.5em;
}

.product .input div {
  margin: 1em;
}

.product .critical {
  background: #eee;
  border: 1px #999 solid;
  border-radius: 1em;
  margin: 0.25em;
  padding: 0.5em;
  width: 20em;
}

.product .InputAddOn {
  margin-bottom: 0;
  padding: 0.15em;
}

.invalid {
  background: #fc3c3c;
}
