{% extends 'fba/base.html' %}

{% block content %}{{ block.super }}

{% if form.instance %}
<h1>Update Package {{ form.instance.order_number }}</h1>
{% else %}
<h1>Create Package</h1>
{% endif %}

<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
    <table>
        {{ item_formset.management_form }}

        {% for item_form in item_formset.forms %}
        {% if forloop.first %}
        <tr>
            {% for field in item_form.visible_fields %}
            <th>{{ field.label }}</th>
            {% endfor %}
        </tr>
        {% endif %}
        <tr>
            {% for field in item_form.visible_fields %}
            <td>{{ field }}</td>
            {% endfor %}
            <td>
                {% for hidden in item_form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
                {{ item_form.errors.as_ul }}
            </td>
        </tr>
        {% endfor %}


    </table>
    <button type="submit">Save</button>
</form>

{% endblock %}