{% extends "fba/base.html" %}

{% block content %}
    {{ block.super }}

    <div class="container">
        <h3 class="display-3 mb-5">
            {% if form.instance.pk %}
                Update Package {{ form.instance.order_number }} - {{ form.instance.description }}
            {% else %}
                Create Package
            {% endif %}
        </h3>
 
        <form method="post">
            {% csrf_token %}
 
            <div class="container">{% include "home/bootstrap_inline_form.html" %}</div>
            <button type="submit" class="btn btn-primary form-control">Save</button>
 
            {{ item_formset.management_form }}
            {% for item_form in item_formset.forms %}
                <div class="bg-light rounded mb-3 p-3 border">{% include "home/bootstrap_inline_form.html" with form=item_form %}</div>
            {% endfor %}
            <button type="submit" class="btn btn-primary form-control">Save</button>
        </form>
    </div>

{% endblock content %}

{% block script %}
    <script>

        function getPurchasePrice(sku, target) {
            $.ajax({
                method: "POST",
                url: "{% url "fba:purchase_price_by_sku" %}",
                data: {sku: sku},
                success: function(result) {
                    $(target).val(result['purchase_price']);
                }
            });
        }

        function getFields() {
            return {
                {% for form in item_formset %}"#{{ form.sku.auto_id }}": "#{{ form.value.auto_id }}",{% endfor %}
            };
        }

        function setGetPurchasePrice() {
            $.each(fields, function(skuId, valueId) {
                var skuField = $(skuId);
                skuField.change(function() {
                    getPurchasePrice(skuField.val(), $(valueId));
                });
            });
        }

        $(document).ready(function() {
            fields = getFields();
            setGetPurchasePrice();
        });
    </script>
{% endblock script %}
