{% extends 'fba/base.html' %}

{% block content %}{{ block.super }}

<h1>Shipment {{ form.instance.order_id }}</h1>

<form action="" method="POST">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
    <button type="submit" name="new_package">Add Package</button>
    <div>
        {% for package in form.instance.shipment_package.all %}
        <div>
            <b>{{ package.package_number }}</b>
            &nbsp;
            Dimensions: {{ package.length_cm }}x{{ package.width_cm }}x{{ package.height_cm }}cm
            &nbsp;
            Weight: {{ package.weight_kg }}kg
            &nbsp;
            <button type="submit" name="edit_package" value="{{ package.pk }}">Edit Package</button>
            <button type="submit" name="delete_package" value="{{ package.pk }}">Delete Package</button>
            <table>
                <tr>
                    <th>SKU</th>
                    <th>Quantity</th>
                    <th>Weight (kg)</th>
                </tr>
                {% for item in package.shipment_item.all %}
                <tr>
                    <td>{{ item.sku }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.weight_kg }}</td>

                </tr>
                {% endfor %}
            </table>
        </div>
        {% endfor %}
    </div>
</form>

{% endblock %}