#epos {
  background: #333;
  border: 1px solid black;
  border-radius: 0.75em;
  font-size: 0.8em;
  margin: 0 auto;
  text-align: center;
}

.search, #epos_footer, .product {
  background: #ddd;
  border: 1px solid black;
  border-radius: 0.75em;
  display: inline-block;
  margin: 1em;
  text-align: center;
  width: 90%;
}

.search input, .search button {
  font-size: 1.5em;
  margin: 1em;
  padding: 0.25em;
}

.product {
  padding: 1em;
  text-align: left;
}

.product_list {
  margin: 0 center;
  padding: 1em;
  text-align: center;
  width: 90%;
}

.product p {
  margin: 0 auto;
  padding: 0;
}

.remove_product {
  font-size: 1.5em;
  margin: 0.25em;
  padding: 0.25em;
}

.basic_info {
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  vertical-align: top;
  width: 50%;
}

.product_price {
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  vertical-align: top;
  width: 20%;
}

.quantity {
  display: inline-block;
  height: 50%;
  margin: 0 auto;
  padding: 0;
  vertical-align: top;
  width: 30%;
}

.order_quantity {
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  padding: 0.5em;
  text-align: center;
}

.name {
  display: inline;
  font-size: 1.5em;
}

.base_price {
  font-size: 0.75em;
}

.vat_rate {
  font-size: 0.75em;
}

.total_price {
  font-size: 1.75em;
}

#order_total {
  display: inline-block;
  font-size: 2em;
  margin: 1em;
}

#complete_order, #cancel_order {
  display: inline-block;
  font-size: 2em;
  margin: 1em;
}
