[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=stcstores
WorkingDirectory=/home/stcstores/sites/SITENAME/source
ExecStart=/bin/bash -l /home/stcstores/sites/SITENAME/scripts/start.sh

[Install]
WantedBy=multi-user.target
