<div class="container mb-5">
    <div class="row">
        <div class="col-2">
            <h6 class="display-6">Range Images</h6>
            <div class="mb-3">
                <form action="{% url "inventory:add_range_image" product_range.id %}"
                      method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="range_images" class="add_images_button btn btn-primary">Add Images to Range</label>
                    <input class="form-control"
                           type="file"
                           id="range_images"
                           name="range_images"
                           multiple=""
                           accept=".jpg, .png"
                           hidden>
                </form>
            </div>
        </div>
        <div class="col-9 product_range_images"></div>
    </div>
</div>
