html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  text-align: left;
}

.container {
  height: 100%;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  text-align: center;
  width: 100%;
}

.head {
  background: #eee;
  padding: 0;
  text-align: left;
  width: 100%;
}

.content {
  margin: 0 auto;
  min-height: 100%;
  padding: 1em 1em 5em;
  text-align: left;
  width: 90%;
}

.footer {
  background: #eee;
  bottom: 0;
  font-family: serif;
  font-size: 0.75em;
  left: 0;
  /* IE 7 and below */
  margin: 0 auto;
  padding-bottom: 0.5em;
  padding-top: 2em;
  position: absolute;
  text-align: center;
  width: 100%;
}

.loading {
  background-image: url('/media/images/loading.gif');
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
  min-width: 500px;
  padding: 1em;
}

.header_feedback {
  display: inline-block;
  font-size: 1.25em;
  text-align: left;
  vertical-align: top;
  width: 15%;
}

.button-link {
  color: #444;
  font-size: 2em;
  font-family: sans-serif;
}

.button-link:hover {
  color: black;
  font-size: 2em;
}

.user_details {
  display: inline-block;
  font-size: 0.75em;
  text-align: right;
  vertical-align: top;
  width: 15%;
}

.user_details p {
  display: block;
  margin: 0;
  padding: 0;
  text-align: right;
}

.user_details td {
  padding-left: 0.75em;
  padding-right: 0.75em;
  vertical-align: central;
}

.section_navigation {
  background: #666;
}

.section_navigation li {
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  margin: 1em;
}

.section_navigation a {
  color: #eee;
}

.main_navigation {
  display: inline-block;
  margin: 0 auto;
  margin-left: 5%;
  max-width: 70%;
  overflow: hidden;
}

.main_navigation ul {
  display: inline-block;
}

.main_navigation li {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.5em;
}

.main_navigation li a {
  color: black;
}

input[type=number] {
  width: 80px;
}

h1 {
  font-family: serif;
  margin-bottom: 0;
  padding-bottom: 0;
}

h3 {
  font-family: serif;
  margin-top: 0;
  padding-top: 0;
}

p {
  color: #111;
  font-size: 1.25em;
}

.login_form td {
  border-style: none;
}

th,
td {
  border: 1px #ccc solid;
  margin: 0;
  padding: 0.25em;
}

th {
  text-align: center;
}

.error {
  color: red;
}

.errorlist {
  color: red;
  margin: 0.25em;
  margin-left: 1em;
  padding: 0;
}

.success {
  color: green;
}

.message {
  color: green;
}

.delete_form {
  margin: 0;
  padding: 0;
}

.site_index {
  display: inline-block;
  line-height: 0;
  width: 70%;
}

.site_index .app li {
  font-size: 1.5em;
}

.site_index .section li {
  font-size: 1.25em;
  line-height: normal;
}

.site_index p {
  text-indent: 1em;
}

.qtip-title,
.qtip-content {
  font-size: 1.5em;
  line-height: 1.25em;
}

.qtip-content li {
  padding: 0.25em;
}

.ui-autocomplete {
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}

.tooltip_image {
  margin: 0;
  padding: 0;
}

.homepage_feedback {
  display: inline-block;
  vertical-align: top;
  width: 25%;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.messages {
  margin: 0;
  padding: 0;
  width: 100%;
}

.messages li {
  list-style: none;
  padding: 0.25em 0 0.25em 0;
  text-align: center;
  width: 100%;
}

.messages li.debug {
  background: yellow;
}

.messages li.info {
  background: #eee;
}

.messages li.success {
  background: #090;
  color: black;
  font-weight: bold;
}

.messages li.warning {
  background: orange;
  color: black;
  font-weight: bold;
}

.messages li.error {
  background: red;
  color: black;
  font-weight: bold;
}

#pack_count,
#feedback {
  border: none;
  clear: both;
  margin: 0 auto;
  padding: 0.25em;
  text-align: center;
}

.feedback td,
.feedback th,
.pack_count td,
.pack_count th {
  border: none;
  border-collapse: collapse;
  margin: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.feedback_name,
.packer_name {
  padding-right: 0.25em;
  text-align: right;
}

.feedback_icons,
.packer_count {
  font-size: 5em;
  padding-left: 0.25em;
  text-align: left;
}

.feedback_name {
  font-size: 3.25em;
}

.packer_name {
  font-size: 6em;
}

.score {
  font-family: monospace;
  font-size: 3.25em;
}

.date {
  font-family: monospace;
  font-weight: bold;
}

.alert {
  color: red;
  font-size: 1.5em;
  font-weight: bold;
}

.selectize-control {
  border: solid 1px black;
  padding: 0;
}

.inset {
  margin: 1em;
  padding: 1em;
}

.page_title {
  display: inline-block;
  padding: 0.5em;
}

.price_negative {
  color: red;
}

.price_zero,
.price_positive {
  color: black;
}

.warning {
  color: orange;
}

.pagination_navigation {
  display: flex;
  flex-direction: row;
  flex: 1;
  text-align: center;
  align-items: center;
}

.filter {
  font-size: 0.75em;
  margin: 0.5em;
  padding: 0;
}

.pagination_navigation div {
  margin: 0.25em;
  padding: 0;
}

.pagination_navigation button {
  margin: 0;
  padding: 0;
}

.multi_input_addon {
  display: flex;
  flex-direction: column;
  margin: 0;
  border-style: none;
  width: 100%;
}

.multi_input_addon .InputAddOn {
  margin: 0;
  padding: 0;
  flex-direction: row;
  flex-shrink: 1;
  border-style: none;
  overflow: visible;
}

.InputAddon.inline {
  display: flex;
  flex: 0;
  flex-wrap: nowrap;
}

.fr-box {
  overflow: hidden;
}

.sku {
  font-family: 'Source Code Pro', monospace;
  -webkit-user-select: all;
  /* Chrome 49+ */
  -moz-user-select: all;
  /* Firefox 43+ */
  -ms-user-select: all;
  /* No support yet */
  user-select: all;
  white-space: nowrap;
}

.name {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  -webkit-user-select: all;
  /* Chrome 49+ */
  -moz-user-select: all;
  /* Firefox 43+ */
  -ms-user-select: all;
  /* No support yet */
  user-select: all;
}