{% extends "suppliers/base.html" %}

{% block content %}

<form action="{% url 'suppliers:create_supplier' %}" method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <td><label for="name">Supplier Name</label></td>
            <td><input type="text" name="name" size="50" required>&nbsp;Required</td>
        </tr>
        <tr>
            <td><label for="email">Email</label></td>
            <td><input type="text" name="email" size="50"></td>
        </tr>
        <tr>
            <td><label for="phone">Phone Number</label></td>
            <td><input type="text" name="phone" size="50"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Create Supplier"></td>
            <td></td>
        </tr>
    </table>
</form>

{% endblock %}
