{% extends "suppliers/base.html" %}

{% block content %}

<form action="" method="POST" id="add_item_form">{% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td><input type="submit" value="Create Item"></td>
            <td></td>
        </tr>
    </table>
</form>
<p class="error" id="error_message" hidden></p>
{% endblock %}
{% block script %}
<script>
    $( document ).ready(function() {
        var product_codes = [
            {% for code in product_codes %}'{{ code }}',
            {% endfor %}
        ];

        $('#add_item_form').submit(function() {
            var product_code = $('#product_code_input').val();
            var error_message = $('#error_message');
            if ($.inArray(product_code, product_codes) !== -1) {
                console.log('Product Code already exists')
                error_message.html('Product Code already exists');
                error_message.show();
                return false;
            } else {
                console.log('Product Code is new')
                error_message.html('');
                error_message.hide();
                return true;
            }
        });
    });
</script>
{% endblock %}
