{% extends "suppliers/base.html" %}

{% block content %}
<form action="{% url 'suppliers:supplier_search' %}" method="POST">
    {% csrf_token %}
    <label for="search_string">Search Suppliers: </label>
    <input type="text" name="search_string">
    <button type="submit">Search</button>
</form>
<a href="{% url 'suppliers:add_supplier' %}">Add New Supplier</a>
 {% if suppliers|length == 0 %}
 <p>No Results</p>
 {% else %}
<table>
    <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Item Count</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        {% for supplier in suppliers %}
        <tr>
            <td><a href="{% url 'suppliers:supplier' supplier.id %}">{{supplier.name}}</a></td>
            <td>{{supplier.email}}</td>
            <td>{{supplier.phone}}</td>
            <td>{{supplier.stockitem_set.all | length}}</td>
            <td><a href="{% url 'suppliers:edit_supplier' supplier.id %}"><button type="button">Edit</button></a></td>
            <td>
                <form action="{% url 'suppliers:delete_supplier' supplier.id %}" class="delete_form" method="POST">
                    {% csrf_token %}
                    <button>Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
{% block script %}
<script>

    $( document ).ready(function() {
        var csrftoken = $.cookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $( document ).ready(function() {
            $('.delete_form').submit(function(event) {
                var row = $(this).parent().parent();
                var supplier_name = row.find('td:first').text();
                return confirm_delete(supplier_name);
            });

            function confirm_delete(supplier_name) {
                return confirm('Are you sure you want to delete ' + supplier_name + '?');
            }
        });
    });


</script>

{% endblock %}
