{% extends "suppliers/base.html" %}

{% block content %}
<div class="supplier_details">
    <h1>{{supplier.name}}</h1>
    <p>Phone: {{supplier.phone}}</p><p>Email: {{supplier.email}}</p>
    <a href="{% url 'suppliers:add_item_to_supplier' supplier.id %}">Add Stock Item</a>
</div>
<table id="supplier_item_list">
    <thead>
        <th><button id="export_table">Export</button><br><button id="toggle_selected">Toggle Selected</button></th>
        <th>Product Code</th>
        <th>Supplier Title</th>
        <th>Box Quantity</th>
        <th>Order Quantity</th>
        <th>Notes</th>
        <th></th>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td><input class="checkbox" type="checkbox"></td>
            <td class="product_code">{{item.product_code}}</td>
            <td class="supplier_title">{{item.supplier_title}}</td>
            <td class="box_quantity">{{item.box_quantity}}</td>
            <td class="quantity"><input type="number" value="0"></td>
            <td class="notes">{{item.notes}}</td>
            <td><button type="button" class="delete_button">Delete</button></td>
            <td class="pk" hidden>{{item.id}}</td>
            <td class="update_url" hidden>{% url 'suppliers:api_update_item' item.id %}</td>
            <td class="reload_url" hidden>{% url 'suppliers:api_get_item' item.id %}</td>
            <td class="delete_url" hidden>{% url 'suppliers:api_delete_item' item.id %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<form id="export_form" method="POST" target="_blank" action="{% url 'suppliers:api_export' %}" hidden>
    {% csrf_token %}
    <input id="supplier_id" name="supplier_id" value="{{supplier.id}}">
    <input id="json_field" type="text" name="item_id-quantity"/>
</form>
{% endblock %}
{% block script %}
<script>
    $( document ).ready(function() {
        var csrftoken = $.cookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        var table = SelectionTable($('#supplier_item_list'));
        $('#export_table').click(function() {
            table.export();
        });
    });

</script>
{% endblock %}
