{% extends "wowcher/base.html" %}

{% block content %}{{ block.super }}

<h3>Active Deals</h3>
<div class="deals">
  {% for deal, deal_info in deals.items %}
  <a href="{% url 'wowcher:deal' deal.id %}" class="deal button_link">
    {% if deal.inactive %}
    <div class="error">DISABLED</div>
    {% elif deal.ended != None %}
    <div>ENDED: {{ deal.ended }}</div>
    {% else %}
    <div>ACTIVE</div>
    {% endif %}
    <div>ID: {{ deal.deal_ID }}</div>
    <div>{{ deal.name }}</div>
    <div class="variations">
      <div>{{ deal_info.variations }} Variation{{ deal_info.variations|pluralize }}</div>
      {% if deal_info.stock_alerts %}
      <div class="stock_alert">
        {{ deal_info.stock_alerts|length }} Stock Alert{{ deal_info.stock_alerts|length|pluralize }}
      </div>
      {% endif %}
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}
