{% extends "wowcher/base.html" %}

{% block content %}

<h1>{{ file_name|title }}</h1>

<div class="file_list">
  <div class="file">
    <h3>Previous {{ file_name|title }} File</h3>
    {% if previous_file %}
    <p>Created {{ previous_file.time_created|timesince }} ago.</p>
    <p>Contained {{ previous_file.wowcherorder_set.all|length }} orders.</p>
    <a href="{{ download_previous_url }}">
      <button>Download</button>
    </a>
    {% else %}
    <p>No previous {{ file_name }} file has been created.</p>
    {% endif %}
  </div>
  <div class="file">
    <h3>New {{ file_name|title }} File</h3>
    {% if orders|length > 0 %}
    <p>{{ orders|length }} orders to be added to a {{ file_name }}.</p>
    <a href="{{ create_url }}" class="create_redemption_file" target="_new">
      <button>Create {{ file_name|title }} File</button>
    </a>
    {% else %}
    <p>No new orders to be added to a {{ file_name }} file.</p>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  $('.create_redemption_file').click(function(e) {
    e.preventDefault();
    if (window.confirm("Create {{ file_name }} file?")) {
      window.open(this.href, '_blank');
      setTimeout(function() {
        location.reload();
      }, 5000);
    }
  });
</script>
{% endblock %}
