{% extends "wowcher/base.html" %}

{% block content %}

{% if orders %}

<div class="wowcher_orders">

  <div class="wowcher_code">
    <div class="header">Wowcher Code</div>
    {% for order in orders %}
    <div class="sku">{{ order.wowcher_code }}</div>
    {% endfor %}
  </div>

  <div class="deal_ID">
    <div class="header">Deal ID</div>
    {% for order in orders %}
    <div class="sku">{{ order.deal.deal_ID }}</div>
    {% endfor %}
  </div>

  <div class="order_ID">
    <div class="header">Order ID</div>
    {% for order in orders %}
    <div class="sku">{{ order.CC_order_ID }}</div>
    {% endfor %}
  </div>

  <div class="customer_name">
    <div class="header">Customer</div>
    {% for order in orders %}
    <div>{{ order.customer_name }}</div>
    {% endfor %}
  </div>

  <div class="deal_name">
    <div class="header">Product Range</div>
    {% for order in orders %}
    <div class="sku">{{ order.deal.name }}</div>
    {% endfor %}
  </div>

  <div class="item_SKU">
    <div class="header">Product SKU</div>
    {% for order in orders %}
    <div class="sku">{{ order.item.CC_SKU }}</div>
    {% endfor %}
  </div>

  <div class="cancel_button">
    <div class="header">&nbsp;</div>
    {% for order in orders %}
    <div>
      <a class="cancel_order" href="{% url 'wowcher:cancel_order' order.id %}" data-orderID={{ order.CC_order_ID }}>
        <button>Cancel</button>
      </a>
  </div>
    {% endfor %}
  </div>

</div>

{% else %}

<p>There are no open Wowcher orders</p>

{% endif %}

{% endblock %}

{% block script %}
  <script>
    $(document).ready(function() {
      $('.cancel_order').click(function(e) {
        e.preventDefault();
        var order_ID = $(this).attr('data-orderID');
        if (window.confirm("Are you sure you want to cancel order " + order_ID + "?")) {
          location.href = this.href;
        }
      });
    });
  </script>
{% endblock %}
