.fba_order_form_container {
    display: flex;
    flex-direction: row;
}

.fba_order_form {
    display: flex;
}

.price_calculator {
    display: flex;
    flex-direction: column;
}

label.required {
    font-weight: bold;
}

label.required:after {
    content: " *"
}

.fba_order_form_container input:disabled {
    color: black;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu a {
    display: flex;
    padding: 2em;
    margin: 1em;
    text-decoration: none;
    border: 1px solid #222;
    border-radius: 2em;
    color: black;
    background-color: #eee;
}

.menu a:hover {
    background-color: #fff;
}